﻿@using System.Configuration;
@using System.Globalization;
@using DealerGateway.CustomerUI.Domain; 
@using DealerGateway.CustomerUI.Resources; 

@{
    string strTitle = ViewBag.Title;

    if(strTitle != null)
    {
        strTitle = DGUtils.ToTitleCase(strTitle);
    }

    string strBanner = Globals.Configuration.GetOption("SiteBanner");
    strBanner = string.IsNullOrEmpty(strBanner) ? "~/Content/Images/banner.gif" : strBanner;

    var bannerPath = Globals.Configuration.GetOption("SiteBanner");
    if (String.IsNullOrEmpty(bannerPath))
    {
        bannerPath = "~\\Content\\Images\\banner.gif";
    }
    ViewBag.ImgPath = @Url.Content(bannerPath);
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@strTitle</title>

@*    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css" />
*@    
    <link href="@Url.Content("~/Content/Theme-1/jquery-ui-1.8.21.custom.css")" rel="stylesheet" type="text/css" id="ssJQCustom" />
    <link href="@Url.Content("~/Content/CGBase.css")" rel="stylesheet" type="text/css" id="SSBase" />
    <link href="@Url.Content("~/Content/Theme-1/CGBrand.css")" rel="stylesheet" type="text/css" id="ssBrand" />
    <link href="@Url.Content("~/Content/ezmark.css")" rel="stylesheet" type="text/css"  media="all">
    <link href="@Url.Content("~/Content/layout.css")" rel="stylesheet" type="text/css" id="layout" />
    <link href="@Url.Content("~/Content/nav.css")" rel="stylesheet" type="text/css" id="nav" />
    <link href="@Url.Content("~/Content/theme.css")" rel="stylesheet" type="text/css" id="theme" />
    <link href="@Url.Content("~/Content/tiles.css")" rel="stylesheet" type="text/css" id="tile" />

    <script src="@Url.Content("~/Content/Scripts/CGMain.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/globalize.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/cultures/globalize.cultures.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/jquery.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/jquery.cookie.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/jquery.cycle.all.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Content/Scripts/jquery.easing-1.3.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Content/Scripts/jqueryRotate.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Content/Scripts/jquery.elastic.source.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Content/Scripts/jquery.numeric.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Content/Scripts/jquery.ezmark.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/json2.min.js")" type="text/javascript"></script>

    @RenderSection("PageScripts", required: false)
    @RenderSection("PageStyles", required: false)
    @RenderSection("ScriptsOnReady", required: false)

    <script type="text/javascript">
        $(document).ready(function () {

            Globalize.culture("@CultureInfo.CurrentCulture.Name");
        });
    </script>

</head>
<body>
    <!--<div id="hostContainer" style="margin: 0 0 0 8px;">
        <div id="hostHeader">
            <div style="text-align:center;">
                <span class="shadowTextBig">@strTitle</span>
            </div>
            <div id="bannerHolder"><img src="@ViewBag.ImgPath" alt="" width="640" /></div>
        </div>-->
    <div id="headerWrapper">
        <div id="headerCenter">
            <div id="headerTitles">
                <h1><a href="http://www.dahill.com"><img src="/einfo/Content/Images/dahill_logo_transparentSM.png"></a></h1>

            </div>
           
        </div>
    </div>

    <div class="clear"></div>

    <div id="wrapper">
        <div id="centerWrapper">
            @RenderBody()
        </div>
    </div>


    @Html.Partial("FooterPartial")



    <script type="text/javascript">
        $(document).ready(function () {
            $(".jBtn").button();
        });
    </script>

</body>

</html>
