@using System.Configuration;
@using System.Globalization;
@using DealerGateway.CustomerUI.Domain; 
@using DealerGateway.CustomerUI.Models;
@using DealerGateway.CustomerUI.Resources; 

@{
    var bannerPath = Globals.Configuration.GetOption("SiteBanner");
    if (String.IsNullOrEmpty(bannerPath))
    {
        bannerPath = "~\\Content\\Images\\banner.gif";
    }
    ViewBag.ImgPath = @Url.Content(bannerPath);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@ViewBag.Title</title>

@*    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css" />
*@    
    <link href="@Url.Content("~/Content/Theme-1/jquery-ui-1.8.21.custom.css")" rel="stylesheet" type="text/css" id="ssJQCustom" />
    <link href="@Url.Content("~/Content/CGBase.css")" rel="stylesheet" type="text/css" id="SSBase" />
    <link href="@Url.Content("~/Content/Theme-1/CGBrand.css")" rel="stylesheet" type="text/css" id="ssBrand" />
    <link href="@Url.Content("~/Content/Print.css")" rel="stylesheet" type="text/css" media="print" />
    <link href="@Url.Content("~/Content/ezmark.css")" rel="stylesheet" type="text/css"  media="all">

    <link href="@Url.Content("~/Content/Theme-1/CGMobile.css")" type="text/css" rel="stylesheet" />


    <script src="@Url.Content("~/Content/Scripts/CGMain.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/globalize.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/cultures/globalize.cultures.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/jquery.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/jquery.cookie.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/jquery.cycle.all.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/jquery.easing-1.3.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/jqueryRotate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/jquery.elastic.source.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/jquery.numeric.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/jquery.ezmark.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/json2.min.js")" type="text/javascript"></script>

    @RenderSection("PageStyles", required: false)

<script type="text/javascript">
    $(document).ready(function () {

        Globalize.culture("@CultureInfo.CurrentCulture.Name");

    });
</script>
</head>
<body>
    <div id="hostContainer" style="margin: 0 0 0 8px;">
        <div id="hostHeader">
            <div style="text-align:center;">
                <div style="font-size:8pt; letter-spacing:.2em; margin-top:7px;">@ResStrings.CUSTOMER_GATEWAY_FOR:</div>
                <span class="shadowTextBig">@ViewBag.CustomerName</span>
            </div>
            <div id="bannerHolder"><img id="imgBanner" src="@ViewBag.ImgPath" alt="" width="504" /></div>
        </div>

        <div class="clear"></div>

        @RenderBody()

        @Html.Partial("FooterPartial")
    </div>


</body>
</html>
