﻿@using System.Configuration;
@using System.Globalization;
@using DealerGateway.CustomerUI.Domain; 
@using DealerGateway.CustomerUI.Resources; 

@using einfo;

@{
    var bannerPath = Globals.Configuration.GetOption("SiteBanner");
    if (String.IsNullOrEmpty(bannerPath))
    {
        bannerPath = "~\\Content\\Images\\banner.gif";
    }
    ViewBag.ImgPath = @Url.Content(bannerPath);
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@ViewBag.Title</title>

@*    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css" />
*@    
    <link href="@Url.Content("~/Content/Theme-1/jquery-ui-1.8.21.custom.css")" rel="stylesheet" type="text/css" id="ssJQCustom" />
    <link href="@Url.Content("~/Content/CGBase.css")" rel="stylesheet" type="text/css" id="SSBase" />
    <link href="@Url.Content("~/Content/Theme-1/CGBrand.css")" rel="stylesheet" type="text/css" id="ssBrand" />
    <link href="@Url.Content("~/Content/Print.css")" rel="stylesheet" type="text/css" media="print" />
    <link href="@Url.Content("~/Content/ezmark.css")" rel="stylesheet" type="text/css"  media="all">
    <link href="@Url.Content("~/Content/layout.css")" rel="stylesheet" type="text/css" id="layout" />
    <link href="@Url.Content("~/Content/nav.css")" rel="stylesheet" type="text/css" id="nav" />
    <link href="@Url.Content("~/Content/theme.css")" rel="stylesheet" type="text/css" id="theme" />
    <link href="@Url.Content("~/Content/tiles.css")" rel="stylesheet" type="text/css" id="tile" />
    
   

    <script src="@Url.Content("~/Content/Scripts/CGMain.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/globalize.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/cultures/globalize.cultures.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/jquery.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/jquery.cookie.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/jquery.cycle.all.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Content/Scripts/jquery.easing-1.3.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Content/Scripts/jqueryRotate.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Content/Scripts/jquery.elastic.source.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Content/Scripts/jquery.numeric.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Content/Scripts/jquery.ezmark.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/json2.min.js")" type="text/javascript"></script>

    <script type="text/javascript">
        function SwitchLocation() {
            window.location.href = '@Url.Action("Location", "Gateway")';
        }
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            Globalize.culture("@CultureInfo.CurrentCulture.Name");
        });
    </script>
   

</head>
<body>
    <div id="headerWrapper">

        @if (Globals.Environment.Session.IsMasterMode)
        {
            <div class="masterLocation">@DGUtils.ToTitleCase(ResStrings.MASTER_LOCATION)</div>
        }
        <div id="headerCenter2">
            <div id="headerTitles">
                <h1><a href="http://www.dahill.com"><img src="/einfo/Content/Images/dahill_logo_transparentSM.png"></a></h1>
            </div>

            <div id="headerTitles2" style="text-align:center;">
                <!--Removing Gateway Identification--><!--<div style="font-size: 8pt; letter-spacing: .2em; margin-top: 7px; text-align:center;">@ResStrings.CUSTOMER_GATEWAY_FOR:</div>-->
                <span class="shadowTextBig">@ViewBag.CustomerName &ndash; </span><br />
                <span class="shadowTextSmall">@Html.Raw(ViewBag.CustomerLocation) </span>
                <button type="button" class="ui-state-default ddDots shadowTextSmall" style="float:none;" title="@ResStrings.SELECT_DIFFERENT_LOCATION" onclick="javascript:SwitchLocation();"><img src="~/Content/Images/Dots.png" alt="" /></button>
                <!--removing banner image from subpages--> <!--<div id="bannerHolder"><img id="imgBanner" src="@ViewBag.ImgPath" alt="" width="640" /></div>-->
            </div>
            <nav>
                <a id="group0" href='@Url.Action("Index", "Gateway")'>
                    <img src="/einfo/Content/Images/icons/home.png" alt="home" />
                    Home
                </a>
                <a id="group1" href="@Url.Action("UserProfile", "UserManagement", new { id = Globals.Environment.Session.ContactID })">
                    <img src="/einfo/Content/Images/icons/gears_64px.png" alt="Help" />
                    Settings
                </a>
                <a id="group2" href="http://www.dahill.com/AccountManagement/myDahill/PDFs/myDahillPortalGuide.pdf" target="_blank">

                    <img src="/einfo/Content/Images/icons/support_64px.png" alt="User's Guide'" />
                    Support
                </a>
            </nav>
        </div>
    </div>


    <div id="wrapper">
        <div id="centerWrapper">


            @RenderBody()
        </div>
    </div>

    <div class="HelpLinkHolder">
        @{
            int securityMaskValue = Globals.Environment.Session.FeatureMask;
        }
        <a href="javascript:HelpClick(@securityMaskValue)" class="HelpLink" title="@ResStrings.CLICK_FOR_HELP_WITH_THIS_WEBSITE">@ResStrings.HELP</a>
    </div>
    @Html.Partial("FooterPartial")



</body>

</html>
