﻿@using DealerGateway.CustomerUI.Domain; 
@using DealerGateway.CustomerUI.Resources; 

@{
    string strTitle = ViewBag.Title;

    if(strTitle != null)
    {
        strTitle = DGUtils.ToTitleCase(strTitle);
    }

    string email = Globals.Configuration.Settings.EInfoSiteAdminEmailAddress;
}


<div id="hostFooter" class="clear">
    <div class="SmallDarkColorText">@ResStrings.POWERED_BY</div>
    <img src="@Url.Content("~/Content/Images/e-info.png")" alt="@ResStrings.POWERED_BY_E_INFO" />
    <!--<div class="SmallMediumColorText">@ResStrings.A_PRODUCT_OF_DIGITAL_GATEWAY</div>-->
    @if(email.Length > 0)
    {
    <div class="footerContactInfo">
        @ResStrings.FOR_QUESTIONS_ABOUT_THIS_WEBSITE_CONTACT:  <a href="mailto:@email">@email</a>
    </div>
    }
   <!--<div>
        @DGUtils.AppVersion
    </div>-->
</div>
   