﻿@using DealerGateway.CustomerUI.Resources;
@using DealerGateway.CustomerUI.Domain;

@model DealerGateway.CustomerUI.Models.AccountHistoryList
@{
    ViewBag.Title = @ResStrings.ACCOUNT_HISTORY;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.PayAmount = 0;
}

<script type="text/javascript">

    $(document).ready(function () {

        ButtonBarUISetup();

        SetupRowStripeing();

    });

    function SetupRowStripeing() {
        //Alternating row colors
        //
        $(".stripeMe tr:even").addClass("alt");
        $(".stripeMe tr").mouseover(function () {
            $(this).addClass("hover");
        });
        $(".stripeMe tr").mouseout(function () {
            $(this).removeClass("hover");
        });
    }

</script>

<style type="text/css">
    .itemsList tr td input {
        width:3em;
    }
</style>

<div class="buttonBar ezColorT2">
    <div class="btnBarItem">
        <a href="javascript:GoBack();">
            <img id="btnBack" src="~/Content/Images/Arrow-Left.png" alt="@ResStrings.BACK" title="@ResStrings.BACK" />
            <div>@ResStrings.BACK</div>
        </a>
    </div>
    <div class="btnBarItem">
        <a href="javascript:Print();">
            <img id="btnPrint" src="~/Content/Images/Print.png" alt="@ResStrings.PRINT" title="@ResStrings.PRINT" />
            <div>@ResStrings.PRINT</div>
        </a>
    </div>

    <div class="btnBarItemRight">
        <a href='@Url.Action("Index", "Gateway")'>
            <img id="btnHome" src="~/Content/Images/home.png" alt="@ResStrings.HOME" title="@ResStrings.HOME" />
            <div>@ResStrings.HOME</div>
        </a>
    </div>
</div>

<div class="dlgPanel ezColorT7 dlgTitleBar">
    <div>@Html.Raw(DGUtils.FormatTitle(ResStrings.ACCOUNT_HISTORY))</div>
</div>

<div class="dlgPanel ezColorT1 minHeight100">
    <div class="dlgHeadingSub">@ResStrings.PAST_12_MONTHS</div>
    <div class="ddList">
        <table class="tblResults stripeMe">
            <thead>
                <tr>
                    <th>@DGUtils.ToTitleCase(ResStrings.MONTH)</th>
                    <th>@DGUtils.ToTitleCase(ResStrings.YEAR)</th>
                    <th style="text-align:center;">@DGUtils.ToTitleCase(ResStrings.PURCHASES)</th>
                    <th style="text-align:center;">@DGUtils.ToTitleCase(ResStrings.PAYMENTS)</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody id="tbInvoiceList" class="itemsList">
                @for (int i = 0; i < Model.AccountHistoryRow.Count; i++)
                {
                    <tr>
                        <td class="NoPointer">@Model.AccountHistoryRow[i].MonthName</td>
                        <td class="NoPointer">@Model.AccountHistoryRow[i].Year</td>
                        <td class="alignRight NoPointer">
                            @if (Model.AccountHistoryRow[i].Purchases != 0)
                            {
                                <a href="@Url.Action("Purchases", "Account", new { month = @Model.AccountHistoryRow[i].Month, year = @Model.AccountHistoryRow[i].Year })" class="bold">@DGUtils.FormatValue(@Model.AccountHistoryRow[i].Purchases, "C2")</a>
                            }
                            else
                            {
                                @DGUtils.FormatValue(@Model.AccountHistoryRow[i].Purchases, "C2")
                            }
                        </td>
                        <td class="alignRight NoPointer">
                            @if (Model.AccountHistoryRow[i].Payments != 0)
                            {
                                <a href="@Url.Action("Payments","Account", new { month = @Model.AccountHistoryRow[i].Month, year = @Model.AccountHistoryRow[i].Year })" class="bold">@DGUtils.FormatValue(@Model.AccountHistoryRow[i].Payments, "C2")</a>
                            }
                            else
                            {
                                @DGUtils.FormatValue(@Model.AccountHistoryRow[i].Payments, "C2")
                            }
                        </td>
                        <td class="NoPointer" style="width:50%">&nbsp;</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


