﻿@using DealerGateway.CustomerUI.Resources;
@using DealerGateway.CustomerUI.Domain;

@model DealerGateway.CustomerUI.Models.AccountAgingList
@{
    ViewBag.Title = @ResStrings.ACCOUNT_AGING;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.PayAmount = 0;
}

<script type="text/javascript">

    $(document).ready(function () {

        ButtonBarUISetup();

        $(".ezmark").ezMark();
        $(".ez-checkbox").css("float", "none");

        //The Add Items... button
        //
        $("#btnPayAmount").button();
        $("#btnPayAmount").click(function () {
            location.href = ''
        });

        $("#tbInvoiceList.itemsList input").change(function () {
            //alert($(this).val());
            SetPayAmountValue();
        });

        SetupRowStripeing();
        SetPayAmountValue();
    });

    function SetPayAmountValue() {
        var vPayAmountTotal = parseFloat(0);
        var ids = '';
        $("#tbInvoiceList.itemsList input[type='checkbox']:checked").each(function () {
            vPayAmountTotal += parseFloat($(this).val());
            ids += $(this).attr('id').replace('chkPay_', '') + ',';
        });

        if (ids.length > 0)
            ids = ids.substr(0, ids.length - 1);

        if (vPayAmountTotal != 0) {
            $("#spnPayAmount").html(Globalize.format(vPayAmountTotal, "c"));
        }
        else
            $("#spnPayAmount").html("---");

        if (vPayAmountTotal > 0) {
            $("#btnPayAmount").removeAttr("disabled");
            $("#btnPayAmount").click(function () {
                location.href = '@Url.Action("AgingPayment", "Account")' + '?ids=' + ids;
            });
        }
        else {
            $("#btnPayAmount").attr("disabled", "disabled");
            $("#btnPayAmount").click(function () {
                location.href = '';
            });
        }
    }

    function SetupRowStripeing() {
        //Alternating row colors
        //
        $(".stripeMe tr:even").addClass("alt");
        $(".stripeMe tr").mouseover(function () {
            $(this).addClass("hover");
        });
        $(".stripeMe tr").mouseout(function () {
            $(this).removeClass("hover");
        });
    }
</script>

<style type="text/css">
    .itemsList tr td input {
        width:3em;
    }
</style>

<div class="buttonBar ezColorT2">
    <div class="btnBarItem">
        <a href="javascript:window.location.href = '@Url.Action("Index", "Gateway")';">
            <img id="btnBack" src="~/Content/Images/Arrow-Left.png" alt="@ResStrings.BACK" title="@ResStrings.BACK" />
            <div>@ResStrings.BACK</div>
        </a>
    </div>
    <div class="btnBarItem">
        <a href="javascript:Print();">
            <img id="btnPrint" src="~/Content/Images/Print.png" alt="@ResStrings.PRINT" title="@ResStrings.PRINT" />
            <div>@ResStrings.PRINT</div>
        </a>
    </div>

    <div class="btnBarItemRight">
        <a href='@Url.Action("Index", "Gateway")'>
            <img id="btnHome" src="~/Content/Images/home.png" alt="@ResStrings.HOME" title="@ResStrings.HOME" />
            <div>@ResStrings.HOME</div>
        </a>
    </div>
</div>
<div class="dlgPanel ezColorT7 dlgTitleBar">
    <div>@Html.Raw(DGUtils.FormatTitle(ResStrings.ACCOUNT_AGING))</div>
</div>

<div class="dlgPanel ezColorT1 minHeight100">
    <div class="dlgHeadingSub">@ResStrings.INVOICES</div>
    <div class="ddList">
        <table class="tblResults stripeMe">
            <thead>
                <tr>
                    <th>@DGUtils.ToTitleCase(ResStrings.NUMBER)</th>
                    <th>@DGUtils.ToTitleCase(ResStrings.TYPE)</th>
                    <th style="text-align:center;">@DGUtils.ToTitleCase(ResStrings.DATE)</th>
                    <th style="text-align:center;">@DGUtils.ToTitleCase(ResStrings.DUE_DATE)</th>
                    <th>@DGUtils.ToTitleCase(ResStrings.PO_NUMBER, false)</th>
                    <th style="text-align:center;">@DGUtils.ToTitleCase(ResStrings.CURRENT)</th>
                    <th style="text-align:center;">1-30</th>
                    <th style="text-align:center;">31-60</th>
                    <th style="text-align:center;">61-90</th>
                    <th style="text-align:center;">90+</th>
                    @if (Globals.Configuration.Settings.CCVaultProviderIsSet)
                    {
                        <th style="text-align:center;">@DGUtils.ToTitleCase(ResStrings.PAY)</th>
                    }
                    <th>Status</th>
                </tr>
            </thead>
            <tbody id="tbInvoiceList" class="itemsList">
                @if (Model.IncludeTopSummary)
                {
                <tr>
                    <td class="alignRight NoPointer" colspan="5">@ResStrings.TOTAL:</td>
                    <td class="alignRight NoPointer bold">@DGUtils.FormatValue(@Model.Current, "C2")</td>
                    <td class="alignRight NoPointer bold">@DGUtils.FormatValue(@Model.PD_1_30, "C2")</td>
                    <td class="alignRight NoPointer bold">@DGUtils.FormatValue(@Model.PD_31_60, "C2")</td>
                    <td class="alignRight NoPointer bold">@DGUtils.FormatValue(@Model.PD_61_90, "C2")</td>
                    <td class="alignRight NoPointer bold">@DGUtils.FormatValue(@Model.PD_91, "C2")</td>
                    @if (Globals.Configuration.Settings.CCVaultProviderIsSet)
                    {
                        <td class="alignCenter NoPointer bold">&nbsp;</td>
                    }
                    <td class="alignCenter NoPointer bold">&nbsp;</td>
                </tr>
                }
                @for (int i = 0; i < Model.AccountAgingRow.Count; i++)
                {
                    <tr>
                        <td class="NoPointer">
                                @if (Globals.Configuration.Settings.OfferToEmailInvoicesIsTrue)
                                {
                                    <a href="javascript:RequestInvoice(@Model.AccountAgingRow[i].InvoiceID, '@Model.AccountAgingRow[i].Number', @Model.AccountAgingRow[i].DocQInvoiceType);" class="bold">
                                        @DGUtils.FormatValue(@Model.AccountAgingRow[i].Number)
                                    </a>
                                }
                                else
                                {
                                    @DGUtils.FormatValue(@Model.AccountAgingRow[i].Number)
                                }
                        </td>
                        <td class="NoPointer">@DGUtils.FormatValue(@Model.AccountAgingRow[i].Type)</td>
                        <td class="alignRight NoPointer">@DGUtils.FormatValue(@Model.AccountAgingRow[i].Date)</td>
                        <td class="alignRight NoPointer">@DGUtils.FormatValue(@Model.AccountAgingRow[i].DueDate)</td>
                        <td class="NoPointer">@DGUtils.FormatValue(@Model.AccountAgingRow[i].PONumber)</td>
                        <td class="alignRight NoPointer">@DGUtils.FormatValue(@Model.AccountAgingRow[i].Current, "C2")</td>
                        <td class="alignRight NoPointer">@DGUtils.FormatValue(@Model.AccountAgingRow[i].PD_1_30, "C2")</td>
                        <td class="alignRight NoPointer">@DGUtils.FormatValue(@Model.AccountAgingRow[i].PD_31_60, "C2")</td>
                        <td class="alignRight NoPointer">@DGUtils.FormatValue(@Model.AccountAgingRow[i].PD_61_90, "C2")</td>
                        <td class="alignRight NoPointer">@DGUtils.FormatValue(@Model.AccountAgingRow[i].PD_91, "C2")</td>
                        @if (Globals.Configuration.Settings.CCVaultProviderIsSet)
                        {
                            <td class="alignCenter NoPointer">
                                @if (@Model.AccountAgingRow[i].PaymentID <= 0)
                                {
                                    <input type="checkbox" value="@Model.AccountAgingRow[i].TotalDue" id="chkPay_@Model.AccountAgingRow[i].InvoiceID" class="ezmark" />
                                }
                                else
                                {
                                    @Html.Raw("&nbsp;")
                                }
                            </td>
                            <td class="NoPointer">
                                @if (Model.AccountAgingRow[i].Editable)
                                {
                                    <a href='@Url.Action("PaymentEditAging", "Account", new {id= Model.AccountAgingRow[i].PaymentID})' class="bold">
                                        @DGUtils.FormatValue(@Model.AccountAgingRow[i].Status)
                                    </a>
                                }
                                else
                                {
                                    @DGUtils.FormatValue(@Model.AccountAgingRow[i].Status)
                                }
                            </td>
                        }
                        else
                        {
                            <td class="NoPointer">
                                @DGUtils.FormatValue(@Model.AccountAgingRow[i].Status)
                            </td>
                        }
                    </tr>
                }
                <tr>
                    <th style="text-align:center;" colspan="5">&nbsp;</th>
                    <th style="text-align:center;">@DGUtils.ToTitleCase(ResStrings.CURRENT)</th>
                    <th style="text-align:center;">1-30</th>
                    <th style="text-align:center;">31-60</th>
                    <th style="text-align:center;">61-90</th>
                    <th style="text-align:center;">90+</th>
                    @if (Globals.Configuration.Settings.CCVaultProviderIsSet)
                    {
                        <th style="text-align:center;">&nbsp;</th>
                    }
                    <th style="text-align:center;">&nbsp;</th>
                </tr>
                <tr>
                    <td class="alignRight NoPointer" colspan="5">@DGUtils.ToTitleCase(ResStrings.TOTAL):</td>
                    <td class="alignRight NoPointer bold">@DGUtils.FormatValue(@Model.Current, "C2")</td>
                    <td class="alignRight NoPointer bold">@DGUtils.FormatValue(@Model.PD_1_30, "C2")</td>
                    <td class="alignRight NoPointer bold">@DGUtils.FormatValue(@Model.PD_31_60, "C2")</td>
                    <td class="alignRight NoPointer bold">@DGUtils.FormatValue(@Model.PD_61_90, "C2")</td>
                    <td class="alignRight NoPointer bold">@DGUtils.FormatValue(@Model.PD_91, "C2")</td>
                    @if (Globals.Configuration.Settings.CCVaultProviderIsSet)
                    {
                        <td class="alignCenter NoPointer bold">&nbsp;</td>
                    }
                    <td class="alignCenter NoPointer bold">&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </div>
    @if (Globals.Configuration.Settings.CCVaultProviderIsSet)
    {
        <div style="text-align:right;">
            <button id="btnPayAmount">@DGUtils.ToTitleCase(ResStrings.PAY): <span id="spnPayAmount" class="bold">@DGUtils.FormatValue(0, "C2")</span></button>
        </div>
    }
</div>

@Html.Partial("InvoiceRequestPartial")
