﻿@using DealerGateway.CustomerUI.Domain;
@using DealerGateway.CustomerUI.Resources;

@model DealerGateway.CustomerUI.Models.Invoice
@{
    ViewBag.Title = @ResStrings.INVOICE;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {
        ButtonBarUISetup();
    });

</script>

<div class="buttonBar ezColorT2">
    <div class="btnBarItem">
        <a href="javascript:GoBack();">
            <img id="btnBack" src="~/Content/Images/Arrow-Left.png" alt="@ResStrings.BACK" title="@ResStrings.BACK" />
            <div>@ResStrings.BACK</div>
        </a>
    </div>
    <div class="btnBarItem">
        <a href="javascript:Print();">
            <img id="btnPrint" src="~/Content/Images/Print.png" alt="@ResStrings.PRINT" title="@ResStrings.PRINT" />
            <div>@ResStrings.PRINT</div>
        </a>
    </div>

    <div class="btnBarItemRight">
        <a href='@Url.Action("Index", "Gateway")'>
            <img id="btnHome" src="~/Content/Images/home.png" alt="Home" title="@ResStrings.HOME" />
            <div>@ResStrings.HOME</div>
        </a>
    </div>
</div>

<div class="dlgPanel ezColorT7 dlgTitleBar">
    <div>@Html.Raw(DGUtils.FormatTitle(ResStrings.INVOICE))</div>
</div>

<div class="dlgPanel ezColorT1 minHeight100">
    <div class="divInfoHolder minHeight100">
        <div class="dlgHeadingSub">Invoice information</div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.NUMBER:</label>
            <span class="notreq">&nbsp;</span>
            <span>@DGUtils.FormatValue(Model.InvoiceNumber)</span>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.DATE:</label>
            <span class="notreq">&nbsp;</span>
            <span>@DGUtils.FormatValue(Model.InvoiceDate)</span>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.SALES_PERSON:</label>
            <span class="notreq">&nbsp;</span>
            <span>@DGUtils.FormatValue(Model.Salesperson)</span>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.PO_NUMBER:</label>
            <span class="notreq">&nbsp;</span>
            <span>@DGUtils.FormatValue(Model.PONumber)</span>
        </div>
    </div>
    <div class="divInfoHolder minHeight100">
        <div class="dlgHeadingSub">@ResStrings.TERMS_AND_DATES</div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.TERMS:</label>
            <span class="notreq">&nbsp;</span>
            <span>@DGUtils.FormatValue(Model.Terms)</span>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.DISCOUNT:</label>
            <span class="notreq">&nbsp;</span>
            <span>@DGUtils.FormatValue(Model.TermsDiscount / 100, "P0")</span>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.DUE_DATE:</label>
            <span class="notreq">&nbsp;</span>
            <span>@DGUtils.FormatValue(Model.DueDate)</span>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.DISCOUNT_DATE:</label>
            <span class="notreq">&nbsp;</span>
            <span>@DGUtils.FormatValue(Model.DiscountDate)</span>
        </div>
    </div>

    <div class="divRow"></div>

    <div class="divInfoHolder minHeight100">
        <div class="dlgHeadingSub">@ResStrings.BILL_TO</div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.LOCATION:</label>
            <span class="notreq">&nbsp;</span>
            <span>@DGUtils.FormatValue(Model.BillToLocationName) (@DGUtils.FormatValue(Model.BillToCustomerNumber))<br />
                @DGUtils.FormatValue(Model.BillToAddress)<br />
                @DGUtils.FormatValue(Model.BillToCity), @DGUtils.FormatValue(Model.BillToState)  @DGUtils.FormatValue(Model.BillToZip)
            </span>
        </div>
    </div>
    <div class="divInfoHolder minHeight100">
        <div class="dlgHeadingSub">@ResStrings.SHIP_TO</div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.LOCATION:</label>
            <span class="notreq">&nbsp;</span>
            <span>@DGUtils.FormatValue(Model.ShipToLocationName) (@DGUtils.FormatValue(Model.ShipToCustomerNumber))<br />
                @DGUtils.FormatValue(Model.ShipToAddress)<br />
                @DGUtils.FormatValue(Model.ShipToCity), @DGUtils.FormatValue(Model.ShipToState)  @DGUtils.FormatValue(Model.ShipToZip)
            </span>
        </div>
    </div>
</div>

<div class="dlgPanel ezColorT1 minHeight100">
    <div class="divInfoHolder minHeight100">
    </div>
    <div class="divInfoHolder minHeight100">
        <div class="dlgHeadingSub">@ResStrings.INVOICE_DETAILS</div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.DISCOUNT:</label>
            <span class="notreq">&nbsp;</span>
            @if (Model.Discount > 0)
            {
                <span>(@DGUtils.FormatValue(Model.Discount, "C2"))</span>
            }
            else
            {
                <span>@DGUtils.FormatValue(Model.Discount, "C2")</span>
            }
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.SUB_TOTAL:</label>
            <span class="notreq">&nbsp;</span>
            <span>@DGUtils.FormatValue(Model.SubTotal, "C2")</span>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.TAX:</label>
            <span class="notreq">&nbsp;</span>
            <span>@DGUtils.FormatValue(Model.Tax, "C2")</span>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.SHIPPING:</label>
            <span class="notreq">&nbsp;</span>
            <span>@DGUtils.FormatValue(Model.Shipping, "C2")</span>
        </div>
        <div style="border-top:1px dotted #fff; height:1px;"></div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.INVOICE_TOTAL:</label>
            <span class="notreq">&nbsp;</span>
            <span>@DGUtils.FormatValue(Model.InvoiceTotal, "C2")</span>
        </div>
        <div class="divRow Bold">
            <label class="alignRight">@ResStrings.DUE:</label>
            <span class="notreq">&nbsp;</span>
            <span>@DGUtils.FormatValue(Model.DueAmount, "C2")</span>
        </div>
    </div>
</div>


