﻿@using DealerGateway.CustomerUI.Resources;
@using DealerGateway.CustomerUI.Domain;

<script type="text/javascript">

    $(document).ready(function () {

        //Request Invoice Dialog
        //
        $("#dlgRequestInvoice").dialog({
            modal: true,
            autoOpen: false,
            height: 230,
            width: 380,
            resizable: false,
            hide: "blind",
            buttons: {
                "@ResStrings.CANCEL": function () {
                    $(this).dialog("close");
                }
            }
        });
    });

    function RequestInvoice(id, number, type) {
        $('#spanInvoiceNumber').html(number);
        $('#dlgRequestInvoice').dialog({
            buttons: {
                "@ResStrings.OK": function () {
                    ValidateAndSaveRequest(id, number, type);
                },
                "@ResStrings.CANCEL": function () {
                    $(this).dialog("close");
                }
            }
        });
        $("#dlgRequestInvoice").dialog("open");
    }

    function ValidateAndSaveRequest(id, number, type) {
        var isValid = true;
        var aryWarning = new Array();

        if ($("#txtEmail").val().length == 0) {
            isValid = false;
            aryWarning.push("@ResErrors.EMAIL_IS_REQUIRED");
        }

        //OK. Save and move on
        if (isValid) {

            var data = {
                InvoiceID: id,
                InvoiceNumber: number,
                DocType: type,
                EmailAddress: $('#txtEmail').val()
            };

            $.ajax({
                type: "POST",
                url: '@Url.Action("SendInvoice", "Account")', 
                data: JSON.stringify(data),
                dataType: 'text',
                contentType: "application/json;charset=utf-8"
            });

            $('#dlgRequestInvoice').dialog("close");
        }
        else {
            var str = "<ul style='margin:0;'>";
            for (var i = 0; i < aryWarning.length; i++) {
                str += "<li>";
                str += aryWarning[i];
                str += "</li>";
            }
            str += "</ul>";
            $("#divValidation").html(str);
            $("#divValidation").show("blind");
        }
    }
</script>

<!----------------------------- Send Invoice ----------------------------->
<div id="dlgRequestInvoice" title="@DGUtils.ToTitleCase(ResStrings.INVOICE_REQUEST)">

    <!----------------------------- Validation ----------------------------->
    <div id="divValidation" class="warningDiv" style="display:none; margin-right:8px;"></div>

    <div class="divRow" style="padding-top:6px; padding-bottom:2px;">Send invoice (<span id="spanInvoiceNumber" class="darkText" style="float:none;"></span>) to</div>
    <table>
        <tr class="divRow">
            <td class="alignRight">@ResStrings.EMAIL:</td>
            <td><span class="req">*</span></td>
            <td><input id="txtEmail" type="text" value="@Globals.Environment.Session.ContactLoginEmail" style="width:250px;" /></td>
        </tr>
    </table>
</div>
