﻿@using DealerGateway.CustomerUI.Resources;
@using DealerGateway.CustomerUI.Domain;
@using DealerGateway.CustomerUI.Models;

@model DealerGateway.CustomerUI.Models.PaymentMethods
@{
    ViewBag.Title = @DGUtils.ToTitleCase(ResStrings.PAYMENT_METHODS);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {
        ButtonBarUISetup();
        //Confirm Method Delete Dialog
        //
        $("#dlgDeleteMethod").dialog({
            modal: true,
            autoOpen: false,
            height: 250,
            width: 350,
            resizable: false,
            hide: "blind",
            buttons: {
                "@ResStrings.OK": function () {
                    $(this).dialog("close");
                },
                "@ResStrings.CANCEL": function () {
                    $(this).dialog("close");
                }
            }
        });
    })

    function ConfirmDeleteMethod(row, id, method) {
        $('#spnMethodNumber').html(method);
        $("#dlgDeleteMethod").dialog({ buttons: { "@ResStrings.OK": function () { DeleteMethod(row, id); $(this).dialog("close"); }, "@ResStrings.CANCEL": function () { $(this).dialog("close"); } } });
        $("#dlgDeleteMethod").dialog("open");
    }

    function DeleteMethod(row, id) {
        $.ajax({
            url: '@Url.Action("MethodDelete", "Account")?id=' + id,
            type: "POST",
            dataType: 'text',
            contentType: "application/json;charset=utf-8",
            success: function () {
                $('#' + row).remove();
                $('#lblItemCount').html($('#lblItemCount').html() - 1);
            },
            error: function () { alert("Unable to delete"); }
        });
    }

    function CustomBack() {
        window.location = '@Server.UrlDecode(Request.QueryString["from"])';
    }

</script>

<div class="buttonBar ezColorT2">
    <div class="btnBarItem">
        <a href="javascript:CustomBack();">
            <img id="btnBack" src="~/Content/Images/Arrow-Left.png" alt="@ResStrings.BACK" title="@ResStrings.BACK" />
            <div>@ResStrings.BACK</div>
        </a>
    </div>
    <div class="btnBarItem">
        <a href="javascript:AddMethod();">
            <img id="btnAdd" src="~/Content/Images/Add.png" alt="@ResStrings.ADD" title="@ResStrings.ADD" />
            <div>@ResStrings.ADD</div>
        </a>
    </div>
</div>

<div class="dlgPanel ezColorT7 dlgTitleBar">
    <div>@Html.Raw(DGUtils.FormatTitle(ResStrings.PAYMENT_METHOD_MANAGEMENT))</div>
</div>

<!---------------------- Included Invoice List ------------------------------------------->
<div class="dlgPanel ezColorT1">
    <div class="dlgHeadingSub">@ResStrings.PAYMENT_METHODS</div>
    @if (Model.List.Count == 0)
    {
        <div class="infoDiv">
            @ResStrings.NO_METHODS_EXIST
        </div>
    }
    else
    {
        <div class="ddList">
            <table id="tblMethods" class="tblResults stripeMe">
                <thead>
                    <tr>
                        <th>@DGUtils.ToTitleCase(ResStrings.ACCOUNT_NUMBER)</th>
                        <th>@DGUtils.ToTitleCase(ResStrings.NICKNAME)</th>
                        <th>@DGUtils.ToTitleCase(ResStrings.ACCOUNT_TYPE)</th>
                        <th style="text-align:center;">@DGUtils.ToTitleCase(ResStrings.EXPIRES_ON)</th>
                        <th>@DGUtils.ToTitleCase(ResStrings.NAME_ON_ACCOUNT)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="itemsList">
                    @for (int i = 0; i < Model.List.Count; i++)
                    {
                        
                        <tr id="row_@Model.List[i].AccountID">
                            <td class="NoPointer"><a href="javascript:EditMethod(@Model.List[i].AccountID);" class="bold">@DGUtils.FormatValue(Model.List[i].AccountNumber)</a></td>
                            <td id="Nickname_@Model.List[i].AccountID" class="NoPointer">@DGUtils.FormatValue(Model.List[i].Nickname)</td>
                            <td class="NoPointer">@DGUtils.FormatValue(Model.List[i].AccountType)</td>
                            @if (!PaymentMethod.AccountIsBankType(Model.List[i].AccountTypeID))
                            {
                            <td id="ExpiresOn_@Model.List[i].AccountID" class="alignRight NoPointer @if (Model.List[i].ExpiresOn <= DateTime.Today)
                                                                                                    { @Html.Raw("HELP") }">@DGUtils.FormatValue(Model.List[i].ExpiresOn, "M/yyyy")</td>
                            }
                            else
                            {
                                <td class="alignRight">---</td>
                            }
                            <td id="NameOnAccount_@Model.List[i].AccountID" class="NoPointer">@DGUtils.FormatValue(Model.List[i].NameOnAccount)</td>
                            <td class="alignCenter NoPointer"><a href="javascript:ConfirmDeleteMethod('row_@Model.List[i].AccountID', @Model.List[i].AccountID, '@Model.List[i].AccountNumber');"><img src="~/Content/Images/delete.png"></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="ListItemCount">
        <span id="lblItemCount" class="bold">@Model.List.Count.ToString("n0")</span> @if (@Model.List.Count == 1)
                                                                                     { @ResStrings.LIST_ITEM }
                                                                                     else
                                                                                     { @ResStrings.LIST_ITEMS }
        </div>
    }
</div>

<!----------------------------- Delete Method ----------------------------->
<div id="dlgDeleteMethod" title="@DGUtils.ToTitleCase(ResStrings.DELETE_METHOD)">
    <div class="warningDiv">@ResStrings.CONFIRM_METHOD_DELETE <span id="spnMethodNumber">____</span>?</div>
</div>

@Html.Partial("MethodPartial", new DealerGateway.CustomerUI.Models.PaymentMethod())
