﻿@using System.Collections;
@using DealerGateway.CustomerUI.Domain 
@using DealerGateway.CustomerUI.Resources; 

@model DealerGateway.CustomerUI.Models.PaymentMethod

@{
    SortedList states = einfo.States.USList();
    IDictionaryEnumerator statesList = states.GetEnumerator();
}

@if (Request.IsSecureConnection) {
<script>    
    function IsSecure() { return true; }
</script>    
}
else {
<script>    
    function IsSecure() { return false; }
</script>    
}

<script type="text/javascript">

    $(document).ready(function () {
        $('input:radio[name=rdoType]:checked').val("1");

        $(".ezmark").ezMark();
        $(".rdoLabel").css("color", $(".ui-dialog-titlebar").css("background-color"));
        $(".rdoLabel").css("padding-left", "4px");

        if (IsSecure()) {
            $(".radioPaymentType input:radio").change(function () {
                switch ($(this).attr("value")) {
                    case "1":
                        $("#trAccountNumber").hide("slow");
                        $("#trRoutingNumber").hide("slow");
                        $("#trCheckImage").hide("slow");
                        $("#dlgMethodDetails").dialog({
                            buttons: {
                                '@ResStrings.NEXT': function () {
                                    ValidateAndSaveMethod(0);
                                },
                                "@ResStrings.CANCEL": function () {
                                    $(this).dialog("close");
                                }
                            }
                        });
                        break;
                    case "2":
                    case "3":
                        $("#trAccountNumber").show("slow");
                        $("#trRoutingNumber").show("slow");
                        $("#trCheckImage").show("slow");
                        $("#dlgMethodDetails").dialog({
                            buttons: {
                                '@ResStrings.SAVE': function () {
                                    ValidateAndSaveMethod(0);
                                },
                                "@ResStrings.CANCEL": function () {
                                    $(this).dialog("close");
                                }
                            }
                        });
                        break;
                }
            });
        }

        // Method Dialog
        //
        $("#dlgMethodDetails").dialog({
            modal: true,
            autoOpen: false,
            height: 600,
            width: 510,
            resizable: false,
            hide: "blind",
            buttons: {
                "@ResStrings.SAVE": function () {
                    $(this).dialog("close");
                },
                "@ResStrings.CANCEL": function () {
                    $(this).dialog("close");
                }
            }
        });
    })

    function AddMethod() {
        $("#divDlgValidation").html("");
        $("#divDlgValidation").hide();

        if (IsSecure()) {
            $('#divTypeOptions').css('display', '');
            $('#divTypeText').css('display', 'none');
        }
        else {
            $('#divTypeOptions').css('display', 'none');
            $('#divTypeText').css('display', '');
            $('#spanType').html('@ResStrings.CREDIT_CARD');
        }
        $('#trExpDate').css('display', 'none');
        $('#ddMonth').val("0");
        $('#ddYear').val("0");

        $('#NameOnAccount').val("");
        $('#Address').val("");
        $('#City').val("");
        $('#State').val(0);
        $('#Zip').val("");
        $('#Phone').val("");
        $('#Nickname').val("");
        $('#rowNickname').css("display", "");

        $("#dlgMethodDetails").dialog({ title: '@DGUtils.ToTitleCase(ResStrings.NEW_METHOD)' });
        switch ($('input:radio[name=rdoType]:checked').val()) {
            case "1":
                $("#dlgMethodDetails").dialog({ buttons: { "@ResStrings.NEXT": function () { ValidateAndSaveMethod(0); }, "@ResStrings.CANCEL": function () { $(this).dialog("close"); } } });
                break;
            case "2":
            case "3":
                $("#dlgMethodDetails").dialog({ buttons: { "@ResStrings.SAVE": function () { ValidateAndSaveMethod(0); }, "@ResStrings.CANCEL": function () { $(this).dialog("close"); } } });
                break;
        }

        $("#dlgMethodDetails").dialog("open");
    }

    function AddOneUseMethod(amt, date, invIDs) {
        $("#SaveMethod").val("0");

        $("#divDlgValidation").html("");
        $("#divDlgValidation").hide();

        // secure or not only credit cards are allowed for one time use
        $('#divTypeOptions').css('display', 'none');
        $('#divTypeText').css('display', '');
        $('#spanType').html('@ResStrings.CREDIT_CARD');

        $('#trExpDate').css('display', 'none');
        $('#ddMonth').val("0");
        $('#ddYear').val("0");

        $('#OneTimePaymentAmount').val(amt);
        $('#PaymentDate').val(date);
        $('#PaymentInvoiceIDs').val(invIDs);

        $('#NameOnAccount').val("");
        $('#Address').val("");
        $('#City').val("");
        $('#State').val(0);
        $('#Zip').val("");
        $('#Phone').val("");
        $('#Nickname').val("");
        $('#rowNickname').css("display", "none");

        $("#dlgMethodDetails").dialog({ title: '@DGUtils.ToTitleCase(ResStrings.PAYMENT_METHOD)' });
        $("#dlgMethodDetails").dialog({ buttons: { "@ResStrings.NEXT": function () { ValidateAndSaveMethod(0); }, "@ResStrings.CANCEL": function () { $(this).dialog("close"); } } });

        $("#dlgMethodDetails").dialog("open");
    }

    function EditMethod(id) {
        $("#divDlgValidation").html("");
        $("#divDlgValidation").hide();

        $("#trAccountNumber").hide("");
        $("#trRoutingNumber").hide("");
        $("#trCheckImage").hide("");

        $('#divTypeOptions').css('display', 'none');
        $('#divTypeText').css('display', '');
        $('#trExpDate').css('display', '');
        $("#dlgMethodDetails").dialog({ title: '@DGUtils.ToTitleCase(ResStrings.PAYMENT_METHOD)' });
        // load the method details
        $.ajax({
            url: '@Url.Action("PaymentMethod", "Account")' + '?id=' + id,
            type: "POST",
            dataType: 'json',
            contentType: "application/json;charset=utf-8",
            success: PopulateEditDialog
        });
    }

    function PopulateEditDialog(method) {
        $('#spanMethodName').html(method["AccountType"] + ' ' + method["AccountNumber"]);

        $('#spanType').html(method["AccountNumber"] + ' - ' + method["AccountType"]);

        if (method["AccountTypeID"] == '6' /*checking*/ || method["AccountTypeID"] == '7' /*savings*/)
            $('#trExpDate').css('display', 'none');

        var date = new Date(parseInt(method["ExpiresOn"].substr(6)));
        $('#ddMonth').val(date.getMonth() + 1);
        $('#ddYear').val(date.getFullYear());

        $('#NameOnAccount').val(method["NameOnAccount"]);
        $('#Address').val(method["Address"]);
        $('#City').val(method["City"]);
        if (method["State"].length != 0)
            $("#State option:contains('" + method["State"] + "')").attr('selected', 'selected');
        else
            $('#State').val(0);
        $('#Zip').val(method["Zip"]);
        $('#Phone').val(method["Phone"]);
        $('#Nickname').val(method["Nickname"]);

        $("#dlgMethodDetails").dialog({ buttons: { "@ResStrings.SAVE": function () { ValidateAndSaveMethod(method["AccountID"]); }, "@ResStrings.CANCEL": function () { $(this).dialog("close"); } } });
        $("#dlgMethodDetails").dialog("open");
    }

    function UpdateMethod(accountID) {

        var paymentMethod = {
            AccountID: accountID,
            Nickname: $('#Nickname').val(),
            ExpiresOn: $('#ddMonth').val() + '/1/' + $('#ddYear').val(), 
            NameOnAccount: $('#NameOnAccount').val(),
            Address: $('#Address').val(),
            City: $('#City').val(),
            State: $("#State option:selected").text(),
            Zip: $('#Zip').val(),
            Phone: $('#Phone').val()
        };

        var today = new Date();
        $.ajax({
            type: "POST",
            url: '@Url.Action("MethodUpdate", "Account")',
            data: JSON.stringify(paymentMethod),
            dataType: "text",
            contentType: "application/json;charset=utf-8",
            success: function (msg) {
                // Just need to update the Nickname, Name on Account, and Expires On columns
                if ($('#Nickname_' + accountID).length > 0)
                    $('#Nickname_' + accountID).html($('#Nickname').val());
                if ($('#ExpiresOn_' + accountID).length > 0) {
                    $('#ExpiresOn_' + accountID).html($('#ddMonth').val() + '/' + $('#ddYear').val());
                    if (today.getFullYear() > $('#ddYear').val() || (today.getFullYear() == $('#ddYear').val() && today.getMonth() + 1 > $('#ddMonth').val())) {
                        $('#ExpiresOn_' + accountID).attr("class", $('#ExpiresOn_' + accountID).attr("class") + " HELP");
                    }
                    else {
                        $('#ExpiresOn_' + accountID).attr("class", $('#ExpiresOn_' + accountID).attr("class").replace("HELP"), "");
                    }
                }
                if ($('#NameOnAccount_' + accountID).length > 0)
                    $('#NameOnAccount_' + accountID).html($('#NameOnAccount').val());
                $('#dlgMethodDetails').dialog("close");
            },
            error: function (msg) {
                alert("The system encountered an error. The payment method was not saved. Please try the action again.");
            }
        });
    }

    function SaveNewMethod() {
        var accountTypeID = 0;
        $(".radioPaymentType input:radio").each(function () {
            if ($(this).attr("checked") == "checked") {
                switch ($(this).attr("value")) {
                    case "1":
                        $("#AccountNumber").val("");
                        $("#RoutingNumber").val("");
                        $('#MethodCCAddForm').submit();
                        return;
                    case "2":
                        accountTypeID = 6; //checking
                        break;
                    case "3":
                        accountTypeID = 7; //savings
                        break;
                }
            }
        });

        if (accountTypeID == 6 || accountTypeID == 7) {
            var paymentMethod = {
                Nickname: $('#Nickname').val(),
                NameOnAccount: $('#NameOnAccount').val(),
                Address: $('#Address').val(),
                City: $('#City').val(),
                State: $("#State option:selected").text(),
                Zip: $('#Zip').val(),
                Phone: $('#Phone').val(),
                AccountNumber: $('#AccountNumber').val(),
                RoutingNumber: $('#RoutingNumber').val(),
                AccountTypeID: accountTypeID
            };

            var today = new Date();
            $.ajax({
                type: "POST",
                url: '@Url.Action("MethodAdd", "Account")',
                data: JSON.stringify(paymentMethod),
                dataType: "text",
                contentType: "application/json;charset=utf-8",
                success: function (id) {
                    // need to insert a new row and update the item count
                    if ($(".tblResults").length > 0) {

                        // load the method details
                        $.ajax({
                            url: '@Url.Action("PaymentMethod", "Account")' +  '?id=' + id,
                            type: "POST",
                            dataType: 'json',
                            contentType: "application/json;charset=utf-8",
                            success: AddMethodRow
                        });
                    }

                    $('#dlgMethodDetails').dialog("close");
                },
                error: function (msg) {
                    alert("The system encountered an error. The payment method was not saved. Please try the action again.");
                }
            });
        }
    }

    function AddMethodRow(account) {
        var id = account["AccountID"];
        
        if ($('#tblMethods').length > 0) { // from payment methods list
            var str = "";
            str += "<tr id='row_" + id + "'>";
            str += "<td class='NoPointer'><a href='javascript:EditMethod(" + id + ");' class='bold'>" + account["AccountNumber"] + "</a></td>";
            str += "<td id='Nickname_" + id + "' class='NoPointer'>" + account["Nickname"] + "</td>";
            str += "<td class='NoPointer'>" + account["AccountType"] + "</td>";
            if (account["AccountTypeID"] == 6 || account["AccountTypeID"] == 7) {
                str += "<td id='ExpiresOn_" + id + "' class='alignRight NoPointer'>---</td>";
            } else {
                var date = new Date(parseInt(account["ExpiresOn"].substr(6)));
                var today = new Date();
                var expClass = "";
                if (date.getFullYear() < today.getFullYear() || (date.getFullYear() == today.getFullYear() && date.getMonth() < today.getMonth()))
                    expClass = " HELP";

                str += "<td id='ExpiresOn_" + id + "' class='alignRight NoPointer " + expClass + "'>" + (date.getMonth() + 1) + "/" + date.getFullYear() + "</td>";
            }
            str += "<td id='NameOnAccount_" + id + "' class='oPointer'>" + account["NameOnAccount"] + "</td>";
            str += "<td class='alignCenter NoPointer'><a href=\"javascript:ConfirmDeleteMethod('row_" + id + "', " + id + ", '" + account["AccountNumber"] + "');\"><img src='@Url.Content("~/content/images/delete.png")'></a></td>";
            str += "</tr>";

            $('.tblResults > tbody:last').append(str);

            if ($('#lblItemCount').length > 0)
                $('#lblItemCount').html(parseInt($('#lblItemCount').html()) + 1);
        }
        else { // from payment detail
            $("#lnkSelectMethod").html(account["AccountNumber"] + " - " + account["Nickname"]);
            $("#dlgPaymentMethod").dialog("close");
            $("#MethodID").val(id);

            // add to the selection list also
            var str = "";
            str += "<tr id='selLo_" + id + "'>";
            str += "<td id='selLoChk_" + id + "'></td>";
            str += "<td>" + account["AccountNumber"] + " - " + account["Nickname"] + "</td>";
            str += "</tr>";

            $('.lstSelectMethod > tbody > tr').eq(0).before(str);
        }
    }

    function ValidateAndSaveMethod(accountID) {
        var isValid = true;
        var aryWarning = new Array();

        //validate client side
        if (accountID == 0) { // New Method
            if ($('#trAccountNumber').css('display') != 'none') { // checking or saving
                if ($("#AccountNumber").val().length == 0) {
                    isValid = false;
                    aryWarning.push("@ResErrors.ACCOUNT_NUMBER_IS_REQUIRED");
                }
                if ($("#RoutingNumber").val().length == 0) {
                    isValid = false;
                    aryWarning.push("@ResErrors.ROUTING_NUMBER_IS_REQUIRED");
                }
                else {
                    if (!ValidateRoutingNumber($("#RoutingNumber").val())) {
                        isValid = false;
                        aryWarning.push("@ResErrors.ROUTING_NUMBER_IS_NOT_VALID");
                    }
                }
            }
        }
        else { // Existing Method
            if ($('#trExpDate').css('display') != 'none') { // a credit card
                if ($("#ddMonth").val() == "0") {
                    isValid = false;
                    aryWarning.push("@ResErrors.EXPIRES_ON_MONTH_IS_REQUIRED");
                }
                if ($("#ddYear").val() == "0") {
                    isValid = false;
                    aryWarning.push("@ResErrors.EXPIRES_ON_YEAR_IS_REQUIRED");
                }
            }
        }

        if ($("#NameOnAccount").val().length == 0) {
            isValid = false;
            aryWarning.push("@ResErrors.NAME_ON_ACCOUNT_IS_REQUIRED");
        }
        if ($("#Address").val().length == 0) {
            isValid = false;
            aryWarning.push("@ResErrors.ADDRESS_IS_REQUIRED");
        }
        if ($("#City").val().length == 0) {
            isValid = false;
            aryWarning.push("@ResErrors.CITY_IS_REQUIRED");
        }
        if ($("#State").val() == "0") {
            isValid = false;
            aryWarning.push("@ResErrors.STATE_IS_REQUIRED");
        }
        if ($("#Zip").val().length == 0) {
            isValid = false;
            aryWarning.push("@ResErrors.ZIP_IS_REQUIRED");
        }
        if ($("#Phone").val().length == 0) {
            isValid = false;
            aryWarning.push("@ResErrors.PHONE_IS_REQUIRED");
        }
        if ($("#Nickname").val().length == 0 && $("#rowNickname").css("display") != "none") {
            isValid = false;
            aryWarning.push("@ResErrors.NICKNAME_IS_REQUIRED");
        }

        //OK. Save and move on
        if (isValid) {
            //Submit
            if (accountID > 0) {
                UpdateMethod(accountID);
            }
            else {
                SaveNewMethod();
            }
        }
        else {
            var str = "<ul style='margin:0;'>";
            for (var i = 0; i < aryWarning.length; i++) {
                str += "<li>";
                str += aryWarning[i];
                str += "</li>";
            }
            str += "</ul>";
            $("#divDlgValidation").html(str);
            $("#divDlgValidation").show("blind");
        }
    }

    function ValidateRoutingNumber(number) {
        var n = 0;
        for (var i = 0; i < number.length; i += 3) {
            n += parseInt(number.charAt(i), 10) * 3 + parseInt(number.charAt(i + 1), 10) * 7 + parseInt(number.charAt(i + 2), 10);
        }

        // If the resulting sum is an even multiple of ten (but not zero),
        // the aba routing number is good.
        return (n != 0 && n % 10 == 0);
    }
</script>

<!----------------------------- Method Details -------------------------------->
<div id="dlgMethodDetails">

    <!----------------------------- Validation ----------------------------->
    <div id="divDlgValidation" class="warningDiv" style="display:none; margin-right:8px;"></div>

    @using (Html.BeginForm("MethodCCAdd", "Account", FormMethod.Post, new { id = "MethodCCAddForm" }))
    {
        <table class="dlgLayoutTable">
        <tr id="trPaymentType">
            <td class="alignRight">@ResStrings.PAYMENT_TYPE:</td>
            <td>&nbsp;</td>
            <td>
                <div id="divTypeOptions" class="radioPaymentType">
		            <div><input type="radio" id="radio1" name="rdoType" value="1" class="ezmark" checked="checked" /><label class="rdoLabel bold darkText" for="radio1">@ResStrings.CREDIT_CARD</label></div>
		            <div><input type="radio" id="radio2" name="rdoType" value="2" class="ezmark" /><label class="rdoLabel darkText" for="radio2">@ResStrings.CHECKING_ACCOUNT</label></div>
		            <div><input type="radio" id="radio3" name="rdoType" value="3" class="ezmark" /><label class="rdoLabel darkText" for="radio3">@ResStrings.SAVINGS_ACCOUNT</label></div>
	            </div>
                <div id="divTypeText" class="bold">
                    <span id="spanType" class="bold"></span>
                </div>
            </td>
        </tr>
        <tr id="trExpDate" class="divRow">
            <td class="alignRight">@ResStrings.EXPIRES_ON:</td>
            <td><span class="req">*</span></td>
            <td><select id="ddMonth">
                    <option value="0">---</option>
                    @for (int i = 1; i <= 12; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select> <span class="bold darkText" style="float:none;">/</span> <select id="ddYear">
                    <option value="0">---</option>
                    @for (int i = DateTime.Today.AddYears(-1).Year; i <= DateTime.Today.Year + 12; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select></td>
        </tr>
        <tr id="trAccountNumber" style="display:none;" class="divRow">
            <td class="alignRight">@ResStrings.ACCOUNT_NUMBER:</td>
            <td><span class="req">*</span></td>
            <td><input id="AccountNumber" name="AccountNumber" type="text" style="width:300px;" /></td>
        </tr>
        <tr id="trRoutingNumber" style="display:none;" class="divRow">
            <td class="alignRight">@ResStrings.ROUTING_NUMBER:</td>
            <td><span class="req">*</span></td>
            <td><input id="RoutingNumber" name="RoutingNumber" type="text" style="width:300px;" /></td>
        </tr>
        <tr id="trCheckImage" style="display:none;" class="divRow">
            <td class="alignRight">&nbsp;</td>
            <td><span class="req">&nbsp;</span></td>
            <td><img src="~/Content/Images/blank_check.png" alt="" /></td>
        </tr>
        <tr id="trNameOnAccount" class="divRow nowrap">
            <td class="alignRight">@ResStrings.NAME_ON_ACCOUNT:</td>
            <td><span class="req">*</span></td>
            <td><input id="NameOnAccount" name="NameOnAccount" type="text" style="width:300px;" /></td>
        </tr>
        <tr class="divRow">
            <td class="alignRight">@ResStrings.ADDRESS:</td>
            <td><span class="req">*</span></td>
            <td><input id="Address" name="Address" type="text" style="width:300px;" /></td>
        </tr>
        <tr class="divRow">
            <td class="alignRight">@ResStrings.CITY:</td>
            <td><span class="req">*</span></td>
            <td><input id="City" name ="City" type="text" style="width:300px;" /></td>
        </tr>
        <tr class="divRow">
            <td class="alignRight">@ResStrings.STATE:</td>
            <td><span class="req">*</span></td>
            <td>
                <table style="border-collapse:collapse; padding:0px;">
                    <tr>
                        <td><select id="State" name="State">
                            <option value="0">--</option>
                            @while (statesList.MoveNext())
                            {
                                <option value="@statesList.Value">@statesList.Value</option>
                            }
                            </select></td>
                        <td class="alignRight">@ResStrings.ZIP:</td>
                        <td><span class="req">*</span></td>
                        <td><input id="Zip" name="Zip" type="text" style="width:100px;" /></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="divRow">
            <td class="alignRight">@ResStrings.PHONE:</td>
            <td><span class="req">*</span></td>
            <td><input id="Phone" name="Phone" type="text" style="width:300px;" /></td>
        </tr>
        <tr id="rowNickname" class="divRow">
            <td class="alignRight">@ResStrings.NICKNAME:</td>
            <td><span class="req">*</span></td>
            <td><input id="Nickname" name="Nickname" type="text" style="width:300px;" /></td>
        </tr>
        </table>
        <input id="SaveMethod" name="SaveMethod" type="hidden" value="1" />
        <input id="OneTimePaymentAmount" name="OneTimePaymentAmount" type="hidden" value="" /> 
        <input id="PaymentDate" name="PaymentDate" type="hidden" value="" /> 
        <input id="PaymentInvoiceIDs" name="PaymentInvoiceIDs" type="hidden" value="" /> 
    }
</div>
