﻿@using DealerGateway.CustomerUI.Resources;
@using DealerGateway.CustomerUI.Domain;

@model DealerGateway.CustomerUI.Models.Payments
@{
    ViewBag.Title = @ResStrings.PAYMENTS;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {

        ButtonBarUISetup();

        SetupRowStripeing();
    });

    function SetupRowStripeing() {
        //Alternating row colors
        //
        $(".stripeMe tr:even").addClass("alt");
        $(".stripeMe tr").mouseover(function () {
            $(this).addClass("hover");
        });
        $(".stripeMe tr").mouseout(function () {
            $(this).removeClass("hover");
        });
    }

</script>

<style type="text/css">
    .itemsList tr td input {
        width:3em;
    }
</style>

<div class="buttonBar ezColorT2">
    <div class="btnBarItem">
        <a href="javascript:GoBack();">
            <img id="btnBack" src="~/Content/Images/Arrow-Left.png" alt="@ResStrings.BACK" title="@ResStrings.BACK" />
            <div>@ResStrings.BACK</div>
        </a>
    </div>
    <div class="btnBarItem">
        <a href="javascript:Print();">
            <img id="btnPrint" src="~/Content/Images/Print.png" alt="@ResStrings.PRINT" title="@ResStrings.PRINT" />
            <div>@ResStrings.PRINT</div>
        </a>
    </div>

    <div class="btnBarItemRight">
        <a href='@Url.Action("Index", "Gateway")'>
            <img id="btnHome" src="~/Content/Images/home.png" alt="@ResStrings.HOME" title="@ResStrings.HOME" />
            <div>@ResStrings.HOME</div>
        </a>
    </div>
</div>

<div class="dlgPanel ezColorT7 dlgTitleBar">
    <div>@Html.Raw(DGUtils.FormatTitle(ResStrings.PAYMENTS))</div>
</div>

<div class="dlgPanel ezColorT1 minHeight100">
    <div class="dlgHeadingSub">@ViewBag.PaymentListMonth</div>
    <div class="ddList">
        <table class="tblResults stripeMe">
            <thead>
                <tr>
                    <th>@DGUtils.ToTitleCase(ResStrings.NUMBER)</th>
                    <th style="text-align:center;">@DGUtils.ToTitleCase(ResStrings.DATE)</th>
                    <th>@DGUtils.ToTitleCase(ResStrings.METHOD)</th>
                    <th style="text-align:center;">@DGUtils.ToTitleCase(ResStrings.PAYMENT_TOTAL)</th>
                    <th style="width:50%;">&nbsp;</th>
                </tr>
            </thead>
            <tbody id="tbInvoiceList" class="itemsList">
                @for (int i = 0; i < Model.PaymentList.Count; i++)
                {
                    <tr>
                        <td class="NoPointer"><a href="@Url.Action("PaymentView", "Account", new { id=@Model.PaymentList[i].PaymentID })" class="bold">@DGUtils.FormatValue(@Model.PaymentList[i].PaymentNumber)</a></td>
                        <td class="alignRight NoPointer">@DGUtils.FormatValue(@Model.PaymentList[i].PaymentDate)</td>
                        <td class="NoPointer">@DGUtils.FormatValue(@Model.PaymentList[i].PaymentMethod)</td>
                        <td class="alignRight NoPointer">@DGUtils.FormatValue(@Model.PaymentList[i].PaymentTotal, "C2")</td>
                        <td class="NoPointer">&nbsp</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


