﻿@using DealerGateway.CustomerUI.Domain;
@using DealerGateway.CustomerUI.Models;
@using DealerGateway.CustomerUI.Resources;

@model DealerGateway.CustomerUI.Models.Payment
@{
    ViewBag.Title = @DGUtils.ToTitleCase(ResStrings.PAYMENT);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {

        ButtonBarUISetup();

        SetupRowStripeing();
    });


    function SetupRowStripeing() {
        //Alternating row colors
        //
        $(".stripeMe tr:even").addClass("alt");
        $(".stripeMe tr").mouseover(function () {
            $(this).addClass("hover");
        });
        $(".stripeMe tr").mouseout(function () {
            $(this).removeClass("hover");
        });
    }

</script>

<style type="text/css">
    .itemsList tr td input {
        width:3em;
    }
</style>

<div class="buttonBar ezColorT2">
    <div class="btnBarItem">
        <a href="javascript:GoBack();">
            <img id="btnBack" src="~/Content/Images/Arrow-Left.png" alt="@ResStrings.BACK" title="@ResStrings.BACK" />
            <div>@ResStrings.BACK</div>
        </a>
    </div>
    <div class="btnBarItem">
        <a href="javascript:Print();">
            <img id="btnPrint" src="~/Content/Images/Print.png" alt="@ResStrings.PRINT" title="@ResStrings.PRINT" />
            <div>@ResStrings.PRINT</div>
        </a>
    </div>

    <div class="btnBarItemRight">
        <a href='@Url.Action("Index", "Gateway")'>
            <img id="btnHome" src="~/Content/Images/home.png" alt="@ResStrings.HOME" title="@ResStrings.HOME" />
            <div>@ResStrings.HOME</div>
        </a>
    </div>
</div>

<div class="dlgPanel ezColorT7 dlgTitleBar">
    <div>@Html.Raw(DGUtils.FormatTitle(ResStrings.PAYMENT))</div>
</div>

<div class="dlgPanel ezColorT1 minHeight100">
    <div class="divInfoHolder minHeight100">
        <div class="dlgHeadingSub">@ResStrings.FROM</div>
        <div class="divRow">
            <label>@Model.PayeeName</label>
        </div>
        <div class="divRow">
            <label>@Model.PayeeAddress</label>
        </div>
        <div class="divRow">
            <label>@Model.PayeeCity, @Model.PayeeState @Model.PayeeZip</label>
        </div>
    </div>
    <div class="divInfoHolder minHeight100">
        <div class="dlgHeadingSub">@ResStrings.PAYMENT</div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.NUMBER:</label>
            <span class="notreq">&nbsp;</span>
            <span>@DGUtils.FormatValue(Model.PaymentNumber)</span>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.ENTRY_DATE:</label>
            <span class="notreq">&nbsp;</span>
            <span>@DGUtils.FormatValue(Model.PaymentDate)</span>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.METHOD:</label>
            <span class="notreq">&nbsp;</span>
            <span>@DGUtils.FormatValue(Model.PaymentMethod)</span>
        </div>
        @if (Model.PaymentTypeID == PaymentType.Check)
        {
            <div class="divRow">
                <label class="alignRight">@ResStrings.DATE:</label>
                <span class="notreq">&nbsp;</span>
                <span>@DGUtils.FormatValue(Model.CheckDate)</span>
            </div>
            <div class="divRow">
                <label class="alignRight">@ResStrings.CHECK_NUMBER:</label>
                <span class="notreq">&nbsp;</span>
                <span>@DGUtils.FormatValue(Model.CheckNumber)</span>
            </div>
        }
        else if (Model.PaymentTypeID == PaymentType.CreditCard)
        {
            <div class="divRow">
                <label class="alignRight">@ResStrings.CREDIT_CARD_NUMBER:</label>
                <span class="notreq">&nbsp;</span>
                <span>@DGUtils.FormatValue(Model.CreditCardNumber)</span>
            </div>
            <div class="divRow">
                <label class="alignRight">@ResStrings.EXPIRATION:</label>
                <span class="notreq">&nbsp;</span>
                <span>@DGUtils.FormatValue(Model.CreditCardExpiration, "MM/yyyy")</span>
            </div>
        }
        else if (Model.PaymentTypeID == PaymentType.EFT)
        {
            <div class="divRow">
                <label class="alignRight">@ResStrings.REFERENCE:</label>
                <span class="notreq">&nbsp;</span>
                <span>@DGUtils.FormatValue(Model.EFTReference)</span>
            </div>
        }
        <div class="divRow">
            <label class="alignRight">@ResStrings.TOTAL:</label>
            <span class="notreq">&nbsp;</span>
            <span>@DGUtils.FormatValue(Model.PaymentTotal, "C2")</span>
        </div>
    </div>
</div>
<div class="dlgPanel ezColorT1 minHeight100">
    <div class="dlgHeadingSub">@ResStrings.INVOICES</div>
    @if (Model.Invoices.Count == 0)
    {
        <div class="infoDiv">
            @ResStrings.BALANCE_NOT_APPLIED_TO_INVOICES
        </div>
    }
    else
    {
        <div class="ddList">
            <table class="tblResults stripeMe">
                <thead>
                    <tr>
                        <th>@DGUtils.ToTitleCase(ResStrings.NUMBER)</th>
                        <th>@DGUtils.ToTitleCase(ResStrings.PO_NUMBER, false)</th>
                        <th style="text-align:right;">@DGUtils.ToTitleCase(ResStrings.AMOUNT)</th>
                        <th style="width:50%;">&nbsp;</th>
                    </tr>
                </thead>
                <tbody id="tbInvoiceList" class="itemsList">
                    @for (int i = 0; i < Model.Invoices.Count; i++)
                    {
                        <tr>
                            <td class="NoPointer">@Html.ActionLink(DGUtils.FormatValue(Model.Invoices[i].InvoiceNumber), "Invoice", "Account", new { id = Model.Invoices[i].InvoiceID }, new { @class = "bold" })</td>
                            <td class="NoPointer">@DGUtils.FormatValue(Model.Invoices[i].PONumber)</td>
                            <td class="alignRight NoPointer">@DGUtils.FormatValue(Model.Invoices[i].InvoiceAmount, "C2")</td>
                            <td class="NoPointer">&nbsp</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>


