﻿@using DealerGateway.CustomerUI.Resources;
@using DealerGateway.CustomerUI.Domain;

@model DealerGateway.CustomerUI.Models.Payment

@{
    ViewBag.Title = @ResStrings.PAYMENT;
    Layout = "~/Views/Shared/_Layout.cshtml";

    DealerGateway.CustomerUI.Models.PaymentMethods methods = new DealerGateway.CustomerUI.Models.PaymentMethods();
    methods.Load();
    
    string chkMarkDisabled = "~/Content/Images/checkMark-Disabled.png";
    string chkMarkEnabled = "~/Content/Images/checkMark.png";

    ViewBag.FromURL = Server.UrlEncode(@Request.Url.ToString());
}

<script type="text/javascript">

    $(document).ready(function () {

        ButtonBarUISetup();
        SetupRowStripeing();

        $(".ezmark").ezMark();

        $("#txtPaymentDate").datepicker({
            dateFormat: "m/d/yy",
            minDate: "0d",
            maxDate: "@(ViewBag.MaxDaysForPayment)d"
        });

        $("#txtPaymentDate").attr('readOnly', 'true');

        $("#dlgPaymentMethod").dialog({
            modal: true,
            autoOpen: false,
            height: 250,
            width: 350,
            resizable: false,
            show: "blind",
            hide: "blind",
            buttons: {
                "@ResStrings.CANCEL": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#dlgCancelPayment").dialog({
            modal: true,
            autoOpen: false,
            height: 250,
            width: 350,
            resizable: false,
            hide: "blind",
            buttons: {
                "@ResStrings.OK": function () {
                    $(this).dialog("close");
                },
                "@ResStrings.CANCEL": function () {
                    $(this).dialog("close");
                }
            }
        });

        // Used to select payment method list item
        //
        $(".lstSelectMethod tbody tr:even").addClass("alt");
        $(".lstSelectMethod tbody tr").mouseover(function () {
            $(this).addClass("over");
        });
        $(".lstSelectMethod tbody tr").mouseout(function () {
            $(this).removeClass("over");
        });
        $(".lstSelectMethod tbody tr").click(function () {
            if ($(this).attr("id") == "selLo_0") {
                AddMethod();
            }
            else {
                var aryLocationInfo = $(this).html();
                while (aryLocationInfo.indexOf("<TD>") != -1)
                    aryLocationInfo = aryLocationInfo.replace("<TD>", "<td>");
                while (aryLocationInfo.indexOf("</TD>") != -1)
                    aryLocationInfo = aryLocationInfo.replace("</TD>", "</td>");
                aryLocationInfo = aryLocationInfo.split("</td>");
                $("#lnkSelectMethod").html(aryLocationInfo[1].replace("<td>", ""));
                $("#dlgPaymentMethod").dialog("close");
                $("#MethodID").val($(this).attr("id").substring(6, $(this).attr("id").length));
            }
        });

        $("#chkUseSavedMethod").change(function () {
            if ($(this).prop("checked") == false) {
                $("#divPaymentMsg").show();
                $("#divPaymentMethod").hide();
            }
            else {
                $("#divPaymentMsg").hide();
                $("#divPaymentMethod").show();
            }
        });
    });

    function selectMethod() {
        if ($("#MethodID").val().length > 0) {
            //First, remove all checkmarks
            $('[id^="selLoChk_"]').html('<img src="@Url.Content(@chkMarkDisabled)" alt="" />');
            //Next, add the checkmark to the right row
            $("#selLoChk_" + $("#MethodID").val()).html('<img src="@Url.Content(@chkMarkEnabled)" alt="" />');
        }
        $("#dlgPaymentMethod").dialog("open");
    }

    function SetupRowStripeing() {
        //Alternating row colors
        ////
        $(".stripeMe tr:even").addClass("alt");
    }

    function selectDate() {
        $("#txtPaymentDate").datepicker("show");
    }

    function ManageMethods() {
        window.location.href = '@Url.Action("MethodsManage", "Account", new { from = ViewBag.FromURL })';
    }

    function ConfirmCancelPayment(id) {
        $("#dlgCancelPayment").dialog({ buttons: { "@ResStrings.OK": function () { CancelPayment(id); $(this).dialog("close"); }, "@ResStrings.CANCEL": function () { $(this).dialog("close"); } } });
        $("#dlgCancelPayment").dialog("open");
    }

    function CancelPayment(id) {
        $.ajax({
            url: '@Url.Action("PaymentCancel", "Account")' + '?id=' + id,
            type: "POST",
            dataType: 'text',
            contentType: "application/json;charset=utf-8",
            success: function (msg) { window.location.href = '@ViewBag.BackURL' },
            error: function (msg) { alert("Unable to cancel payment."); }
        });
    }

    function ValidateAndHandleButton(paymentID) {
        var isValid = true;
        var aryWarning = new Array();

        //validate client side
        if ($('#spnPaymentAmount').html() == '---') {
            isValid = false;
            aryWarning.push("@ResErrors.AMOUNT_IS_REQUIRED");
        }

        if (($("#MethodID").val() == "0" || $("#MethodID").val() == "-1") && $('#chkUseSavedMethod').prop('checked')) {
            isValid = false;
            aryWarning.push("@ResErrors.METHOD_IS_REQUIRED");
        }

        //OK. Save and move on
        if (isValid) {
            if (!$('#chkUseSavedMethod').prop('checked')) {
                AddOneUseMethod($('#PaymentAmount').val(), $('#txtPaymentDate').val(), $('#InvoiceIDs').val());
            }
            else {
                var payment = {
                    PaymentID: paymentID,
                    PaymentMethodID: $('#MethodID').val(),
                    PaymentDate: $('#txtPaymentDate').val(),
                    InvoiceIDs: $('#InvoiceIDs').val()
                };

                $.ajax({
                    url: '@Url.Action("PaymentSchedule", "Account")',
                    type: "POST",
                    data: JSON.stringify(payment),
                    dataType: 'text',
                    contentType: "application/json;charset=utf-8",
                    success: function (id) {
                        window.location.href = '@Url.Action("PaymentAddSucess", "Account")/' + id;
                    }
                });
            }
        }
        else {
            var str = "<ul style='margin:0;'>";
            for (var i = 0; i < aryWarning.length; i++) {
                str += "<li>";
                str += aryWarning[i];
                str += "</li>";
            }
            str += "</ul>";
            $("#divValidation").html(str);
            $("#divValidation").show("blind");
        }
    }
</script>

<style type="text/css">
    #txtPaymentDate {
        background-color:transparent;
        border:0px none;
        color: #fff;
        cursor: pointer;
        float: left;
        font-family: "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, Helvetica, Verdana, sans-serif;
        font-size:1.0em;
        font-weight:bold;
        margin:0;
        padding:0;
        width:115px;
    }
</style>

<div class="buttonBar ezColorT2">
    @if (ViewBag.AddSuccess == null)
    {
        <div class="btnBarItem btnBarPink">
            <a href="javascript:window.location.href= '@ViewBag.BackURL';">
                <img id="btnBack" src="~/Content/Images/Cancel.png" alt="@ResStrings.CANCEL" title="@ResStrings.CANCEL" />
                <div>@ResStrings.CANCEL</div>
            </a>
        </div>
        <div class="btnBarItem btnBarGreen">
            <a href="javascript:ValidateAndHandleButton(@Model.PaymentID);">
                <img id="btnSubmit" src="~/Content/Images/Money.png" alt="@ResStrings.SUBMIT" title="@ResStrings.SUBMIT" />
                <div>@ResStrings.SUBMIT</div>
            </a>
        </div>
        <div class="btnBarItem">
            <a href="javascript:ManageMethods();">
                <img id="btnMethods" src="~/Content/Images/PaymentMethods.png" alt="@DGUtils.ToTitleCase(ResStrings.PAYMENT_METHODS)" title="@DGUtils.ToTitleCase(ResStrings.PAYMENT_METHODS)" />
                <div>@DGUtils.ToTitleCase(ResStrings.PAYMENT_METHODS)</div>
            </a>
        </div>
    }
    @if (Model.PaymentID > 0 && Model.SourceID != 1 /* system generated */ && Model.PaymentDate > DateTime.Today)
    {
        <div class="btnBarItem">
            <a href="javascript:ConfirmCancelPayment(@Model.PaymentID);">
                <img id="btnCancelPayment" src="~/Content/Images/CancelPayment.png" alt="@DGUtils.ToTitleCase(ResStrings.CANCEL_PAYMENT)" title="@DGUtils.ToTitleCase(ResStrings.CANCEL_PAYMENT)" />
                <div>@DGUtils.ToTitleCase(ResStrings.CANCEL_PAYMENT)</div>
            </a>
        </div>
    }
    <div class="btnBarItem">
        <a href="javascript:Print();">
            <img id="btnPrint" src="~/Content/Images/Print.png" alt="@ResStrings.PRINT_LIST" title="@ResStrings.PRINT_LIST" />
            <div>@ResStrings.PRINT</div>
        </a>
    </div>
    @if (ViewBag.AddSuccess != null)
    {
        <div class="btnBarItemRight">
            <a href='@Url.Action("Index", "Gateway")'>
                <img id="btnHome" src="~/Content/Images/home.png" alt="@ResStrings.HOME" title="@ResStrings.HOME" />
                <div>@ResStrings.HOME</div>
            </a>
        </div>
    }
</div>

<div class="dlgPanel ezColorT7 dlgTitleBar">
    <div>@Html.Raw(DGUtils.FormatTitle(ResStrings.PAYMENT))</div>
</div>

<!----------------------------- Validation ----------------------------->
<div id="divValidation" class="warningDiv" style="display:none; margin-right:8px;"></div>

<div id="divTileContainer" class="dlgPanel ezColorT1">
    <div class="dlgHeadingSub">
        @if (Model.ScheduledConfirmationNumber.Length > 0)
        {
            <span>@ResStrings.SCHEDULED_PAYMENT (@ResStrings.CONFIRMATION_NUMBER: @Model.ScheduledConfirmationNumber)</span>
        }
        else
        {
            @ResStrings.SCHEDULE_NEW_PAYMENT
        }
    </div>
    <div class="divRow">
        <label class="alignRight">@ResStrings.AMOUNT:</label><span class="notreq">&nbsp;</span>
        <span id="spnPaymentAmount" class="val">@DGUtils.FormatValue(Model.PaymentTotal, "C2")</span>
        <input type="hidden" id="PaymentAmount" value="@Model.PaymentTotal">
    </div>
    <div class="divRow">
        <label class="alignRight">@ResStrings.DATE:</label>
        @if ((Model.PaymentID > 0 && Model.SourceID == 1 /* system generated */) || ViewBag.AddSuccess != null)
        {
            <span class="notreq">&nbsp;</span>
            <span id="lblPaymentDate" class="val">@DGUtils.FormatValue(Model.PaymentDate)</span>
        }
        else
        {
            <span class="req">*</span>
            <input type="text" id="txtPaymentDate" value="@DGUtils.FormatValue(Model.PaymentDate)" style="width:115px;">
            <button type="button" class="ui-state-default ddDots" onclick="javascript:selectDate();"><img src="~/Content/Images/Dots.png" alt="" /></button>
        }
    </div>
    @if (ViewBag.AddSuccess == null)
    {
        <div class="divRow" style="margin:20px 0 5px 0;">
            <label class="alignRight">&nbsp</label><span class="notreq">&nbsp;</span>
            <input type="checkbox" id="chkUseSavedMethod" class="ezmark" @if (Model.PaymentID < 0 || Model.PaymentMethodID > 0) { @Html.Raw("checked='checked'"); } /><label for="chkUseSavedMethod" class="bold" style="width:500px">@ResStrings.USE_EXISTING_PAYMENT_METHOD_MSG</label>
        </div>
        <div id="divPaymentMsg" class="divRow" @if (!(Model.PaymentMethodID <= 0 && Model.PaymentID > 0)) { @Html.Raw("style='display:none;'"); } >
            <label class="alignRight">&nbsp</label><span class="notreq">&nbsp;</span>
            <div class="infoDiv" style="width:700px; float:left; margin-top:0px;">@if (Model.PaymentMethodID <= 0 && Model.PaymentID > 0) { @ResStrings.ACCOUNT_INFORMATION_NOT_STORED_MSG @Html.Raw(" (" + Model.PaymentMethod + ")"); } else { @ResStrings.PAYMENT_METHOD_FOR_THIS_PAYMENT_ONLY_MSG }</div>
        </div>
    }
    <div id="divPaymentMethod" class="divRow" style="margin-top:20px;@if (Model.PaymentMethodID <= 0 && Model.PaymentID > 0) { @Html.Raw("display:none;"); }" >
        <label class="alignRight">@ResStrings.METHOD:</label>
        @if (ViewBag.AddSuccess != null)
        {
            <span class="notreq">&nbsp;</span>
            <span id="lblPaymentMethod" class="val">@DGUtils.FormatValue(Model.PaymentMethod)</span>
        }
        else
        {
            <span class="req">*</span>
            <a id="lnkSelectMethod" href="javascript:selectMethod();" class="dlgLink bold FloatLeft">
                @if (string.IsNullOrEmpty(Model.PaymentMethod) || Model.PaymentMethodID <= 0)
                {
                    for (int i = 0; i < methods.List.Count; i++)
                    {
                        if (ViewBag.AccountID != null && ViewBag.AccountID != 0)
                        {
                            if ((int)methods.List[i].AccountID == (int)ViewBag.AccountID)
                            {
                                @DGUtils.FormatValue(methods.List[i].AccountNumber + " - " + @methods.List[i].Nickname); break;
                            }
                        }
                        else 
                        {
                            if ((int)methods.List[i].AccountID == Model.PaymentMethodID)
                            {
                                @DGUtils.FormatValue(methods.List[i].AccountNumber + " - " + @methods.List[i].Nickname); break;
                            }
                        }
                    }
                }
                else
                {
                    @DGUtils.FormatValue(Model.PaymentMethod);
                }
            </a>
            <button type="button" class="ui-state-default ddDots" onclick="javascript:selectMethod();"><img src="~/Content/Images/Dots.png" alt="" /></button>
        }
        <input id="MethodID" type="hidden" value="@Model.PaymentMethodID" />
    </div>
    <input type="hidden" id="InvoiceIDs" value="@Model.InvoiceIDs" />
</div>

<!---------------------- Included Invoice List ------------------------------------------->
<div class="dlgPanel ezColorT1">
    <div class="dlgHeadingSub">@ResStrings.INVOICES_INCLUDED_PAYMENT</div>
    <div class="ddList">
        <table class="tblResults stripeMe">
            <thead>
                <tr>
                    <th>@DGUtils.ToTitleCase(ResStrings.NUMBER)</th>
                    <th style="text-align:center;">@DGUtils.ToTitleCase(ResStrings.DUE_DATE)</th>
                    <th style="text-align:center;">@DGUtils.ToTitleCase(ResStrings.DUE)</th>
                    <th style="width:500px;"></th>
                </tr>
            </thead>
            <tbody class="itemsList">
                @for (int i = 0; i < Model.Invoices.Count; i++)
                {
                    <tr>
                        <td class="NoPointer">@DGUtils.FormatValue(Model.Invoices[i].InvoiceNumber)</td>
                        <td class="alignRight NoPointer">@DGUtils.FormatValue(Model.Invoices[i].DueDate)</td>
                        <td class="alignRight NoPointer">@DGUtils.FormatValue(Model.Invoices[i].DueAmount, "C2")</td>
                        <td class="NoPointer"></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="ListItemCount">
    <span class="bold">@Model.Invoices.Count.ToString("n0")</span> @if (@Model.Invoices.Count == 1)
                                                                   { @ResStrings.LIST_ITEM }
                                                                   else
                                                                   { @ResStrings.LIST_ITEMS }
    </div>
</div>

<!---------------------- Payment Method Dialog ------------------------------------------->
<div id="dlgPaymentMethod" title="@DGUtils.ToTitleCase(ResStrings.SELECT_PAYMENT_METHOD)">
    <div class="ddList">
        <table class="lstSelectMethod">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th style="width:100%;">@DGUtils.ToTitleCase(ResStrings.METHOD)</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < methods.List.Count; i++)
                {
                    <tr id="selLo_@methods.List[i].AccountID">
                        <td id="selLoChk_@methods.List[i].AccountID"></td>
                        <td>
                            @methods.List[i].AccountNumber - @methods.List[i].Nickname
                        </td>
                    </tr>
                }
                <tr id="selLo_0">
                    <td id="selLoChk_0"></td>
                    <td>@ResStrings.USE_NEW_PAYMENT_METHOD</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!----------------------------- Cancel Payment ----------------------------->
<div id="dlgCancelPayment" title="@DGUtils.ToTitleCase(ResStrings.CANCEL_PAYMENT)">
    <div class="warningDiv">@ResStrings.CONFIRM_CANCEL_PAYMENT?</div>
</div>

@Html.Partial("MethodPartial", new DealerGateway.CustomerUI.Models.PaymentMethod())
