﻿@using DealerGateway.CustomerUI.Resources;
@using DealerGateway.CustomerUI.Domain;

@model DealerGateway.CustomerUI.Models.InvoiceItemList
@{
    ViewBag.Title = @ResStrings.PURCHASES;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {

        ButtonBarUISetup();

        SetupRowStripeing();
    });

    function SetupRowStripeing() {
        //Alternating row colors
        //
        $(".stripeMe tr:even").addClass("alt");
        $(".stripeMe tr").mouseover(function () {
            $(this).addClass("hover");
        });
        $(".stripeMe tr").mouseout(function () {
            $(this).removeClass("hover");
        });
    }

</script>

<style type="text/css">
    .itemsList tr td input {
        width:3em;
    }
</style>

<div class="buttonBar ezColorT2">
    <div class="btnBarItem">
        <a href="javascript:GoBack();">
            <img id="btnBack" src="~/Content/Images/Arrow-Left.png" alt="@ResStrings.BACK" title="@ResStrings.BACK" />
            <div>@ResStrings.BACK</div>
        </a>
    </div>
    <div class="btnBarItem">
        <a href="javascript:Print();">
            <img id="btnPrint" src="~/Content/Images/Print.png" alt="@ResStrings.PRINT" title="@ResStrings.PRINT" />
            <div>@ResStrings.PRINT</div>
        </a>
    </div>

    <div class="btnBarItemRight">
        <a href='@Url.Action("Index", "Gateway")'>
            <img id="btnHome" src="~/Content/Images/home.png" alt="@ResStrings.HOME" title="@ResStrings.HOME" />
            <div>@ResStrings.HOME</div>
        </a>
    </div>
</div>

<div class="dlgPanel ezColorT7 dlgTitleBar">
    <div>@Html.Raw(DGUtils.FormatTitle(ResStrings.PURCHASES))</div>
</div>

<div class="dlgPanel ezColorT1 minHeight100">
    <div class="dlgHeadingSub">@ViewBag.PurchaseListMonth</div>
    <div class="ddList">
        <table class="tblResults stripeMe">
            <thead>
                <tr>
                    <th>@DGUtils.ToTitleCase(ResStrings.NUMBER)</th>
                    <th>@DGUtils.ToTitleCase(ResStrings.TYPE)</th>
                    <th style="text-align:center;">@DGUtils.ToTitleCase(ResStrings.DATE)</th>
                    <th style="text-align:center;">@DGUtils.ToTitleCase(ResStrings.DUE_DATE)</th>
                    <th>@DGUtils.ToTitleCase(ResStrings.PO_NUMBER, false)</th>
                    <th style="text-align:center;">@DGUtils.ToTitleCase(ResStrings.INVOICE_TOTAL)</th>
                    <th style="text-align:center;">@DGUtils.ToTitleCase(ResStrings.DUE)</th>
                    <th>@ResStrings.STATUS</th>
                </tr>
            </thead>
            <tbody id="tbInvoiceList" class="itemsList">
                @for (int i = 0; i < Model.Invoices.Count; i++)
                {
                    <tr>
                        <td class="NoPointer">
                            @if (Globals.Configuration.Settings.OfferToEmailInvoicesIsTrue)
                            {
                                <a href="javascript:RequestInvoice(@Model.Invoices[i].InvoiceID, '@Model.Invoices[i].InvoiceNumber', @Model.Invoices[i].DocQInvoiceType);" class="bold">
                                    @DGUtils.FormatValue(@Model.Invoices[i].InvoiceNumber)
                                </a>
                            }
                            else
                            {
                                @DGUtils.FormatValue(@Model.Invoices[i].InvoiceNumber)
                            }
                        </td>
                        <td class="NoPointer">@DGUtils.FormatValue(@Model.Invoices[i].InvoiceType)</td>
                        <td class="alignRight NoPointer">@DGUtils.FormatValue(@Model.Invoices[i].InvoiceDate)</td>
                        <td class="alignRight NoPointer">@DGUtils.FormatValue(@Model.Invoices[i].InvoiceDueDate)</td>
                        <td class="NoPointer">@DGUtils.FormatValue(@Model.Invoices[i].PONumber)</td>
                        <td class="alignRight NoPointer">@DGUtils.FormatValue(Model.Invoices[i].InvoiceTotal, "C2")</td>
                        <td class="alignRight NoPointer">@DGUtils.FormatValue(@Model.Invoices[i].InvoiceDue, "C2")</td>
                        <td class="NoPointer">@DGUtils.FormatValue(@Model.Invoices[i].InvoiceStatus)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@Html.Partial("InvoiceRequestPartial")
