@using DealerGateway.CustomerUI.Resources;
@using DealerGateway.CustomerUI.Domain;

@model DealerGateway.CustomerUI.Models.InvoiceItemList
@{
    ViewBag.Title = @ResStrings.INVOICES;
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    ViewBag.Mode = Request.QueryString["mode"];
}

<script type="text/javascript">

    $(document).ready(function () {

        ButtonBarUISetup();

        $(".ezmark").ezMark();
        $(".ez-checkbox").css("float", "none");

        //The Add Items... button
        //
        $("#btnPayAmount").button();
        $("#btnPayAmount").click(function () {
            location.href = ''
        });

        $("#tbInvoiceList.itemsList input").change(function () {
            SetPayAmountValue();
        });

        //Alternating row colors
        //
        $(".stripeMe tr:even").addClass("alt");

        $(".itemsList tr td").addClass("NoPointer");

        SetPayAmountValue();
    });

    function SetPayAmountValue() {
        var vPayAmountTotal = parseFloat(0);
        var ids = '';
        $("#tbInvoiceList.itemsList input[type='checkbox']:checked").each(function () {
            vPayAmountTotal += parseFloat($(this).val());
            ids += $(this).attr('id').replace('chkPay_', '') + ',';
        });

        if (ids.length > 0)
            ids = ids.substr(0, ids.length - 1);

        if (vPayAmountTotal != 0) {
            $("#spnPayAmount").html(Globalize.format(vPayAmountTotal, "c"));
        }
        else
            $("#spnPayAmount").html("---");

        if (vPayAmountTotal > 0) {
            $("#btnPayAmount").removeAttr("disabled");
            $("#btnPayAmount").click(function () {
                if ('@ViewBag.Mode' == '1')
                    location.href = '@Url.Action("AllInvoicesPayment", "Account")' + '?ids=' + ids;
                else
                    location.href = '@Url.Action("RecentInvoicesPayment", "Account")' + '?ids=' + ids;
            });
        }
        else {
            $("#btnPayAmount").attr("disabled", "disabled");
            $("#btnPayAmount").click(function () {
                location.href = '';
            });
        }
    }
</script>

<div class="buttonBar ezColorT2">
    <div class="btnBarItem">
        <a href="javascript:window.location.href = '@Url.Action("Index", "Gateway")';">
            <img id="btnBack" src="~/Content/Images/Arrow-Left.png" alt="@ResStrings.BACK" title="@ResStrings.BACK" />
            <div>@ResStrings.BACK</div>
        </a>
    </div>
    <div class="btnBarItem">
        <a href="javascript:Print();">
            <img id="btnPrint" src="~/Content/Images/Print.png" alt="@ResStrings.PRINT_LIST" title="@ResStrings.PRINT_LIST" />
            <div>@ResStrings.PRINT</div>
        </a>
    </div>

    <div class="btnBarItemRight">
        <a href='@Url.Action("Index", "Gateway")'>
            <img id="btnHome" src="~/Content/Images/home.png" alt="@ResStrings.HOME" title="@ResStrings.HOME" />
            <div>@ResStrings.HOME</div>
        </a>
    </div>
</div>

<div class="dlgPanel ezColorT7 dlgTitleBar">
    <div>@Html.Raw(DGUtils.FormatTitle(ResStrings.INVOICES))</div>
</div>

<div id="divTileContainer" class="dlgPanel ezColorT1">
<div class="dlgHeadingSub">
    @Model.ListTitle
    @if (@Model.SearchText.Length > 0)
    {
        <span class="searchResultsLabel">@ResStrings.SEARCH_RESULTS_FOR <span class="bold">@Model.SearchText</span></span>
    }
</div>

    @if (Model.Invoices.Count == 0)
    {
        <div class="infoDiv">
            @ResStrings.NO_RESULTS_INVOICE_SEARCH
        </div>
    }
    else
    {
        <div class="ddList">
            <table class="tblResults stripeMe">
                <thead>
                    <tr>
                        <th>@DGUtils.ToTitleCase(ResStrings.NUMBER)</th>
                        <th>@DGUtils.ToTitleCase(ResStrings.TYPE)</th>
                        <th style="text-align:center;">@DGUtils.ToTitleCase(ResStrings.DATE)</th>
                        <th style="text-align:center;">@DGUtils.ToTitleCase(ResStrings.DUE_DATE)</th>
                        <th>@DGUtils.ToTitleCase(ResStrings.PO_NUMBER, false)</th>
                        <th style="text-align:center;">@DGUtils.ToTitleCase(ResStrings.INVOICE_TOTAL)</th>
                        <th style="text-align:center;">@DGUtils.ToTitleCase(ResStrings.DUE)</th>
                        @if (Globals.Configuration.Settings.CCVaultProviderIsSet)
                        {
                            <th style="text-align:center;">@DGUtils.ToTitleCase(ResStrings.PAY)</th>
                        }
                        <th>@DGUtils.ToTitleCase(ResStrings.STATUS)</th>
                    </tr>
                </thead>
                <tbody id="tbInvoiceList" class="itemsList">
                    @for (int i = 0; i < Model.Invoices.Count; i++)
                    {
                        <tr>
                            <td>
                                @if (Globals.Configuration.Settings.OfferToEmailInvoicesIsTrue)
                                {
                                    <a href="javascript:RequestInvoice(@Model.Invoices[i].InvoiceID, '@Model.Invoices[i].InvoiceNumber', @Model.Invoices[i].DocQInvoiceType);" class="bold">
                                        @DGUtils.FormatValue(@Model.Invoices[i].InvoiceNumber)
                                    </a>
                                }
                                else
                                {
                                    @DGUtils.FormatValue(@Model.Invoices[i].InvoiceNumber)
                                }
                            </td>
                            <td>@DGUtils.FormatValue(@Model.Invoices[i].InvoiceType)</td>
                            <td class="alignRight">@DGUtils.FormatValue(@Model.Invoices[i].InvoiceDate)</td>
                            <td class="alignRight">@DGUtils.FormatValue(@Model.Invoices[i].InvoiceDueDate)</td>
                            <td>@DGUtils.FormatValue(@Model.Invoices[i].PONumber)</td>
                            <td class="alignRight">@DGUtils.FormatValue(@Model.Invoices[i].InvoiceTotal, "C2")</td>
                            <td class="alignRight">@DGUtils.FormatValue(@Model.Invoices[i].InvoiceDue, "C2")</td>
                            @if (Globals.Configuration.Settings.CCVaultProviderIsSet)
                            {
                                <td class="alignCenter NoPointer">
                                    @if (Model.Invoices[i].PaymentID <= 0 && Model.Invoices[i].InvoiceDue != 0)
                                    {
                                        <input type="checkbox" value="@Model.Invoices[i].InvoiceDue" id="chkPay_@Model.Invoices[i].InvoiceID" class="ezmark" />
                                    }
                                    else
                                    {
                                        @Html.Raw("&nbsp;")
                                    }
                                </td>
                                <td class="NoPointer">
                                    @if (Model.Invoices[i].Editable)
                                    {
                                        if (ViewBag.Mode == "2") 
                                        {
                                            <a href='@Url.Action("PaymentEditRecentInvoices", "Account", new { id = Model.Invoices[i].PaymentID })' class="bold">
                                                @DGUtils.FormatValue(@Model.Invoices[i].InvoiceStatus)
                                            </a>
                                        }
                                        else
                                        {
                                            <a href='@Url.Action("PaymentEditAllInvoices", "Account", new { id = Model.Invoices[i].PaymentID })' class="bold">
                                                @DGUtils.FormatValue(@Model.Invoices[i].InvoiceStatus)
                                            </a>
                                        }
                                    }
                                    else
                                    {
                                        @DGUtils.FormatValue(@Model.Invoices[i].InvoiceStatus)
                                    }
                                </td>
                            }
                            else
                            {
                                <td class="NoPointer">
                                    @DGUtils.FormatValue(@Model.Invoices[i].InvoiceStatus)
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="ListItemCount">
            <span class="bold">@Model.Invoices.Count.ToString("n0")</span> @if (Model.Invoices.Count == 1)
                                                                           { @ResStrings.LIST_ITEM }
                                                                           else
                                                                           { @ResStrings.LIST_ITEMS }
        </div>
                                                                           if (Globals.Configuration.Settings.CCVaultProviderIsSet)
                                                                           {
            <div style="text-align:right;">
                <button id="btnPayAmount">@DGUtils.ToTitleCase(ResStrings.PAY): <span id="spnPayAmount" class="bold">@DGUtils.FormatValue(0, "C2")</span></button>
            </div>
                                                                           }
    }
</div>

@Html.Partial("InvoiceRequestPartial")
