﻿@using System.Globalization;
@using DealerGateway.CustomerUI.Domain;
@using DealerGateway.CustomerUI.Resources;

@model DealerGateway.CustomerUI.Models.Error

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutBlankTop.cshtml";
}
@{
    string severityCSSClass = "warningDiv";
}
@switch (Model.SeverityID)
    {
        case 0:
            severityCSSClass = "infoDiv";
            break;
        case 1:
            severityCSSClass = "successDiv";
            break;
        case 2:
            severityCSSClass = "warningDiv";
            break;
        case 3:
            severityCSSClass = "criticalDiv";
            break;
    }

<script type="text/javascript">

    $(document).ready(function () {

        ButtonBarUISetup();

    });
</script>

<div class="buttonBar ezColorT2">
    <div class="btnBarItem">
        <a href="javascript:GoBack();">
            <img id="btnBack" src="~/Content/Images/Arrow-Left.png" alt="@ResStrings.BACK" title="@ResStrings.BACK" />
            <div>@ResStrings.BACK</div>
        </a>
    </div>

    <div class="btnBarItemRight">
        <a href='@Url.Action("Index", "Gateway")'>
            <img id="btnHome" src="~/Content/Images/home.png" alt="@ResStrings.HOME" title="@ResStrings.HOME" />
            <div>@ResStrings.HOME</div>
        </a>
    </div>
</div>
<div class="dlgPanel ezColorT7 dlgTitleBar">
    <div>@Html.Raw(DGUtils.FormatTitle(ResStrings.ERROR))</div>
</div>

<div class="dlgPanel ezColorT1 minHeight100">
    <div class="dlgHeadingSub">@ResStrings.AN_ERROR_HAS_OCCURRED</div>

    <div class="@severityCSSClass">
        @Model.Message
    </div>
</div>

