﻿@using DealerGateway.CustomerUI.Domain;
@using DealerGateway.CustomerUI.Models;
@using DealerGateway.CustomerUI.Resources;

@using einfo;

@model DealerGateway.CustomerUI.Models.LocationList

@{
    ViewBag.Title = @DGUtils.ToTitleCase(ResStrings.SWITCH_LOCATION);
    Layout = "~/Views/Shared/_Layout.cshtml";

    Contact.Data contact = Contact.GetContactData(Globals.Environment.Session.ContactID);

    ViewBag.Mode = 0;

    if (Request.QueryString["mode"] != null)
        ViewBag.Mode = 1;

    var imgCheck = @Url.Content("~/Content/Images/checkMark.png");
    var imgNoCheck = @Url.Content("~/Content/Images/checkMark-Disabled.png");
}

<script type="text/javascript">

    $(document).ready(function () {

        //Alternating row colors
        //
        $(".stripeMe tr:even").addClass("alt");
        $(".tblResults tbody tr").mouseover(function () {
            $(this).addClass("over");
        });
        $(".tblResults tbody tr").mouseout(function () {
            $(this).removeClass("over");
        });

        //Prevent last column from wrapping
        //
        $(".stripeMe tr td:last").css("white-space", "nowrap");

        $("#tbLocationsList tr td").click(function () {
            var rID = $(this).closest("tr").attr("id").split("_");
            rID = rID[1];

            //First, remove all checkmarks
            $(".chkColumn").html("<img src='@imgNoCheck' alt='' />");
            $("#tbLocationsList tr").removeClass("bold");

            //Next, add the checkmark to the right row and bold it
            $("#row_" + rID + " td:first").html("<img src='@imgCheck' alt='' />");
            $("#row_" + rID).addClass("bold");

            $("#hidLocationID").val(rID);

            SaveLocation();
        });
    });

    function SaveLocation() {
        var locationID = 0;

        locationID = $("#hidLocationID").val();

        var location = { id: locationID };

        $.ajax({
            type: "POST",
            url: '@Url.Action("LocationSwitch", "Gateway")',
            data: JSON.stringify(location),
            datatype: "html",
            contentType: "application/json;charset=utf-8",
            success: function (msg) {
                $.cookie("SearchType", null, { path: '/' });
                window.location.href = '@Url.Action("Index", "Gateway")';
            },
            error: function (msg) {
                alert("The system encountered an error. The location switch was not saved. Please try the action again.");
            }
        });
    }

</script>

<style type="text/css">
    .rdoLabel {
        color:dimgray;
    }
    .divRow label{
        width:70px;
    }
    .tblResults td {
        vertical-align:middle;
    }
</style>

<div class="dlgPanel ezColorT7 dlgTitleBar">
    <div>@Html.Raw(DGUtils.FormatTitle(ResStrings.SWITCH_LOCATION))</div>
</div>

<div class="dlgPanel ezColorT1">
    <div class="dlgHeadingSub">@ResStrings.LOGGED_IN_AS</div>
    <div class="divRow">
        <label class="alignRight">@ResStrings.NAME:</label>
        <span class="notreq">&nbsp;</span>
        <div class="val">@contact.PrefFullName</div>
    </div>
    <div class="divRow">
        <label class="alignRight">@ResStrings.ADDRESS:</label>
        <span class="notreq">&nbsp;</span>
        <div class="val">@contact.Address<br />@contact.City @contact.State @contact.Zip</div>
    </div>
</div>

<div class="dlgPanel ezColorT1">
    <div class="dlgHeadingSub">@ResStrings.SELECT_DIFFERENT_LOCATION</div>
    <div class="white">@ResStrings.SWITCH_LOCATION_MSG</div>
            <div  class="ddList">
            <table class="tblResults stripeMe">
                <thead>
                    <tr>
                        <th></th>
                        <th style="width:50%;">@ResStrings.NAME</th>
                        <th style="width:50%;">@ResStrings.ADDRESS</th>
                    </tr>
                </thead>
                <tbody id="tbLocationsList" class="itemsList">
                    @for (int i = 0; i < Model.Locations.Count; i++)
                    {
                        <tr id="row_@Model.Locations[i].CustomerID" @if (Model.Locations[i].CurrentLocation && ViewBag.Mode == 0) { @Html.Raw("class='bold'")   }>
                            <td class="chkColumn">
                                @if (Model.Locations[i].CurrentLocation && ViewBag.Mode == 0)
                                { @Html.Raw("<img src='" + @Url.Content("~/Content/Images/checkMark.png") + "' alt='' />")}
                                else
                                {@Html.Raw("<img src='" + @Url.Content("~/Content/Images/checkMark-Disabled.png") + "' alt='' />")}
                            </td>
                            <td>@Model.Locations[i].Customer (@Model.Locations[i].CustomerNumber)</td>
                            @if (i == 0)
                            {
                                <td>@Model.Locations[i].Display / (Equipment - Service - Meters - Only)</td>
                            }
                            else
                            {
                                <td>@Model.Locations[i].Display</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <input type="hidden" id="hidLocationID" value="@for (int i = 0; i < Model.Locations.Count; i++)
        {
            if (Model.Locations[i].CurrentLocation)
            { 
                @Model.Locations[i].CustomerID
            }
        }" />
    <div class="clear"></div>
</div>
