﻿@using System.Configuration;
@using DealerGateway.CustomerUI.Domain;
@using DealerGateway.CustomerUI.Resources;

@model DealerGateway.CustomerUI.Models.LoginModel
@{
    //ViewBag.Title = "Login to Customer Gateway";
    Layout = "~/Views/Shared/_LayoutBlankTop.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {
        $("#UserName").focus();

        TileHover();
        PageStartupUI();

        $("#btnLogin").button();

        $("#dlgForgotPassword").dialog({
            modal: true,
            autoOpen: false,
            height: 250,
            width: 450,
            resizable: false,
            show: "blind",
            hide: "blind",
            buttons: {
                "@ResStrings.OK": function () {
                    if (ValidateControls() == true) {
                        RestorePassword($("#txtEmail").val());
                    }
                },
                "@ResStrings.CANCEL": function () {
                    $(this).dialog("close");
                }
            }
        });
        InitForgotPasswordDlg();
    });

    function InitForgotPasswordDlg() {
        $("#divFPWarning").hide();
        $("#divFPContent").show();
        $("#dlgForgotPassword").dialog("option", "buttons", {
            "@ResStrings.OK": function () {
                if (ValidateControls() == true) {
                    RestorePassword($("#txtEmail").val());
                }
            },
            "@ResStrings.CANCEL": function () {
                $(this).dialog("close");
            }
        });
    }

    function ForgotPassword() {
        InitForgotPasswordDlg();
        $("#dlgForgotPassword").dialog("open");
    }

    function RestorePassword(email) {
        var valueToPass = { EmailAddress: email };

        $.ajax({
            type: "POST",
            url: '@Url.Action("RestorePassword", "Gateway")',
            dataType: "json",
            data: JSON.stringify(valueToPass),
            contentType: "application/json;charset=utf-8",
            success: function (msg) {
                tmpStr = msg[1];
                if (msg[0] == "True") {
                    $("#divFPWarning").addClass("warningDiv");
                }
                else {
                    $("#divFPWarning").removeClass("warningDiv");
                }
                $('#divFPWarning').html(tmpStr);
                $("#divFPContent").hide();
                $("#divFPWarning").show();
                $("#dlgForgotPassword").dialog("option", "buttons", { "@ResStrings.OK": function () { $(this).dialog("close"); } });
            },
            error: function (json) {
                alert("@ResStrings.THE_SYSTEM_ENCOUNTERED_AN_ERROR_TRY_AGAIN");
            }
        });
    }

    function ValidateControls() {
        var isValid = true;

        // Validate Email
        var em = $('#txtEmail').val();
        if (em.length <= 0 || isValidEmailAddress(em) == false) {
            isValid = false;
            $('#txtEmail').attr('title', 'Please enter a valid email address');
            $('#txtEmail').addClass('inputErrorCondition');
        } else {
            $('#txtEmail').attr('title', '');
            $('#txtEmail').removeClass('inputErrorCondition');
        }

        return isValid;
    }

</script>

<style type="text/css">
    input.ui-button {
        padding: .4em 1em;
    }

    div.dlgContainer table tr td {
        border: none;
        background-color: transparent;
    }
</style>

<!-- Dealer Branding -->

     <div id="centerWrap">
    <div id="tileContainer2" class="" style="height: 345px; display: block;">

        <div class="container ezT8 ezColorT4">
            <div>
                <img src="/einfo/Content/Images/tileSimple.png">
                <!--<iframe src='@Url.Content(ViewBag.PagePath)' style="width:494px; height:238px; border:none;"></iframe>--> 
            </div>
        </div>

        <!--Search, Clock, and Calendar --CONTAINER-->
        <div class="div4sqContainer">
            <!-- Global Search -->
            <div class="ezT2 ezColorT5">
            </div>

            <!-- Clock & Calendar -->
            <div class="ezT1 ezColorT1" style="margin-bottom:0px;">
                <div id="divDigitalTime"></div>
                <div id="clockHolder">
                    <div class="rotatingWrapper"><img id="hour" src="~/Content/Images/hour.png" alt="" /></div>
                    <div class="rotatingWrapper"><img id="min" src="~/Content/Images/minute.png" alt="" /></div>
                    <div class="rotatingWrapper"><img id="sec" src="~/Content/Images/second.png" alt="" /></div>
                    <img id="clock" src="~/Content/Images/clock2.png" alt="" />
                </div>
            </div>
            <div class="ezT1 ezColorT3" style="margin-right:0px; margin-bottom:0px;">
                <div id="divCalHolder">
                    <div id="divCalDOW"></div>
                    <div id="divCalMonth"></div>
                    <div id="divCalDate"></div>
                </div>
            </div>
        </div>

        <!--Login-->
        <div class="ezT4 ezColorT1" style="position:relative;">
            @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
            {
                <div class="TileTitle">
                    @ResStrings.LOGIN
                </div>
                <div id="divLoginContainer">
                    <div class="divRow">
                        <label>@ResStrings.USER_NAME:</label>
                        @Html.TextBoxFor(m => m.UserName, new { @class = "loginInputs" })
                    </div>
                    <div class="divRow">
                        <label>@ResStrings.PASSWORD:</label>
                        @Html.PasswordFor(m => m.Password, new { @class = "loginInputs" })
                    </div>
                </div>
                <div style="text-align:right;padding:13px 0 0 0;">
                    <input id="btnLogin" type="submit" value="@ResStrings.LOG_IN" />
                </div>
            }
            <div style="position:absolute; bottom:4px; right:4px; text-align:right;">
                <a href="javascript:ForgotPassword();" class="white">@ResStrings.FORGOT_PASSWORD?</a><br /><br />
             <!--<a href='@Url.Action("Signup", "Gateway")' class="white">@ResStrings.NEW_USER_SIGNUP_MSG</a>-->
            </div>
        </div>

       
        <!-- Account Summary and Invoices --CONTAINER-->
      <div class="div4sqContainer">
            <!-- Account Summary -->
            <div class="ezT2 ezColorT4 alignCenter" style="margin-right:0px;">
<!--360App Link-->
                <a href="http://dahill.com/eXpressMeters/fmAudit-application.shtml">
                    <img src="/einfo/Content/Images/360_App.png">
                </a>
                    @if (Model.IsLocalRequest)
                    {
                        <a href='@Url.Action("Index", "DealerSettings")' style="margin-top:40px;" class="jBtn">@DGUtils.ToTitleCase(ResStrings.CONFIGURE_GATEWAY)...</a>
                    }
</div>

            @if (einfo.Utils.IsLocalRequest && !einfo.DB.Tools.DBRevisionIsCurrent)
            {
                <div class="ezT2 warningDiv" style="margin:0px; width:177px; height:98px;">
                    @ResStrings.DATABASE_REVISION_ISSUE
                    <a href='@Url.Action("Index", "DealerSettings")' style="margin-top:10px;" class="jBtn">@DGUtils.ToTitleCase(ResStrings.DETAILS)...</a>
                </div>
            }
            else
            {
                <div class="ezT2 ezColorT5 " style="margin-right:0px; margin-bottom:0px;">
                    <a href="http://www.dahill.com/recycling/">
                        <img src="/einfo/Content/Images/recycling.png">
                    </a>
                </div>
            }
        </div>
<!--Removign Extra Tiles from landing page-->
        <!-- Sales Order Status -->
<!--    <div class="ezT4 ezColorT5">
        </div>
--> 
        <!-- Service Summary -->
  <!--     <div class="ezT4 ezColorT5">
        </div>
      -->

        <!--Account Settings-->
      <!--  <div class="div4sqContainer" style="position:relative;">-->
            @Html.ValidationSummary(true, ResErrors.LOGIN_UNSUCCESSFUL_MSG)    
            <!-- Buttons -->
         <!--  <div class="ezT1 ezColorT5">
            </div>

            <div class="ezT1 ezColorT5" style="margin-right:0px;">
            </div>--> 
    

            <!-- Account Settings -->
        <!--   <div class="ezT2 ezColorT5 " style="margin-right:0px; margin-bottom:0px;">
            </div>--> 
        </div>
     
        @*Forgot Password Dialog
        *@
        <div id="dlgForgotPassword" title="@ResStrings.FORGOT_PASSWORD">
            <div id="dlgContainer" class="dlgContainer">
                <div id="divFPWarning" style="display:none;"></div>
                <div id="divFPContent">
                    <div>
                        @ResStrings.IF_YOU_HAVE_EMAIL_ACCOUNT_HEADING
                    </div>
                    <div class="divRow"></div>
                    <table>
                        <tr>
                            <td>@ResStrings.EMAIL:</td>
                            <td class="req">*</td>
                            <td><input type="text" id="txtEmail" style="width:300px;" /></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
         </div>


    <script type="text/javascript">
        var angleSec = 0;
        var angleMin = 0;
        var angleHour = 0;
        $(function () {
            $("#sec").rotate(angleSec);
            $("#min").rotate(angleMin);
            $("#hour").rotate(angleHour);

            // Update the clock every second
            setInterval('updateClock()', 1000);

            // Update the calendar every second
            setInterval('updateCalendar()', 60000);

            updateCalendar();
        });

        setInterval(function () {
            var d = new Date;

            angleSec = (d.getSeconds() * 6);
            $("#sec").rotate(angleSec);

            angleMin = (d.getMinutes() * 6);
            $("#min").rotate(angleMin);

            angleHour = ((d.getHours() * 5 + d.getMinutes() / 12) * 6);
            $("#hour").rotate(angleHour);

        }, 1000);

        function updateClock() {
            var currentTime = new Date();
            var currentHours = currentTime.getHours();
            var currentMinutes = currentTime.getMinutes();
            var currentSeconds = currentTime.getSeconds();

            // Pad the minutes and seconds with leading zeros, if required
            currentMinutes = (currentMinutes < 10 ? "0" : "") + currentMinutes;
            currentSeconds = (currentSeconds < 10 ? "0" : "") + currentSeconds;

            // Choose either "AM" or "PM" as appropriate
            var timeOfDay = (currentHours < 12) ? "AM" : "PM";

            // Convert the hours component to 12-hour format if needed
            currentHours = (currentHours > 12) ? currentHours - 12 : currentHours;

            // Convert an hours component of "0" to "12"
            currentHours = (currentHours == 0) ? 12 : currentHours;

            // Compose the string for display
            //var currentTimeString = currentHours + ":" + currentMinutes + ":" + currentSeconds + " " + timeOfDay;
            var currentTimeString = currentHours + ":" + currentMinutes + " " + timeOfDay;
            $("#divDigitalTime").html(currentTimeString);
        }

        function updateCalendar() {
            var d = new Date();
            var dow = "";

            // Get the name of the day of the week
            switch (d.getDay()) {
                case 0:
                    dow = "Sunday";
                    break;
                case 1:
                    dow = "Monday";
                    break;
                case 2:
                    dow = "Tuesday";
                    break;
                case 3:
                    dow = "Wednesday";
                    break;
                case 4:
                    dow = "Thursday";
                    break;
                case 5:
                    dow = "Friday";
                    break;
                case 6:
                    dow = "Saturday";
                    break;
            }

            var month = "";

            // Get the name of the month
            switch (d.getMonth()) {
                case 0:
                    month = "January";
                    break;
                case 1:
                    month = "February";
                    break;
                case 2:
                    month = "March";
                    break;
                case 3:
                    month = "April";
                    break;
                case 4:
                    month = "May";
                    break;
                case 5:
                    month = "June";
                    break;
                case 6:
                    month = "July";
                    break;
                case 7:
                    month = "August";
                    break;
                case 8:
                    month = "September";
                    break;
                case 9:
                    month = "October";
                    break;
                case 10:
                    month = "November";
                    break;
                case 11:
                    month = "December";
                    break;
            }

            // Set the values for display
            $('#divCalDOW').html(dow);
            $('#divCalDate').html(d.getDate());
            $('#divCalMonth').html(month);
        }


    </script>
