﻿@using DealerGateway.CustomerUI.Domain;
@using DealerGateway.CustomerUI.Resources;

@{
    ViewBag.Title = @ResStrings.MANAGE_ACCOUNT;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {
        ButtonBarUISetup();
    });

</script>

<style type="text/css">
    .itemsList tr td input {
        width:3em;
    }
</style>

<div class="buttonBar ezColorT2">
    <div class="btnBarItem">
        <a href="javascript:GoBack();">
            <img id="btnBack" src="~/Content/Images/Arrow-Left.png" alt="Back" title="Back" />
            <div>Back</div>
        </a>
    </div>
    <div class="btnBarItem">
        <a href='@Url.Action("Index", "Gateway")'>
            <img id="btnCancel" src="~/Content/Images/cancel.png" alt="Cancel" title="Cancel this equipment move order" />
            <div>Cancel</div>
        </a>
    </div>
    <div class="btnBarItem">
        <a href='@Url.Action("Index", "Gateway")'>
            <img id="btnSave" src="~/Content/Images/save.png" alt="Save" title="Save equipment move order" />
            <div>Save</div>
        </a>
    </div>

    <div class="btnBarItemRight">
        <a href='@Url.Action("Index", "Gateway")'>
            <img id="btnHome" src="~/Content/Images/home.png" alt="Home" title="Home" />
            <div>Home</div>
        </a>
    </div>
</div>

<div class="dlgPanel ezColorT1 minHeight100">
    <div class="divInfoHolder minHeight100">
        <div class="dlgHeadingSub">Change location:</div>
        <div class="divRow">
            <label>New location:</label>
            <span class="notreq">&nbsp;</span>
            <span>Customer number: AT00<br />Amanzi Tea<br />11 Freedom Court<br />Greer, SC  29650</span>
        </div>
    </div>
</div>

<div class="dlgPanel ezColorT1 minHeight100">
    <div class="divInfoHolder minHeight100">
        <div class="dlgHeadingSub">Brad, lo que pasa aquí?:</div>
    </div>
    <div class="divInfoHolder minHeight100">
        <div class="dlgHeadingSub">Brad, y lo que pasa aquí?:</div>
    </div>
</div>

<div class="dlgPanel ezColorT1 minHeight100">
    <div class="dlgHeadingSub">More management things go here:</div>
</div>



<script type="text/javascript">
</script>
