﻿@using DealerGateway.CustomerUI.Domain; 
@using DealerGateway.CustomerUI.Resources; 

@model DealerGateway.CustomerUI.Models.LoginModel
@{
    //ViewBag.Title = "Login to Customer Gateway";
    Layout = "~/Views/Shared/_LayoutBlankTop.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {
        TileHover();
        PageStartupUI();
        ButtonBarUISetup();

        //**************************************//
        if ($.cookie("SignupCompleteResult") == "False") {
            $("#subHeader").html("@DGUtils.ToTitleCase(ResErrors.YOUR_ACCOUNT_HAS_NOT_YET_BEEN_ACTIVATED)");
            $("#btnMsg").html("@ResStrings.SIGNUP_CLICK_BUTTON_NOT_ACTIVATED_MSG");
            $("#btnMain a div").html("@ResStrings.HOME");
            $("#btnMain a img").attr("alt", "@ResStrings.HOME");
            $("#btnMain a img").attr("title", "@ResStrings.HOME");
        }
        else {
            $("#subHeader").html("@DGUtils.ToTitleCase(ResStrings.SIGNUP_THANK_YOU_MSG)");
            $("#btnMsg").html("@ResStrings.SIGNUP_CLICK_BUTTON_MSG");
            $("#btnMain a div").html("@ResStrings.LOG_IN");
            $("#btnMain a img").attr("alt", "@ResStrings.LOG_IN");
            $("#btnMain a img").attr("title", "@ResStrings.LOG_IN");
        }

        $("#divSignupCompleteMessage").html($.cookie("SignupCompleteMessage"));
        $.cookie("SignupCompleteResult", null);
        $.cookie("SignupCompleteMessage", null);
    });
</script>

<style type="text/css">
    #tblContactInfo,
    #tblCompanyNumber,
    #tblPassword,
    #tblCompanySpecify {
        margin:0 0 0 50px;
    }
    
</style>

<div class="buttonBar ezColorT2">
    <div id="btnMain" class="btnBarItem">
        <a href='@Url.Action("Login","Gateway")'>
            <img id="btnLogin" src="~/Content/Images/Login.png" alt="@ResStrings.LOG_IN" title="@ResStrings.LOG_IN" style="border:none;" />
            <div>@ResStrings.LOG_IN</div>
        </a>
    </div>
</div>

<div class="dlgPanel ezColorT7 dlgTitleBar">
    <div>@Html.Raw(DGUtils.FormatTitle(ResStrings.SIGNUP_COMPLETE))</div>
</div>

<div class="dlgPanel ezColorT1 minHeight100">
    <div id="step-1">   
        <h2 id="subHeader" class="dlgHeadingSub white">@DGUtils.ToTitleCase(ResStrings.SIGNUP_THANK_YOU_MSG)</h2>
        <!-- step content -->
        <div style="padding:20px; color:#fff;">
            <div id="btnMsg" class="bold"></div>
            <div id="divSignupCompleteMessage" style="margin-top:20px;"></div>
        </div>
    </div>
</div>



