﻿@using DealerGateway.CustomerUI.Domain;
@using DealerGateway.CustomerUI.Resources;

@model string

@{
    ViewBag.Title = @ResStrings.THANK_YOU;
    Layout = "~/Views/Shared/_LayoutBlankTop.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        ButtonBarUISetup();
    });
</script>

<div class="dlgPanel ezColorT7 dlgTitleBar">
    <div>@Html.Raw(DGUtils.FormatTitle(ResStrings.THANK_YOU))</div>
</div>

<div class="dlgPanel ezColorT1 minHeight100">
    <div class="dlgHeadingSub">@ResStrings.SUCCESS</div>

    <div class="successDiv">
        @Model
    </div>
</div>

