﻿@{
    Layout = "";
}
    <link href="@Url.Content("~/Content/Theme-1/jquery-ui-1.8.21.custom.css")" rel="stylesheet" type="text/css" id="ssJQCustom" />
    <link href="@Url.Content("~/Content/CGBase.css")" rel="stylesheet" type="text/css" id="ssBrand" />
    <link href="@Url.Content("~/Content/Theme-1/CGBrand.css")" rel="stylesheet" type="text/css" id="ssBrand" />
    <link href="@Url.Content("~/Skins/AAA Busines Systems/CGBrand.css")" rel="stylesheet" type="text/css" id="ssBrand" />

    <script src="@Url.Content("~/Content/Scripts/CGMain.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/jquery.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/jquery-ui.min.js")" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".jBtn").button();
        });
    </script>

<div id="hostContainer" style="margin: 0 0 0 8px;">
    <div id="hostHeader">
        <div style="text-align:center;">
            <span class="shadowTextBig">Text Goes Here</span>
        </div>
        <div id="bannerHolder"><img src="~/Skins/AAA Business Systems/banner.gif" alt="" width="504" /></div>
    </div>

    <div class="clear"></div>
</div>

<div>
    <div class="ezT1" style="background-color:#015581; width:112px; height:112px;">
        <div class="TileTitle">
            1
        </div>
        <div class="alignCenter" style="padding-top:3px;">

        </div>
    </div>

    <div class="ezT1" style="background-color:#80AAC0; width:112px; height:112px;">
        <div class="TileTitle">
            2
        </div>
        <div class="alignCenter" style="padding-top:3px;">

        </div>
    </div>

    <div class="ezT1" style="background-color:#AEC8D6; width:112px; height:112px;">
        <div class="TileTitle">
            3
        </div>
        <div class="alignCenter" style="padding-top:3px;">

        </div>
    </div>

    <div class="ezT1" style="background-color:#758793; width:112px; height:112px;">
        <div class="TileTitle">
            4
        </div>
        <div class="alignCenter" style="padding-top:3px;">

        </div>
    </div>

    <div class="ezT1" style="background-color:#ABB8BF; width:112px; height:112px;">
        <div class="TileTitle">
            5
        </div>
        <div class="alignCenter" style="padding-top:3px;">

        </div>
    </div>

    <div class="ezT1" style="background-color:#DCE1E4; width:112px; height:112px;">
        <div class="TileTitle">
            6
        </div>
        <div class="alignCenter" style="padding-top:3px;">

        </div>
    </div>

    <div class="ezT1" style="background-color:#01314C; width:112px; height:112px;">
        <div class="TileTitle">
            7
        </div>
        <div class="alignCenter" style="padding-top:3px;">

        </div>
    </div>

    <div class="ezT1" style="background-color:#ffffff; width:112px; height:112px;">
        <div class="TileTitle">
            8
        </div>
        <div class="alignCenter" style="padding-top:3px;">

        </div>
    </div>
    <div style="clear:left;"></div>
</div>


<div>
    <div class="ezT1 ezColorT1">
        <div class="TileTitle">
            1
        </div>
        <div class="alignCenter" style="padding-top:3px;">

        </div>
    </div>

    <div class="ezT1 ezColorT2">
        <div class="TileTitle">
            2
        </div>
        <div class="alignCenter" style="padding-top:3px;">

        </div>
    </div>

    <div class="ezT1 ezColorT3">
        <div class="TileTitle">
            3
        </div>
        <div class="alignCenter" style="padding-top:3px;">

        </div>
    </div>

    <div class="ezT1 ezColorT4">
        <div class="TileTitle">
            4
        </div>
        <div class="alignCenter" style="padding-top:3px;">

        </div>
    </div>

    <div class="ezT1 ezColorT5">
        <div class="TileTitle">
            5
        </div>
        <div class="alignCenter" style="padding-top:3px;">

        </div>
    </div>

    <div class="ezT1 ezColorT6">
        <div class="TileTitle">
            6
        </div>
        <div class="alignCenter" style="padding-top:3px;">

        </div>
    </div>

    <div class="ezT1 ezColorT7">
        <div class="TileTitle">
            7
        </div>
        <div class="alignCenter" style="padding-top:3px;">

        </div>
    </div>

    <div class="ezT1 ezColorT8">
        <div class="TileTitle">
            8
        </div>
        <div class="alignCenter" style="padding-top:3px;">

        </div>
    </div>
    <div style="clear:left;"></div>
</div>

<div class="dlgPanel ezColorT7 dlgTitleBar">
    <div>&mdash; The Title Goes Here &mdash;</div>
</div>

<div class="dlgPanel ezColorT1 minHeight100">
    <div class="divInfoHolder minHeight100">
        <div class="dlgHeadingSub">Information</div>
        <div class="divRow">
            <label class="alignRight">Ordered by:</label>
            <span class="notreq">&nbsp;</span>
            <span id="lblOrderedBy">Frank Jones</span>
        </div>
        <div class="divRow">
            <label class="alignRight">Email:</label>
            <span class="notreq">&nbsp;</span>
            <span id="lblOrderedByEmail">frank@jones.com</span>
        </div>
        <div class="divRow">
            <label class="alignRight">PO number:</label>
            <span class="req">*</span>
            <span>
                <input type="text" maxlength="15" id="txtPONumber" /></span>
        </div>
    </div>
    <div class="divInfoHolder minHeight100">
        <div class="dlgHeadingSub">Order total</div>
        <div class="divRow">
            <label class="alignRight">Sub total:</label>
            <span class="notreq">&nbsp;</span>
            <span id="spanSubTotalTop">$2,345,678.90</span>
        </div>
        <div class="divRow">
            <label>&nbsp;</label>
            <span class="notreq">&nbsp;</span>
            <span style="font-weight: normal;">(Applicable freight and taxes will be added)</span>
        </div>
        <div class="divRow">
            <label class="alignRight">Comments:</label>
            <span class="notreq">&nbsp;</span>
            <span>
                <textarea id="txtComments" cols="30" rows="2" maxlength="255"></textarea></span>
        </div>
    </div>
</div>

<div class="dlgPanel ezColorT1">
    <div class="dlgHeadingSub">A list goes here</div>
    <div class="ddList">
        <table class="tblResults stripeMe">
            <thead>
                <tr>
                    <th>Name</th>
                    <th style="text-align:center;">Date</th>
                    <th style="text-align:center;">Number</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="itemList">
                <tr>
                    <td class="NoPointer">Brad</td>
                    <td class="alignRight nobreak NoPointer">@DateTime.Now.ToShortDateString()</td>
                    <td class="alignRight NoPointer">10</td>
                    <td class="NoPointer" style="width:60%;">&nbsp;</td>
                </tr>
                <tr>
                    <td class="NoPointer">Brian</td>
                    <td class="alignRight nobreak NoPointer">@DateTime.Now.AddMonths(-1).ToShortDateString()</td>
                    <td class="alignRight NoPointer">9</td>
                    <td class="NoPointer" style="width:60%;">&nbsp;</td>
                </tr>
                <tr>
                    <td class="NoPointer">Jack</td>
                    <td class="alignRight nobreak NoPointer">@DateTime.Now.AddMonths(-2).ToShortDateString()</td>
                    <td class="alignRight NoPointer">8</td>
                    <td class="NoPointer" style="width:60%;">&nbsp;</td>
                </tr>
            </tbody>
        </table>
        <div style="margin:10px 0 0 0;">
            <a id="btnShowMoreMeterHistory" class="jBtn whiteText" href="#">Button</a>
        </div>
    </div>
</div>

