﻿@using DealerGateway.CustomerUI.Domain;
@using DealerGateway.CustomerUI.Resources;

@model IEnumerable<DealerGateway.CustomerUI.Models.User>

@{
    ViewBag.Title = @DGUtils.ToTitleCase(ResStrings.USER_MANAGEMENT);
    Layout = "~/Views/Shared/_Layout.cshtml";

    int userCount = 0;
}

<script type="text/javascript">

    $(document).ready(function () {

        ButtonBarUISetup();

        $("#chkShowInactive").click(function () {
            UpdateUserList();
        });

        $(".ezmark").ezMark();

        UpdateUserList();
    });

    function UpdateUserList() {
        var includeInactive = $("#chkShowInactive").prop('checked') ? 'true' : 'false';

        $.ajax({
            url: '@Url.Action("Users", "UserManagement")' + '?IncludeInactive=' + includeInactive + '&ObjectOnly=true',
            type: "POST",
            dataType: 'json',
            contentType: "application/json;charset=utf-8",
            success: PopulateUserList
        });
    }

    function PopulateUserList(list) {
        var str = "";
        if (list.length == 0) {
            str = "<div class='infoDiv'>";
            str += "@ResStrings.THERE_ARE_NO_USERS_TO_DISPLAY";
            str += "</div>";
        }
        else {
            var userCount = 0;
            str += "<div class='ddList'>";
            str += "<table class='tblResults stripeMe'>";
            str += "<thead>";
            str += "<tr>";
            str += "<th>@DGUtils.ToTitleCase(ResStrings.FIRST_NAME)</th>";
            str += "<th>@DGUtils.ToTitleCase(ResStrings.LAST_NAME)</th>";
            str += "<th>@DGUtils.ToTitleCase(ResStrings.EMAIL)</th>";
            str += "<th>@DGUtils.ToTitleCase(ResStrings.PHONE_NUMBER)</th>";
            str += "<th>@DGUtils.ToTitleCase(ResStrings.ADDRESS)</th>";
            str += "<th>@DGUtils.ToTitleCase(ResStrings.CONTACT_NUMBER)</th>";
            str += "</tr>";
            str += "</thead>";
            str += "<tbody id='tbUserList' class='itemsList'>";
            for (i = 0; i < list.length; i++) {
                str += "<tr id='rowID_" + list[i]["UserID"] + "'>";
                str += "<td class='bold'>" + FormatValue(list[i]["FirstName"]) + "</td>";
                str += "<td class='bold'>" + FormatValue(list[i]["LastName"]) + "</td>";
                str += "<td>" + FormatValue(list[i]["Email"]) + "</td>";
                str += "<td>" + FormatValue(list[i]["Phone"]) + "</td>";
                str += "<td>" + FormatValue(list[i]["FullAddress"]) + "</td>";
                str += "<td>" + FormatValue(list[i]["ContactNumber"]) + "</td>";
                userCount++;
            }
            str += "</tbody>";
            str += "</table>";
            str += "</div>";
            str += "<div class='ListItemCount'>";
            str += "<span class='bold'>" + FormatValue(userCount) + "</span> ";
            if (userCount == 1)
                str += '@ResStrings.LIST_ITEM';
            else
                str += '@ResStrings.LIST_ITEMS';
            str += "</div>";
        }

        $("#divList").html(str);

        $(".stripeMe tr:even").addClass("alt");
        $(".tblResults tbody tr").mouseover(function () {
            $(this).addClass("over");
        });
        $(".tblResults tbody tr").mouseout(function () {
            $(this).removeClass("over");
        });
        $("#tbUserList tr").click(function () {
            window.location.href = '@Url.Action("UserProfile", "UserManagement")' + '/' + $(this).attr("id").split("_")[1];
        });
    }
</script>

<div class="buttonBar ezColorT2">
    <div class="btnBarItem">
        <a href="javascript:GoBack();">
            <img id="btnBack" src="~/Content/Images/Arrow-Left.png" alt="@ResStrings.BACK" title="@ResStrings.BACK" />
            <div>@ResStrings.BACK</div>
        </a>
    </div>
    <div class="btnBarItem">
        <a href='@Url.Action("UserProfile", "UserManagement")'>
            <img id="btnAdd" src="~/Content/Images/UserAdd.png" alt="@ResStrings.ADD" title="@ResStrings.ADD_USER" />
            <div>@ResStrings.ADD</div>
        </a>
    </div>
    <div class="btnBarItem">
        <a href="javascript:Print();">
            <img id="btnPrint" src="~/Content/Images/Print.png" alt="@ResStrings.PRINT_LIST" title="@ResStrings.PRINT_LIST" />
            <div>@ResStrings.PRINT</div>
        </a>
    </div>

    <div class="btnBarItemRight">
        <a href='@Url.Action("Index", "Gateway")'>
            <img id="btnHome" src="~/Content/Images/home.png" alt="@ResStrings.HOME" title="@ResStrings.HOME" />
            <div>@ResStrings.HOME</div>
        </a>
    </div>
</div>

<div class="dlgPanel ezColorT7 dlgTitleBar">
    <div>@Html.Raw(DGUtils.FormatTitle(ResStrings.USER_MANAGEMENT))</div>
</div>

<div id="divTileContainer" class="dlgPanel ezColorT1" style="position:relative;">
<div class="dlgHeadingSub"><span >@ResStrings.USERS </span></div>
    <div style="position:absolute; right:10px; top:6px;">
        <input type="checkbox" id="chkShowInactive" name="chkChangePassword" class="ezmark" />
        <label class="rdoLabel white" for="chkShowInactive">@ResStrings.SHOW_INACTIVE_USERS</label>
    </div>
    <div id="divList"></div>
</div>


