@using DealerGateway.CustomerUI.Domain; 
@using DealerGateway.CustomerUI.Resources; 

@model DealerGateway.CustomerUI.Models.User

@{
    ViewBag.Title = @DGUtils.ToTitleCase(ResStrings.USER_PROFILE);
    Layout = "~/Views/Shared/_Layout.cshtml";

    bool IsEditingSelf = Model.UserID == Globals.Environment.Session.ContactID;
}

<script type="text/javascript">

    $(document).ready(function () {

        ButtonBarUISetup();

        $(".tinyButton").button();

        $("#tblContactInfo tr td:first-child").addClass("nobreak");
        $('#tblContactInfo tr>td:nth-child(3)').addClass("width100");
        $("#tblContactInfo tr td").css("vertical-align", "top");

        $("#tblAddressInfo tr td:first-child").addClass("nobreak");
        $('#tblAddressInfo tr>td:nth-child(3)').addClass("width100");
        $("#tblAddressInfo tr td").css("vertical-align", "top");

        $("#tblPasswordInfo tr td:first-child").addClass("nobreak");
        $('#tblPasswordInfo tr>td:nth-child(4)').addClass("nobreak");
        $('#tblPasswordInfo tr>td:nth-child(3)').addClass("width100");
        $("#tblPasswordInfo tr td").css("vertical-align", "top");

        $(".ezmark").ezMark();
        $(".ez-checkbox").css("float", "none");

        $("#tblPasswordInfo").hide();
        $("#chkChangePassword").change(function () {
            $("#tblPasswordInfo").toggle();
            if ($(this).prop("checked")) {
                $("#txtCurrentPassword").focus();
            }
        });

        if ($("#chkChangePassword").is(":checked")) {
            $("#tblPasswordInfo").toggle();
        }
    });

    function SaveUser() {
        aryWarning.length = 0;
        $("#divValidation").hide();

        ValidateControls();

        if (isValid) {
            if ($("#chkChangePassword").is(":checked")) {
                //validate password first
                if ("@IsEditingSelf" == "True") {
                    ValidateCurrentPassword();
                }
                else {
                    PerformSave();
                }
            }
            else {
                //things seem ok.  go ahead and save.
                PerformSave();
            }
        }
        else {
            DisplayWarningMsg();
        }
    }

    var aryWarning = new Array();
    var isValid = true;

    function DisplayWarningMsg() {
        if (aryWarning.length > 0) {
            var str = "";
            str += "<ul style='margin:0;'>";
            for (var i = 0; i < aryWarning.length; i++) {
                str += "<li>";
                str += aryWarning[i];
                str += "</li>";
            }
            str += "</ul>";
            $("#divValidation").html(str);
            $("#divValidation").show("fade", 3000);
        }
    }

    function PerformSave() {
        var chkPassword = 1;
        var chkActive = 1;
        if ($("#chkChangePassword").is(':checked')) {
            chkPassword = 1;
        }
        else {
            chkPassword = 0;
        }

        if ($("#chkActive").length > 0) {
            if ($("#chkActive").is(':checked')) {
                chkActive = 1;
            }
            else {
                chkActive = 0;
            }
        }
        else {
            chkActive = 1;
        }

        var linkedCustomerIDs = '';
        var features = '';
        if ("@IsEditingSelf" != "True") {
            $('.LinkedCustomers').each(function () {
                if ($(this).prop('checked')) {
                    var customerID = $(this).prop('id').replace('chkLink_', '');
                    linkedCustomerIDs += customerID + ',';

                    $('.Features_' + customerID).each(function () {
                        var featureID = $(this).prop('id').replace('chk_' + customerID + '_', '');
                        if ($(this).prop('checked')) {

                            features += featureID + ':1:' + customerID + ',';
                        }
                        else {
                            features += featureID + ':0:' + customerID + ',';
                        }
                    });
                }
            });
        }

        var valuesToPass = {
            UserID: $("#txtID").val(),
            FirstName: $("#txtFirstName").val(),
            LastName: $("#txtLastName").val(),
            Email: $("#txtContactEmail").val(),
            Phone: $("#txtPhoneNumber").val(),
            Address: $("#txtAddress").val(),
            City: $("#txtCity").val(),
            State: $("#txtState").val(),
            Zip: $("#txtZip").val(),
            ChangePassword: chkPassword,
            CurrentPassword: $("#txtCurrentPassword").val(),
            NewPassword: $("#txtNewPassword").val(),
            Active: chkActive,
            LinkedCustomers: linkedCustomerIDs,
            CustomerFeatures: features
        };

        $.ajax({
            type: "POST",
            url: '@Url.Action("UserProfileSave", "UserManagement")',
            data: JSON.stringify(valuesToPass),
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function (response) {
                if (response.IsSuccess) {
                    if ("@IsEditingSelf" == "True") {
                        window.location.href = '@Url.Action("Index", "Gateway")';
                    } else {
                        window.location.href = '@Url.Action("Users", "UserManagement")';
                    }
                }
                else {
                    isValid = false;
                    aryWarning.push(response.ResponseMessage);
                    DisplayWarningMsg();
                }
            },
            error: function () {
                alert("@ResStrings.THE_SYSTEM_ENCOUNTERED_AN_ERROR_TRY_AGAIN");
            }
        });
    }

    function ValidateControls() {
        isValid = true;

        // Validate FirstName
        var fn = $('#txtFirstName').val();
        if (fn.length <= 0) {
            isValid = false;
            aryWarning.push("@ResErrors.ENTER_FIRST_NAME");
        }

        // Validate LastName
        var ln = $('#txtLastName').val();
        if (ln.length <= 0) {
            isValid = false;
            aryWarning.push("@ResErrors.ENTER_LAST_NAME");
        }

        // Validate PhoneNumber
        var pn = $('#txtPhoneNumber').val();
        if (pn.length <= 0) {
            isValid = false;
            aryWarning.push("@ResErrors.ENTER_PHONE");
        }
        else if (!PhoneNumberIsValid($("#txtPhoneNumber").val())) {
            isValid = false;
            aryWarning.push("@ResErrors.ENTER_PHONE_NUMBER_FORMAT_MSG");
        }

        // Validate Email
        var em = $('#txtContactEmail').val();
        if (em.length <= 0 || !isValidEmailAddress(em)) {
            isValid = false;
            aryWarning.push("@ResErrors.ENTER_EMAIL");
        }

        // Validate Address
        var ca = $('#txtAddress').val();
        if (!ca && ca.length <= 0) {
            isValid = false;
            aryWarning.push("@ResErrors.ENTER_ADDRESS");
        }

        // Validate City
        var cc = $('#txtCity').val();
        if (!cc && cc.length <= 0) {
            isValid = false;
            aryWarning.push("@ResErrors.ENTER_CITY");
        }

        // Validate State
        var cs = $('#txtState').val();
        if (!cs && cs.length <= 0) {
            isValid = false;
            aryWarning.push("@ResErrors.ENTER_STATE");
        }

        // Validate Zip
        var cz = $('#txtZip').val();
        if (!cz && cz.length <= 0 || !isValidZipCode(cz)) {
            isValid = false;
            aryWarning.push("@ResErrors.ENTER_ZIP");
        }

        // Linked Customers
        if ("@IsEditingSelf" != "True") {
            var customerFound = false;
            $('.LinkedCustomers').each(function () {
                if ($(this).prop('checked')) {
                    customerFound = true;
                }
            });
            if (!customerFound) {
                isValid = false;
                aryWarning.push("@ResErrors.ASSOCIATE_CUSTOMER");
            }
        }

        if ($("#chkChangePassword").is(":checked")) {
            // validate current password
            if ("@IsEditingSelf" == "True") {
                var pw = $('#txtCurrentPassword').val();
                if (pw.length <= 4) {
                    isValid = false;
                    aryWarning.push("@ResErrors.PASSWORD_REQUIRED_WHEN_SETTING_NEW");
                }
            }

            // validate new password
            var pw = $('#txtNewPassword').val();
            if (pw.length <= 4) {
                isValid = false;
                aryWarning.push("@ResErrors.ENTER_PASSWORD_LENGTH_5" + " (" + "@ResStrings.NEW_PASSWORD" + ")");
            }

            // validate confirm password
            var cpw = $('#txtConfirmPassword').val();
            if (cpw.length <= 4) {
                isValid = false;
                aryWarning.push("@ResErrors.ENTER_PASSWORD_LENGTH_5" + " (" + "@ResStrings.CONFIRM_PASSWORD" + ")");
            }

            // validate password match
            if (pw && pw.length > 4 && cpw && cpw.length > 4) {
                if (pw != cpw) {
                    isValid = false;
                    aryWarning.push("@ResErrors.PASSWORDS_MUST_MATCH");
                }
            }
        }

        return isValid;
    }

    function ValidateCurrentPassword() {
        var valuesToPass = {
            sWebLogin: $('#txtContactEmail').val(),
            sCurrentPassword: $('#txtCurrentPassword').val()
        };

        $.ajax({
            type: "POST",
            url: '@Url.Action("ValidateCurrentPassword", "UserManagement")',
            data: JSON.stringify(valuesToPass),
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function (response) {
                if (response == true) {
                    PerformSave('@Url.Action("Index", "Gateway")');
                }
                else {
                    isValid = false;
                    aryWarning.push("@ResErrors.CURRENT_PASSWORD_DOES_NOT_VALIDATE");
                }
            },
            complete: function (response) {
                if (response.responseText == "false") {
                    DisplayWarningMsg();
                }
            },
            error: function () {
                alert("@ResStrings.THE_SYSTEM_ENCOUNTERED_AN_ERROR_TRY_AGAIN");
            }
        });
    }

    function ShowRow(checkbox, className) {
        if ($(checkbox).prop("checked"))
            $('.' + className).css('visibility', 'visible');
        else
            $('.' + className).css('visibility', 'hidden');
    }
</script>

<style type="text/css">
    #tblContactInfo,
    #tblPasswordInfo,
    #tblAddressInfo {
        color:#fff;
    }

    .labelFix {
        padding-top:6px;
    }
    
</style>

<div class="buttonBar ezColorT2">
    <div class="btnBarItem btnBarPink">
        <a href='javascript:GoBack();'>
            <img id="btnCancel" src="~/Content/Images/cancel.png" alt="@ResStrings.CANCEL" title="@ResStrings.CANCEL" />
            <div>@ResStrings.CANCEL</div>
        </a>
    </div>
    <div class="btnBarItem btnBarGreen">
        <a href="javascript:SaveUser();">
            <img id="btnSave" src="~/Content/Images/save.png" alt="@ResStrings.SAVE" title="@ResStrings.SAVE" />
            <div>@ResStrings.SAVE</div>
        </a>
    </div>
</div>

<div class="dlgPanel ezColorT7 dlgTitleBar">
    <div>
        @Html.Raw(DGUtils.FormatTitle(ViewBag.PageTitle))
    </div>
</div>

<!----------------------------- Validation ----------------------------->
<div id="divValidation" class="warningDiv" style="display:none; margin-right:8px;"></div>

<input type="hidden" id="txtID" value="@Model.UserID" />
<div class="dlgPanel ezColorT1 minHeight100">
    <div class="divInfoHolder">
        <div class="dlgHeadingSub">@ResStrings.CONTACT_INFORMATION</div>
        <table id="tblContactInfo" style="width:100%;">
            <tr>
                <td class="alignRight labelFix">@ResStrings.FIRST_NAME:</td>
                <td><span class="req labelFix">*</span></td>
                <td><input type="text" id="txtFirstName" class="bold" style="width:200px;" value="@Model.FirstName" /></td>
            </tr>
            <tr>
                <td class="alignRight labelFix">@ResStrings.LAST_NAME:</td>
                <td><span class="req labelFix">*</span></td>
                <td><input type="text" id="txtLastName" class="bold" style="width:200px;" value="@Model.LastName" /></td>
            </tr>
            <tr>
                <td class="alignRight labelFix">@ResStrings.EMAIL:</td>
                <td><span class="req labelFix">*</span></td>
                <td><input type="text" id="txtContactEmail" class="bold" style="width:100%;" value="@Model.Email" /></td>
            </tr>
            <tr>
                <td class="alignRight labelFix">@ResStrings.PHONE_NUMBER:</td>
                <td><span class="req labelFix">*</span></td>
                <td><input type="text" id="txtPhoneNumber" class="bold" style="width:200px;" value="@Model.Phone" /></td>
            </tr>
            <tr><td colspan="3">&nbsp;</td></tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>
                    @if (Model.UserID != Globals.Environment.Session.ContactID && Model.UserID != 0)
                    {
                        <div><input type="checkbox" id="chkActive" name="chkActive" class="ezmark" @if (Model.Active) { @Html.Raw("checked='checked'"); } /><label class="rdoLabel white" for="chkActive">@ResStrings.ACTIVE</label></div>
                    }
                </td>
            </tr>
        </table>

    </div>
    <div class="divInfoHolder">
        <div class="dlgHeadingSub">@ResStrings.ADDRESS</div>
        <table id="tblAddressInfo" style="width:100%;">
            <tr>
                <td class="alignRight labelFix">@ResStrings.ADDRESS:</td>
                <td><span class="req labelFix">*</span></td>
                <td><textarea id="txtAddress" class="bold" style="width:100%; height:47px;" >@Model.Address</textarea></td>
            </tr>
            <tr>
                <td class="alignRight labelFix">@ResStrings.CITY:</td>
                <td><span class="req labelFix">*</span></td>
                <td><input type="text" id="txtCity" class="bold" style="width:200px;" value="@Model.City" /></td>
            </tr>
            <tr>
                <td class="alignRight labelFix">@ResStrings.STATE:</td>
                <td><span class="req labelFix">*</span></td>
                <td><input type="text" id="txtState" class="bold" style="width:100px;" value="@Model.State" /></td>
            </tr>
            <tr>
                <td class="alignRight labelFix">@ResStrings.ZIP:</td>
                <td><span class="req labelFix">*</span></td>
                <td><input type="text" id="txtZip" class="bold" style="width:100px;" value="@Model.Zip" /></td>
            </tr>
        </table>
    </div>
</div>

@if (Model.UserID != Globals.Environment.Session.ContactID)
{
            
    <div class="dlgPanel ezColorT1">
        <div class="dlgHeadingSub">@ResStrings.CUSTOMER_ASSOCIATIONS_AND_WEB_ACCESS </div>
            <div class="ddList">
            <table id="tblCust" class="tblResults stripeMe">
                <thead>
                    <tr>
                        <th style="width:45px; text-align:center;">@DGUtils.ToTitleCase(ResStrings.LINKED)</th>
                        <th>@DGUtils.ToTitleCase(ResStrings.CUSTOMER)</th>
                        <th>@DGUtils.ToTitleCase(ResStrings.ADDRESS)</th>
                        <th style="width:45px; text-align:center;">@Html.Raw(DGUtils.ToTitleCase(ResStrings.EQUIPMENT).Replace(" ", "</br>"))</th>
                        <th style="width:45px; text-align:center;">@Html.Raw(DGUtils.ToTitleCase(ResStrings.SALES_ORDERS).Replace(" ", "</br>"))</th>
                        <th style="width:45px; text-align:center;">@Html.Raw(DGUtils.ToTitleCase(ResStrings.SERVICE_CALLS).Replace(" ", "</br>"))</th>
                        <th style="width:45px; text-align:center;">@Html.Raw(DGUtils.ToTitleCase(ResStrings.METER_ENTRY).Replace(" ", "</br>"))</th>
                        <th style="width:45px; text-align:center;">@Html.Raw(DGUtils.ToTitleCase(ResStrings.ACCOUNT_HISTORY).Replace(" ", "</br>"))</th>
                        <th style="width:45px; text-align:center;">@Html.Raw(DGUtils.ToTitleCase(ResStrings.SERVICE_HISTORY).Replace(" ", "</br>"))</th>
                        <th style="width:45px; text-align:center;">@Html.Raw(DGUtils.ToTitleCase(ResStrings.ORDER_BY_CATEGORY).Replace(" ", "</br>"))</th>
                        <th style="width:45px; text-align:center;">@Html.Raw(DGUtils.ToTitleCase(ResStrings.USER_MANAGEMENT).Replace(" ", "</br>"))</th>
                    </tr>
                </thead>
                <tbody id="tbUserList2" class="itemsList">
                    @for (int i = 0; i < Model.Customers.Count; i++)
                    {
                    <tr id="rowIDCust_">
                            <td class="NoPointer alignCenter"><input type="checkbox" id="chkLink_@Model.Customers[i].CustomerID" class="ezmark LinkedCustomers" @if(Model.Customers[i].Linked) { @Html.Raw("checked='checked'"); } onclick="ShowRow(this, 'row_@Model.Customers[i].CustomerID');" /></td>
                            <td class="NoPointer nobreak">@Model.Customers[i].Customer</td>
                            <td class="NoPointer nobreak">@Model.Customers[i].Address</td>
                            <td class="NoPointer alignCenter">
                                <span class="row_@Model.Customers[i].CustomerID" @if (!Model.Customers[i].Linked) { @Html.Raw(" style='visibility:hidden;'"); }>
                                    @if (Model.Customers[i].EquipmentRight.HasValue)
                                    {
                                        <input type="checkbox" id="chk_@(Model.Customers[i].CustomerID)_Equipment" class="ezmark Features_@Model.Customers[i].CustomerID" @if(Model.Customers[i].Linked && Model.Customers[i].EquipmentRight.Value) { @Html.Raw("checked='checked'"); } />
                                    }
                                </span>
                            </td>
                            <td class="NoPointer alignCenter">
                                <span class="row_@Model.Customers[i].CustomerID" @if (!Model.Customers[i].Linked) { @Html.Raw(" style='visibility:hidden;'"); }>
                                    @if (Model.Customers[i].SalesOrdersRight.HasValue)
                                    {
                                        <input type="checkbox" id="chk_@(Model.Customers[i].CustomerID)_SalesOrders" class="ezmark Features_@Model.Customers[i].CustomerID" @if(Model.Customers[i].Linked && Model.Customers[i].SalesOrdersRight.Value) { @Html.Raw("checked='checked'"); } />
                                    }
                                </span>
                            </td>
                            <td class="NoPointer alignCenter">
                                <span class="row_@Model.Customers[i].CustomerID" @if (!Model.Customers[i].Linked) { @Html.Raw(" style='visibility:hidden;'"); }>
                                    @if (Model.Customers[i].ServiceCallsRight.HasValue)
                                    {
                                        <input type="checkbox" id="chk_@(Model.Customers[i].CustomerID)_ServiceCalls" class="ezmark Features_@Model.Customers[i].CustomerID" @if(Model.Customers[i].Linked && Model.Customers[i].ServiceCallsRight.Value) { @Html.Raw("checked='checked'"); }  />
                                    }
                                </span>
                            </td>
                            <td class="NoPointer alignCenter">
                                <span class="row_@Model.Customers[i].CustomerID" @if (!Model.Customers[i].Linked) { @Html.Raw(" style='visibility:hidden;'"); }>
                                    @if (Model.Customers[i].MeterEntryRight.HasValue)
                                    {
                                        <input type="checkbox" id="chk_@(Model.Customers[i].CustomerID)_MeterEntry" class="ezmark Features_@Model.Customers[i].CustomerID" @if(Model.Customers[i].Linked && Model.Customers[i].MeterEntryRight.Value) { @Html.Raw("checked='checked'"); } />
                                    }
                                </span>
                            </td>
                            <td class="NoPointer alignCenter">
                                <span class="row_@Model.Customers[i].CustomerID" @if (!Model.Customers[i].Linked) { @Html.Raw(" style='visibility:hidden;'"); }>
                                    @if (Model.Customers[i].AccountHistoryRight.HasValue)
                                    {
                                        <input type="checkbox" id="chk_@(Model.Customers[i].CustomerID)_AccountHistory" class="ezmark Features_@Model.Customers[i].CustomerID" @if(Model.Customers[i].Linked && Model.Customers[i].AccountHistoryRight.Value) { @Html.Raw("checked='checked'"); } />
                                    }
                                </span>
                            </td>
                            <td class="NoPointer alignCenter">
                                <span class="row_@Model.Customers[i].CustomerID" @if (!Model.Customers[i].Linked) { @Html.Raw(" style='visibility:hidden;'"); }>
                                    @if (Model.Customers[i].ServiceHistoryRight.HasValue)
                                    {
                                        <input type="checkbox" id="chk_@(Model.Customers[i].CustomerID)_ServiceHistory" class="ezmark Features_@Model.Customers[i].CustomerID" @if(Model.Customers[i].Linked && Model.Customers[i].ServiceHistoryRight.Value) { @Html.Raw("checked='checked'"); } />
                                    }
                                </span>
                            </td>
                            <td class="NoPointer alignCenter">
                                <span class="row_@Model.Customers[i].CustomerID" @if (!Model.Customers[i].Linked) { @Html.Raw(" style='visibility:hidden;'"); }>
                                    @if (Model.Customers[i].OrderByCategoryRight.HasValue)
                                    {
                                        <input type="checkbox" id="chk_@(Model.Customers[i].CustomerID)_OrderByCategory" class="ezmark Features_@Model.Customers[i].CustomerID" @if(Model.Customers[i].Linked && Model.Customers[i].OrderByCategoryRight.Value) { @Html.Raw("checked='checked'"); } />
                                    }
                                </span>
                            </td>
                            <td class="NoPointer alignCenter">
                                <span class="row_@Model.Customers[i].CustomerID" @if (!Model.Customers[i].Linked) { @Html.Raw(" style='visibility:hidden;'"); }>
                                    @if (Model.Customers[i].UserManagementRight.HasValue)
                                    {
                                        <input type="checkbox" id="chk_@(Model.Customers[i].CustomerID)_UserManagement" class="ezmark Features_@Model.Customers[i].CustomerID" @if(Model.Customers[i].Linked && Model.Customers[i].UserManagementRight.Value) { @Html.Raw("checked='checked'"); } />
                                    }
                                </span>
                            </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}


<div class="dlgPanel ezColorT1 minHeight100">
    <div class="dlgHeadingSub">@ResStrings.PASSWORD</div>
	    <div id="divPasswordCheckbox" class="FloatLeft" style="width:200px;@if (Model.UserID <= 0) { @Html.Raw(" visibility:hidden;"); }">
            <input type="checkbox" id="chkChangePassword" name="chkChangePassword" class="ezmark" @if (Model.UserID <= 0) { @Html.Raw("checked='checked'"); } />
            <label class="rdoLabel white" for="chkChangePassword">
    @if (Model.UserID == Globals.Environment.Session.ContactID)
    {
                @ResStrings.CHANGE_PASSWORD
            }
            else
            {
                @ResStrings.SET_PASSWORD
            }
            </label>
	    </div>
    <table id="tblPasswordInfo"  
        @if (Model.UserID == Globals.Environment.Session.ContactID)
        {
            @:style="display:none;"
        }
        >
        <tr>
            @if (Model.UserID == Globals.Environment.Session.ContactID)
            {
                <td class="alignRight labelFix">@ResStrings.CURRENT_PASSWORD:</td>
                <td><span class="req labelFix">*</span></td>
                <td><input type="password" id="txtCurrentPassword" class="bold" style="width:200px;" /></td>
            }
            <td class="alignRight labelFix">@ResStrings.NEW_PASSWORD:</td>
            <td><span class="req labelFix">*</span></td>
            <td><input type="password" id="txtNewPassword" class="bold" style="width:200px;" /></td>
        </tr>
        <tr>
            @if (Model.UserID == Globals.Environment.Session.ContactID)
            {
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            }
            <td class="alignRight labelFix">@ResStrings.CONFIRM_PASSWORD:</td>
            <td><span class="req labelFix">*</span></td>
            <td><input type="password" id="txtConfirmPassword" class="bold" style="width:200px;" /></td>
        </tr>
    </table>
</div>
