﻿/* DEFAULTS
----------------------------------------------------------*/

body   
{
    font-size: 80.5%;
    font-family: "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

img {
    border:none;
}
a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}

.ezSideBar
{
    float:left;
    width:45px;
    min-height:612px;
    padding:20px 0 0 0;
    position:relative;
}

.ezHome
{
    float:left;
    width:256px;
    min-height:400px;
    padding:20px 0 0 0;
    position:relative;
}

.ezHomeText
{
    padding: 0 0 0 20px;
    
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/
#hostHeader {
    margin:10px 10px 0 10px;
}

#hostContainer {
    min-width:300px;
}

/* TAB MENU   
----------------------------------------------------------*/


/* FORM ELEMENTS   
----------------------------------------------------------*/
textarea {
    font-family: "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, Helvetica, Verdana, sans-serif;
    font-size:109%;
    padding-top:0px;
}
input[type=text] {
    font-family: "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, Helvetica, Verdana, sans-serif;
    font-size:109%;
    padding-top:0px;
}

/* MISC  
----------------------------------------------------------*/

#bannerHolder {
 margin:10px; 
 text-align:center;
}



#divCalHolder
{
    background: url('../Content/Images/cal2.png') no-repeat 12px 6px;
    height:110px;
}
#divCalDOW
{
    color:#555;
    font-size:9pt;
    font-weight:bold;
    text-align:center;
    padding:12px 0 5px 0;
}
#divCalMonth
{
    color:#555;
    font-size:7pt;
    font-weight:bold;
    text-align:center;
    padding:1px 0 0 0;
}
#divCalDate
{
    color:#000;
    font-size:28pt;
    text-align:center;
    font-weight:bold;
    padding:4px 0 0 0;
    line-height:1em;
}


/* Clock styles*/
#clockHolder
{
    width:100px;
    margin:0px auto 0px auto;
    position:relative;
    top:0px;
    left:0px;
}
        
#sec
{
    display:block;
    position:absolute;
}
#min
{
    display:block;
    position:absolute;
}
#hour
{
    display:block;
    position:absolute;
}
        
.rotatingWrapper
{
    position:absolute;
    width:100px;
    height:100px;
    top:0px;
    left:0px;
}

#divDigitalTime
{
    text-align:center;
    color:#fff;
    font-size:.9em;
    min-height:15px;
    /*position:absolute;*/
}
/* END Clock styles */





.clear
{
    clear: both;
}
.bold
{
    font-weight: bold;
}
.bottom
{
    bottom:10px;
    position:absolute;
}
.right
{
    position:absolute;
    right:10px;
}
.FloatLeft
{
    float:left;
}


.submitButton
{
    text-align: right;
    padding-right: 10px;
}

.ezT1
{
    float:left;
    width:110px;
    height:110px;
    margin:0 8px 8px 0;
    padding:4px;
    position:relative;
}

.ezT2
{
    float:left;
    width:238px;
    height:110px;
    margin:0 8px 8px 0;
    padding:4px;
    position:relative;
}

.ezT2Branding
{
    float:left;
    width:238px;
    height:110px;
    margin:0 8px 8px 0;
    padding:4px;
    position:relative;
}

.ezT4
{
    float:left;
    width:238px;
    height:238px;
    margin:0 8px 8px 0;
    padding:4px;
    position:relative;
}

.ezT4a
{
    float:left;
    width:238px;
    height:238px;
    margin:0 8px 8px 0;
    padding:0;
    position:relative;
}

.ezT8
{
    float:left;
    width:238px;
    width:494px;
    height:238px;
    margin:0 8px 8px 0;
    padding:4px;
    position:relative;
}

.div4sqContainer {
    float:left; 
    margin:0 8px 8px 0; 
    width:248px;
}
[if lte IE 8] .div4sqContainer {
    float:left; 
    margin:0 8px 0px 0; 
    width:248px;
}



/* Colors New*/
.ezColorDarkBlue
{
    background-color:#015581;
    border:1px solid #015581;
}
.ezColorMediumBlue
{
    background-color:#80AAC0;
    border:1px solid #80AAC0;
}
.ezColorLightBlue
{
    background-color:#C0D4DF;
    border:1px solid #C0D4DF;
}
.ezColorDarkGray
{
    background-color:#758793;
    border:1px solid #758793;
}
.ezColorMediumGray
{
    background-color:#B9C4CA;
    border:1px solid #B9C4CA;
}
.ezColorLightGray
{
    background-color:#DCE1E4;
    border:1px solid #DCE1E4;
}
 


/* Colors Win */
.TcolorBlue
{
    background:#0085C7;
    border:1px solid #0085C7;
}
.TcolorGreen
{
    background-color:#00AD3A;
    border:1px solid #00AD3A;
}
.TcolorOrange
{
    background:#EB7500;
    border:1px solid #EB7500;
}
.TcolorPurple
{
    background:#AD00AD;
    border:1px solid #AD00AD;
}
.TcolorRed
{
    background:#B80F2B;
    border:1px solid #B80F2B;
}
.TcolorGold
{
    background:#C1A410;
    border:1px solid #C1A410;
}

/*Colors Pastel*/
.TcolorPastelBlue
{
    background:#A8E2FF;
    border:1px solid #A8E2FF;
}
.TcolorPastelGreen
{
    background-color:#A8FFC5;
    border:1px solid #A8FFC5;
}
.TcolorPastelPurple
{
    background:#FFA8FF;
    border:1px solid #FFA8FF;
}
.TcolorPastelOrange
{
    background:#FFE6CC;
    border:1px solid #FFE6CC;
}
.TcolorPastelRed
{
    background:#F797A7;
    border:1px solid #F797A7;
}
.TcolorPastelGold
{
    background:#F7E9A1;
    border:1px solid #F7E9A1;
}

/* Colors HiC (High Contrast) */
.TcolorHiCBlue
{
    background:#004161;
    border:1px solid #004161;
}
.TcolorHiCGreen
{
    background-color:#004718;
    border:1px solid #004718;
}
.TcolorHiCOrange
{
    background:#854200;
    border:1px solid #854200;
}
.TcolorHiCPurple
{
    background:#470047;
    border:1px solid #470047;
}
.TcolorHiCRed
{
    background:#71091B;
    border:1px solid #71091B;
}
.TcolorHiCGold
{
    background:#635408;
    border:1px solid #635408;
}

.ezColorT7
{
    background-color:#fff;
    border:1px solid #fff;
}
 

/*Hover border colors*/
.ezColorT7-hover
{
    border:1px solid #0085C7;
}


.TileTable
{
    margin:0 8px 8px 0;
    width:100%;
    /*height:80px;*/
}
.TileTableDGI
{
    margin:0 8px 8px 0;
    width:100%;
    height:110px;
}
.TileTableDGI td.valBranding
{
    vertical-align:top;
}

.TileTableDGI td.lblBranding
{
    vertical-align:top;
}
.divDGIInfo
{
    height:110px;
}

table tr td.valBranding
{
    border-right:1px solid #015581;
    color:#fff;
    font-weight:bold;
    line-height:1em;
    padding:4px;
    text-align:right;
}
table tr td.lblBranding
{
    color:#015581;
    font-size:1.2em;
    font-weight:normal;
    margin:0 8px 0 0;
    padding:0 0 0 4px;
    text-align:left;
    width:100%;
}
table tr td.lblBranding a
{
    text-decoration:none;
}
table tr td.lblBranding div div
{
    border-top:1px dotted #015581;
    width:100%;
}
table.tblLayout {
    float:left;
}

.cSwatch
{
    width:16px;
    height:16px;
    border:1px dotted #fff;
    margin:2px 4px 4px 0;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}

.transparent80 {
	zoom: 1;
	filter: alpha(opacity=80);
	opacity: 0.8;
}
.transparent50 {
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.5;
}
.transparent20 {
	zoom: 1;
	filter: alpha(opacity=20);
	opacity: 0.2;
}

td.bottomLine
{
    border-bottom:1px dotted #fff;
}

.HELP
{
	color:#d10000;
	font-weight:bold;
}

.ProdAnnounce
{
	color:#00d100;
	font-weight:bold;
}

.alignRight
{
	text-align:right;
}
.alignCenter
{
	text-align:center;
}
.alignTop
{
	vertical-align:top;
}
.alignMiddle
{
	vertical-align:middle;
}

.searchDropDown {
    font-weight:bold;
}

.searchResultsLabel {
    letter-spacing:normal; 
    font-size:.9em;
}

.tileButton {
    background-color:#ddd;
    border:1px solid #fff;
    color:#999;
    font-weight:bold;
    padding:1px 10px;
    margin-top:4px 0 0 3px;
    cursor:pointer;
}


.btnBarBackgroundPlain {
    background-image:url('Images/btnBGWhite.png');
    background-repeat:no-repeat;
}
.btnBarBackgroundHover {
    background-image:url('Images/btnBGHover.png');
    background-repeat:no-repeat;
}
.btnBarBackgroundPink {
    background-image:url('Images/btnBGPink.png');
    background-repeat:no-repeat;
}
.btnBarBackgroundGreen {
    background-image:url('Images/btnBGGreen.png');
    background-repeat:no-repeat;
}

.btnBarBackgroundPlainSmall {
    background-image:url('Images/btnBGWhiteSmall.png');
    background-repeat:no-repeat;
}
.btnBarBackgroundHoverSmall {
    background-image:url('Images/btnBGHoverSmall.png');
    background-repeat:no-repeat;
}
.btnBarBackgroundPinkSmall {
    background-image:url('Images/btnBGPinkSmall.png');
    background-repeat:no-repeat;
}
.btnBarBackgroundGreenSmall {
    background-image:url('Images/btnBGGreenSmall.png');
    background-repeat:no-repeat;
}




.inputErrorCondition {
    border:2px solid #d10000;
    background-color:#ffe7e7;
}

    

div.ddList
{
    padding: 4px 0px 4px 0px;
    /*height:165px;*/
    overflow:auto;
}

div.ddList ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
    list-style-type: none;
    font-size:1.0em;
}

div.ddList ul li
{
    border:1px dotted transparent;
    color: #111;
    line-height: 1.5em;
    padding: 4px 20px 4px 10px;
    text-decoration: none;
    white-space: nowrap;
    font-weight:normal;
    cursor:pointer;
}






/*.ui-button-text-only .ui-button-text {
padding: .1em 1em;
}*/

.ui-button-icon-primary {
}
.tblResults {
    border-collapse:collapse;
    border:1px solid #999;
    border:0px none; 
    cursor:default;
    width:100%; 
}
    .tblResults th {
	    background: #E1CA89;
	    border-left: 1px solid #BF9931;
	    border-right: 1px solid #BF9931;
	    border-top: 1px solid #BF9931;
        color:#000;
	    font-weight: bold;
	    padding: 0px 4px;
	    text-align: left;
        vertical-align:top;
        white-space:nowrap;
    }
    .tblResults td {
        border:1px solid #999;
        padding: 2px 4px;
        vertical-align:top;
    }
    .tblResults tr td {
        background-color:#fff;
    }
    .tblResults tr.alt td {
        background-color:#ecf6fc;
    }
    .tblResults td.actionImage {
        padding-top:3px;
        max-width:20px;
        text-align:center;
        width:20px;
    }
    .tblResults td.actionImage img {
        cursor:pointer;
    }

.buttonBar {
    margin:8px 8px 8px 0;
    overflow:auto;
    padding:8px;
}
    .buttonBar img {
        border:none;
        cursor:pointer;
    }
.buttonBar div.btnBarItem {
    border-right:1px dotted #ccc;
    float:left;
    margin:0 8px 0 0;
    padding: 0 8px 0 0;
    text-align:center;
}
.buttonBar div.btnBarItemRight {
    border-left:1px dotted #ccc;
    float:right;
    margin:0 0 0 8px;
    padding: 0 0 0 8px;
}
.buttonBar div.btnBarItem div,
.buttonBar div.btnBarItemRight div {
    text-align:center;
}
.buttonBar div.btnBarItem a,
.buttonBar div.btnBarItemRight a {
    color:#fff;
    text-decoration:none;
    text-shadow:.1em .1em .05em #999 ;
}

.buttonBar div.btnBarItem a.btnBarTextShadow,
.buttonBar div.btnBarItemRight a.btnBarTextShadow {
    text-shadow:#333 .1em .1em .4em, #333 -.1em -.1em .4em, #333 -.1em .1em .4em, #333 .1em -.1em .4em;
}

.dropDownArrow {
    margin:0 0 0 4px;
    cursor:pointer;
}

.absPosBottomRight {
    position:absolute;
    bottom:4px;
    right:4px;
}

.absPosTopRight {
    position:absolute;
    top:4px;
    right:4px;
}


.tinyButton {
    color:#fff;
    height:18px;
    font-size:.75em;
    padding:2px 5px 0px 5px;
    text-shadow:.1em .1em .1em #000;
}

a.tinyButton:link,
a.tinyButton:visited {
    color:#fff;
    height:16px;
    font-size:.75em;
    padding:1px 5px 0px 5px;
    text-shadow:.1em .1em .1em #000;
}
a.tinyButton:link span,
a.tinyButton:visited span {
    padding: .1em 1em;
}


input.ui-button {
    padding: 0em 1em;
}

.shadowTextBig {
    font-size:1.2em;
    font-weight:bold;
    text-shadow:2px 2px 5px #eee;
}

.shadowTextSmall {
    font-size: 1em;
    text-shadow:2px 2px 3px #eee;
}


.dlgPanel {
	/*border-radius:          8px 8px 8px 8px;
	-moz-border-radius:     8px 8px 8px 8px;
	-webkit-border-radius:  8px 8px 8px 8px;*/
    
    background-color:#F5FDFF;
    border:1px solid #696969;
    margin:8px 8px 8px 0; 
    overflow: auto;
    padding:8px; 
}
.validation-summary-errors {
    background-color:#cf0000;
    background-image:url("Images/error.png");
    background-repeat:no-repeat;
    background-position-x:5px;
    background-position-y:5px;
    border:2px solid #fff;
    color:#fff;
    margin:0px 0px 4px 0px;
    padding:4px 4px 4px 40px;
    position:absolute;
    top:0px;
    z-index:100;
}
    .validation-summary-errors ul {
        margin-top:5px;
        padding-left:15px;
    }

.custHeaderName {
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

#divMainContainer {
    padding:20px 0 0 40px;
}
#divMainContainer div {
    /*clear:left;*/
    margin-bottom:5px;
    overflow:hidden;
    font-size:1.0em;
}
#divMainContainer div.noteField {
    float:left;
    font-size:1.0em;
    font-weight:bold;
}
#divMainContainer div label {
    color:#fff;
    float:left;
    width:100px;
}
#divMainContainer div span.notreq {
    float:left;
    width:20px;
}
#divMainContainer div span.leadingCharacters {
    color:#bbb;
    cursor:pointer;
    float:left;
}
    #divMainContainer div a img {
        cursor: pointer;
        float: left;
        margin: 10px 0 0 5px;
    }
#divMainContainer div span.val,
#divMainContainer div span.valSelector {
    color:#fff;
    font-weight:bold;
    float:left;
}
#divMainContainer div a span.valSelector {
    font-weight:bold;
    float:left;
}
#divMainContainer div span.valSelector {
    cursor: pointer;
}
    #divMainContainer div input {
        background-color:#F5FDFF;
        background-color:transparent;
        border:0px none;
        color: #0085C7;
        color: #fff;
        cursor: pointer;
        float: left;
        font-family: "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, Helvetica, Verdana, sans-serif;
        font-size:1.0em;
        font-weight:bold;
        margin:0;
        padding:0;
    }

    #divMainContainer div input.hover {
        background-color:#F5FDFF;
        background-color:transparent;
        border:0px none;
        color: #fff;
        cursor: pointer;
        float: left;
        font-family: "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, Helvetica, Verdana, sans-serif;
        font-size:1.0em;
        font-weight:bold;
        margin:0;
        padding:0;
    }

    #divMeterContainer div input {
        background-color:#F5FDFF;
        background-color:transparent;
        border:0px none;
        color: #0085C7;
        color: #fff;
        cursor: pointer;
        float: left;
        font-family: "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, Helvetica, Verdana, sans-serif;
        font-size:1.0em;
        font-weight:bold;
        margin:0;
        padding:0;
    }

    #divMeterContainer div input.hover {
        background-color:#F5FDFF;
        background-color:transparent;
        border:0px none;
        color: #fff;
        cursor: pointer;
        float: left;
        font-family: "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, Helvetica, Verdana, sans-serif;
        font-size:1.0em;
        font-weight:bold;
        margin:0;
        padding:0;
    }

    #divMeterContainer div td input {
        background-color:#efe;
        border:1px solid #666;
        color: #000;
        cursor: auto;
        font-family: "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, Helvetica, Verdana, sans-serif;
        font-size:1.0em;
        font-weight:bold;
        margin:0;
        padding:0;
    }

div.divValueDisplay {
    color:#fff;
    font-size:1.0em;
    font-weight:bold;
    overflow:hidden;
}
    

a.dlgLink:link,
a.dlgLink:visited {
    color:#0085C7;
    color:#fff;
    text-decoration:none;
}
a.dlgLink:hover {
    color:#d10000;
    color:#fff;
    text-decoration:none;
}

span.dlgLink {
    color:#0085C7;
    color:#fff;
    cursor:pointer;
    text-decoration:none;
}
span.dlgLink:hover {
    color:#d10000;
    color:#fff;
    cursor:pointer;
    text-decoration:none;
}

.dlgHeadingWizard {
    border-bottom:2px dotted #999;
    color:#fff;
    font-size:1.5em;
    margin-bottom:20px;
}
.dlgHeadingWizard span.wizStepNumber {
    color:#fff;
    /*font-size:2em;*/
    font-weight:bold;
    /*text-shadow: #999 .1em .1em .1em;*/
}

.tblInvoices {
    font-size:.9em;
    border:1px solid #999;
    background-color:#fefefe;
    border-collapse:collapse;
}
.tblInvoices th {
    font-size:.8em;
}
    .tblInvoices td {
        border-top:1px dotted #999;
        padding:0 5px 0 10px;
    }

.lineAbove {
    border-top:1px dotted #fff;
}

.expired {
    color:#d10000;
}

/******************************************************************/
/* Classes for Radio buttons and checkboxes                       */
/*.has-js .label_check,
.has-js .label_radio { padding-left: 24px; font-size:.8em;}

.has-js .label_radio { background: url(Images/radio-off2.png) 0 0em no-repeat; }
.has-js .label_check { background: url(Images/check-off.png) 0 0em no-repeat; }
.has-js label.c_on { background: url(Images/check-on.png) 0 0em no-repeat; }
.has-js label.r_on { background: url(Images/radio-on2.png) 0 0em no-repeat; font-weight:bold;}

.has-js .label_check input,
.has-js .label_radio input { position: absolute; left: -9999px; }*/
/*******************************************************************/

.radioPaymentType {
    margin:10px 0 10px 0px;
}
.radioPaymentType label {
    display: inline;
    cursor: pointer;
    padding:2px 0;
    line-height: 20px;
    /*padding-bottom: 9px;*/
    /*text-shadow: 0 -1px 0 rgba(0,0,0,.2);*/
}

.radioImageBtn {
    margin:10px 0 10px 20px;
}
.radioImageBtn label {
    display: inline;
    cursor: pointer;
    padding:2px 0;
    line-height: 20px;
    /*padding-bottom: 9px;*/
    /*text-shadow: 0 -1px 0 rgba(0,0,0,.2);*/
}

.dlgLayoutTable {
    border-collapse:collapse;
    width:100%;
}
.dlgLayoutTable tr {
    vertical-align:text-top;
}
.dlgLayoutTable td {
    /*border-bottom:1px dotted #999;*/
}
.dlgLayoutTable td input{
    width:100%;
}

.dlgLayoutTable td span.req{
    color:#FAA019;
    font-size:1em;
    float:left;
    padding:0 0px;
    position:relative;
    top:6px;
    width:20px;
    text-align:center;
    
        /*color:#FCBF64;
    font-size:1.2em;
    float:left;
    position:relative;
    top:2px;
    width:20px;
    text-align:center;*/

}

.nobreak {
    white-space: nowrap;
}
.width100 {
    width: 100%;
}
.width50 {
    width: 50%;
}

.loginInputs {
    border:1px solid #999;
    float:left;
    width:140px;
}

.one-edge-shadow {
	-webkit-box-shadow: 0 8px 16px -6px #666;
	   -moz-box-shadow: 0 8px 16px -6px #666;
	        box-shadow: 0 8px 16px -6px #666;
}
.inner-shadow {
    -webkit-box-shadow: inset 0 0 10px #666;
       -moz-box-shadow: inset 0 0 10px #666;
            box-shadow: inset 0 0 10px #666;
}

.equipmentInformation {
    background-image:url('../../Content/Images/copier2.png'); 
    background-repeat:no-repeat; 
    background-position:right; 
    background-position-y:bottom;
    min-height:250px;
}
.equipmentMove {
    background-image:url('../../Content/Images/equipmentMove.png'); 
    background-repeat:no-repeat; 
    background-position:right; 
    background-position-y:bottom;
    
    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(top left, #FFFFFF 0%, #69C2EF 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top left, #FFFFFF 0%, #69C2EF 100%);

    /* Opera */ 
    background-image: -o-linear-gradient(top left, #FFFFFF 0%, #69C2EF 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FFFFFF), color-stop(1, #69C2EF));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top left, #FFFFFF 0%, #69C2EF 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to bottom right, #FFFFFF 0%, #69C2EF 100%);
    min-height:250px;
}
.contractInformation {
    background-image:url('../../Content/Images/signature.png'); 
    background-repeat:no-repeat; 
    background-position:right; 
    background-position-y:bottom;
    min-height:250px;
}
.meterHistory {
    background-image:url('../../Content/Images/meter.png'); 
    background-repeat:no-repeat; 
    background-position:right; 
    background-position-y:bottom;
    min-height:250px;
}
.serviceHistory {
    background-image:url('../../Content/Images/service.png'); 
    background-repeat:no-repeat; 
    background-position:right; 
    background-position-y:bottom;
    min-height:250px;
}


.divInfoHolder {
    float:left;
    padding: 0 10px 0 0;
    margin:0 10px 0 0;
    min-height:150px;
    width:47%;
    width:475px;
}
.minHeight100 {
    min-height:100px;
}
.minHeight200 {
    min-height:200px;
}



.divRow {
    clear:left;
    margin-bottom:4px;
    min-height:23px;
    overflow:auto;
}
.divRow label {
    color:#fff;
    float:left;
    width:140px;
    /*text-shadow: .1em .1em .05em #999;*/
}
.divRow span {
    /*color:#333;*/
    color:#fff;
    float:left;
    font-weight:bold;
    overflow:auto;
    /*text-shadow: .1em .1em .05em #999;*/
}
.divRow div.val {
    /*color:#333;*/
    color:#fff;
    font-weight:bold;
    overflow:auto;
    width:auto;
    /*text-shadow: .1em .1em .05em #999;*/
}
.divRow span.req {
    color:#FCBF64;
    font-size:1.2em;
    float:left;
    position:relative;
    top:2px;
    width:20px;
    text-align:center;
}
.divRow span textarea{
    color:#000;
    float:left;
    font-family: "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, Helvetica, Verdana, sans-serif;
    font-size:1em;
    font-weight:bold;
}
.divRow span input[type=text]{
    color:#000;
    float:left;
    font-family: "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, Helvetica, Verdana, sans-serif;
    font-size:1em;
    font-weight:bold;
}

.divRow input[type=text].inputWide {
    width:300px;
}
.divRow input[type=text].inputAsLabelWide {
    width:300px;
    border:1px none;
    background-color:transparent;
    font-weight:bold;
}
.divRow input[type=text].inputNormal {
    width:150px;
}
.divRow input[type=text].inputAsLabel {
    width:150px;
    border:1px none;
    background-color:transparent;
    font-weight:bold;
}
.divRow input[type=text].inputNarrow {
    width:100px;
}


.bottomBorder {
    border-bottom:1px dotted #999;
    padding:0 0 5px 0;
    margin:0 0 5px 0;
}

/*span.req {
    color:#fff;
    font-weight:bold;
    float:left;
    position:relative;
    top:3px;
    width:20px;
    text-align:center;
}*/
span.notreq {
    float:left;
    width:20px;
}

span.ddDots {
    border:1px dotted #fff;
    color:#fff;
    cursor:pointer;
    float:left;
    font-size:1em;
    font-weight:bold;
    line-height:.7em;
    margin:0px 10px;
    padding:0px 7px 10px 7px;
}
span.ddDots:hover {
    border:1px solid #fff;
}
button.ddDots {
    border:1px dotted #fff;
    color:#fff;
    cursor:pointer;
    float:left;
    font-size:1em;
    font-weight:bold;
    line-height:.7em;
    margin:0px 5px;
    padding:3px 7px 3px 7px;
    height:24px;
}
button.ddDots:hover {
    border:1px solid #fff;
}

.req {
    color:#FCBF64;
    font-size:1.2em;
    float:left;
    position:relative;
    top:2px;
    width:20px;
    text-align:center;
}

.findFieldHelp {
    padding:0 0 0 90px;
    font-size:.8em;
    font-style:italic;
}

.findFieldButton {
    padding:10px 0 0 90px;
}

.findFieldControlHolder {
    padding-left:50px;
}

.findFieldControlHolder label {
    padding:0 5px 0 0;
}
.findFieldControlHolder input[type=text] {
    width:350px;
}

#trExpDate td {
    padding-bottom:8px;
}
#trPaymentType {
    border-bottom:1px dotted #aaa;
}
#trPaymentType td {
    padding-bottom:8px;
}

#trNameOnAccount {
    border-top:1px dotted #aaa;
}

.curDefault {
    cursor:default;
}
.transparent {
    background-color:transparent;
}



/******************************************************************/
/* Classes for Radio buttons and checkboxes                       */
/*.has-js .label_check,
.has-js .label_radio { padding-left: 24px; font-size:1em;}

.has-js .label_radio { background: url(../Content/Images/radio-off2.png) 0 0em no-repeat; color:#fff;}
.has-js .label_check { background: url(../Content/Images/Check-off2.png) 0 0em no-repeat; color:#fff; }
.has-js label.c_on { background: url(../Content/Images/Check-on2.png) 0 0em no-repeat; font-weight:bold;}
.has-js label.r_on { background: url(../Content/Images/radio-on2.png) 0 0em no-repeat; font-weight:bold;}

.has-js .label_check input,
.has-js .label_radio input { position: absolute; left: -9999px; }*/
/*******************************************************************/
.radioButtonType {
    margin:10px 0 0 0;
}
.radioButtonType label {
    display: inline;
    cursor: pointer;
    padding:2px 0;
    line-height: 20px;
    /*padding-bottom: 9px;*/
    /*text-shadow: 0 -1px 0 rgba(0,0,0,.2);*/
}

