/**
 * CSS File for ezMark jQuery Plugin
 *
 **/
.ez-hide { opacity: 0; filter:alpha(opacity=0); cursor:pointer; }
.ez-checkbox {
	background: transparent url('ezMarkImages/checkbox-red.png') 50% 1px no-repeat;
	display:inline-block;
    float:left;
}

.ez-radio {
	background: transparent url('ezMarkImages/radio-black.png') 50% 1px no-repeat;
	display:inline-block;
    float:left;
    min-width:16px;
}

.ez-checked { background-position: 50% -19px; }
.ez-selected { background-position: 50% -19px; }

.ez-checkbox-green {
	background: transparent url('ezMarkImages/checkbox-green.png') 50% 1px no-repeat;
	display:inline-block;
	*display: inline;
}
.ez-checked-green { background-position: 50% -18px; }
.ez-checkbox, .ez-radio { zoom: 1; *display:inline; _height:30px; }
