﻿body {
    background-color:#fff;
    color:#000 !important;
    font-size:10pt;
}
a:link, a:visited, a:active {
    color:#000;
}

.buttonBar {
    display:none;
}

.dlgPanel {
    overflow:visible;
    clear:left;
}

.dlgHeadingSub {
    color:#000;
}
.dlgHeadingWizard {
    display:none;
}

.ezColorT1 {
    background-color:#fff;
    border:1px solid #fff;
}
#hostContainer {
	width: auto;
    background-color: transparent;
	border: 0;
	margin: 0 5%;
	padding: 0;
	float: none !important;
}
#hostFooter {
    display:none;
}

.tblResults tr.alt td {

    background-color:#F9FAFB;
}
#imgBanner {
    width:70%;
}
.divRow div.val {
    overflow:hidden !important;
    width:max-content;
    color:#000;
}

.divRow label {
    color:#000;
}

tr, td, th {page-break-inside:avoid}
thead {display:table-header-group}
.NoPrint {visibility:hidden; display:none}
a {color:#000000}

.chartBar {
    background-image:url("../../Content/Images/dotGray.png");
    background-color:#666;
    background-repeat:repeat;
    -webkit-box-shadow: 0 0 0 0 #fff;
	   -moz-box-shadow: 0 0 0 0 #fff;
	        box-shadow: 0 0 0 0 #fff;
}

.dlgTitleBar div {
    color:#000;
}

.shadowTextBig {
    text-shadow:none;
}
.shadowTextSmall {
    text-shadow:none;
}

.HelpLinkHolder {
    display:none;
}

#imgChevron {
    display:none;
}

button.ddDots {
    display:none;
}