﻿@page  
{ 
    size: letter;   /* auto is the initial value */ 

    /* this affects the margin in the printer settings */ 
    margin: 0;  
} 
body {
    background-color:#fff;
    color:#000 !important;
    font-size:11pt;
    width: 8.5in;
    margin: .25in .0in;
}
a:link, a:visited, a:active {
    color:#000;
}

.buttonBar {
    display:none;
}

tr, td, th {page-break-inside:avoid}
thead {display:table-header-group}
.NoPrint {visibility:hidden; display:none}
a {color:#000000}

.dlgTitleBar {
    display:none;
}
.buttonBar {
    display:none;
}
#divTileContainer {
    margin:0;
    padding:0;
    background-color:transparent;
}
.dlgPanel {
    margin:0;
    padding:0;
}
.ezColorT1 {
    margin:0;
    padding:0;
    background-color:transparent;
    border:0px none;
}
#hostContainer {
	width: auto;
    background-color: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	float: none !important;
}

#hostHeader {
    display:none;
}
#hostFooter {
    display:none;
}
.dlgHeadingSub {
    display:none;
}
#QRCodesHolder {
    border:1px none #fff;
    overflow:visible;
}
.QRLabel {
    /*width:    90mm;
    max-width:90mm;
    min-width:90mm;*/
        margin-left: .25in; /* the gutter */
}

.PaddingLabel div{
    display:none;
}
.QRLabel {
    outline:1px dotted #fff;
}
.HelpLinkHolder {
    display:none;
}

.warningDiv {
    display:none;
}