﻿@using DealerGateway.CustomerUI.Domain;
@using DealerGateway.CustomerUI.Resources;

@model DealerGateway.CustomerUI.Models.Equipment

<div class="dlgPanel ezColorT1">
    <div class="dlgHeadingSub">@ResStrings.CONTRACT_INFORMATION</div>
    @if (Model.ContractID == 0)
    {
        <div class="infoDiv">
            @ResStrings.EQUIPMENT_NOT_UNDER_CONTRACT
        </div>
    }
    else
    {
        <div class="divInfoHolder">
            <div class="divRow">
                <label class="alignRight">@ResStrings.CONTRACT_NUMBER:</label>
                <span class="notreq">&nbsp;</span>
                <div class="val">@DGUtils.FormatValue(Model.ContractNumber)</div>
            </div>
            <div class="divRow">
                <label class="alignRight">@ResStrings.CONTRACT_STATUS:</label>
                <span class="notreq">&nbsp;</span>
                <div class="val">@DGUtils.FormatValue(Model.ContractStatus)</div>
            </div>
            <div class="divRow">
                <label class="alignRight">@ResStrings.START_DATE:</label>
                <span class="notreq">&nbsp;</span>
                <div class="val">@DGUtils.FormatValue(Model.ContractStartDate)</div>
            </div>
            <div class="divRow bottomBorder">
                <label class="alignRight">@ResStrings.EXPIRATION_DATE:</label>
                <span class="notreq">&nbsp;</span>
                <div class="val">@DGUtils.FormatValue(Model.ContractExpDate)</div>
            </div>
            <div class="divRow">
                <label class="alignRight">@ResStrings.BILL_CODE:</label>
                <span class="notreq">&nbsp;</span>
                <div class="val">@DGUtils.FormatValue(Model.BillCode)</div>
            </div>
            <div class="divRow">
                <label class="alignRight">@ResStrings.BILL_CODE_DESCRIPTION:</label>
                <span class="notreq">&nbsp;</span>
                <div class="val">@DGUtils.FormatValue(Model.BillCodeDescription)</div>
            </div>
        </div>
        <div class="divInfoHolder">
            <div class="divRow">
                <label class="alignRight">@ResStrings.CONTACT:</label>
                <span class="notreq">&nbsp;</span>
                <div class="val">@DGUtils.FormatValue(Model.ContractContact)</div>
            </div>
            <div class="divRow">
                <label class="alignRight">@ResStrings.PHONE_NUMBER:</label>
                <span class="notreq">&nbsp;</span>
                <div class="val">@DGUtils.FormatValue(Model.ContractPhone)</div>
            </div>
            <div class="divRow">
                <label class="alignRight">@ResStrings.FAX_NUMBER:</label>
                <span class="notreq">&nbsp;</span>
                <div class="val">@DGUtils.FormatValue(Model.ContractFax)</div>
            </div>
        </div>
    }
</div>
