﻿@using DealerGateway.CustomerUI.Domain;
@using DealerGateway.CustomerUI.Resources;

@model DealerGateway.CustomerUI.Models.ServiceCall

<div id="divTileContainer" class="dlgPanel ezColorT1">
    <div class="dlgHeadingSub">@ResStrings.EQUIPMENT_INFORMATION</div>
    <div class="divRow">
        <div style="float:left; padding-top:1px;"><img src="~/content/images/ValidWarn.png" /></div> <span style="float:left;">&nbsp;@ResStrings.EQUIPMENT_NOT_IN_SYSTEM</span>
    </div>
    <div class="divRow">
        <label class="alignRight">@ResStrings.DESCRIPTION:</label>
        <span class="notreq">&nbsp;</span>
        <div class="val">@DGUtils.FormatValue(Model.EquipmentDescription)</div>
    </div>
    <div class="divRow">
        <label class="alignRight">@ResStrings.MODEL:</label>
        <span class="notreq">&nbsp;</span>
        <div class="val">@DGUtils.FormatValue(Model.EquipmentModel)</div>
    </div>
    <div class="divRow">
        <label class="alignRight">@ResStrings.SERIAL_NUMBER:</label>
        <span class="notreq">&nbsp;</span>
        <div class="val">@DGUtils.FormatValue(Model.EquipmentSerialNumber)</div>
    </div>
</div>
