﻿@using DealerGateway.CustomerUI.Domain;
@using DealerGateway.CustomerUI.Resources;

@model DealerGateway.CustomerUI.Models.EquipmentMoveOrderList
@{
    ViewBag.Title = @ResStrings.EQUIPMENT_MOVE_HISTORY;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {

        ButtonBarUISetup();

        $("#rdoFilterType").buttonset();
        $("#rdoFilterType :radio").click(function (e) {
            var str = "@ResStrings.OPEN_MOVES";
            var element = $(this);

            window.location.href = '@Url.Action("EquipmentMoveHistory", "Service")' + '?Mode=' + element.val();

        });

        //Alternating row colors
        //
        $(".stripeMe tr:even").addClass("alt");

        $(".itemsList tr td").addClass("NoPointer");

    });
</script>
<style type="text/css">
        #divItemTypeShowing {
            text-align:center;
            color:#fff;
            text-shadow:.1em .1em .05em #999 ;
            padding:7px 0 0 0;
       }
       #rdoFilterType {
            padding:12px 0 0 0;
       }
       .ui-buttonset .ui-button {
            margin-right:-.4em;     
       }

</style>

<div class="buttonBar ezColorT2">
    <div class="btnBarItem">
        <a href='@Url.Action("Index", "Gateway")'>
            <img id="btnBack" src="~/Content/Images/Arrow-Left.png" alt="@ResStrings.BACK" title="@ResStrings.BACK" />
            <div>@ResStrings.BACK</div>
        </a>
    </div>
    <div class="btnBarItem">
        <div id="rdoFilterType">
            <input type="radio" id="rdoOpenMoves"     name="rdoFilterType" value="1" 
                @if(Model.ListMode == 1)
                {
                    @:checked="checked"
                }
                /><label for="rdoOpenMoves">@ResStrings.OPEN_MOVES</label>
            <input type="radio" id="rdoAllMoves"      name="rdoFilterType" value="2"
                @if(Model.ListMode == 2)
                {
                    @:checked="checked"
                }
                /><label for="rdoAllMoves">@ResStrings.ALL_MOVES</label>
        </div>
        <div id="divItemTypeShowing">@ResStrings.VIEWING_SCOPE</div>
    </div>
    <div class="btnBarItem">
        <a href="javascript:Print();">
            <img id="btnPrint" src="~/Content/Images/Print.png" alt="@ResStrings.PRINT_LIST" title="@ResStrings.PRINT_LIST" />
            <div>@ResStrings.PRINT</div>
        </a>
    </div>

    <div class="btnBarItemRight">
        <a href='@Url.Action("Index", "Gateway")'>
            <img id="btnHome" src="~/Content/Images/home.png" alt="@ResStrings.HOME" title="@ResStrings.HOME" />
            <div>@ResStrings.HOME</div>
        </a>
    </div>
</div>

<div class="dlgPanel ezColorT7 dlgTitleBar">
    <div>@Html.Raw(DGUtils.FormatTitle(ResStrings.EQUIPMENT_MOVE_HISTORY))</div>
</div>

<div id="divTileContainer" class="dlgPanel ezColorT1">
<div class="dlgHeadingSub">
    <span class="moveViewType">
    @if (Model.ListMode == 1)
    {
        @ResStrings.OPEN_MOVES
    }
    else
    {
        @ResStrings.ALL_MOVES
    }
    </span>
</div>

    @if (@Model.MoveOrders.Count == 0)
    {
        <div class="infoDiv">
            @ResStrings.NO_RESULTS_EQUIPMENT_SEARCH
        </div>
    }
    else
    {

    <div  class="ddList">
        <table class="tblResults stripeMe">
            <thead>
                <tr>
                    <th>@ResStrings.NUMBER</th>
                    <th>@ResStrings.EQUIPMENT</th>
                    <th>@ResStrings.REQUEST_DATE</th>
                    <th>@ResStrings.REQUESTED_BY</th>
                    <th>@ResStrings.LOCATION</th>
                    <th>@ResStrings.STATUS</th>
                </tr>
            </thead>
            <tbody id="tbEquipmentList" class="itemsList">
                @for (int i = 0; i < Model.MoveOrders.Count; i++)
                {
                    <tr>
                        <td>@Model.MoveOrders[i].ChangeOrderNumber</td>
                        <td>@Model.MoveOrders[i].EquipmentNumber</td>
                        <td>@Model.MoveOrders[i].RequestDate.Date.ToShortDateString()</td>
                        <td>@Model.MoveOrders[i].RequestorName</td>
                        <td>@Model.MoveOrders[i].TargetLocation</td>
                        <td>@Model.MoveOrders[i].Status</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
        <div class="ListItemCount">
            <span class="bold">@Model.MoveOrders.Count.ToString("n0")</span> @if (@Model.MoveOrders.Count == 1)
                                                                           { @ResStrings.LIST_ITEM }
                                                                           else
                                                                           { @ResStrings.LIST_ITEMS }
        </div>        
        
    }
</div>
