﻿@using System.Globalization;
@using DealerGateway.CustomerUI.Domain;
@using DealerGateway.CustomerUI.Resources;

@model DealerGateway.CustomerUI.Models.Equipment
@{
    ViewBag.Title = @ResStrings.EQUIPMENT;
    Layout = "~/Views/Shared/_Layout.cshtml";

    CultureInfo c = CultureInfo.CurrentCulture;
    TextInfo textInfo = c.TextInfo;    
}

<script type="text/javascript">

    $(document).ready(function () {

        ButtonBarUISetup();

        SetupRowStripeing("tblMeters");
        SetupRowStripeing("tblService");
    });

    function SetupRowStripeing(tbl) {
        //Alternating row colors
        //
        $("#" + tbl + ".stripeMe tr:even").addClass("alt");
        $("#" + tbl + ".stripeMe tr").mouseover(function () {
            $(this).addClass("hover");
        });
        $("#" + tbl + ".stripeMe tr").mouseout(function () {
            $(this).removeClass("hover");
        });
    }
</script>

<div class="buttonBar ezColorT2">
    <div class="btnBarItem">
        <a href="javascript:GoBack();">
            <img id="btnBack" src="~/Content/Images/Arrow-Left.png" alt="Back" title="Back" />
            <div>Back</div>
        </a>
    </div>
    @if(ViewBag.HasMetersRights)
    {
    <div class="btnBarItem">
        <a href="@Url.Action("Meters", "Service", new { Text =@Model.EquipmentNumber, Mode=0 })">
            <img id="btnMeter" src="~/Content/Images/MeterReadout.png" alt="@ResStrings.METER_READING" title="@ResStrings.METER_READING" />
            <div>@ResStrings.METER</div>
        </a>
    </div>
    }

    @if(ViewBag.HasServiceRights)
    {
    <div class="btnBarItem">
        <a href="@Url.Action("ServiceCallAdd", "Service", new { eqID =@Model.EquipmentID })">
            <img id="btnService" src="~/Content/Images/Tools.png" alt="@ResStrings.SERVICE_CALL" title="@ResStrings.SERVICE_CALL" />
            <div>@ResStrings.SERVICE</div>
        </a>
    </div>
    }

    @if(ViewBag.HasSalesRights)
    {
    <div class="btnBarItem">
        <a href="@Url.Action("SalesOrder", "Sales", new { EquipmentID = @Model.EquipmentID })">
            <img id="btnSupplies" src="~/Content/Images/ShoppingCart.png" alt="@ResStrings.SUPPLIES" title="@ResStrings.SUPPLIES" />
            <div>@ResStrings.SUPPLIES</div>
        </a>
    </div>
    }

    <div class="btnBarItem">
        <a href="javascript:Print();">
            <img id="btnPrint" src="~/Content/Images/Print.png" alt="@ResStrings.PRINT_LIST" title="@ResStrings.PRINT_LIST" />
            <div>@ResStrings.PRINT</div>
        </a>
    </div>
    <div class="btnBarItemRight">
        <a href='@Url.Action("Index", "Gateway")'>
            <img id="btnHome" src="~/Content/Images/home.png" alt="Home" title="Home" />
            <div>Home</div>
        </a>
    </div>
</div>

<div class="dlgPanel ezColorT7 dlgTitleBar">
    <div>@Html.Raw(DGUtils.FormatTitle(ResStrings.EQUIPMENT))</div>
</div>

@Html.Partial("EquipmentPartial", @Model)

@if(Model.ContractID > 0 )
{
    @Html.Partial("ContractPartial", @Model)
}

@Html.Partial("MeterHistoryPartial", @Model)

@if (ViewBag.HasServiceHistoryRights)
{  
@Html.Partial("ServiceHistoryPartial", @Model)
}
