﻿@using DealerGateway.CustomerUI.Domain 
@using DealerGateway.CustomerUI.Resources; 

<div id="dlgSelectEquipment" title="Select Equipment">
    <div id="selectEquipmentRadios">
        <input type="radio" id="rdoFind" name="selectEquipmentRadios" value="1" checked="checked" /><label for="rdoFind">@ResStrings.SEARCH_FOR_EQUIPMENT</label>
        <input type="radio" id="rdoAll" name="selectEquipmentRadios" value="2" /><label for="rdoAll">@ResStrings.SHOW_ALL_EQUIPMENT</label>
    </div>
    <div class='findFieldControlHolder'><label id="lblFind">@ResStrings.FIND:</label><input type='text' id="txtSearch" /><button type="button" id='btnGo'>@ResStrings.GO...</button></div>

    <div id="divEquipmentList">
    </div>
</div>



<script type="text/javascript">
    $(document).ready(function () {
        //Select Equipment Dialog
        //
        $("#dlgSelectEquipment").dialog({
            modal: true,
            autoOpen: false,
            height: 500,
            width: 850,
            resizable: false,
            hide: "blind",
            buttons: {
                "@ResStrings.CANCEL": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#btnGo").button();
        $("#btnGo").click(function () {
            DoSearch(1);
        });

        $("#selectEquipmentRadios").buttonset();

        SetUpEquipmentListSelection();

        $("#selectEquipmentRadios :radio").click(function (e) {
            Search($(this).val());
        });

        $('#txtSearch').keydown(function (event) {
            if (event.keyCode == 13) {
                $('#btnGo').trigger('click');
            }
        });


    });

    function Search(i) {
        if (i == 1) {
            //show the find controls
            $(".findFieldControlHolder").show("blind");
            //$("#searchList").hide("fade");
        }
        else {
            //hide the find controls
            $(".findFieldControlHolder").hide("blind");
            //$("#searchList").show("fade");
            DoSearch(2);
        }
    }

    function DoSearch(v) {
        if (v == 1) {   //Search with text
            var valuesToPass = {
                Text: $("#txtSearch").val()
            };
            $.ajax({
                type: "POST",
                url: '@Url.Action("EquipmentSearch", "Service")',
                data: JSON.stringify(valuesToPass),
                dataType: "html",
                contentType: "application/json;charset=utf-8",
                success: function (msg) {
                    $("#divEquipmentList").html(msg);
                },
                complete: function () {
                    SetUpEquipmentListSelection();
                    StripeMe();
                    //////selectEquipment();
                },
                error: function () {
                    alert("The system encountered an error. Please login again and repeat the action.");
                }
            });
        }
        else {  //Show all
            var valuesToPass = {
                Mode: @DealerGateway.CustomerUI.Models.EquipmentListMode.All
            };
            $.ajax({
                type: "POST",
                url: '@Url.Action("EquipmentList", "Service")',
                data: JSON.stringify(valuesToPass),
                dataType: "html",
                contentType: "application/json;charset=utf-8",
                success: function (msg) {
                    $("#divEquipmentList").html(msg);
                },
                complete: function () {
                    SetUpEquipmentListSelection();
                    StripeMe();
                    //////selectEquipment();
                },
                error: function () {
                    alert("The system encountered an error. Please login again and repeat the action.");
                }
            });
        }
    }

    function SetUpEquipmentListSelection() {
        $(".lstEquipment tbody tr").click(function () {
            var aryEquipInfo = $(this).html();
            while ( aryEquipInfo.indexOf("<TD>") != -1 )
                aryEquipInfo = aryEquipInfo.replace("<TD>", "<td>");
            while ( aryEquipInfo.indexOf("</TD>") != -1 )
                aryEquipInfo = aryEquipInfo.replace("</TD>", "</td>");
            while ( aryEquipInfo.indexOf("</DIV>") != -1 )
                aryEquipInfo = aryEquipInfo.replace("</DIV>", "</div>");
            while ( aryEquipInfo.indexOf("<DIV") != -1 )
                aryEquipInfo = aryEquipInfo.replace("<DIV", "<div");

            aryEquipInfo = aryEquipInfo.split("</td>");
            $("#s1").html(aryEquipInfo[1].replace("<td>", ""));
            $("#s2").html(aryEquipInfo[2].replace("<td>", ""));
            $("#s3").html(aryEquipInfo[3].replace("<td>", ""));
            $("#divEquipContact").html(aryEquipInfo[4].replace("<td>", ""));

            var tmp = aryEquipInfo[5].replace("<td>", "");
            var hasRemarks = tmp.indexOf('<div class="divEquipRemarks">');
            var ie8Remarks = tmp.indexOf('<div class=divEquipRemarks>');
            if(hasRemarks > -1)
            {
                var parts = tmp.split('<div class="divEquipRemarks">');
                $("#divCurLocation").html(parts[0]);
                $("#divCurRemarks").html(parts[1].replace("</div>",""));
            }
            else if(ie8Remarks > -1)
            {
                var parts = tmp.split('<div class=divEquipRemarks>');
                $("#divCurLocation").html(parts[0]);
                $("#divCurRemarks").html(parts[1].replace("</div>",""));
            }
            else{
                $("#divCurLocation").html(tmp);
                $("#divCurRemarks").html("---");
            }

            
            
            $("#dlgSelectEquipment").dialog("close");
            $("#EquipmentID").val($(this).attr("id").substring(6, $(this).attr("id").length));
        });
    }

    function StripeMe() {
        //Alternating row colors
        //
        $(".stripeMe tr:even").addClass("alt");
        $(".stripeMe tr").mouseover(function () {
            $(this).addClass("over");
        });
        $(".stripeMe tr").mouseout(function () {
            $(this).removeClass("over");
        });
    }
</script>

<style type="text/css">
    .lstEquipment {
        width:100%;
    }

    #selectEquipmentRadios {
        padding:0 0 10px 0;
    }
    #selectEquipmentRadios .ui-state-default {
        background-color:#ABB8BF;
        color:#015581;
        font-size:.9em;
    }
    #selectEquipmentRadios .ui-state-active {
        background-color:#015581;
        color:#fff;
    }
    .ui-buttonset .ui-button {
        margin-right:-.5em;     
    }


    
</style>

