﻿@using DealerGateway.CustomerUI.Domain;
@using DealerGateway.CustomerUI.Resources;
@model DealerGateway.CustomerUI.Models.EquipmentList
<div  class="ddList">
    <table class="tblResults stripeMe lstEquipment">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>@DGUtils.ToTitleCase( ResStrings.NUMBER )</th>
                <th>@DGUtils.ToTitleCase( @ResStrings.DESCRIPTION )</th>
                <th>@DGUtils.ToTitleCase( @ResStrings.SERIAL_NUMBER )</th>
                <th>@DGUtils.ToTitleCase( @ResStrings.CONTACT )</th>
                <th>@DGUtils.ToTitleCase( @ResStrings.LOCATION )</th>
            </tr>
        </thead>
        <tbody id="tbEquipmentList" class="itemsList">
            @for (int i = 0; i < Model.Equipments.Count; i++)
            {
                <tr id="selEq_@Model.Equipments[i].EquipmentID">
                    <td id="selEqChk_@Model.Equipments[i].EquipmentID"></td>
                    <td>@Model.Equipments[i].EquipmentNumber</td>
                    <td>@Model.Equipments[i].Description</td>
                    <td>@Model.Equipments[i].SerialNumber</td>
                    <td>@Model.Equipments[i].Contact<br />@Model.Equipments[i].ContactPhone</td>
                    <td>@Model.Equipments[i].CustomerName (@Model.Equipments[i].CustomerNumber)<br />
                        @Model.Equipments[i].Address<br />
                        @Model.Equipments[i].City, @Model.Equipments[i].State @Model.Equipments[i].Zip
                        @if (@Model.Equipments[i].LocationName != "")
                        {
                            <div class="divEquipRemarks">@Model.Equipments[i].LocationName</div>
                        }
                        
                        </td>
                </tr>
            }
        </tbody>
    </table>
</div>
