﻿@using DealerGateway.CustomerUI.Domain;
@using DealerGateway.CustomerUI.Resources;
@{
    ViewBag.Title = "EquipmentMoveConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {

        ButtonBarUISetup();

        $(".stripeMe tr:even").addClass("alt");

    });

</script>

<style type="text/css">
</style>

<div class="buttonBar ezColorT2">
    <div class="btnBarItem">
        <a href="javascript:GoBack();">
            <img id="btnBack" src="~/Content/Images/Arrow-Left.png" alt="@ResStrings.BACK" title="@ResStrings.BACK" />
            <div>@ResStrings.BACK</div>
        </a>
    </div>
    <div class="btnBarItem btnBarGreen">
        <a href='@Url.Action("Index", "Gateway")'>
            <img id="btnSave" src="~/Content/Images/save.png" alt="@ResStrings.SAVE" title="@ResStrings.SAVE_EQUIPMENT_MOVE_ORDER" />
            <div>@ResStrings.SAVE</div>
        </a>
    </div>
    <div class="btnBarItem">
        <a href="javascript:Print();">
            <img id="btnPrint" src="~/Content/Images/Print.png" alt="@ResStrings.PRINT_LIST" title="@ResStrings.PRINT_LIST" />
            <div>@ResStrings.PRINT</div>
        </a>
    </div>

    <div class="btnBarItemRight btnBarPink">
        <a href='@Url.Action("Index", "Gateway")'>
            <img id="btnCancel" src="~/Content/Images/cancel.png" alt="@ResStrings.CANCEL" title="@ResStrings.CANCEL_THIS_EQUIPMENT_MOVE_ORDER" />
            <div>@ResStrings.CANCEL</div>
        </a>
    </div>
</div>

<div class="dlgPanel ezColorT7 dlgTitleBar">
    <div>@Html.Raw(DGUtils.FormatTitle(ResStrings.CONFIRM_EQUIPMENT_MOVE_ORDER))</div>
</div>

<div id="divTileContainer" class="dlgPanel ezColorT1" style="background-image:url('../../Content/Images/printer.png'); background-repeat:no-repeat; background-position:right; background-position-y:bottom;">
    <div class="dlgHeadingWizard">@ResStrings.STEP <span class="wizStepNumber">2</span> <span class="wizOfInfo">@ResStrings.OF 2</span></div>
    <div class="divInfoHolder" style="width:80%;">
        <div class="divRow bottomBorder">
            <label class="alignRight">@ResStrings.EQUIPMENT_TO_MOVE:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">6290-2654<br />AL08033600A0<br />9650N MPS Okidata Color Printer</div>
        </div>
        <div class="divRow bottomBorder">
            <label class="alignRight">@ResStrings.CURRENT_LOCATION:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">Amanzi Tea - Warehouse<br />2451 West Street<br />Oakland, CA 90821</div>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.NEW_LOCATION:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">Amanzi Tea<br />11 Freedom Court<br />Fairfield, CA 90225</div>
        </div>
        <div class="divRow bottomBorder">
            <label class="alignRight">@ResStrings.LOCATION_REMARKS:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">Upstairs in room 515.  There is a place at the east end of the room, next to the water cooler that should be good for it.</div>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.REQUESTOR:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">Doug Hannett</div>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.REQUEST_DATE:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">6/18/2012</div>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.REQUEST_NOTES:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">We would like it by next Wednesday, if possible.</div>
        </div>
    </div>
    <div class="clear"></div>
</div>
