﻿@using DealerGateway.CustomerUI.Domain;
@using DealerGateway.CustomerUI.Resources;

@model DealerGateway.CustomerUI.Models.Equipment
@{
    ViewBag.Title = @ResStrings.EQUIPMENT;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {

        ButtonBarUISetup();

        //Alternating row colors
        //
        $(".stripeMe tr:even").addClass("alt");
        $(".stripeMe tr").mouseover(function () {
            $(this).addClass("hover");
        });
        $(".stripeMe tr").mouseout(function () {
            $(this).removeClass("hover");
        });

        //Prevent last column from wrapping
        //
        $(".stripeMe tr td:last").css("white-space", "nowrap");


        $("#btnShowMoreMeterHistory").button();

    });
</script>

<div class="buttonBar ezColorT2">
    <div class="btnBarItem">
        <a href="javascript:GoBack();">
            <img id="btnBack" src="~/Content/Images/Arrow-Left.png" alt="Back" title="Back" />
            <div>Back</div>
        </a>
    </div>

    <div class="btnBarItemRight">
        <a href='@Url.Action("Index", "Gateway")'>
            <img id="btnHome" src="~/Content/Images/home.png" alt="Home" title="Home" />
            <div>Home</div>
        </a>
    </div>
</div>

<div id="divTileContainer" class="dlgPanel ezColorT1">
    <div class="dlgHeadingSub">Equipment information:</div>
    <div class="divInfoHolder">
        <div class="divRow">
            <label>@ResStrings.EQUIPMENT_NUMBER:</label>
            <span></span>
        </div>
        <div class="divRow">
            <label>Item number:</label>
            <span>62436504</span>
        </div>
        <div class="divRow">
            <label>Serial number:</label>
            <span>AL08033600A0</span>
        </div>
        <div class="divRow">
            <label>Model:</label>
            <span>9650N MPS Okidata Color Printer</span>
        </div>
        <div class="divRow">
            <label>Install date:</label>
            <span>6/14/2009</span>
        </div>
        <div class="divRow bottomBorder">
            <label>Warranty date:</label>
            <span>---</span>
        </div>
        <div class="divRow">
            <label>Location:</label>
            <span>Customer number: AT00<br />Amanzi Tea<br />11 Freedom Court<br />Greer, SC  29650</span>
        </div>
    </div>
    <div class="divInfoHolder">
        <div class="divRow">
            <label>Contact name:</label>
            <span>Eric Stevens</span>
        </div>
        <div class="divRow">
            <label>Phone number:</label>
            <span>864-848-1191</span>
        </div>
        <div class="divRow">
            <label>Fax number:</label>
            <span>---</span>
        </div>
        <div class="divRow bottomBorder">
            <label>Email address:</label>
            <span>estevens@amanzitea.com</span>
        </div>
        <div class="divRow">
            <label>Decision maker name:</label>
            <span>Raymond Levy</span>
        </div>
        <div class="divRow">
            <label>Phone number:</label>
            <span>864-848-1191</span>
        </div>
        <div class="divRow">
            <label>Fax number:</label>
            <span>---</span>
        </div>
        <div class="divRow">
            <label>Email address:</label>
            <span>rlevy@amanzitea.com</span>
        </div>
    </div>
</div>

<div class="dlgPanel ezColorT1">
    <div class="dlgHeadingSub">Contract information:</div>
    <div class="divInfoHolder">
        <div class="divRow">
            <label>Contract number:</label>
            <span>C4048-01</span>
        </div>
        <div class="divRow">
            <label>Start date:</label>
            <span>10/13/2010</span>
        </div>
        <div class="divRow bottomBorder">
            <label>Expiration date:</label>
            <span>---</span>
        </div>
        <div class="divRow">
            <label>Bill code:</label>
            <span>Full Plus</span>
        </div>
        <div class="divRow bottomBorder">
            <label>Bill code description:</label>
            <span>Full Plus W/Supplies</span>
        </div>
        <div class="divRow">
            <label>Contract status:</label>
            <span>Active</span>
        </div>
    </div>
    <div class="divInfoHolder">
        <div class="divRow">
            <label>Contact name:</label>
            <span>Raymond Levy</span>
        </div>
        <div class="divRow">
            <label>Phone number:</label>
            <span>864-848-1191</span>
        </div>
        <div class="divRow">
            <label>Fax number:</label>
            <span>---</span>
        </div>
        <div class="divRow">
            <label>Email address:</label>
            <span>rlevy@amanzitea.com</span>
        </div>
    </div>
</div>

<div class="dlgPanel ezColorT1">
    <div class="dlgHeadingSub">Meter history:</div>
    <div class="ddList">
        <table class="tblResults stripeMe">
            <thead>
                <tr>
                    <th>Meter Type</th>
                    <th>Date</th>
                    <th>Meter Display</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="scrollContent1">
                <tr>
                    <td>B\W</td>
                    <td>2012-06-01 -- 06:23am</td>
                    <td class="alignRight">1,600</td>
                    <td style="width:50%;">&nbsp;</td>
                </tr>
                <tr>
                    <td>Color</td>
                    <td>2012-06-01 -- 06:23am</td>
                    <td class="alignRight">19,500</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>B\W</td>
                    <td>2012-05-01 -- 06:18am</td>
                    <td class="alignRight">1,500</td>
                    <td style="width:50%;">&nbsp;</td>
                </tr>
                <tr>
                    <td>Color</td>
                    <td>2012-05-01 -- 06:18am</td>
                    <td class="alignRight">16,317</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>B\W</td>
                    <td>2012-04-01 -- 06:19am</td>
                    <td class="alignRight">1,387</td>
                    <td style="width:50%;">&nbsp;</td>
                </tr>
                <tr>
                    <td>Color</td>
                    <td>2012-04-01 -- 06:19am</td>
                    <td class="alignRight">15,811</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>B\W</td>
                    <td>2012-03-01 -- 06:11am</td>
                    <td class="alignRight">1,125</td>
                    <td style="width:50%;">&nbsp;</td>
                </tr>
                <tr>
                    <td>Color</td>
                    <td>2012-03-01 -- 06:11am</td>
                    <td class="alignRight">15,519</td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
        <div style="margin:10px 0 0 0;">
            <button id="btnShowMoreMeterHistory" >Show More Meter History</button>
        </div>
    </div>
</div>

<div class="dlgPanel ezColorT1">
    <div class="dlgHeadingSub">Service history:</div>
    <div class="ddList">
        <table class="tblResults stripeMe">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Problem Description</th>
                    <th>Call Type</th>
                </tr>
            </thead>
            <tbody class="scrollContent1">
                <tr>
                    <td>2/23/2012</td>
                    <td>Has questions about paper thickness</td>
                    <td>Regular</td>
                </tr>
                <tr>
                    <td>1/17/2012</td>
                    <td>Drums is old on printer.</td>
                    <td>Regular</td>
                </tr>
                <tr>
                    <td>8/30/2011</td>
                    <td>About to print large job. Wants machine checked out to make sure machine will be able to process job. Take waste toner bottle.</td>
                    <td>Regular</td>
                </tr>
                <tr>
                    <td>4/1/2011</td>
                    <td>Needs toner picked up</td>
                    <td>Regular</td>
                </tr>
                <tr>
                    <td>10/22/2010</td>
                    <td>Needs duplex unit installed</td>
                    <td>Regular</td>
                </tr>
                <tr>
                    <td>10/11/2010</td>
                    <td>Please install new Oki 9650 Color Printer located in warehouse.</td>
                    <td>Equipment Installation</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
