﻿@using DealerGateway.CustomerUI.Domain;
@using DealerGateway.CustomerUI.Resources;

@model DealerGateway.CustomerUI.Models.Equipment

<div id="divTileContainer" class="dlgPanel ezColorT1">
    <div class="dlgHeadingSub">@ResStrings.EQUIPMENT_INFORMATION</div>
    <div class="divInfoHolder">
        <div class="divRow">
            <label class="alignRight">@ResStrings.EQUIPMENT_NUMBER:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(Model.EquipmentNumber)</div>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.ITEM_NUMBER:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(Model.ItemNumber)</div>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.SERIAL_NUMBER:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(Model.SerialNumber)</div>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.DESCRIPTION:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(Model.Description)</div>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.INSTALL_DATE:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(Model.InstallDate)</div>
        </div>
        <div class="divRow bottomBorder">
            <label class="alignRight">@ResStrings.WARRANTY_DATE:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(Model.WarrantyDate)</div>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.LOCATION:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(Model.CustomerName) (@DGUtils.FormatValue(Model.CustomerNumber))<br />@DGUtils.FormatValue(Model.Address)<br />@DGUtils.FormatValue(Model.City), @DGUtils.FormatValue(Model.State)  @DGUtils.FormatValue(Model.Zip)</div>
        </div>
        @if(Model.LocationName.Length > 0)
        {
        <div class="divRow">
            <label class="alignRight">@ResStrings.REMARKS:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(Model.LocationName)</div>
        </div>
        }
    </div>
    <div class="divInfoHolder">
        <div class="divRow">
            <label class="alignRight">@ResStrings.CONTACT:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(Model.Contact)</div>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.PHONE_NUMBER:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(Model.ContactPhone)</div>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.FAX_NUMBER:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(Model.ContactFax)</div>
        </div>
        <div class="divRow bottomBorder">
            <label class="alignRight">@ResStrings.EMAIL:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(Model.ContactEmail)</div>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.DECISION_MAKER:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(Model.DecisionMaker)</div>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.PHONE_NUMBER:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(Model.DecisionMakerPhone)</div>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.FAX_NUMBER:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(Model.DecisionMakerFax)</div>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.EMAIL:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(Model.DecisionEmail)</div>
        </div>
    </div>
</div>
