﻿@using DealerGateway.CustomerUI.Domain;
@using DealerGateway.CustomerUI.Resources;

@model DealerGateway.CustomerUI.Models.EquipmentList
@{
    ViewBag.Title = @ResStrings.EQUIPMENT;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {

        ButtonBarUISetup();

        //Alternating row colors
        //
        $(".stripeMe tr:even").addClass("alt");

        $(".itemsList tr td").addClass("NoPointer");

        $(".ezmark").ezMark();

        $("#dialog-message").dialog({
            modal: true,
            autoOpen: false,
            height: 200,
            width: 370,
            resizable: false,
            buttons: {
                "@ResStrings.OK": function () {
                    $(this).dialog("close");
                }
            }
        });

    });

    var isSelectionAll = false;
    function PrintQRCodes() {

        // 1. Check to make sure at least one is selected
        if ($("#EquipmentListForm input:checkbox.ezmark:checked").length == 0) {
            $("#dialog-message").dialog("open");
        }
        else {
        // 2. Submit the form
            $('#EquipmentListForm').submit();
        }


    }

    function ToggleSelection() {
        //alert(isSelectionAll);
        switch (isSelectionAll) {
            case true:
                $(".ezmark").closest("div").removeClass("ez-checked");
                $(".ezmark").attr("checked", !isSelectionAll);
                break;

            case false:
                $(".ezmark").closest("div").addClass("ez-checked");
                $(".ezmark").attr("checked", !isSelectionAll);
                break;
        }
        isSelectionAll = !isSelectionAll;
    }
</script>

<style type="text/css">
    .ez-checkbox {
        float:none; 
    }
</style>

@using (Html.BeginForm("Equipments", "Service", FormMethod.Post, new {id = "EquipmentListForm"})) {
<div class="buttonBar ezColorT2">
    <div class="btnBarItem">
        <a href="javascript:GoBack();">
            <img id="btnBack" src="~/Content/Images/Arrow-Left.png" alt="@ResStrings.BACK" title="@ResStrings.BACK" />
            <div>@ResStrings.BACK</div>
        </a>
    </div>
@if ( Model.EnableQRCodes )
{
    <div class="btnBarItem">
        <a href="javascript:PrintQRCodes();">
            <img id="btnQRCodes" src="~/Content/Images/QRCode.png" alt="@ResStrings.PRINT_QR_CODES" title="@ResStrings.PRINT_QR_CODES" />
            <div>@ResStrings.QR_CODES</div>
        </a>
    </div>
    <div class="btnBarItem">
        <a href="javascript:ToggleSelection();">
            <img id="btnToggleSelection" src="~/Content/Images/SelectAll.png" alt="@ResStrings.TOGGLE_BETWEEN_SELECT_ALL_AND_SELECT_NONE" title="@ResStrings.TOGGLE_BETWEEN_SELECT_ALL_AND_SELECT_NONE" />
            <div>@ResStrings.SELECT</div>
        </a>
    </div>
}
    <div class="btnBarItem">
        <a href="javascript:Print();">
            <img id="btnPrint" src="~/Content/Images/Print.png" alt="@ResStrings.PRINT_LIST" title="@ResStrings.PRINT_LIST" />
            <div>@ResStrings.PRINT</div>
        </a>
    </div>

    <div class="btnBarItemRight">
        <a href='@Url.Action("Index", "Gateway")'>
            <img id="btnHome" src="~/Content/Images/home.png" alt="@ResStrings.HOME" title="@ResStrings.HOME" />
            <div>@ResStrings.HOME</div>
        </a>
    </div>
</div>

<div class="dlgPanel ezColorT7 dlgTitleBar">
    <div>@Html.Raw(DGUtils.FormatTitle(ResStrings.EQUIPMENT))</div>
</div>

<div id="divTileContainer" class="dlgPanel ezColorT1">
<div class="dlgHeadingSub">
    @Model.ListTitle
    @if (@Model.SearchText.Length > 0)
    {
        <span class="searchResultsLabel">@ResStrings.SEARCH_RESULTS_FOR <span class="bold">@Model.SearchText</span></span>
    }
</div>

    @if (@Model.Equipments.Count == 0)
    {
        <div class="infoDiv">
            @ResStrings.NO_RESULTS_EQUIPMENT_SEARCH
        </div>
    }
    else
    {

    <div  class="ddList">
        <table class="tblResults stripeMe">
            <thead>
                <tr>
                    <th>@ResStrings.NUMBER</th>
                    <th>@ResStrings.DESCRIPTION</th>
                    <th>@ResStrings.SERIAL_NUMBER</th>
                    <th>@ResStrings.CONTACT</th>
                    <th>@ResStrings.PHONE</th>
                    <th>@ResStrings.CUSTOMER</th>
                    <th>@ResStrings.LOCATION</th>
@if ( Model.EnableQRCodes ) { <th style="text-align:center;">@ResStrings.QR_CODES</th> }
                </tr>
            </thead>
            <tbody id="tbEquipmentList" class="itemsList">
                @for (int i = 0; i < Model.Equipments.Count; i++)
                {
                    <tr>
                        <td>@Html.ActionLink(@Model.Equipments[i].EquipmentNumber, "EquipmentView", "Service", new { id = Model.Equipments[i].EquipmentID }, new { @class = "bold" })@Html.HiddenFor(m=>m.Equipments[i].EquipmentNumber)</td>
                        <td>@Model.Equipments[i].Description@Html.HiddenFor(m=>m.Equipments[i].Description)</td>
                        <td>@Model.Equipments[i].SerialNumber@Html.HiddenFor(m=>m.Equipments[i].SerialNumber)</td>
                        <td>@Model.Equipments[i].Contact</td>
                        <td>@Model.Equipments[i].ContactPhone</td>
                        <td>@Model.Equipments[i].CustomerName (@Model.Equipments[i].CustomerNumber)</td>
                        <td>@if (@Model.Equipments[i].LocationName != "")
                            {
                                @Model.Equipments[i].Address@:, @Model.Equipments[i].City<br />@Model.Equipments[i].LocationName
                            }
                            else
                            {
                                @Model.Equipments[i].Address@:, @Model.Equipments[i].City
                            }
                        </td>
@if ( Model.EnableQRCodes ) { <td class="alignCenter">@Html.CheckBoxFor(m => m.Equipments[i].PrintQRCode, new { @class="ezmark" })
                                @Html.HiddenFor(m=>m.Equipments[i].EquipmentID)
                              </td> }
                    </tr>
                }
            </tbody>
        </table>
    </div>
        <div class="ListItemCount">
            <span class="bold">@Model.Equipments.Count.ToString("n0")</span> @if (@Model.Equipments.Count == 1)
                                                                           { @ResStrings.LIST_ITEM }
                                                                           else
                                                                           { @ResStrings.LIST_ITEMS }
        </div>        
        
    }
</div>
}

<div id="dialog-message" title="@ResStrings.ATTENTION">
	<div class="infoDiv">
		@ResErrors.QR_CODE_SELECT_ONE_MSG
	</div>
</div>