@using DealerGateway.CustomerUI.Domain;
@using DealerGateway.CustomerUI.Models; 
@using DealerGateway.CustomerUI.Resources;

@model DealerGateway.CustomerUI.Models.EquipmentMoveOrder

@{
    ViewBag.Title = ResStrings.NEW_EQUIPMENT_MOVE_ORDER;
    Layout = "~/Views/Shared/_Layout.cshtml";

    DealerSettings ds = new DealerSettings();
    try
    {
        ds.Load();
    }
    finally
    {
    }

}

<script type="text/javascript">

    $(document).ready(function () {

        ButtonBarUISetup();
        MoreButtonUISetup();
        $("#btnGo").button();
        $("#btnGo").click(function () {
            DoSearch(1);
        });

        //Date picker
        //
        $("#RequestDate_Date").datepicker({
            dateFormat: "m/d/yy"
        });

        //Alternating row colors
        //
        StripeMe();

        //Prevent last column from wrapping
        //
        $(".stripeMe tr td:last").css("white-space", "nowrap");

        //Select Equipment Dialog
        //
        $("#dlgSelectEquipment").dialog({
            modal: true,
            autoOpen: false,
            height: 500,
            width: 850,
            resizable: false,
            hide: "blind",
            buttons: {
                "@ResStrings.CANCEL": function () {
                    $(this).dialog("close");
                }
            }
        });

        //Select Location Dialog
        //
        $("#dlgSelectLocation").dialog({
            modal: true,
            autoOpen: false,
            height: 350,
            width: 400,
            resizable: false,
            hide: "blind",
            buttons: {
                "@ResStrings.CANCEL": function () {
                    $(this).dialog("close");
                }
            }
        });

        // Used for the rollover effect of the dropdown list items
        //
        $(".ddList ul li")
            .mouseover(function () {
                $(this).addClass("hover");
            })
            .mouseout(function () {
                $(this).removeClass("hover");
            });

        // Used to select charge method list item
        //
        $(".lstSelectLocation tbody tr:even").addClass("alt");
        $(".lstSelectLocation tbody tr").mouseover(function () {
            $(this).addClass("over");
        });
        $(".lstSelectLocation tbody tr").mouseout(function () {
            $(this).removeClass("over");
        });
        $(".lstSelectLocation tbody tr").click(function () {
            var aryLocationInfo = $(this).html();
            while (aryLocationInfo.indexOf("<TD>") != -1)
                aryLocationInfo = aryLocationInfo.replace("<TD>", "<td>");
            while (aryLocationInfo.indexOf("</TD>") != -1)
                aryLocationInfo = aryLocationInfo.replace("</TD>", "</td>");
            aryLocationInfo = aryLocationInfo.split("</td>");
            $("#lnkSelectLocation").html(aryLocationInfo[1].replace("<td>", ""));
            $("#dlgSelectLocation").dialog("close");
            $("#LocationID").val($(this).attr("id").substring(6, $(this).attr("id").length));
        });

        SetUpEquipmentListSelection();

        //Set the textareas to grow
        //
        $("textarea").elastic();

        $('#txtSearch').keydown(function (event) {
            if (event.keyCode == 13) {
                $('#btnGo').trigger('click');
            }
        });

        //selectLocation(); //Not sure why this was added in, but I commented it out.

    });

    function selectEquipment() {
        if ($("#EquipmentID").val().length > 0) {
            //First, remove all checkmarks
            $('[id^="selEqChk_"]').html('<img src=\'@Url.Content("~/Content/Images/checkMark-Disabled.png")\' alt="" />');
            //Next, add the checkmark to the right row
            $("#selEqChk_" + $("#EquipmentID").val()).html('<img src=\'@Url.Content("~/Content/Images/checkMark.png")\' alt="" />');
        }
        $("#dlgSelectEquipment").dialog("open");
        $("#txtSearch").focus();
    }

    function selectLocation() {
        if ($("#LocationID").val().length > 0) {
            //First, remove all checkmarks
            $('[id^="selLoChk_"]').html('<img src=\'@Url.Content("~/Content/Images/checkMark-Disabled.png")\' alt="" />');
            //Next, add the checkmark to the right row
            $("#selLoChk_" + $("#LocationID").val()).html('<img src=\'@Url.Content("~/Content/Images/checkMark.png")\' alt="" />');
        }
        $("#dlgSelectLocation").dialog("open");
    }

    function selectDate() {
        $("#RequestDate_Date").datepicker("show");
    }

    function SaveMove() {
        var isValid = true;
        var aryWarning = new Array();

        //validate client side
        if ($("#EquipmentID").val() == "0") {
            isValid = false;
            aryWarning.push("@ResErrors.YOU_MUST_SELECT_AN_EQUIPMENT_TO_MOVE_MSG");
        }
        if ($("#LocationID").val() == "0") {
            isValid = false;
            aryWarning.push("@ResErrors.YOU_MUST_SELECT_A_LOCATION_TO_MOVE_MSG");
        }
        if ($("#LocationRemarks").val().length == 0) {
            isValid = false;
            aryWarning.push("@ResErrors.YOU_MUST_ENTER_A_LOCATION_REMARK_MSG");
        }

        //OK. Save and move on
        if (isValid) {
            //Submit
            if ($("#txtRequestorName").length > 0) {
                $("#RequestorName").val($("#txtRequestorName").val());
            }
            $('#MoveOrder').submit();
        }
        else {
            var str = "";
            str += "<ul style='margin:0;'>";
            for (var i = 0; i < aryWarning.length; i++) {
                str += "<li>";
                str += aryWarning[i];
                str += "</li>";
            }
            str += "</ul>";
            $("#divValidation").html(str);
            $("#divValidation").show("blind");
        }
    }

</script>

<style type="text/css">
    .lstEquipment {
        width:100%;
    }
    #RequestDate_Date {
        background-color:transparent;
        border:0px none;
        color: #fff;
        cursor: pointer;
        float: left;
        font-family: "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, Helvetica, Verdana, sans-serif;
        font-size:1.0em;
        font-weight:bold;
        margin:0;
        padding:0;
        width:115px;
    }

    #selectEquipmentRadios {
        padding:0 0 10px 0;
    }
    #selectEquipmentRadios .ui-state-default {
        background-color:#ABB8BF;
        color:#015581;
        font-size:.9em;
    }
    #selectEquipmentRadios .ui-state-active {
        background-color:#015581;
        color:#fff;
    }
    .ui-buttonset .ui-button {
        margin-right:-.5em;     
    }


    
</style>

@using (Html.BeginForm("EquipmentMoveOrder", "Service", FormMethod.Post, new {id = "MoveOrder"})) {
    <div class="buttonBar ezColorT2">
        <div class="btnBarItem btnBarPink">
            <a href="javascript:GoBack();">
                <img id="btnCancel" src="~/Content/Images/cancel.png" alt="@ResStrings.CANCEL" title="@ResStrings.CANCEL" />
                <div>@ResStrings.CANCEL</div>
            </a>
        </div>
        <div class="btnBarItem btnBarGreen">
            <a href='javascript:SaveMove();'>
                <img id="btnNext" src="~/Content/Images/save.png" alt="@ResStrings.SAVE" title="@ResStrings.SAVE" />
                <div>@ResStrings.SAVE</div>
            </a>
        </div>
    </div>

    <div class="dlgPanel ezColorT7 dlgTitleBar">
        <div>@Html.Raw(DGUtils.FormatTitle(ResStrings.NEW_EQUIPMENT_MOVE_ORDER))</div>
    </div>

    <div id="divValidation" class="warningDiv" style="display:none; margin-right:8px;">

    </div>

    <div class="dlgPanel ezColorT1" style="min-height:100px;">
        <div class="dlgHeadingSub">@ResStrings.EQUIPMENT_TO_MOVE</div>
        <div class="divInfoHolder" style="width:80%; min-height:50px;">
            <div class="divRow">
                <label class="alignRight">@ResStrings.EQUIPMENT_TO_MOVE:</label>
                <span class="req">*</span>
                <a id="lnkSelectEquipment" href="javascript:selectEquipment();" class="dlgLink bold FloatLeft"><span id="s1">--@ResStrings.SELECT_EQUIPMENT--</span><br /><span id="s2"></span><br /><span id="s3"></span><br /></a>
                <button type="button" class="ui-state-default ddDots" onclick="javascript:selectEquipment();" title="@ResStrings.SELECT_EQUIPMENT"><img src="~/Content/Images/Dots.png" alt="" /></button>
            </div>
            <div class="divRow">
                <label class="alignRight">@ResStrings.EQUIPMENT_CONTACT:</label>
                <span class="notreq">&nbsp;</span>
                <div id="divEquipContact" class="val">---</div>
            </div>
            <div class="divRow">
                <label class="alignRight">@ResStrings.CURRENT_LOCATION:</label>
                <span class="notreq">&nbsp;</span>
                <div id="divCurLocation" class="val">---</div>
            </div>
            @if(ds.ShowLocationRemarks)
            {
            <div id="divCurRmks" class="divRow">
                <label class="alignRight">@ResStrings.LOCATION_REMARKS:</label>
                <span class="notreq">&nbsp;</span>
                <div id="divCurRemarks" class="val">
                    @if (Model.EquipmentID == 0)
                    {
                        @Html.Raw("---")
                    }
                    else
                    {
                        @DGUtils.FormatValue(Model.LocationRemarks) <br /> 
                    }
                </div>
            </div>
            }

        </div>
    </div>

    <div class="dlgPanel ezColorT1" style="min-height:100px;">
        <div class="dlgHeadingSub">@ResStrings.NEW_LOCATION</div>
        <div class="divInfoHolder" style="width:80%; min-height:50px;">
            <div class="divRow">
                <label class="alignRight">@ResStrings.NEW_LOCATION:</label>
                <span class="req">*</span>
                <a id="lnkSelectLocation" href="javascript:selectLocation();" class="dlgLink bold FloatLeft">--@ResStrings.SELECT_LOCATION--</a>
                <button type="button" class="ui-state-default ddDots" onclick="javascript:selectLocation();" title="@ResStrings.SELECT_LOCATION"><img src="~/Content/Images/Dots.png" alt="" /></button>
            </div>
            <div class="divRow">
                <label class="alignRight">@ResStrings.LOCATION_REMARKS:</label>
                <span class="req">*</span>
                <span>@Html.TextAreaFor(m => m.LocationRemarks, new { @cols = 40, @rows = 2, style="height:34px;" })</span>
            </div>
        </div>
    </div>

    <div class="dlgPanel ezColorT1" style="min-height:100px;">
        <div class="dlgHeadingSub">@ResStrings.MOVE_INFORMATION</div>
        <div class="divInfoHolder" style="width:80%; min-height:50px;">
            <div class="divRow">
                <label class="alignRight">@ResStrings.REQUESTOR:</label>
                
                @if (Model.DoNotEnforceContractIdentity == false)
                {
                    <span class="notreq">&nbsp;</span>
                }
                else
                {
                    <span class="req">*</span>
                }
                <div class="val">
                    @if (Model.DoNotEnforceContractIdentity == false)
                    {
                        @Model.RequestorName
                    }
                    else
                    {
                        <input type="text" id="txtRequestorName" class="bold" />
                    }
                </div>
            </div>
            <div class="divRow">
                <label class="alignRight">@ResStrings.REQUEST_DATE:</label>
                <span class="notreq">&nbsp;</span>
                @Html.EditorFor(m =>m.RequestDate.Date, new { style = "width:115px;" })
                <button type="button" class="ui-state-default ddDots" onclick="javascript:selectDate();" title="@ResStrings.SELECT_DATE"><img src="~/Content/Images/Dots.png" alt="" /></button>
            </div>
            <div class="divRow">
                <label class="alignRight">@ResStrings.REQUEST_NOTES:</label>
                <span class="notreq">&nbsp;</span>
                <span>@Html.TextAreaFor(m => m.RequestNote, new { @cols = 40, @rows = 2, style="height:34px;" })</span>
            </div>
        </div>
        <div class="clear"></div>
    </div>

    @Html.HiddenFor(m => m.EquipmentID)
    @Html.HiddenFor(m => m.LocationID)
    @Html.HiddenFor(m => m.RequestorName)
}

@Html.Partial("EquipmentSelectDialogPartial")



<div id="dlgSelectLocation" title="@DGUtils.ToTitleCase(ResStrings.SELECT_LOCATION)">
    <div class="ddList">
        <table class="lstSelectLocation">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th style="width:100%;">@DGUtils.ToTitleCase(ResStrings.LOCATION)</th>
                </tr>
            </thead>
            <tbody>
            @foreach (DealerGateway.CustomerUI.Models.EquipmentLocation location in Model.Locations)
            {
                <tr id="selLo_@location.CustomerID">
                    <td id="selLoChk_@location.CustomerID"><img src='~/Content/Images/checkMark-Disabled.png' alt='' /></td>
                    <td>@location.Location</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>


