﻿@using DealerGateway.CustomerUI.Domain; 
@using DealerGateway.CustomerUI.Resources; 

@model DealerGateway.CustomerUI.Models.EquipmentMix

@{
    ViewBag.Title = ResStrings.EQUIPMENT_MIX_BY_MODEL;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{string chartClass = "";}

<script type="text/javascript">
    $(document).ready(function () {
        ButtonBarUISetup();
        SetupRowStripeing();
    });

    function SetupRowStripeing() {
        //Alternating row colors
        //
        $(".stripeMe tr:even").addClass("alt");
        $(".stripeMe tr").mouseover(function () {
            $(this).addClass("hover");
        });
        $(".stripeMe tr").mouseout(function () {
            $(this).removeClass("hover");
        });
    }
</script>

<div class="buttonBar ezColorT2">
    <div class="btnBarItem">
        <a href="javascript:GoBack();">
            <img id="btnBack" src="~/Content/Images/Arrow-Left.png" alt="@ResStrings.BACK" title="@ResStrings.BACK" />
            <div>@ResStrings.BACK</div>
        </a>
    </div>
    <div class="btnBarItem">
        <a href="javascript:Print();">
            <img id="btnPrint" src="~/Content/Images/Print.png" alt="@ResStrings.PRINT_LIST" title="@ResStrings.PRINT_LIST" />
            <div>@ResStrings.PRINT</div>
        </a>
    </div>
    <div class="btnBarItemRight">
        <a href='@Url.Action("Index", "Gateway")'>
            <img id="btnHome" src="~/Content/Images/home.png" alt="@ResStrings.HOME" title="@ResStrings.HOME" />
            <div>@ResStrings.HOME</div>
        </a>
    </div>
</div>

<div class="dlgPanel ezColorT7 dlgTitleBar">
    <div>@Html.Raw(DGUtils.FormatTitle(ResStrings.MIX_IN_FIELD))</div>
</div>

<div id="divTileContainer" class="dlgPanel ezColorT1">
<div class="dlgHeadingSub">
    @ResStrings.EQUIPMENT_MIX_BY_MODEL 
</div>

    @if (1 == 0)
    {
        <div class="infoDiv">
            @ResStrings.NO_RESULTS_EQUIPMENT_SEARCH
        </div>
    }
    else
    {

    <div  class="ddList">
        <table class="tblResults stripeMe">
            <thead>
                <tr>
                    <th>@ResStrings.ITEM</th>
                    <th>@ResStrings.DESCRIPTION</th>
                    <th>@ResStrings.COUNT</th>
                    <th style="text-align:center;">@ResStrings.PERCENTAGE</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody id="tbEquipmentList" class="itemsList">
                @foreach (DealerGateway.CustomerUI.Models.EquipmentMixItem item in Model.Equipments)
                {
                    chartClass = (@item.Count > 0) ? "class=chartBar" : "";
                    <tr>
                        <td class="nobreak">@Html.ActionLink(item.Item, "EquipmentMixItems", "Service", new { Text = item.Item }, new { @class = "bold" })</td>
                        <td class="nobreak NoPointer">@item.Description</td>
                        <td class="nobreak NoPointer alignCenter">@item.Count</td>
                        <td class="nobreak NoPointer alignRight">@item.Percent%</td>
                        <td style="width:100%;" class="NoPointer">
                            <div @chartClass style="width:@item.Percent%;"></div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
        <div class="ListItemCount">
            <span class="bold">@Model.Equipments.Count</span> @if (5 == 1)
                                                                           { @ResStrings.LIST_ITEM }
                                                                           else
                                                                           { @ResStrings.LIST_ITEMS }
        </div>        
        
    }
</div>

