﻿@using DealerGateway.CustomerUI.Domain;
@using DealerGateway.CustomerUI.Resources;

@model DealerGateway.CustomerUI.Models.Equipment
@{
    string imgDn = "../../Content/Images/ArrowHead-Down-24.png";
    string imgUp = "../../Content/Images/ArrowHead-Up-24.png";

}


<div class="dlgPanel ezColorT1">
    <div class="dlgHeadingSub">
        @ResStrings.METER_HISTORY
        <span style="position:absolute; right:18px;" class="btnRoundSmall"><img id="imgChevron" alt="" title="@ResStrings.SHOW_MORE_METER_HISTORY" src="@imgDn" onclick="javascript:ToggleMeterHistory(@Model.EquipmentID);" /></span>
        <input type="hidden" id="valMeterHistoryState" value="0" />
    </div>
     @if (Model.MeterReadings.Count == 0)
    {
        <div class="infoDiv">
            @ResStrings.NO_METER_HISTORY_MSG
        </div>
    }
    else
    {
    <div class="ddList">
        <table id="tblMeters" class="tblResults stripeMe">
            <thead>
                <tr>
                    <th>@DGUtils.ToTitleCase(@ResStrings.METER_TYPE)</th>
                    <th style="text-align:center;">@DGUtils.ToTitleCase(@ResStrings.DATE)</th>
                    <th style="text-align:center;">@DGUtils.ToTitleCase(@ResStrings.METER_DISPLAY)</th>
                    <th style="width:60%;"></th>
                </tr>
            </thead>
            <tbody class="itemList stripeMe" id="meterHistoryList">
                @foreach (DealerGateway.CustomerUI.Models.MeterReading meter in Model.MeterReadings)
                {
                    <tr>
                        <td class="NoPointer">@DGUtils.FormatValue(meter.MeterType)</td>
                        <td class="alignRight nobreak NoPointer">@DGUtils.FormatValue(meter.ReadingDate, true)</td>
                        <td class="alignRight NoPointer">@DGUtils.FormatValue(meter.DisplayReading, "N0")</td>
                        <td class="NoPointer" style="width:60%;">&nbsp;</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
     }
</div>


<script type="text/javascript">
    function ToggleMeterHistory(equipID) {

        if ($("#valMeterHistoryState").val() == "0") {
            $("#valMeterHistoryState").val(1);
            GetMeterHistory(equipID, true);
            $("#imgChevron").attr("src", "@Url.Content(imgUp)");
            $("#imgChevron").attr("title", "@ResStrings.SHOW_LESS_METER_HISTORY");
        }
        else {
            $("#valMeterHistoryState").val(0);
            GetMeterHistory(equipID, false);
            $("#imgChevron").attr("src", "@Url.Content(imgDn)");
            $("#imgChevron").attr("title", "@ResStrings.SHOW_MORE_METER_HISTORY");
        }
    }

    function GetMeterHistory(equipmentID, getFull) {
        var valueToPass = {
            EquipmentId: equipmentID,
            GetFullHistory: getFull
        };

        $.ajax({
            type: "POST",
            url: '@Url.Action("MeterHistory", "Service")',
            data: JSON.stringify(valueToPass),
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function (results) {
                //alert(JSON.stringify(results));
                var newRows = '<tbody class="itemList" id="meterHistoryList">';
                if (results.length > 0) {
                    for (i = 0; i < results.length; i++) {

                        newRows += "<tr>";
                        newRows += "<td class='NoPointer'><span>" + results[i]["MeterType"] + "</span></td>";
                        newRows += "<td class='alignRight nobreak NoPointer'><span>" + results[i]["ReadingDateString"] + "</span></td>";
                        newRows += "<td class='alignRight NoPointer'><span>" + results[i]["DisplayReadingString"] + "</span></td>";
                        newRows += "<td class='NoPointer' style='width:60%;'><span>&nbsp;</span></td>";
                        newRows += "</tr>";

                    }
                }
                newRows += "</tbody>"
                $('#meterHistoryList').replaceWith(newRows);

            },
            complete: function (result) {
                SetupRowStripeing("tblMeters");
            },
            error: function () { window.location.reload(); }
        });
    }

    function SetUpButtonsSmall() {
        $(".btnRoundSmall img").addClass("btnBarBackgroundPlainSmall");
        $(".btnRoundSmall img")
        .mouseover(function () {
            $(this).addClass("btnBarBackgroundHoverSmall");
            $(this).removeClass("btnBarBackgroundPlainSmall");
        })
        .mouseout(function () {
            $(this).addClass("btnBarBackgroundPlainSmall");
            $(this).removeClass("btnBarBackgroundHoverSmall");
        });
    }

    function SetUpMeterHistoryUI(eqID) {
        var valueToPass = {
            EquipmentId: eqID,
        };

        $.ajax({
            type: "POST",
            url: '@Url.Action("MeterHistoryCount", "Service")',
            data: JSON.stringify(valueToPass),
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function (results) {
                if (results * 1 > 12) {
                    $("#imgChevron").show();
                }
                else {
                    $("#imgChevron").hide();
                }
            },
            complete: function (result) {
            },
            error: function (json) {
                alert("The system encountered an error. Could not get a count of the meter histories. Please try the action again.");
            }
        });
    }

    SetUpButtonsSmall();
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#imgChevron").hide();
        SetUpMeterHistoryUI("@Model.EquipmentID");

    });
</script>
