﻿@using DealerGateway.CustomerUI.Domain;
@using DealerGateway.CustomerUI.Resources;

@model DealerGateway.CustomerUI.Models.QRCodeEquipmentList
@{
    ViewBag.Title = @ResStrings.PRINT_QR_CODES;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {

        ButtonBarUISetup();
        $("#slider").slider({
            value: 0,
            min: 0,
            max: 20,
            step: 1,
            slide: function (event, ui) {
                $("#amount").html(ui.value);
                // Pad as needed, somehow
                for (var i = 0; i <=20; i++) {
                    if (i <= ui.value) {
                        //show
                        $("#pad_" + i).show("fade");
                    }
                    else {
                        //hide
                        $("#pad_" + i).hide("fade");
                    }
                }
            }
        });
        //$("#amount").html(("#slider").slider("value"));

    });

    function PrintLabels() {
        var userAgent = navigator.userAgent.toString().toLowerCase();
        if ((userAgent.indexOf('firefox') != -1)) {
            alert('The Firefox browser is not supported for printing labels.  Please use a different browser for printing labels.');
        }
        else {
            window.print();
        }
    }

</script>

<style type="text/css">
    body {
        width:8.5in;
        margin:.25in .0in;
        font-size:11pt;
    }
    #slider {
        margin-top:19px;
        margin-bottom:19px;
    }
    #QRCodesHolder {
        width:808px;
        padding-left:0;
        padding-right:0;
        padding-top:.25in;
        padding-bottom:.25in;
        background-color:#fff;
        border:1px solid #000;
        overflow:auto;
        margin:0 8px 0 0;
    }
    .QRLabel {
        float:left;
        width:    2.325in;
        max-width:2.325in;
        min-width:2.325in;
        height:    1.25in;
        max-height:1.25in;
        min-height:1.25in;
        overflow:hidden;
        background-color:#fff;
        outline:1px dotted #888;
        position:relative;
        padding: 10px 10px;
        margin-left: .125in; /* the gutter */
    }
    .PaddingLabel div{
        text-align:center;
        padding:30px;
    }
    .QRLabel table  {
        height:     1.25in;
        max-height: 1.25in;
        min-height: 1.25in;
        min-width:2.35in;
    }
    .QRLabel table tr td {
        vertical-align:top;
        position:relative;
        width:65px;
        min-width:65px;
    }
    .QRLabel table tr td img{
        position:absolute;
        top:-10px;
        left:-10px;
    }
    .infoLabel {
        font-size:.7em;
        color:#888;
    }
    .qrCodeInfoValue {
        font-weight:bold;
        font-size:.9em;
        margin-bottom:6px;
    }
</style>
<link rel="stylesheet" type="text/css" href="~/Content/PrintQRCodes.css" media="print">

<div class="buttonBar ezColorT2">
    <div class="btnBarItem">
        <a href="javascript:GoBack();">
            <img id="btnBack" src="~/Content/Images/Arrow-Left.png" alt="@ResStrings.BACK" title="@ResStrings.BACK" />
            <div>@ResStrings.BACK</div>
        </a>
    </div>
    <div class="btnBarItem" >
        <a href="javascript:return false;">
        <div id="slider"></div>
        <div style="width:150px;">
	        <label for="amount">@ResStrings.BLANK_PADDING_LABELS:</label>
	        <span id="amount" style="border:0; font-weight:bold;" >0</span>
        </div>
        </a>
    </div>
    <div class="btnBarItem">
        <a href="javascript:PrintLabels()">
            <img id="btnPrint" src="~/Content/Images/Print.png" alt="@ResStrings.PRINT_LIST" title="@ResStrings.PRINT_LIST" />
            <div>@ResStrings.PRINT</div>
        </a>
    </div>

    <div class="btnBarItemRight">
        <a href='@Url.Action("Index", "Gateway")'>
            <img id="btnHome" src="~/Content/Images/home.png" alt="@ResStrings.HOME" title="@ResStrings.HOME" />
            <div>@ResStrings.HOME</div>
        </a>
    </div>
</div>

<div class="dlgPanel ezColorT7 dlgTitleBar">
    <div>@Html.Raw(DGUtils.FormatTitle(ResStrings.QR_CODES, false))</div>
</div>

<div class="warningDiv" style="margin-bottom:10px; margin-right:8px;">
    <ul>
        <li>@ResStrings.USE_AVERY_OR_EQUIVALENT</li>
        <li>@ResStrings.LABEL_BROWSER_MESSAGE</li>
    </ul>
   

</div>

<div id="divTileContainer" class="dlgPanel ezColorT1" style="display:none;">
    <div class="dlgHeadingSub">@ResStrings.PAD_WITH_BLANKS_AS_NEEDED</div>
</div>
    <div id="QRCodesHolder">
        <div id="pad_1" class="QRLabel PaddingLabel" style="display:none;"><div>@ResStrings.THIS_LABEL_LEFT_BLANK_MSG</div></div>
        <div id="pad_2" class="QRLabel PaddingLabel" style="display:none;"><div>@ResStrings.THIS_LABEL_LEFT_BLANK_MSG</div></div>
        <div id="pad_3" class="QRLabel PaddingLabel" style="display:none;"><div>@ResStrings.THIS_LABEL_LEFT_BLANK_MSG</div></div>
        <div id="pad_4" class="QRLabel PaddingLabel" style="display:none;"><div>@ResStrings.THIS_LABEL_LEFT_BLANK_MSG</div></div>
        <div id="pad_5" class="QRLabel PaddingLabel" style="display:none;"><div>@ResStrings.THIS_LABEL_LEFT_BLANK_MSG</div></div>
        <div id="pad_6" class="QRLabel PaddingLabel" style="display:none;"><div>@ResStrings.THIS_LABEL_LEFT_BLANK_MSG</div></div>
        <div id="pad_7" class="QRLabel PaddingLabel" style="display:none;"><div>@ResStrings.THIS_LABEL_LEFT_BLANK_MSG</div></div>
        <div id="pad_8" class="QRLabel PaddingLabel" style="display:none;"><div>@ResStrings.THIS_LABEL_LEFT_BLANK_MSG</div></div>
        <div id="pad_9" class="QRLabel PaddingLabel" style="display:none;"><div>@ResStrings.THIS_LABEL_LEFT_BLANK_MSG</div></div>
        <div id="pad_10" class="QRLabel PaddingLabel" style="display:none;"><div>@ResStrings.THIS_LABEL_LEFT_BLANK_MSG</div></div>
        <div id="pad_11" class="QRLabel PaddingLabel" style="display:none;"><div>@ResStrings.THIS_LABEL_LEFT_BLANK_MSG</div></div>
        <div id="pad_12" class="QRLabel PaddingLabel" style="display:none;"><div>@ResStrings.THIS_LABEL_LEFT_BLANK_MSG</div></div>
        <div id="pad_13" class="QRLabel PaddingLabel" style="display:none;"><div>@ResStrings.THIS_LABEL_LEFT_BLANK_MSG</div></div>
        <div id="pad_14" class="QRLabel PaddingLabel" style="display:none;"><div>@ResStrings.THIS_LABEL_LEFT_BLANK_MSG</div></div>
        <div id="pad_15" class="QRLabel PaddingLabel" style="display:none;"><div>@ResStrings.THIS_LABEL_LEFT_BLANK_MSG</div></div>
        <div id="pad_16" class="QRLabel PaddingLabel" style="display:none;"><div>@ResStrings.THIS_LABEL_LEFT_BLANK_MSG</div></div>
        <div id="pad_17" class="QRLabel PaddingLabel" style="display:none;"><div>@ResStrings.THIS_LABEL_LEFT_BLANK_MSG</div></div>
        <div id="pad_18" class="QRLabel PaddingLabel" style="display:none;"><div>@ResStrings.THIS_LABEL_LEFT_BLANK_MSG</div></div>
        <div id="pad_19" class="QRLabel PaddingLabel" style="display:none;"><div>@ResStrings.THIS_LABEL_LEFT_BLANK_MSG</div></div>
        <div id="pad_20" class="QRLabel PaddingLabel" style="display:none;"><div>@ResStrings.THIS_LABEL_LEFT_BLANK_MSG</div></div>
        @foreach (DealerGateway.CustomerUI.Models.QRCodeEquipment eq in Model.Equipments)
        {
            <div class="QRLabel">
                <table>
                    <tr>
                        <td style="height:85px; min-height:85px; padding-right:30px;">@GatewayHelpers.QRCode(null, eq.MobileURL, 100, 4, QRCodeErrorCorrectionLevel.Low)</td>
                        <td style="width:100%;">
                            <div class="infoLabel">@ResStrings.EQUIPMENT_NUMBER:</div>
                            <div class="qrCodeInfoValue">@eq.EquipmentNumber</div>
                            <div class="infoLabel">@ResStrings.SERIAL_NUMBER:</div>
                            <div class="qrCodeInfoValue">@eq.SerialNumber</div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="infoLabel">@ResStrings.DESCRIPTION:</div>
                            <div class="qrCodeInfoValue">@eq.Description</div>
                        </td>
                    </tr>
                </table>
            </div>
        }

    </div>
