﻿@using DealerGateway.CustomerUI.Domain;
@using DealerGateway.CustomerUI.Resources;

@model DealerGateway.CustomerUI.Models.Equipment
@{
    string imgDn = "../../Content/Images/ArrowHead-Down-24.png";
    string imgUp = "../../Content/Images/ArrowHead-Up-24.png";
}

<div class="dlgPanel ezColorT1">
    <div class="dlgHeadingSub">
        @ResStrings.SERVICE_HISTORY
        <span style="position:absolute; right:18px;" class="btnRoundSmall"><img id="imgChevronService" alt="" title="@ResStrings.SHOW_MORE_SERVICE_HISTORY" src="@imgDn" onclick="javascript:ToggleServiceHistory(@Model.EquipmentID);" /></span>
        <input type="hidden" id="valServiceHistoryState" value="0" />
    </div>
     @if (Model.ServiceHistory.Count == 0)
    {
        <div class="infoDiv">
            @ResStrings.NO_SERVICE_HISTORY_MSG
        </div>
    }
    else
    {
        <div class="ddList">
            <table id="tblService" class="tblResults stripeMe">
                <thead>
                    <tr>
                        <th>@DGUtils.ToTitleCase(@ResStrings.DATE)</th>
                        <th style="width:100%;">@DGUtils.ToTitleCase(@ResStrings.PROBLEM_DESCRIPTION)</th>
                        <th>@DGUtils.ToTitleCase(@ResStrings.CALL_TYPE)</th>
                    </tr>
                </thead>
                <tbody class="scrollContent1" id="serviceHistoryList">
                    @foreach (DealerGateway.CustomerUI.Models.ServiceCall call in Model.ServiceHistory )
                    {
                        <tr>
                            <td class='alignRight NoPointer'>@DGUtils.FormatValue(call.OpenDate)</td>
                            <td class='NoPointer'>@DGUtils.FormatValue(call.Description)</td>
                            <td class='NoPointer nobreak'>@DGUtils.FormatValue(call.CallType)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

<script type="text/javascript">
    function ToggleServiceHistory(equipID) {

        if ($("#valServiceHistoryState").val()*1 == 0) {
            $("#valServiceHistoryState").val(1);
            GetServiceHistory(equipID, true);
            $("#imgChevronService").attr("src", "@Url.Content(imgUp)");
            $("#imgChevronService").attr("title", "@ResStrings.SHOW_LESS_SERVICE_HISTORY");
        }
        else {
            $("#valServiceHistoryState").val(0);
            GetServiceHistory(equipID, false);
            $("#imgChevronService").attr("src", "@Url.Content(imgDn)");
            $("#imgChevronService").attr("title", "@ResStrings.SHOW_MORE_SERVICE_HISTORY");
        }
    }

    function GetServiceHistory(equipmentID, getFull) {
        var valueToPass = {
            EquipmentId: equipmentID,
            GetFullHistory: getFull
        };

        $.ajax({
            type: "POST",
            url: '@Url.Action("ServiceHistory", "Service")',
            data: JSON.stringify(valueToPass),
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function (results) {
                //alert(JSON.stringify(results));
                var newRows = '<tbody class="itemList" id="serviceHistoryList">';
                if (results.length > 0) {
                    for (i = 0; i < results.length; i++) {
                        var tmpDesc = $.trim(results[i]["Description"]).length == 0 ? "---" : $.trim(results[i]["Description"]);

                        newRows += "<tr>";
                        newRows += "<td class='alignRight NoPointer'><span>" + results[i]["OpenDateString"] + "</span></td>";
                        newRows += "<td class='NoPointer'><span>" + tmpDesc + "</span></td>";
                        newRows += "<td class='NoPointer nobreak'><span>" + results[i]["CallType"] + "</span></td>";
                        newRows += "</tr>";

                    }
                }
                newRows += "</tbody>"
                $('#serviceHistoryList').replaceWith(newRows);

            },
            complete: function (result) {
                SetupRowStripeing("tblService");
            },
            error: function () { window.location.reload(); }
            });
    }

    function SetUpButtonsSmall() {
        $(".btnRoundSmall img").addClass("btnBarBackgroundPlainSmall");
        $(".btnRoundSmall img")
        .mouseover(function () {
            $(this).addClass("btnBarBackgroundHoverSmall");
            $(this).removeClass("btnBarBackgroundPlainSmall");
        })
        .mouseout(function () {
            $(this).addClass("btnBarBackgroundPlainSmall");
            $(this).removeClass("btnBarBackgroundHoverSmall");
        });
    }

    function SetUpServiceHistoryUI(eqID) {
        var valueToPass = {
            EquipmentId: eqID,
        };

        $.ajax({
            type: "POST",
            url: '@Url.Action("ServiceHistoryCount", "Service")',
            data: JSON.stringify(valueToPass),
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function (results) {
                if (results * 1 > 12) {
                    $("#imgChevronService").show();
                }
                else {
                    $("#imgChevronService").hide();
                }
            },
            complete: function (result) {
            },
            error: function (json) {
                alert("The system encountered an error. Could not get a count of the service histories. Please try the action again.");
            }
        });
    }

    SetUpButtonsSmall();
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#imgChevronService").hide();
        SetUpServiceHistoryUI("@Model.EquipmentID");

    });
</script>
