﻿@using DealerGateway.CustomerUI.Domain; 
@using DealerGateway.CustomerUI.Models; 
@using DealerGateway.CustomerUI.Resources; 

@model DealerGateway.CustomerUI.Models.ServiceCall

@{
    if (Model.CallID > 0)
    {
        ViewBag.Title = DGUtils.ToTitleCase(ResStrings.SERVICE_CALL);
    }
    else
    {
        ViewBag.Title = DGUtils.ToTitleCase(ResStrings.NEW_SERVICE_CALL);
    }
    Layout = "~/Views/Shared/_Layout.cshtml";

    string inputClass = "inputNormal";

    ViewBag.ExistingEquipment = Model.EquipmentID > 0;


    string chkedIS = "";
    string chkedISNOT = "";
    string classIS = "";
    string classISNOT = "";

    if (ViewBag.ExistingEquipment || (!ViewBag.ExistingEquipment && Model.EquipmentID == 0))
    {
        chkedIS = "checked=checked";
        chkedISNOT = "";
        classIS = "bold";
        classISNOT = "";
    }
    else
    {
        chkedIS = "";
        chkedISNOT = "checked=checked";
        classIS = "";
        classISNOT = "bold";
    }
    
    DealerSettings ds = new DealerSettings();
    try
    {
        ds.Load();
    }
    finally
    {
    }

    string chkMarkDisabled = "~/Content/Images/checkMark-Disabled.png";
    string chkMarkEnabled = "~/Content/Images/checkMark.png";

}

@if (ViewBag.ExistingEquipment || (!ViewBag.ExistingEquipment && Model.EquipmentID == 0))
{
    <script>
        var existingEquipment = true;
    </script>
}
else
{
    <script>
        var existingEquipment = false;
    </script>
}

<script type="text/javascript">

    $(document).ready(function () {

        ButtonBarUISetup();
        MoreButtonUISetup();

        $(".ezmark").ezMark();

        $(".radioPaymentType input:radio").change(function () {
            switch ($(this).attr("value")) {
                case "1":
                    //alert("1");
                    $("#divNotExistingDescription").css("display", "none");
                    $("#divNotExistingModel").css("display", "none");
                    $("#divNotExistingSerialNumber").css("display", "none");
                    $("#divExisting").css("display", "block");
                    $("#divEquipCon").css("display", "block");
                    $("#divCurLoc").css("display", "block");
                    $("#divCurRmks").css("display", "block");
                    break;
                case "2":
                    //alert("2");
                    $("#divExisting").css("display", "none");
                    $("#divEquipCon").css("display", "none");
                    $("#divCurLoc").css("display", "none");
                    $("#divCurRmks").css("display", "none");
                    $("#divNotExistingDescription").css("display", "block");
                    $("#divNotExistingModel").css("display", "block");
                    $("#divNotExistingSerialNumber").css("display", "block");
                    break;
            }
            $("#EquipModeType").val($(this).attr("value"));
        });

        if (!existingEquipment) {
            $("#divExisting").css("display", "none");
            $("#divEquipCon").css("display", "none");
            $("#divCurLoc").css("display", "none");
            $("#divNotExistingDescription").css("display", "block");
            $("#divNotExistingModel").css("display", "block");
            $("#divNotExistingSerialNumber").css("display", "block");
        }
        else {
            $("#divExisting").css("display", "block");
            $("#divEquipCon").css("display", "block");
            $("#divCurLoc").css("display", "block");
            $("#divNotExistingDescription").css("display", "none");
            $("#divNotExistingModel").css("display", "none");
            $("#divNotExistingSerialNumber").css("display", "none");
            $("#rdoAll").click();
            $(".findFieldControlHolder").hide();
            DoSearch(2);
        }

        //Set the textareas to grow
        //
        $("textarea").elastic();


        //Set readonly attribute
        //
        if ("@Globals.Configuration.Settings.DoNotEnforceContactIdentity" == "False" && "@Model.Caller.Length" > 0) {
            $("#Caller").attr("readonly", true);
        }
        else {
            $("#Caller").attr("readonly", false);
        }
        if ("@Globals.Configuration.Settings.DoNotEnforceContactIdentity" == "False" && "@Model.Email.Length" > 0) {
            $("#Email").attr("readonly", true);
        }
        else {
            $("#Email").attr("readonly", false);
        }
        if ("@Globals.Configuration.Settings.DoNotEnforceContactIdentity" == "False" && "@Model.Phone.Length" > 0) {
            $("#Phone").attr("readonly", true);
        }
        else {
            $("#Phone").attr("readonly", false);
        }

        //Limit input length
        $('#Description').keyup(function () {
            var maxLen = 255;
            var $this = $(this);
            if ($this.val().length > maxLen)
                $this.val($this.val().substr(0, maxLen));
        });


        $("input.inputAsLabel").prop("tabindex", "-1");
        $("input.inputAsLabelWide").prop("tabindex", "-1");
    });

    function Search(i) {
        if (i == 1) {
            //show the find controls
            $(".findFieldControlHolder").show("blind");
            //$("#searchList").hide("fade");
        }
        else {
            //hide the find controls
            $(".findFieldControlHolder").hide("blind");
            //$("#searchList").show("fade");
            DoSearch(2);
        }
    }

    function selectEquipment() {
        if ($("#EquipmentID").val().length > 0) {
            //First, remove all checkmarks
            $('[id^="selEqChk_"]').html("<img src='@Url.Content(@chkMarkDisabled)' alt='' />");
            //Next, add the checkmark to the right row
            $("#selEqChk_" + $("#EquipmentID").val()).html("<img src='@Url.Content(@chkMarkEnabled)' alt='' />");
        }
        $("#dlgSelectEquipment").dialog("open");
        $("#txtSearch").focus();
    }

    function SaveServiceCall() {
        var errArray = new Array();
        var hasErrors = false;

        //validate equipment
        if ($("input[name=rdoType]").length) {
            if ($("input[name=rdoType]:checked").val() == 1) {
                //Existing
                if ($("#EquipmentID").val() == 0) {
                    hasErrors = true;
                    errArray.push("@ResErrors.SELECT_EXISTING_EQUIPMENT_MSG");
                }
            }
            else {
                //Not existing
                if ($("#EquipmentDescription").val().length == 0) {
                    hasErrors = true;
                    errArray.push("@ResErrors.ENTER_DESCRIPTIVE_NAME_MSG");
                }
            }
        }

        //validate contact
        if ($("#Caller").val().length == 0) {
            hasErrors = true;
            errArray.push("@ResErrors.ENTER_NAME_MSG");
        }
        if ($("#Email").val().length == 0) {
            hasErrors = true;
            errArray.push("@ResErrors.ENTER_EMAIL_ADDRESS_MSG");
        }
        if ($("#Phone").val().length == 0) {
            hasErrors = true;
            errArray.push("@ResErrors.ENTER_PHONE_NUMBER_MSG");
        }
        else if ($("#Phone").attr("class") == "inputNormal" && !PhoneNumberIsValid($("#Phone").val())) {
            hasErrors = true;
            errArray.push("@ResErrors.ENTER_PHONE_NUMBER_FORMAT_MSG");
        }
        if ("@Model.RequirePONum" == "True" && $("#PONumber").val().length == 0) {
            hasErrors = true;
            errArray.push("@ResErrors.PO_NUMBER_IS_REQUIRED");
        }


        //validate description
        if ($("#Description").val().length == 0) {
            hasErrors = true;
            errArray.push("@ResErrors.ENTER_DESCRIPTION_MSG");
        }


    	//validate User Custom Fields
    	var userCustomFieldsErrorArray = userCustomFieldsHasErrors();
    	if (userCustomFieldsErrorArray.length > 0) {
    		hasErrors = true;
    		for (var i = 0; i < userCustomFieldsErrorArray.length; i++) {
    			errArray.push(userCustomFieldsErrorArray[i]);
    		}
    	}

        if (hasErrors == true) {
            //show message and bail
            var str = "";
            str += "<ul>";
            for (var i = 0; i < errArray.length; i++) {
                str += "<li>" + errArray[i] + "</li>";
            }
            str += "</ul>";

            $(".warningDiv").html(str);
            $(".warningDiv").show("fade");
        }
        else {
            //save stuff
            $(".warningDiv").hide("fade");
            $('#ServiceCallForm').submit();
        }
    }

</script>

<style type="text/css">
    #Description {
        width:600px;
        height:75px;
    }
    .warningDiv ul {
        margin:0px;
        padding-left:20px;
    }
</style>

@using (Html.BeginForm("ServiceCallAdd", "Service", FormMethod.Post, new { id = "ServiceCallForm" }))
{
        @Html.HiddenFor(m => m.CallID)
<div class="buttonBar ezColorT2">
    <div class="btnBarItem btnBarPink">
        <a href='javascript:GoBack();'>
            <img id="btnCancel" src="~/Content/Images/cancel.png" alt="@ResStrings.CANCEL" title="@ResStrings.CANCEL" />
            <div>@ResStrings.CANCEL</div>
        </a>
    </div>
    <div class="btnBarItem btnBarGreen">
        <a href='javascript:SaveServiceCall();'>
            <img id="btnNext" src="~/Content/Images/save.png" alt="@ResStrings.SAVE" title="@ResStrings.SAVE" />
            <div>@ResStrings.SAVE</div>
        </a>
    </div>
</div>

<div class="warningDiv" style="margin-right:8px; display:none;"></div>

<div class="dlgPanel ezColorT7 dlgTitleBar">
    <div>@Html.Raw(DGUtils.FormatTitle(ViewBag.Title))</div>
</div>

<div class="dlgPanel ezColorT1">
    <div class="dlgHeadingSub">@ResStrings.IDENTIFY_THE_EQUIPMENT_THAT_REQUIRES_SERVICE</div>
    <div class="bottomBorder white">
        <div id="divTypeOptions" class="radioPaymentType">
		    <div><input type="radio" id="radio1" name="rdoType" value="1" class="ezmark" @chkedIS/><label class="rdoLabel @classIS"for="radio1">@ResStrings.THIS_IS_AN_EXISTING_EQUIPMENT</label></div>
		    <div><input type="radio" id="radio2" name="rdoType" value="2" class="ezmark" @chkedISNOT /><label class="rdoLabel @classISNOT" for="radio2">@ResStrings.THIS_IS_NOT_AN_EXISTING_EQUIPMENT</label></div>
	    </div>
    </div>

    <div id="divExisting" class="divRow">
        <label class="alignRight">@ResStrings.EQUIPMENT:</label>
        <span class="req">*</span> 
        <a id="lnkSelectEquipment" href="javascript:selectEquipment();" class="dlgLink bold FloatLeft"><span id="s1">
            @if (!ViewBag.ExistingEquipment || (!ViewBag.ExistingEquipment && Model.EquipmentID == 0))
            {
                @:--@ResStrings.SELECT_EQUIPMENT--
            }
            else
            {
                @Model.EquipmentNumber 
            }
            </span><br />
            <span id="s2">
            @if (Model.CallID > 0 || ViewBag.ExistingEquipment)
            {
                @Model.EquipmentDescription
            }
            </span><br />
            <span id="s3">
            @if (Model.CallID > 0 || ViewBag.ExistingEquipment)
            {
                @Model.EquipmentSerialNumber
            }
            </span><br /></a>
        <button type="button" class="ui-state-default ddDots" onclick="javascript:selectEquipment();" title="@ResStrings.SELECT_EQUIPMENT"><img src="~/Content/Images/Dots.png" alt="" /></button>
    </div>
    <div id="divEquipCon" class="divRow">
        <label class="alignRight">@ResStrings.EQUIPMENT_CONTACT:</label>
        <span class="notreq">&nbsp;</span>
        <div id="divEquipContact" class="val">
            @if (Model.CallID == 0 && !ViewBag.ExistingEquipment)
            {
                @Html.Raw("---")
            }
            else
            {
                @Model.EquipmentContact<br /> 
                @DGUtils.FormatPhone(Model.EquipmentContactPhone, true)
            }
        </div>
    </div>
    <div id="divCurLoc" class="divRow">
        <label class="alignRight">@ResStrings.CURRENT_LOCATION:</label>
        <span class="notreq">&nbsp;</span>
        <div id="divCurLocation" class="val">
            @if (Model.CallID == 0 && !ViewBag.ExistingEquipment)
            {
                @Html.Raw("---")
            }
            else
            {
                @Model.CustomerName @:(@Model.CustomerNumber)<br />  
                @Model.Address<br /> 
                @Model.City@:, @Model.State @Model.Zip
            }
        </div>
    </div>
    @if(ds.ShowLocationRemarks)
    {
    <div id="divCurRmks" class="divRow">
        <label class="alignRight">@ResStrings.LOCATION_REMARKS:</label>
        <span class="notreq">&nbsp;</span>
        <div id="divCurRemarks" class="val">
            @if (Model.CallID == 0 && !ViewBag.ExistingEquipment)
            {
                @Html.Raw("---")
            }
            else
            {
                @DGUtils.FormatValue(Model.Remarks) <br /> 
            }
        </div>
    </div>
    }

    <div id="divNotExistingDescription" style="display:none;" class="divRow">
        <label class="alignRight">@ResStrings.DESCRIPTION:</label>
        <span class="req">*</span> 
        @Html.TextBoxFor(m => m.EquipmentDescription)
    </div>
    <div id="divNotExistingModel" style="display:none;" class="divRow">
        <label class="alignRight">@ResStrings.MODEL:</label>
        <span class="notreq">&nbsp;</span> 
        @Html.TextBoxFor(m => m.EquipmentModel)
    </div>
    <div id="divNotExistingSerialNumber" style="display:none;" class="divRow">
        <label class="alignRight">@ResStrings.SERIAL_NUMBER:</label>
        <span class="notreq">&nbsp;</span> 
        @Html.TextBoxFor(m => m.EquipmentSerialNumber)
    </div>

</div>

<div class="dlgPanel ezColorT1">
    <div class="dlgHeadingSub">
        @if (!Globals.Configuration.Settings.DoNotEnforceContactIdentity)
        {
            if (Model.Phone.Length == 0)
            {
                @ResStrings.ENTER_PHONE_PO_NUMBER
            }
            else{
                @ResStrings.ENTER_PO_NUMBER
            }
        }
        else
        {
            @ResStrings.ENTER_SERVICE_CALL_CONTACT_INFO_HEADER
        }
        @if (!Model.RequirePONum)
        {
            @ResStrings.OPTIONAL
        }
    </div>
    <div id="divName" class="divRow">
        <label class="alignRight">@ResStrings.NAME:</label>
        @if (!Globals.Configuration.Settings.DoNotEnforceContactIdentity && @Model.Caller.Length > 0)
        {
            <span class="notreq">&nbsp;</span> 
            inputClass = "inputAsLabel";
        }
        else
        {
            <span class="req">*</span> 
            inputClass = "inputNormal";
        }
        @Html.TextBoxFor(m => m.Caller, new { @class = @inputClass })
    </div>
    <div id="divEmail" class="divRow">
        <label class="alignRight">@ResStrings.EMAIL:</label>
        @if (!Globals.Configuration.Settings.DoNotEnforceContactIdentity && @Model.Email.Length > 0)
        {
            <span class="notreq">&nbsp;</span> 
            inputClass = "inputAsLabelWide";
        }
        else
        {
            <span class="req">*</span> 
            inputClass = "inputWide";
        }
        @Html.TextBoxFor(m => m.Email, new { @class = @inputClass })
    </div>
    <div id="divPhone" class="divRow">
        <label class="alignRight">@ResStrings.PHONE:</label>
        @if (!Globals.Configuration.Settings.DoNotEnforceContactIdentity && @Model.Phone.Length > 0)
        {
            <span class="notreq">&nbsp;</span> 
            inputClass = "inputAsLabel";
        }
        else
        {
            <span class="req">*</span> 
            inputClass = "inputNormal";
        }
        @Html.TextBoxFor(m => m.Phone, new { @class = @inputClass })
    </div>
    <div class="divRow">
    </div>
    <div id="divPONumber" class="divRow">
        <label class="alignRight">@ResStrings.CUSTOMER_PO_NUMBER:</label>
        @if (Model.RequirePONum)
        {
            <span class="req">*</span> 
        }
        else
        {
            <span class="notreq">&nbsp;</span> 
        }
        @Html.TextBoxFor(m => m.PONumber, new { @class = "inputNormal" })
    </div>
</div>

<div class="dlgPanel ezColorT1">
    <div class="dlgHeadingSub">@ResStrings.ENTER_A_DESCRIPTION_OF_THE_PROBLEM_YOU_ARE_EXPERIENCING_WITH_THE_EQUIPMENT</div>
    <div>
        @Html.Partial("ServiceCallUserFieldsPartial")
    </div>
    <div id="divDescription" class="divRow">
        <label class="alignRight">@ResStrings.DESCRIPTION:</label>
        <span class="req">*</span> 
        @Html.TextAreaFor(m => m.Description)
    </div>
</div>

<div class="warningDiv" style="margin-right:8px; display:none;"></div>

<div class="buttonBar ezColorT2">
    <div class="btnBarItem btnBarPink">
        <a href='@Url.Action("Index", "Gateway")'>
            <img id="btnCancel2" src="~/Content/Images/cancel.png" alt="@ResStrings.CANCEL" title="@ResStrings.CANCEL" />
            <div>@ResStrings.CANCEL</div>
        </a>
    </div>
    <div class="btnBarItem btnBarGreen">
        <a href='javascript:SaveServiceCall();'>
            <img id="btnNext2" src="~/Content/Images/save.png" alt="@ResStrings.SAVE" title="@ResStrings.SAVE" />
            <div>@ResStrings.SAVE</div>
        </a>
    </div>
</div>


@Html.HiddenFor(m => m.EquipmentID)
@Html.HiddenFor(m => m.EquipModeType)
}

@Html.Partial("EquipmentSelectDialogPartial")




