﻿@using DealerGateway.CustomerUI.Domain;
@using DealerGateway.CustomerUI.Resources;

@model DealerGateway.CustomerUI.Models.ServiceCall
@{
    ViewBag.Title = @ResStrings.SERVICE_CALL;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {

        ButtonBarUISetup();

        //Alternating row colors
        //
        $(".stripeMe tr:even").addClass("alt");

        //Removes the pointing finger cursor from the list
        //
        $(".itemsList tr td").addClass("NoPointer");
    });

    function Edit() {
        window.location = '@Url.Action("ServiceCallEdit", "Service", new { id = Model.CallID } )';
    }

</script>

<style type="text/css">
    .itemsList tr td input {
        width:3em;
    }
</style>

<div class="buttonBar ezColorT2">
    <div class="btnBarItem">
        <a href="javascript:GoBack();">
            <img id="btnBack" src="~/Content/Images/Arrow-Left.png" alt="@ResStrings.BACK" title="@ResStrings.BACK" />
            <div>@ResStrings.BACK</div>
        </a>
    </div>
    @if (Model.StatusAbbr == "P")
    {
        <div class="btnBarItem">
            <a href="javascript:Edit();">
                <img id="btnEdit" src="~/Content/Images/Edit.png" alt="@ResStrings.EDIT" title="@ResStrings.EDIT" />
                <div>@ResStrings.EDIT</div>
            </a>
        </div>
    }
    <div class="btnBarItem">
        <a href="javascript:Print();">
            <img id="btnPrint" src="~/Content/Images/Print.png" alt="@ResStrings.PRINT" title="@ResStrings.PRINT" />
            <div>@ResStrings.PRINT</div>
        </a>
    </div>

    <div class="btnBarItemRight">
        <a href='@Url.Action("Index", "Gateway")'>
            <img id="btnHome" src="~/Content/Images/home.png" alt="@ResStrings.HOME" title="@ResStrings.HOME" />
            <div>@ResStrings.HOME</div>
        </a>
    </div>
</div>

<div class="dlgPanel ezColorT7 dlgTitleBar">
    <div>@Html.Raw(DGUtils.FormatTitle(@ResStrings.SERVICE_CALL))</div>
</div>

<div class="dlgPanel ezColorT1">
    <div class="dlgHeadingSub">@ResStrings.INITIATION</div>
    <div class="divInfoHolder minHeight100">
        <div class="divRow">
            <label class="alignRight">@ResStrings.NUMBER:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(Model.CallNumber)</div>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.STATUS:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(Model.Status)</div>
        </div>

        <div class="divRow">
            <label class="alignRight">@ResStrings.CALL_TYPE:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(@Model.CallType)</div>
        </div>
@if (!String.IsNullOrEmpty(@Model.UserField1Label)) { 
        <div class="divRow">
            <label class="alignRight">@Model.UserField1Label:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(@Model.UserField1Value)</div>
        </div>
}
@if (!String.IsNullOrEmpty(@Model.UserField2Label)) { 
        <div class="divRow">
            <label class="alignRight">@Model.UserField2Label:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(@Model.UserField2Value)</div>
        </div>
}
        <div class="divRow">
            <label class="alignRight">@ResStrings.DESCRIPTION:</label>
            <span class="notreq">&nbsp;</span>
            <div class="noteField">@DGUtils.FormatValue(@Model.Description)</div>
        </div>
    </div>
    <div class="divInfoHolder minHeight100">
        <div class="divRow">
            <label class="alignRight">@ResStrings.CALLER:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(@Model.Caller)</div>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.PHONE:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(@Model.Phone)</div>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.EMAIL:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(@Model.Email)</div>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.LOCATION:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(@Model.CustomerName) (@DGUtils.FormatValue(@Model.CustomerNumber))<br />@DGUtils.FormatValue(@Model.Address)<br />@DGUtils.FormatValue(@Model.City), @DGUtils.FormatValue(@Model.State) @DGUtils.FormatValue(@Model.Zip)</div>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.PO_NUMBER:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(@Model.PONumber)</div>
        </div>
    </div>
</div>

<div class="dlgPanel ezColorT1">
    <div class="dlgHeadingSub">@ResStrings.RESOLUTION</div>
    <div class="divInfoHolder minHeight100">
        <div class="divRow">
            <label class="alignRight">@ResStrings.OPEN_DATE:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(@Model.OpenDate)</div>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.ESTIMATED_DATE:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(@Model.EstimatedDate)</div>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.CLOSE_DATE:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(@Model.CloseDate)</div>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.CANCELED:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(@Model.CancelDescription)</div>
        </div>
    </div>
    <div class="divInfoHolder minHeight100">
        <div class="divRow">
            <label class="alignRight">@ResStrings.TECHNICIAN:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(@Model.Technician)</div>
        </div>
        @if (Globals.Configuration.GetOptionBool("SC_CallsResponseHoursShow"))
        {
            <div class="divRow">
                <label class="alignRight">@ResStrings.RESPONSE_HOURS:</label>
                <span class="notreq">&nbsp;</span>
                <div class="val">@DGUtils.FormatValue(@Model.ResponseHours, "N2")</div>
            </div>
        }
        <div class="divRow">
            <label class="alignRight">@ResStrings.REPAIR_HOURS:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(@Model.RepairHours, "N2")</div>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.REMARKS:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(@Model.Remarks)</div>
        </div>
    </div>
</div>


@if (Globals.Configuration.GetOptionBool("SC_CallsLaborShow"))
{
    <div class="dlgPanel ezColorT1">
        <div class="dlgHeadingSub">@ResStrings.LABOR</div>
        @if (Model.Labors.Count == 0)
        {
            <div class="infoDiv">
                @ResStrings.NO_LABOR_ON_CALL
            </div>
        }
        else
        {
            <div class="ddList">
                <table class="tblResults stripeMe">
                    <thead>
                        <tr>
                            <th class="nobreak">@DGUtils.ToTitleCase(ResStrings.TECHNICIAN)</th>
                            <th class="nobreak">@DGUtils.ToTitleCase(ResStrings.ACTIVITY)</th>
                            <th class="nobreak" style="text-align:center;">@DGUtils.ToTitleCase(ResStrings.ARRIVAL_TIME)</th>
                            @if (Globals.Configuration.GetOptionBool("SC_CallsRemarksOnLaborShow"))
                            {
                                <th style="width:70%;">@DGUtils.ToTitleCase(ResStrings.REMARKS)</th>
                            }
                            else
                            {
                                <th style="width:30%;">&nbsp;</th>
                            }
                        </tr>
                    </thead>
                    <tbody class="itemsList">
                        @for (int i = 0; i < Model.Labors.Count; i++)
                        {
                            <tr>
                                <td class="nobreak">@DGUtils.FormatValue(Model.Labors[i].Technician)</td>
                                <td class="nobreak">@DGUtils.FormatValue(Model.Labors[i].Activity)</td>
                                <td class="alignRight nobreak">@DGUtils.FormatValue(Model.Labors[i].ArrivalDate, true)</td>
                                @if (Globals.Configuration.GetOptionBool("SC_CallsRemarksOnLaborShow"))
                                {
                                    <td>@DGUtils.FormatValue(Model.Labors[i].Remarks)</td>
                                }
                                else
                                {
                                    <td>&nbsp;</td>
                                }

                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <div class="ListItemCount">
            <span class="bold">@Model.Labors.Count.ToString("n0")</span> @if (Model.Labors.Count == 1)
                                                                        { @ResStrings.LIST_ITEM }
                                                                        else
                                                                        { @ResStrings.LIST_ITEMS }
            </div>
        }
    </div>
}

@if (Globals.Configuration.GetOptionBool("SC_CallsMaterialsShow"))
{
    <div class="dlgPanel ezColorT1">
        <div class="dlgHeadingSub">@ResStrings.MATERIALS</div>
        @if (Model.Materials.Count == 0)
        {
            <div class="infoDiv">
                @ResStrings.NO_MATERIAL_ON_CALL
            </div>
        }
        else
        {
            <div class="ddList">
                <table class="tblResults stripeMe">
                    <thead>
                        <tr>
                            <th>@DGUtils.ToTitleCase(ResStrings.ITEM)</th>
                            <th>@DGUtils.ToTitleCase(ResStrings.DESCRIPTION)</th>
                            <th style="text-align:center;">@DGUtils.ToTitleCase(ResStrings.QUANTITY)</th>
                            <th style="width:30%;">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody class="itemsList">
                        @for (int i = 0; i < Model.Materials.Count; i++)
                        {
                            <tr>
                                <td>@DGUtils.FormatValue(Model.Materials[i].Item)</td>
                                <td>@DGUtils.FormatValue(Model.Materials[i].Description)</td>
                                <td class="alignRight">@DGUtils.FormatValue(Model.Materials[i].Quantity, "N0")</td>
                                <td>&nbsp;</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="ListItemCount">
            <span class="bold">@Model.Materials.Count.ToString("n0")</span> @if (Model.Materials.Count == 1)
                                                                           { @ResStrings.LIST_ITEM }
                                                                           else
                                                                           { @ResStrings.LIST_ITEMS }
            </div>
        }
    </div>
}

@if (Globals.Configuration.GetOptionBool("SC_CallsProblemShow"))
{
    <div class="dlgPanel ezColorT1">
        <div class="dlgHeadingSub">@ResStrings.PROBLEMS</div>
        @if (Model.Problems.Count == 0)
        {
            <div class="infoDiv">
                @ResStrings.NO_PROBLEMS_ON_CALL
            </div>
        }
        else
        {
            <div class="ddList">
                <table class="tblResults stripeMe">
                    <thead>
                        <tr>
                            <th>@DGUtils.ToTitleCase(ResStrings.DESCRIPTION)</th>
                        </tr>
                    </thead>
                    <tbody class="itemsList">
                        @for (int i = 0; i < Model.Problems.Count; i++)
                        {
                            <tr>
                                <td>@DGUtils.FormatValue(Model.Problems[i].Description)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="ListItemCount">
            <span class="bold">@Model.Problems.Count.ToString("n0")</span> @if (Model.Problems.Count == 1)
                                                                           { @ResStrings.LIST_ITEM }
                                                                           else
                                                                           { @ResStrings.LIST_ITEMS }
            </div>
        }
    </div>
}

@if (Globals.Configuration.GetOptionBool("SC_CallsRepairShow"))
{
    <div class="dlgPanel ezColorT1">
        <div class="dlgHeadingSub">@ResStrings.REPAIRS</div>
        @if (Model.Repairs.Count == 0)
        {
            <div class="infoDiv">
                @ResStrings.NO_REPAIR_ON_CALL
            </div>
        }
        else
        {
            <div class="ddList">
                <table class="tblResults stripeMe">
                    <thead>
                        <tr>
                            <th>@DGUtils.ToTitleCase(ResStrings.DESCRIPTION)</th>
                        </tr>
                    </thead>
                    <tbody class="itemsList">
                        @for (int i = 0; i < Model.Repairs.Count; i++)
                        {
                            <tr>
                                <td>@DGUtils.FormatValue(Model.Repairs[i].Description)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="ListItemCount">
            <span class="bold">@Model.Repairs.Count.ToString("n0")</span> @if (Model.Repairs.Count == 1)
                                                                           { @ResStrings.LIST_ITEM }
                                                                           else
                                                                           { @ResStrings.LIST_ITEMS }
            </div>
        }
    </div>
}

@if (Model.EquipmentID > 0)
{
    @Html.Partial("EquipmentPartial", Model.Equipment)
}
else
{
    @Html.Partial("EquipmentNonExistingPartial", Model)
}

@Html.Partial("ContractPartial", Model.Equipment)
