﻿@using DealerGateway.CustomerUI.Domain;
@using DealerGateway.CustomerUI.Resources;

@model DealerGateway.CustomerUI.Models.ServiceCall

<script type="text/javascript">
	function userCustomFieldsHasErrors() {
		var hasErrorsArray = new Array();

		//Custom Field Validation Code goes below this comment.
		//If a field does not pass validation add a string to the hasErrorsArray.
		//(See sample code below)
		//    if ($("#UserField1Value").val().length == 0) {
		//	      hasErrorsArray.push("Please enter a value for the Lane number.");
		//    }


		//End validation code

		return hasErrorsArray;
	}
</script>

@*
//The sample code below demonstrates how a custom field is added.
//Note the hidden field for the label.  
//Note how the fields are named and numbered the same, 
//except for the ending which is either Label or Value.
	<div id="divUserField1" class="divRow">
		@Html.HiddenFor(m => m.UserField1Label, new { @value = "Lane number" })
		<label class="alignRight">Lane number:</label>
		<span class="req">*</span>
		@Html.TextBoxFor(m => m.UserField1Value)
	</div>
*@
