﻿@using DealerGateway.CustomerUI.Domain;
@using DealerGateway.CustomerUI.Resources;

@model DealerGateway.CustomerUI.Models.ServiceCallList
@{
    ViewBag.Title = @ResStrings.SERVICE_CALLS;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {

        ButtonBarUISetup();

        //Alternating row colors
        //
        $(".stripeMe tr:even").addClass("alt");

        $(".itemsList tr td").addClass("NoPointer");

    });
</script>

<div class="buttonBar ezColorT2">
    <div class="btnBarItem">
        <a href="@Url.Action("Index", "Gateway")">
            <img id="btnBack" src="~/Content/Images/Arrow-Left.png" alt="@ResStrings.BACK" title="@ResStrings.BACK" />
            <div>@ResStrings.BACK</div>
        </a>
    </div>
    <div class="btnBarItem">
        <a href="javascript:Print();">
            <img id="btnPrint" src="~/Content/Images/Print.png" alt="@ResStrings.PRINT_LIST" title="@ResStrings.PRINT_LIST" />
            <div>@ResStrings.PRINT</div>
        </a>
    </div>

    <div class="btnBarItemRight">
        <a href='@Url.Action("Index", "Gateway")'>
            <img id="btnHome" src="~/Content/Images/home.png" alt="@ResStrings.HOME" title="@ResStrings.HOME" />
            <div>@ResStrings.HOME</div>
        </a>
    </div>
</div>

<div class="dlgPanel ezColorT7 dlgTitleBar">
    <div>@Html.Raw(DGUtils.FormatTitle(@ResStrings.SERVICE_CALLS))</div>
</div>

<div id="divTileContainer" class="dlgPanel ezColorT1">
<div class="dlgHeadingSub">
    @Model.ListTitle: 
    @if (@Model.SearchText.Length > 0)
    {
        <span class="searchResultsLabel">@ResStrings.SEARCH_RESULTS_FOR <span class="bold">@Model.SearchText</span></span>
    }
</div>
    @if (@Model.ServiceCalls.Count == 0)
    {
        <div class="infoDiv">
            @ResStrings.NO_RESULTS_SERVICE_CALL_SEARCH
        </div>
    }
    else
    {
        <div  class="ddList">
            <table class="tblResults stripeMe">
                <thead>
                    <tr>
                        <th>@ResStrings.SERVICE_CALL_NUMBER<br />@ResStrings.CALL_STATUS<br />@ResStrings.CALLER</th>
                        <th>@ResStrings.EQUIPMENT_NUMBER<br />
                            @ResStrings.CALL_TYPE<br />
                            @if (!String.IsNullOrEmpty(@Model.ServiceCalls[0].UserField1Label)) { @Model.ServiceCalls[0].UserField1Label<br />}
                            @if (!String.IsNullOrEmpty(@Model.ServiceCalls[0].UserField2Label)) { @Model.ServiceCalls[0].UserField2Label<br />}
                            @ResStrings.DESCRIPTION</th>
                        <th>@ResStrings.OPEN_DATE<br />@ResStrings.ESTIMATED_DATE<br />@ResStrings.CLOSE_DATE<br />@ResStrings.PO_NUMBER</th>
                        <th style="width:25%;">@ResStrings.LOCATION</th>
                    </tr>
                </thead>
                <tbody id="tbInvoiceList" class="itemsList">
                    @for (int i = 0; i < Model.ServiceCalls.Count; i++)
                    {
                        <tr>
                            <td>
                                <div class="bold"><a href="@Url.Action("ServiceCall", "Service", new { id = @Model.ServiceCalls[i].CallID })">@DGUtils.FormatValue(@Model.ServiceCalls[i].CallNumber)</a></div>
                                <div>@DGUtils.FormatValue(@Model.ServiceCalls[i].Status)</div>
                                <div>@DGUtils.FormatValue(@Model.ServiceCalls[i].Caller)</div>
                                <div style="padding:0 0 0 10px;">
                                    <div>@DGUtils.FormatValue(@Model.ServiceCalls[i].Phone)</div>
                                    <div>@DGUtils.FormatValue(@Model.ServiceCalls[i].Email)</div>
                                </div>
                            </td>
                            <td>
                                <div>@DGUtils.FormatValue(@Model.ServiceCalls[i].EquipmentNumber)</div>
                                <div>@DGUtils.FormatValue(@Model.ServiceCalls[i].CallType)</div>
                                @if (!String.IsNullOrEmpty(@Model.ServiceCalls[0].UserField1Label)) { <div>@DGUtils.FormatValue(@Model.ServiceCalls[i].UserField1Value)</div> }
                                @if (!String.IsNullOrEmpty(@Model.ServiceCalls[0].UserField2Label)) { <div>@DGUtils.FormatValue(@Model.ServiceCalls[i].UserField2Value)</div> }
                                <div class="bold">@DGUtils.FormatValue(@Model.ServiceCalls[i].Description)</div>
                            </td>
                            <td>
                                <div class="alignRight">@DGUtils.FormatValue(@Model.ServiceCalls[i].OpenDate)</div>
                                <div class="alignRight">@DGUtils.FormatValue(@Model.ServiceCalls[i].EstimatedDate)</div>
                                <div class="alignRight">@DGUtils.FormatValue(@Model.ServiceCalls[i].CloseDate)</div>
                                <div>@DGUtils.FormatValue(@Model.ServiceCalls[i].PONumber)</div>
                            </td>
                            <td>
                                <div>@ResStrings.CUSTOMER_NUMBER: <span class="bold">@DGUtils.FormatValue(@Model.ServiceCalls[i].CustomerNumber)</span></div>
                                <div>@Model.ServiceCalls[i].CustomerName</div>
                                <div style="padding:0 0 0 10px;">
                                    <div>@DGUtils.FormatValue(@Model.ServiceCalls[i].Address)</div>
                                    <div>@DGUtils.FormatValue(@Model.ServiceCalls[i].City), @DGUtils.FormatValue(@Model.ServiceCalls[i].State) @DGUtils.FormatValue(@Model.ServiceCalls[i].Zip)</div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="ListItemCount">
            <span class="bold">@Model.ServiceCalls.Count.ToString("n0")</span> @if (@Model.ServiceCalls.Count == 1)
                                                                               { @ResStrings.LIST_ITEM }
                                                                               else
                                                                               { @ResStrings.LIST_ITEMS }
        </div>
    }
</div>

@if (@Model.ServiceCalls.Count > 10)
{
    <div class="buttonBar ezColorT2">
        <div class="btnBarItem">
            <a href="@Url.Action("Index", "Gateway")">
                <img id="btnBack2" src="~/Content/Images/Arrow-Left.png" alt="@ResStrings.BACK" title="@ResStrings.BACK" />
                <div>@ResStrings.BACK</div>
            </a>
        </div>
        <div class="btnBarItem">
            <a href="javascript:Print();">
                <img id="btnPrint2" src="~/Content/Images/Print.png" alt="@ResStrings.PRINT_LIST" title="@ResStrings.PRINT_LIST" />
                <div>@ResStrings.PRINT</div>
            </a>
        </div>

        <div class="btnBarItemRight">
            <a href='@Url.Action("Index", "Gateway")'>
                <img id="btnHome2" src="~/Content/Images/home.png" alt="@ResStrings.HOME" title="@ResStrings.HOME" />
                <div>@ResStrings.HOME</div>
            </a>
        </div>
    </div>
}
