﻿@using DealerGateway.CustomerUI.Domain
@using DealerGateway.CustomerUI.Resources

@model DealerGateway.CustomerUI.Models.DealerSettings
@{
    Layout = "~/Views/Shared/_LayoutBlankTop.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {
        ButtonBarUISetup();

    });

</script>

<div class="buttonBar ezColorT2">
    <div class="btnBarItem btnBarPink">
        <a href='@Url.Action("Index", "Gateway")'>
            <img id="btnCancel" src="~/Content/Images/cancel.png" alt="@ResStrings.CANCEL" title="@ResStrings.CANCEL" />
            <div>@ResStrings.CANCEL</div>
        </a>
    </div>
    <div class="btnBarItem btnBarGreen">
        <a href='javascript:SaveSettings();'>
            <img id="btnSave" src="~/Content/Images/save.png" alt="@ResStrings.SAVE" title="@ResStrings.SAVE" />
            <div>@ResStrings.SAVE</div>
        </a>
    </div>
</div>

<div class="dlgPanel ezColorT7 dlgTitleBar">
    <div>@Html.Raw(DGUtils.FormatTitle(ResStrings.CUSTOMER_GATEWAY_CONFIGURATION))</div>
</div>

@if (einfo.Utils.IsLocalRequest && !einfo.DB.Tools.DBRevisionIsCurrent) 
{
    <div id="divValidation" class="warningDiv" style="margin-right:8px;">
        @Html.Raw(einfo.DB.Tools.DBRevisionStatus())
    </div>
}
    
<div class="dlgPanel ezColorT1 minHeight100">
    <div class="dlgHeadingSub">@ResStrings.EMAIL_SETTINGS</div>
    <div class="divRow">
        <label>@ResStrings.SERVER_NAME:</label>
        <span class="notreq">&nbsp;</span>
        @Html.TextBoxFor(m => m.ServerName, new { @class = "ui-widget inputWide" })
    </div>
    <div class="divRow">
        <label>@ResStrings.SERVER_PORT:</label>
        <span class="notreq">&nbsp;</span>
        @Html.TextBoxFor(m => m.ServerPort, new { @class = "ui-widget inputNarrow" })
    </div>
    <div class="divRow">
        <label>@ResStrings.SERVER_SMTP_AUTH_USER:</label>
        <span class="notreq">&nbsp;</span>
        @Html.TextBoxFor(m => m.SMTPUser, new { @class = "ui-widget inputWide" })
    </div>
    <div class="divRow">
        <label>@ResStrings.SERVER_SMTP_AUTH_PASSWORD:</label>
        <span class="notreq">&nbsp;</span>
        @Html.PasswordFor(m => m.SMTPPassword, new { @class = "ui-widget inputNormal", style = "margin-left:0px;" })
    </div>
    <div class="divRow paddingLeft">
        <span class="notreq">&nbsp;</span>
        @Html.CheckBoxFor(m => m.UsesSMTP, new { @class = "ezmark" })
        <label class="wideLabel @((Model.UsesSMTP) ? "bold" : "")" for="UsesSMTP">@ResStrings.EMAIL_SERVER_USES_SMTP_AUTH</label>
    </div>
    <div class="divRow paddingLeft">
        <span class="notreq">&nbsp;</span>
        @Html.CheckBoxFor(m => m.UsesSPA, new { @class = "ezmark" })
        <label class="wideLabel @((Model.UsesSPA) ? "bold" : "")" for="UsesSPA">@ResStrings.EMAIL_SERVER_USES_SPA</label>
    </div>
    <div class="divRow paddingLeft">
        <span class="notreq">&nbsp;</span>
        @Html.CheckBoxFor(m => m.UsesSSL, new { @class = "ezmark" })
        <label class="wideLabel @((Model.UsesSSL) ? "bold" : "")" for="UsesSSL">@ResStrings.EMAIL_SERVER_USES_SSL</label>
    </div>
    <div class="divRow">
        <label>&nbsp;</label>
        <span class="notreq">&nbsp;</span>
        <a href="javascript:OpenSendDialog();" class="jBtn">@DGUtils.ToTitleCase(ResStrings.SEND_TEST_EMAIL)</a>
    </div>
</div>

<div class="dlgPanel ezColorT1 minHeight100">
    <div class="dlgHeadingSub">@ResStrings.DEALER_SIGNUP_SETTINGS</div>
    <div class="divRow paddingLeft">
        <span class="notreq">&nbsp;</span>
        @Html.CheckBoxFor(m => m.AllowSignUp, new { @class = "ezmark" })
        <label class="wideLabel @((Model.UsesSSL) ? "bold" : "")" for="AllowSignUp">@ResStrings.ALLOW_SIGNUP</label></div>
    <div class="divRow paddingLeft">
        <span class="notreq">&nbsp;</span>
        @Html.CheckBoxFor(m => m.EnableImmediateSignUp, new { @class = "ezmark" })
        <label class="wideLabel @((Model.UsesSSL) ? "bold" : "")" for="EnableImmediateSignUp">@ResStrings.ENABLE_IMMEDIATE_SIGNUP</label></div>
    <div class="divRow paddingLeft">
        <span class="notreq">&nbsp;</span>
        @Html.CheckBoxFor(m => m.SendNotificationsForAllSignUps, new { @class = "ezmark" })
        <label class="wideLabel @((Model.UsesSSL) ? "bold" : "")" for="SendNotificationsForAllSignUps">@ResStrings.SEND_NOTIFICATION_FOR_ALL_SIGNUPS</label></div>
    <div class="divRow">
        <label>@ResStrings.SIGNUP_NOTIFICATION_EMAIL:</label>
        <span class="notreq">&nbsp;</span>
        @Html.TextBoxFor(m => m.SignUpNotificationEmail, new { @class = "ui-widget inputWide" })
    </div>
</div>


<div class="dlgPanel ezColorT1 minHeight100">
    <div class="dlgHeadingSub">@ResStrings.GENERAL_SETTINGS</div>
    <div class="divRow paddingLeft">
        <span class="notreq">&nbsp;</span>
        <span class="SubTitle">@DGUtils.ToTitleCase(ResStrings.MISCELLANEOUS)</span>
    </div>
    <div class="divRow paddingLeft">
        <span class="notreq">&nbsp;</span>
        @Html.CheckBoxFor(m => m.InheritLocationAccess, new { @class = "ezmark" })
        <label class="wideLabel @((Model.InheritLocationAccess) ? "bold" : "")" for="InheritLocationAccess">@ResStrings.CONTACTS_INHERIT_LOCATION_ACCESS_FROM_PARENTS</label>
    </div>
    <div class="divRow paddingLeft">
        <span class="notreq">&nbsp;</span>
        @Html.CheckBoxFor(m => m.EnableClientValidation, new { @class = "ezmark" })
        <label class="wideLabel @((Model.EnableClientValidation) ? "bold" : "")" for="EnableClientValidation">@ResStrings.ENABLE_CLIENT_VALIDATION</label>
    </div>
    <div class="divRow paddingLeft">
        <span class="notreq">&nbsp;</span>
        @Html.CheckBoxFor(m => m.EnforceContactIdentity, new { @class = "ezmark" })
        <label class="wideLabel @((Model.EnforceContactIdentity) ? "bold" : "")" for="EnforceContactIdentity">@ResStrings.ENFORCE_CONTACT_IDENTITY</label>
    </div>


    <div class="divRow paddingLeft">
        <span class="notreq">&nbsp;</span>
        <span class="SubTitle">@DGUtils.ToTitleCase(ResStrings.LANGUAGE_SETTINGS)</span>
    </div>
    <div class="divRow paddingLeft">
        <span class="notreq">&nbsp;</span>
        @Html.CheckBoxFor(m => m.EnableLanguageSettings, new { @class = "ezmark" })
        <label class="wideLabel @((Model.EnableLanguageSettings) ? "bold" : "")" for="EnableLanguageSettings">@ResStrings.ENABLE_LANGUAGE_SWITCHING</label>
    </div>
    <div class="divRow">
        <label>@ResStrings.DEFAULT_LANGUAGE:</label>
        <span class="notreq">&nbsp;</span>
        <span id="spnDefaultLanguage" style="float:left;" class="languageDropDown">@Model.DefaultLanguage</span><span class="ui-state-default ddDots languageDropDown" title="@ResStrings.SELECT_DIFFERENT_SEARCH_TYPE">...</span>
        @Html.HiddenFor(m => m.DefaultLanguage)
    </div>


    <div class="divRow paddingLeft">
        <span class="notreq">&nbsp;</span>
        <span class="SubTitle">@DGUtils.ToTitleCase(ResStrings.NOTIFICATION_EMAIL_SETTINGS)</span>
    </div>
    <div class="divRow">
        <label>@ResStrings.RETURN_EMAIL_ADDRESS:</label>
        <span class="notreq">&nbsp;</span>
        @Html.TextBoxFor(m => m.ReturnEmailAddress, new { @class = "ui-widget inputWide" })
    </div>
    <div class="divRow">
        <label>@ResStrings.SALES_ORDER_NOTIFICATION_EMAIL:</label>
        <span class="notreq">&nbsp;</span>
        @Html.TextBoxFor(m => m.SalesOrderNotificationEmailAddress, new { @class = "ui-widget inputWide" })
    </div>
    <div class="divRow">
        <label>@ResStrings.SERVICE_CALL_NOTIFICATION_EMAIL:</label>
        <span class="notreq">&nbsp;</span>
        @Html.TextBoxFor(m => m.ServiceCallNotificationEmailAddress, new { @class = "ui-widget inputWide" })
    </div>
    <div class="divRow">
        <label>@ResStrings.SITE_ADMINISTRATOR_EMAIL:</label>
        <span class="notreq">&nbsp;</span>
        @Html.TextBoxFor(m => m.SiteAdministratorEmailAddress, new { @class = "ui-widget inputWide" })
    </div>


    <div class="divRow paddingLeft">
        <span class="notreq">&nbsp;</span>
        <span class="SubTitle">@DGUtils.ToTitleCase(ResStrings.FILE_LOCATIONS_NAMES)</span>
    </div>
    <div class="divRow">
        <label>@ResStrings.SITE_BANNER:</label>
        <span class="notreq">&nbsp;</span>
        @Html.TextBoxFor(m => m.SiteBanner, new { @class = "ui-widget inputWide" })
    </div>
    <div class="divRow">
        <label>@ResStrings.SITE_HTML_PAGE:</label>
        <span class="notreq">&nbsp;</span>
        @Html.TextBoxFor(m => m.SiteHTMLPage, new { @class = "ui-widget inputWide" })
    </div>
</div>

<div class="dlgPanel ezColorT1 minHeight100">
    <div class="dlgHeadingSub">@ResStrings.MODULE_SETTINGS</div>
    <div class="divRow paddingLeft">
        <span class="notreq">&nbsp;</span>
        <span class="SubTitle">@DGUtils.ToTitleCase(ResStrings.ACCOUNTS_RECEIVABLES)</span>
    </div>
    <div class="divRow paddingLeft">
        <span class="notreq">&nbsp;</span>
        @Html.CheckBoxFor(m => m.EnableCreditCardFunctions, new { @class = "ezmark" })
        <label class="wideLabel @((Model.EnableCreditCardFunctions) ? "bold" : "")" for="EnableCreditCardFunctions">@ResStrings.ENABLE_CREDIT_CARD_FUNCTIONS</label>
    </div>

    <div class="divRow paddingLeft">
        <span class="notreq">&nbsp;</span>
        <span class="SubTitle">@DGUtils.ToTitleCase(ResStrings.EQUIPMENT)</span>
    </div>
    <div class="divRow paddingLeft">
        <span class="notreq">&nbsp;</span>
        @Html.CheckBoxFor(m => m.ShowLocationRemarks, new { @class = "ezmark" })
        <label class="wideLabel @((Model.ShowLocationRemarks) ? "bold" : "")" for="ShowLocationRemarks">@ResStrings.SHOW_LOCATION_REMARKS</label>
    </div>
    <div class="divRow paddingLeft">
        <span class="notreq">&nbsp;</span>
        @Html.CheckBoxFor(m => m.ShowEquipmentMove, new { @class = "ezmark" })
        <label class="wideLabel @((Model.ShowEquipmentMove) ? "bold" : "")" for="ShowEquipmentMove">@ResStrings.SHOW_EQUIPMENT_MOVE</label>
    </div>

    <div class="divRow paddingLeft">
        <span class="notreq">&nbsp;</span>
        <span class="SubTitle">@DGUtils.ToTitleCase(ResStrings.SERVICE_CALLS)</span>
    </div>
    <div class="divRow paddingLeft">
        <span class="notreq">&nbsp;</span>
        @Html.CheckBoxFor(m => m.ShowClearedCalls, new { @class = "ezmark" })
        <label class="wideLabel @((Model.ShowClearedCalls) ? "bold" : "")" for="ShowClearedCalls">@ResStrings.SHOW_CLEARED_CALLS</label>
    </div>
    <div class="divRow paddingLeft">
        <span class="notreq">&nbsp;</span>
        @Html.CheckBoxFor(m => m.ShowInvoicedCalls, new { @class = "ezmark" })
        <label class="wideLabel @((Model.ShowInvoicedCalls) ? "bold" : "")" for="ShowInvoicedCalls">@ResStrings.SHOW_INVOICED_CALLS</label>
    </div>
    <div class="divRow paddingLeft">
        <span class="notreq">&nbsp;</span>
        @Html.CheckBoxFor(m => m.ShowOnHoldCalls, new { @class = "ezmark" })
        <label class="wideLabel @((Model.ShowOnHoldCalls) ? "bold" : "")" for="ShowOnHoldCalls">@ResStrings.SHOW_ON_HOLD_CALLS</label>
    </div>
    <div class="divRow paddingLeft" style="margin-top:20px;">
        <span class="notreq">&nbsp;</span>
        @Html.CheckBoxFor(m => m.ShowLaborCalls, new { @class = "ezmark" })
        <label class="wideLabel @((Model.ShowLaborCalls) ? "bold" : "")" for="ShowLaborCalls">@ResStrings.SHOW_LABOR_ON_CALLS</label>
    </div>
    <div class="divRow paddingLeft">
        <span class="notreq">&nbsp;</span>
        @Html.CheckBoxFor(m => m.ShowRemarksOnLaborCalls, new { @class = "ezmark" })
        <label class="wideLabel @((Model.ShowRemarksOnLaborCalls) ? "bold" : "")" for="ShowRemarksOnLaborCalls">@ResStrings.SHOW_REMARKS_WITH_LABOR_RECORDS</label>
    </div>
    <div class="divRow paddingLeft">
        <span class="notreq">&nbsp;</span>
        @Html.CheckBoxFor(m => m.ShowMaterialsCalls, new { @class = "ezmark" })
        <label class="wideLabel @((Model.ShowLaborCalls) ? "bold" : "")" for="ShowMaterialsCalls">@ResStrings.SHOW_MATERIAL_ON_CALLS</label>
    </div>
    <div class="divRow paddingLeft">
        <span class="notreq">&nbsp;</span>
        @Html.CheckBoxFor(m => m.ShowProblemCalls, new { @class = "ezmark" })
        <label class="wideLabel @((Model.ShowProblemCalls) ? "bold" : "")" for="ShowProblemCalls">@ResStrings.SHOW_PROBLEM_ON_CALLS</label>
    </div>
    <div class="divRow paddingLeft">
        <span class="notreq">&nbsp;</span>
        @Html.CheckBoxFor(m => m.ShowRepairCalls, new { @class = "ezmark" })
        <label class="wideLabel @((Model.ShowRepairCalls) ? "bold" : "")" for="ShowRepairCalls">@ResStrings.SHOW_REPAIR_ON_CALLS</label>
    </div>
    <div class="divRow paddingLeft">
        <span class="notreq">&nbsp;</span>
        @Html.CheckBoxFor(m => m.ShowResponseHoursOnCalls, new { @class = "ezmark" })
        <label class="wideLabel @((Model.ShowResponseHoursOnCalls) ? "bold" : "")" for="ShowResponseHoursOnCalls">@ResStrings.SHOW_RESPONSE_HOURS_ON_CALLS</label>
    </div>
    <div class="divRow paddingLeft">
        <span class="notreq">&nbsp;</span>
        <span class="SubTitle">@DGUtils.ToTitleCase(ResStrings.SALES_ORDERS) (@ResStrings.SELECT_TYPES_USERS_MAY_VIEW)</span>
    </div>
    @for (int i = 0; i < Model.SalesOrdersToDisplay.Count; i++)
    {
        <div class="divRow paddingLeft">
            <span class="notreq">&nbsp;</span>
            <input type="checkbox" id="SalesOrdersToDisplay_@Model.SalesOrdersToDisplay[i].OrderTypeID" class="ezmark" checked="@Model.SalesOrdersToDisplay[i].Allowed" />
            <label class="wideLabel @((Model.SalesOrdersToDisplay[i].Allowed) ? "bold" : "")" for="SalesOrdersToDisplay_@Model.SalesOrdersToDisplay[i].OrderTypeID">@(Model.SalesOrdersToDisplay[i].Name)</label>
        </div>
    }

</div>

<div class="dlgPanel ezColorT1 minHeight100">
    <div class="dlgHeadingSub">@ResStrings.MOBILEACCESS_SETTINGS</div>
    <div class="divRow paddingLeft">
        <span class="notreq">&nbsp;</span>
        <span class="SubTitle">@DGUtils.ToTitleCase(ResStrings.EQUIPMENT_QRCODES, false)</span>
    </div>
    <div class="divRow paddingLeft">
        <span class="notreq">&nbsp;</span>
        @Html.CheckBoxFor(m => m.AllowQRCodePrinting, new { @class = "ezmark" })
        <label class="wideLabel @((Model.AllowQRCodePrinting) ? "bold" : "")" for="AllowQRCodePrinting">@ResStrings.ALLOW_QR_CODE_PRINTING</label>
    </div>
    <div class="divRow paddingLeft" style="margin-top:20px;">
        <span class="notreq">&nbsp;</span>
        @Html.CheckBoxFor(m => m.EnableMobileMeterReads, new { @class = "ezmark" })
        <label class="wideLabel @((Model.EnableMobileMeterReads) ? "bold" : "")" for="EnableMobileMeterReads">@ResStrings.ENABLE_MOBILE_METER_READS</label>
    </div>
    <div class="divRow paddingLeft">
        <span class="notreq">&nbsp;</span>
        @Html.CheckBoxFor(m => m.EnableMobileServiceCalls, new { @class = "ezmark" })
        <label class="wideLabel @((Model.EnableMobileServiceCalls) ? "bold" : "")" for="EnableMobileServiceCalls">@ResStrings.ENABLE_MOBILE_SERVICE_CALLS</label>
    </div>
    <div class="divRow paddingLeft">
        <span class="notreq">&nbsp;</span>
        @Html.CheckBoxFor(m => m.EnableMobileSalesOrders, new { @class = "ezmark" })
        <label class="wideLabel @((Model.EnableMobileSalesOrders) ? "bold" : "")" for="EnableMobileSalesOrders">@ResStrings.ENABLE_MOBILE_SALES_ORDERS</label>
    </div>
    <div class="divRow paddingLeft">
        <span class="notreq">&nbsp;</span>
        <span class="SubTitle">@DGUtils.ToTitleCase(ResStrings.MOBILE_AUTHENTICATION_REQUIREMENT, false)</span>
    </div>
    <div class="divRow paddingLeft">
        <span class="notreq">&nbsp;</span>
        @Html.CheckBoxFor(m => m.RequireAuthenticationForMobileMeterReads, new { @class = "ezmark" })
        <label class="wideLabel @((Model.RequireAuthenticationForMobileMeterReads) ? "bold" : "")" for="RequireAuthenticationForMobileMeterReads">@ResStrings.REQUIRE_AUTHENTICATION_FOR_MOBILE_METER_READS</label>
    </div>
    <div class="divRow paddingLeft">
        <span class="notreq">&nbsp;</span>
        @Html.CheckBoxFor(m => m.RequireAuthenticationForMobileServiceCalls, new { @class = "ezmark" })
        <label class="wideLabel @((Model.RequireAuthenticationForMobileServiceCalls) ? "bold" : "")" for="RequireAuthenticationForMobileServiceCalls">@ResStrings.REQUIRE_AUTHENTICATION_FOR_MOBILE_SERVICE_CALLS</label>
    </div>


</div>    
    
<div class="buttonBar ezColorT2">
    <div class="btnBarItem btnBarPink">
        <a href='@Url.Action("Index", "Gateway")'>
            <img id="btnCancel2" src="~/Content/Images/cancel.png" alt="@ResStrings.CANCEL" title="@ResStrings.CANCEL" />
            <div>@ResStrings.CANCEL</div>
        </a>
    </div>
    <div class="btnBarItem btnBarGreen">
        <a href='javascript:SaveSettings();'>
            <img id="btnSave2" src="~/Content/Images/save.png" alt="@ResStrings.SAVE" title="@ResStrings.SAVE" />
            <div>@ResStrings.SAVE</div>
        </a>
    </div>
</div>




@*Default Language Dialog
*@
<div id="dlgDefaultLanguage" title="@DGUtils.ToTitleCase(ResStrings.SELECT_DEFAULT_LANGUAGE)">
    <div class="ddList">
        <ul class="lstDefaultLanguage">
            <li>@ResStrings.ENGLISH</li>
            <li>@ResStrings.FRENCH</li>
        </ul>
    </div>
</div>



@*Send Test Email Dialog
*@
<div id="dlgSendTestEmail" title="@DGUtils.ToTitleCase(ResStrings.SEND_TEST_EMAIL)">
    <div id="divInfo" class="infoDiv">
        @ResErrors.EMAIL_SETTINGS_SAVED_PRIOR_TO_TEST_MSG
    </div>
    <div id="divControls" class="divRow">
        <label style="width:60px; color:#000; position:relative; top:4px;">@ResStrings.EMAIL:</label>
        <span class="notreq">&nbsp;</span>
        @Html.TextBoxFor(m => m.Email, new { @class = "ui-widget inputWide" })
    </div>
    <div id="divEmailSendResultMsg" style="display:none;">
    </div>
</div>




@section PageStyles{
    <style type="text/css">
        .divRow label {
            width: 220px;
            text-align:right;
        }
        .divRow input {
            float:left;
        }
        .divRow input[type="text"].inputWide {
            width:400px;
        }
        .paddingLeft {
            padding-left:218px;
        }
        .divRow label.wideLabel {
            padding:0 0 0 4PX;
            width:400px;
            text-align:left;
        }
    </style>
}

@section PageScripts{
    <script type="text/javascript">

        function GetAllSettings() {
            var salesOrdersToDisplay = new Array();
            
            var types = $("[id*=SalesOrdersToDisplay]");
            for (var i = 0; i < types.length; i++) {
                var ctrl = $('#' + types[i].id);

                var salesOrderAllow = {
                    OrderTypeID: types[i].id.split('_')[1],
                    Name: '',
                    Allowed: ctrl.prop('checked')
                }
                salesOrdersToDisplay.push(salesOrderAllow);
            }

            var dealerSettings = {
                // Email
                Email: $("#Email").val(), // This is only used for test email
                ServerName: $("#ServerName").val(),
                ServerPort: $("#ServerPort").val(),
                SMTPUser: $("#SMTPUser").val(),
                SMTPPassword: $("#SMTPPassword").val(),
                UsesSMTP: $("#UsesSMTP").prop('checked'),
                UsesSPA: $("#UsesSPA").prop('checked'),
                UsesSSL: $("#UsesSSL").prop('checked'),

                // Signup
                AllowSignUp: $("#AllowSignUp").prop('checked'),
                EnableImmediateSignUp: $("#EnableImmediateSignUp").prop('checked'),
                SendNotificationsForAllSignUps: $("#SendNotificationsForAllSignUps").prop('checked'),
                SignUpNotificationEmail: $("#SignUpNotificationEmail").val(),

                // Misc
                InheritLocationAccess: $("#InheritLocationAccess").prop('checked'),
                EnableClientValidation: $("#EnableClientValidation").prop('checked'),
                EnforceContactIdentity: $("#EnforceContactIdentity").prop('checked'),

                // Language
                EnableLanguageSettings: $("#EnableLanguageSettings").prop('checked'),
                DefaultLanguage: $("#DefaultLanguage").val(),

                // Notifications
                ReturnEmailAddress: $("#ReturnEmailAddress").val(),
                SalesOrderNotificationEmailAddress: $("#SalesOrderNotificationEmailAddress").val(),
                ServiceCallNotificationEmailAddress: $("#ServiceCallNotificationEmailAddress").val(),
                SiteAdministratorEmailAddress: $("#SiteAdministratorEmailAddress").val(),

                // Files
                SiteBanner: $("#SiteBanner").val(),
                SiteHTMLPage: $("#SiteHTMLPage").val(),

                // A/R
                EnableCreditCardFunctions: $("#EnableCreditCardFunctions").prop('checked'),

                // equipment
                ShowLocationRemarks: $("#ShowLocationRemarks").prop('checked'),
                ShowEquipmentMove: $("#ShowEquipmentMove").prop('checked'),

                // S/C
                ShowClearedCalls: $("#ShowClearedCalls").prop('checked'),
                ShowInvoicedCalls: $("#ShowInvoicedCalls").prop('checked'),
                ShowLaborCalls: $("#ShowLaborCalls").prop('checked'),

                ShowRemarksOnLaborCalls: $("#ShowRemarksOnLaborCalls").prop('checked'),
                ShowMaterialsCalls: $("#ShowMaterialsCalls").prop('checked'),
                ShowOnHoldCalls: $("#ShowOnHoldCalls").prop('checked'),
                ShowProblemCalls: $("#ShowProblemCalls").prop('checked'),
                ShowRepairCalls: $("#ShowRepairCalls").prop('checked'),
                ShowResponseHoursOnCalls: $("#ShowResponseHoursOnCalls").prop('checked'),

                // S/O
                SalesOrdersToDisplay: salesOrdersToDisplay,

                // mobile
                AllowQRCodePrinting: $("#AllowQRCodePrinting").prop('checked'),
                EnableMobileMeterReads: $("#EnableMobileMeterReads").prop('checked'),
                EnableMobileServiceCalls: $("#EnableMobileServiceCalls").prop('checked'),
                EnableMobileSalesOrders: $("#EnableMobileSalesOrders").prop('checked'),
                RequireAuthenticationForMobileMeterReads: $("#RequireAuthenticationForMobileMeterReads").prop('checked'),
                RequireAuthenticationForMobileServiceCalls: $("#RequireAuthenticationForMobileServiceCalls").prop('checked')
            };

            return dealerSettings;
        }

        function SaveSettings() {
            var valuesToPass = GetAllSettings();

            $.ajax({
                type: "POST",
                url: '@Url.Action("Index", "DealerSettings")',
                data: JSON.stringify(valuesToPass),
                dataType: "text",
                contentType: "application/json;charset=utf-8",
                success: function (msg) {
                    window.location.href = '@Url.Action("Index", "Gateway")';
                },
                error: function (msg) {
                    alert("The system encountered an error. The sales order was not saved. Please try the action again.");
                }
            });
        }

        function SendTestEmail() {
            var valuesToPass = GetAllSettings();

            $("#divInfo").hide();
            $("#divControls").hide();
            $(".ui-dialog-buttonset button").hide();
            $("#divEmailSendResultMsg").html("@ResErrors.EMAIL_SENDING_MSG");
            $("#divEmailSendResultMsg").removeClass("warningDiv");
            $("#divEmailSendResultMsg").removeClass("successDiv");
            $("#divEmailSendResultMsg").addClass("infoDiv");
            $("#divEmailSendResultMsg").show("fade", 5000);

            $.ajax({
                type: "POST",
                url: '@Url.Action("SendTestEmail", "DealerSettings")',
                data: JSON.stringify(valuesToPass),
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (msg) {
                    switch (msg.msg) {
                        case "success":
                            $("#divEmailSendResultMsg").html("@ResErrors.EMAIL_SEND_SUCCESS_MSG");
                            $("#divEmailSendResultMsg").removeClass("infoDiv");
                            $("#divEmailSendResultMsg").addClass("successDiv");
                            break;
                        case "fail":
                            $("#divEmailSendResultMsg").html("@ResErrors.EMAIL_SEND_FAIL_1_MSG");
                            $("#divEmailSendResultMsg").removeClass("infoDiv");
                            $("#divEmailSendResultMsg").addClass("warningDiv");
                            break;
                    }
                    $("#divEmailSendResultMsg").hide("fade", 5000);
                },
                complete: function () {
                    setTimeout(function () { $("#dlgSendTestEmail").dialog("close"); }, 5000);
                },
                error: function () {
                    $("#divEmailSendResultMsg").html("@ResErrors.EMAIL_SEND_FAIL_2_MSG");
                    $("#divEmailSendResultMsg").removeClass("infoDiv");
                    $("#divEmailSendResultMsg").addClass("warningDiv");
                }
            });

        }

        function OpenSendDialog() {
            $("#divEmailSendResultMsg").hide();
            $(".ui-dialog-buttonset button").show();
            $("#divInfo").show();
            $("#divControls").show();
            $('#dlgSendTestEmail').dialog('open');
        }
    </script>
}

@section ScriptsOnReady {
    <script type="text/javascript">

        $(document).ready(function () {
            $("#dlgDefaultLanguage").dialog({
                modal: true,
                autoOpen: false,
                height: 250,
                resizable: false,
                buttons: {
                    "@ResStrings.CANCEL": function () {
                        $(this).dialog("close");
                    }
                }
            });

            $(".languageDropDown").click(function () {
                $("#dlgDefaultLanguage").dialog("open");
            });
            $(".languageDropDown").next().click(function () {
                $("#dlgDefaultLanguage").dialog("open");
            });


            $("#dlgSendTestEmail").dialog({
                modal: true,
                autoOpen: false,
                height: 250,
                width: 550,
                resizable: false,
                buttons: {
                    "@ResStrings.SEND": function () {
                        if ($("#Email").val().length > 0) {
                            SendTestEmail();
                        }
                    },
                    "@ResStrings.CANCEL": function () {
                        $(this).dialog("close");
                    }
                }
            });

            // Used for the rollover effect of the dropdown list items
            //
            $(".ddList ul li")
                .mouseover(function () {
                    $(this).addClass("hover");
                })
                .mouseout(function () {
                    $(this).removeClass("hover");
                });
            //--- END

            // Used to select charge method list item
            //
            $(".lstDefaultLanguage li").click(function () {
                $("#spnDefaultLanguage").html($(this).html());
                $("#DefaultLanguage").val($(this).html());
                $("#dlgDefaultLanguage").dialog("close");
            });

            $('.ezmark').ezMark();

            $("#SMTPPassword").val("????????");

        });
    </script>
}
