﻿@using DealerGateway.CustomerUI.Domain;
@using DealerGateway.CustomerUI.Resources;

@model DealerGateway.CustomerUI.Models.EquipmentList
@{
    ViewBag.Title = @ResStrings.EQUIPMENT;
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {

        ButtonBarUISetup();

        //Alternating row colors
        //
        $(".stripeMe tr:even").addClass("alt");

        $(".itemsList tr td").addClass("NoPointer");

        $(".ezmark").ezMark();

        $("#dialog-message").dialog({
            modal: true,
            autoOpen: false,
            height: 200,
            width: 370,
            resizable: false,
            buttons: {
                "@ResStrings.OK": function () {
                    $(this).dialog("close");
                }
            }
        });

    });

    var isSelectionAll = false;
    function PrintQRCodes() {

        // 1. Check to make sure at least one is selected
        if ($("#EquipmentListForm input:checkbox.ezmark:checked").length == 0) {
            $("#dialog-message").dialog("open");
        }
        else {
        // 2. Submit the form
            $('#EquipmentListForm').submit();
        }


    }

    function ToggleSelection() {
        //alert(isSelectionAll);
        switch (isSelectionAll) {
            case true:
                $(".ezmark").closest("div").removeClass("ez-checked");
                $(".ezmark").attr("checked", !isSelectionAll);
                break;

            case false:
                $(".ezmark").closest("div").addClass("ez-checked");
                $(".ezmark").attr("checked", !isSelectionAll);
                break;
        }
        isSelectionAll = !isSelectionAll;
    }
</script>



@using (Html.BeginForm("Equipments", "Service", FormMethod.Post, new {id = "EquipmentListForm"})) {
<div class="buttonBar ezColorT2">
    <div class="btnBarItemRight">
        <a href='@Url.Action("Logout", "Mobile")'>
            <img id="btnLogout" src="~/Content/Images/Logoff.png" alt="@ResStrings.LOG_OFF" title="@ResStrings.LOG_OFF" />
            <div>@ResStrings.LOG_OFF</div>
        </a>
    </div>
</div>

<div class="dlgPanel ezColorT7 dlgTitleBar">
    <div>@Html.Raw(DGUtils.FormatTitle(ResStrings.EQUIPMENT))</div>
</div>

<div id="divTileContainer" class="dlgPanel ezColorT1">
<div class="dlgHeadingSub">@Model.ListTitle</div>

    @if (@Model.Equipments.Count == 0)
    {
        <div class="infoDiv">
            @ResStrings.NO_RESULTS_EQUIPMENT_SEARCH
        </div>
    }
    else
    {

    <div  class="ddList">
        <table class="tblResults stripeMe">
            <thead>
                <tr>
                    <th>@ResStrings.NUMBER</th>
                    <th>@ResStrings.DESCRIPTION</th>
                </tr>
            </thead>
            <tbody id="tbEquipmentList" class="itemsList">
                @for (int i = 0; i < Model.Equipments.Count; i++)
                {
                    <tr>
                        <td>@Html.ActionLink(@Model.Equipments[i].EquipmentNumber, "Equipment", "Mobile", new { key = @ViewBag.MobileAccessToken, id = Model.Equipments[i].EquipmentID }, new { @class = "bold" })
                            @Html.HiddenFor(m=>m.Equipments[i].EquipmentNumber)
                        </td>
                        <td>@Model.Equipments[i].Description@Html.HiddenFor(m=>m.Equipments[i].Description)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
        <div class="ListItemCount">
            <span class="bold">@Model.Equipments.Count.ToString("n0")</span> @if (@Model.Equipments.Count == 1)
                                                                           { @ResStrings.LIST_ITEM }
                                                                           else
                                                                           { @ResStrings.LIST_ITEMS }
        </div>        
        
    }
</div>
}
