﻿@********************
Mobile Implementation
********************@
@using System.Globalization;
@using DealerGateway.CustomerUI.Domain;
@using DealerGateway.CustomerUI.Resources;

@model DealerGateway.CustomerUI.Models.Equipment
@{
    ViewBag.Title = @ResStrings.EQUIPMENT;
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {
        ButtonBarUISetup();
        SetUpRoundButtons();

        if (document.referrer.indexOf("Mobile/Equipments") == -1) {
            //From QR Code???
            $("#btnBackHolder").hide();
        }
        else {
            $("#btnBackHolder").show();
        }
    });
</script>


<div class="buttonBar ezColorT2">
    <div id="btnBackHolder" class="btnBarItem">
        <a href="@Url.Action("Equipments", "Mobile")?key=@ViewBag.MobileAccessToken">
            <img id="btnBack" src="~/Content/Images/Arrow-Left.png" alt="@ResStrings.BACK" title="@ResStrings.BACK" style="border:none;" />
            <div>@ResStrings.BACK</div>
        </a>
    </div>
@if (Model.AllowMobileMeters)
{
    <div class="btnBarItem">
        <a href="@Url.Action("Meters", "Mobile", new { id = @Model.EquipmentID, eq = @Model.EquipmentNumber })&key=@ViewBag.MobileAccessToken">
            <img id="btnMeter" src="~/Content/Images/MeterReadout.png" alt="@ResStrings.METER_READING" title="@ResStrings.METER_READING" />
            <div>@ResStrings.METER</div>
        </a>
    </div>
}
@if (Model.AllowMobileService)
{
    <div class="btnBarItem">
        <a href="@Url.Action("ServiceCall", "Mobile", new { id = @Model.EquipmentID })?key=@ViewBag.MobileAccessToken">
            <img id="btnService" src="~/Content/Images/Tools.png" alt="@ResStrings.SERVICE_CALL" title="@ResStrings.SERVICE_CALL" />
            <div>@ResStrings.SERVICE</div>
        </a>
    </div>
}
@if (Model.AllowMobileSales)
{
    <div class="btnBarItem">
        <a href="@Url.Action("SupplyOrder", "Mobile", new { id = 0, eqID = @Model.EquipmentID })&key=@ViewBag.MobileAccessToken">
            <img id="btnSupplies" src="~/Content/Images/ShoppingCart.png" alt="@ResStrings.SUPPLIES" title="@ResStrings.SUPPLIES" />
            <div>@ResStrings.SUPPLIES</div>
        </a>
    </div>
}

@if ( User.Identity.IsAuthenticated)
{
    <div class="btnBarItemRight btnRoundSmall btnBarPink alignCenter" style="border-left:1px none;">
        <a href='@Url.Action("Logout", "Mobile")'>
            <img id="btnLogout" src="~/Content/Images/Logoff-24.png" alt="@ResStrings.LOG_OFF" title="@ResStrings.LOG_OFF" />
            <div style="padding-top:24px;">&nbsp;</div>
        </a>
    </div>
}
</div>

<div class="dlgPanel ezColorT7 dlgTitleBar">
    <div>@Html.Raw(DGUtils.FormatTitle(ResStrings.EQUIPMENT))</div>
</div>

@Html.Partial("EquipmentPartial", @Model)
