﻿@using DealerGateway.CustomerUI.Domain;
@using DealerGateway.CustomerUI.Models;
@using DealerGateway.CustomerUI.Resources;

@model DealerGateway.CustomerUI.Models.Equipment
@{
    DealerSettings ds = new DealerSettings();
    try
    {
        ds.Load();
    }
    finally
    {
    }

}

<style type="text/css">
    #spnPhone a:link {
        color:#fff;
    }
</style>

<div id="divTileContainer" class="dlgPanel ezColorT1">
    <div class="dlgHeadingSub">@ResStrings.EQUIPMENT_INFORMATION</div>
    <div class="divInfoHolder">
        <div class="divRow">
            <label class="alignRight">@ResStrings.EQUIPMENT_NUMBER:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(Model.EquipmentNumber)</div>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.ITEM_NUMBER:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(Model.ItemNumber)</div>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.SERIAL_NUMBER:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(Model.SerialNumber)</div>
        </div>
        <div class="divRow bottomBorder">
            <label class="alignRight">@ResStrings.MODEL:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(Model.Description)</div>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.EQUIPMENT_CONTACT:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(Model.Contact) 
                @if (Model.ContactPhone.Length > 0)
                {
                    <br /><span id="spnPhone">@DGUtils.FormatPhone(Model.ContactPhone, true)</span>
                }
            </div>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.LOCATION:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(Model.CustomerName) (@DGUtils.FormatValue(Model.CustomerNumber))<br />@DGUtils.FormatValue(Model.Address)<br />@DGUtils.FormatValue(Model.City), @DGUtils.FormatValue(Model.State)  @DGUtils.FormatValue(Model.Zip)</div>
        </div>
        @if (ds.ShowLocationRemarks)
        {
        <div id="divCurRmks" class="divRow">
            <label class="alignRight">@ResStrings.LOCATION_REMARKS:</label>
            <span class="notreq">&nbsp;</span>
            <div id="divCurRemarks" class="val">
                @DGUtils.FormatValue(Model.LocationName) <br />
            </div>
        </div>
        }

    </div>
</div>
