﻿@********************
Mobile Implementation
********************@

@using System.Globalization;
@using DealerGateway.CustomerUI.Domain;
@using DealerGateway.CustomerUI.Models;
@using DealerGateway.CustomerUI.Resources;

@model DealerGateway.CustomerUI.Models.Error
@{
    string strTitle = ResStrings.ERROR;
    string severityCSSClass = "warningDiv";
    
    switch(Model.SeverityID)
    {
        case SeverityCodes.Info:
            severityCSSClass = "infoDiv";
            strTitle = ResStrings.INFO;
            break;
        case SeverityCodes.OK:
            severityCSSClass = "successDiv";
            strTitle = ResStrings.SUCCESS;
            break;
        case SeverityCodes.Warning:
            severityCSSClass = "warningDiv";
            strTitle = ResStrings.WARNING;
            break;
        case SeverityCodes.Critical:
            severityCSSClass = "criticalDiv";
            strTitle = ResStrings.CRITICAL;
            break;
    }
    
    ViewBag.Title = strTitle;
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
    
    
    }
 

<script type="text/javascript">
    $(document).ready(function () {
        ButtonBarUISetup();
    });
 </script>

@if(Model.SeverityID == SeverityCodes.OK)
{
<div class="buttonBar ezColorT2">
    <div class="btnBarItem">
        <a href='@Url.Action("Equipment", "Mobile", new {id=@ViewBag.EquipmentID})?key=@ViewBag.MobileAccessToken'>
            <img id="btnContinue" src="~/Content/Images/Arrow-Right.png" alt="@ResStrings.CONTINUE" title="@ResStrings.CONTINUE" />
            <div>@ResStrings.CONTINUE</div>
        </a>
    </div>
</div>
}

<div class="dlgPanel ezColorT1">
    <div class="dlgHeadingSub">@Model.SeverityTitle</div>
    <div class="@severityCSSClass">
        @Model.Message
    </div>
</div>
