﻿@using DealerGateway.CustomerUI.Domain; 
@using DealerGateway.CustomerUI.Resources; 

@model DealerGateway.CustomerUI.Models.LoginModel
@{
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}


<script type="text/javascript">

    $(document).ready(function () {
        $("#UserName").focus();

        TileHover();
        PageStartupUI();

        $("#btnLogin").button();

        $("#dlgForgotPassword").dialog({
            modal: true,
            autoOpen: false,
            height: 250,
            width: 250,
            resizable: false,
            show: "blind",
            hide: "blind",
            buttons: {
                "@ResStrings.OK": function () {
                    if (ValidateControls() == true) {
                        RestorePassword($("#txtEmail").val());
                    }
                },
                "@ResStrings.CANCEL": function () {
                    $(this).dialog("close");
                }
            }
        });
        InitForgotPasswordDlg();
    });

    function InitForgotPasswordDlg() {
        $("#divFPWarning").hide();
        $("#divFPContent").show();
        $("#dlgForgotPassword").dialog("option", "buttons", {
            "@ResStrings.OK": function () {
                if (ValidateControls() == true) {
                    RestorePassword($("#txtEmail").val());
                }
            },
            "@ResStrings.CANCEL": function () {
                $(this).dialog("close");
            }
        });
    }

    function ForgotPassword() {
        InitForgotPasswordDlg();
        $("#dlgForgotPassword").dialog("open");
    }

    function RestorePassword(email) {
        var valueToPass = { EmailAddress: email };

        $.ajax({
            type: "POST",
            url: '@Url.Action("RestorePassword", "Mobile")',
            dataType: "json",
            data: JSON.stringify(valueToPass),
            contentType: "application/json;charset=utf-8",
            success: function (msg) {
                tmpStr = msg[1];
                if (msg[0] == "True") {
                    $("#divFPWarning").addClass("warningDiv");
                }
                else {
                    $("#divFPWarning").removeClass("warningDiv");
                }
                $('#divFPWarning').html(tmpStr);
                $("#divFPContent").hide();
                $("#divFPWarning").show();
                $("#dlgForgotPassword").dialog("option", "buttons", { "@ResStrings.OK": function () { $(this).dialog("close"); } });
            },
            error: function (json) {
                alert("@ResStrings.THE_SYSTEM_ENCOUNTERED_AN_ERROR_TRY_AGAIN");
            }
        });
    }

    function ValidateControls() {
        var isValid = true;

        // Validate Email
        var em = $('#txtEmail').val();
        if (em.length <= 0 || isValidEmailAddress(em) == false) {
            isValid = false;
            $('#txtEmail').attr('title', 'Please enter a valid email address');
            $('#txtEmail').addClass('inputErrorCondition');
        } else {
            $('#txtEmail').attr('title', '');
            $('#txtEmail').removeClass('inputErrorCondition');
        }

        return isValid;
    }

</script>

<style type="text/css">
    input.ui-button {
        padding: .4em 1em;
    }
    div.dlgContainer table tr td {
        border:none;
        background-color:transparent;
    }

</style>


    <!--Login-->
    <div class="ezT4 ezColorT1" style="position:relative;">
        @using (Html.BeginForm("Login", "Mobile", new { ReturnUrl = ViewBag.ReturnUrl })) {
        <div class="TileTitle">
            @ResStrings.LOGIN 
        </div>
        <div id="divLoginContainer">
            <div class="divRow">
                <label>@ResStrings.USER_NAME:</label>
                @Html.TextBoxFor(m => m.UserName,new {@class="loginInputs"})
            </div>
            <div class="divRow">
                <label>@ResStrings.PASSWORD:</label>
                @Html.PasswordFor(m => m.Password,new {@class="loginInputs"})
            </div>
        </div>
        <div style="text-align:right;padding:13px 0 0 0;">
            <input id="btnLogin" type="submit" value="@ResStrings.LOG_IN" />
        </div>
        }
        <div style="position:absolute; bottom:4px; right:4px; text-align:right;">
            <a href="javascript:ForgotPassword();" class="white">@ResStrings.FORGOT_PASSWORD?</a><br /><br />
        </div>
    </div>
    <div class="div4sqContainer" style="position:relative;">
        @Html.ValidationSummary(true,  ResErrors.LOGIN_UNSUCCESSFUL_MSG)
        <div class="ezT4 ezColorT5 " style="overflow:auto;">
        </div>
    </div>



@*Forgot Password Dialog
*@
<div id="dlgForgotPassword" title="@ResStrings.FORGOT_PASSWORD">
    <div id="dlgContainer" class="dlgContainer">
        <div id="divFPWarning" style="display:none;"></div>
        <div id="divFPContent">
            <div>
                @ResStrings.IF_YOU_HAVE_EMAIL_ACCOUNT_HEADING
            </div>
            <div class="divRow">
                <span style="float:none;" class="darkText">@ResStrings.EMAIL:</span>
                <span class="req" style="float:none;">*</span>
            </div>
            <input type="email" id="txtEmail"  style="width:200px;" />
        </div>
    </div>
</div>
