﻿@using DealerGateway.CustomerUI.Resources;

@{
    ViewBag.Title = "LogOut";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<div class="ezT4 ezColorT1" style="float:none; width:100%; margin-right:20px;">
    <div class="dlgHeadingSub">@ResStrings.THANK_YOU</div>
    <div class="divRow">
        <div class="val">@ResStrings.YOU_ARE_LOGGED_OUT</div>
    </div>
</div>