﻿@********************
Mobile Implementation
********************@
@using System.Globalization;
@using DealerGateway.CustomerUI.Domain;
@using DealerGateway.CustomerUI.Models;
@using DealerGateway.CustomerUI.Resources;

@model DealerGateway.CustomerUI.Models.ServiceCall
@{
    ViewBag.Title = ResStrings.NEW_SERVICE_CALL;
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";

    int eqID = ViewBag.EquipmentID;

    bool EnforceContactIdentity = !Globals.Configuration.Settings.DoNotEnforceContactIdentity;
    
    DealerSettings ds = new DealerSettings();
    try
    {
        ds.Load();
    }
    finally
    {
    }

}


<script type="text/javascript">

    $(document).ready(function () {

        ButtonBarUISetup();

        //Set the textareas to grow
        //
        $("textarea").elastic();
        $("textarea").css("width", "250px");


        $("span.req").css("float","left");

    });

    function SaveServiceCall() {
        var errArray = new Array();
        var hasErrors = false;

        //validate reporter data fields
        if ("@EnforceContactIdentity" == "False" || ("@EnforceContactIdentity" == "True" && $.trim($("#Caller").val()).length == 0)) {
            if ($.trim($("#Caller").val()).length == 0) {
                hasErrors = true;
                errArray.push("@ResErrors.ENTER_NAME_MSG");
            }
        }
        if ("@EnforceContactIdentity" == "False" || ("@EnforceContactIdentity" == "True" && $.trim($("#Email").val()).length == 0)) {
            var em = $("#Email").val();
            if (em.length <= 0 || isValidEmailAddress(em) == false) {
                hasErrors = true;
                errArray.push("@ResStrings.PLEASE_ENTER_A_VALID_EMAIL_ADDRESS" + ".");
            }
        }

        if ("@EnforceContactIdentity" == "False" || ("@EnforceContactIdentity" == "True" && $.trim($("#Phone").val()).length == 0)) {
            if ($("#Phone").val().length == 0) {
                hasErrors = true;
                errArray.push("@ResErrors.ENTER_PHONE_NUMBER_MSG");
            }
        }
        if ("@Model.RequirePONum" == "True" && $.trim($("#PONumber").val().length == 0)) {
            hasErrors = true;
            errArray.push("@ResErrors.PO_NUMBER_IS_REQUIRED");
        }


        //validate description
        if ($("#Description").val().length == 0) {
            hasErrors = true;
            errArray.push("@ResErrors.ENTER_DESCRIPTION_MSG");
        }

        if (hasErrors == true) {
            //show message and bail
            var str = "";
            str += "<ul>";
            for (var i = 0; i < errArray.length; i++) {
                str += "<li>" + errArray[i] + "</li>";
            }
            str += "</ul>";

            $(".warningDiv").html(str);
            $(".warningDiv").show("fade");
        }
        else {
            //save stuff
            $(".warningDiv").hide("fade");
            $('#ServiceCallForm').submit();
        }
    }


</script>

<style type="text/css">
    #Description {
        width:600px;
        height:75px;
    }
    .warningDiv ul {
        margin:0px;
        padding-left:20px;
    }
    #spnPhone a:link {
        color:#fff;
    }
</style>

<form action="~/Mobile/ServiceCall?key=@ViewBag.MobileAccessToken" id="ServiceCallForm" method="post">

<div class="buttonBar ezColorT2">
    <div class="btnBarItem btnBarPink">
        <a href='@Url.Action("Equipment", "Mobile", new {id=eqID})?key=@ViewBag.MobileAccessToken'>
            <img id="btnCancel" src="~/Content/Images/cancel.png" alt="@ResStrings.CANCEL" title="@ResStrings.CANCEL" />
            <div>@ResStrings.CANCEL</div>
        </a>
    </div>
    <div class="btnBarItem btnBarGreen">
        <a href='javascript:SaveServiceCall();'>
            <img id="btnNext" src="~/Content/Images/save.png" alt="@ResStrings.SAVE" title="@ResStrings.SAVE" />
            <div>@ResStrings.SAVE</div>
        </a>
    </div>
</div>

<div class="warningDiv" style="margin-right:8px; display:none;"></div>

<div class="dlgPanel ezColorT7 dlgTitleBar">
    <div>@Html.Raw(DGUtils.FormatTitle(ResStrings.NEW_SERVICE_CALL))</div>
</div>

<div class="dlgPanel ezColorT1">
    <div class="dlgHeadingSub">@ResStrings.EQUIPMENT_INFORMATION</div>
    <div id="divExisting" class="divRow">
        <label class="alignRight">@ResStrings.EQUIPMENT:</label>
        <span class="notreq">&nbsp;</span> 
        <div class="val">
            @Model.EquipmentNumber<br />
            @Model.EquipmentDescription<br />
            @Model.EquipmentSerialNumber
        </div>
    </div>
    <div id="divCurCon" class="divRow">
        <label class="alignRight">@ResStrings.EQUIPMENT_CONTACT:</label>
        <span class="notreq">&nbsp;</span>
        <div id="divCurContact" class="val">
            @Model.EquipmentContact
            @if (@Model.EquipmentContactPhone.Length > 0)
            {
                <div class="lightLink">@DGUtils.FormatPhone(Model.EquipmentContactPhone, true)</div>
            }
        </div>
    </div>
    <div id="divCurLoc" class="divRow">
        <label class="alignRight">@ResStrings.CURRENT_LOCATION:</label>
        <span class="notreq">&nbsp;</span>
        <div id="divCurLocation" class="val">
            @Model.CustomerName (@Model.CustomerNumber)<br />
            @Model.Address, @Model.City @Model.State, @Model.Zip
        </div>
    </div>
    @if (ds.ShowLocationRemarks)
    {
    <div id="divCurRmks" class="divRow">
        <label class="alignRight">@ResStrings.LOCATION_REMARKS:</label>
        <span class="notreq">&nbsp;</span>
        <div id="divCurRemarks" class="val">
            @DGUtils.FormatValue(Model.Remarks) <br />
        </div>
    </div>
    }
</div>

<div class="dlgPanel ezColorT1">
    <div class="dlgHeadingSub">
        @if (EnforceContactIdentity && Model.Caller.Length > 0)
        {
            @ResStrings.ENTER_PO_NUMBER
        }
        else
        {
            @ResStrings.ENTER_SERVICE_CALL_CONTACT_INFO_HEADER
        }
        @if (!Model.RequirePONum)
        {
            @ResStrings.OPTIONAL
        }
    </div>
    <div id="divName">
        <label class="lightText" style="float:left; width:auto;">@ResStrings.NAME:</label>
    </div>
    <div class="divRow">
        @if (EnforceContactIdentity && Model.Caller.Length > 0)
        {
            <span class="notreq">&nbsp;</span><span>@Model.Caller</span><div style="clear:left;"></div>
            
            @Html.HiddenFor(m => m.Caller, new { @class = "inputNormal" })
        }
        else
        {
            <span class="req">*</span>
            @Html.TextBoxFor(m => m.Caller, new { @class = "inputNormal", style="width:250px;" })
        }
    </div>
    <div id="divEmail">
        <label class="lightText" style="float:left; width:auto;">@ResStrings.EMAIL:</label>
    </div>
    <div class="divRow">
        @if (EnforceContactIdentity && Model.Email.Length > 0)
        {
            <span class="notreq">&nbsp;</span><span>@Model.Email</span><div style="clear:left;"></div>
            
            @Html.HiddenFor(m => m.Email, new { @class = "inputNormal" })
        }
        else
        {
            <span class="req">*</span>
            @Html.TextBoxFor(m => m.Email, new { @class = "inputNormal", @type="email", style="font-size:1.05em; width:252px;" })
        }
    </div>
    <div id="divPhone">
        <label class="lightText" style="float:left; width:auto;">@ResStrings.PHONE:</label>
    </div>
    <div class="divRow">
        @if (EnforceContactIdentity && Model.Phone.Length > 0)
        {
            <span class="notreq">&nbsp;</span><span id="spnPhone">@DGUtils.FormatPhone(Model.Phone, true)</span><div style="clear:left;"></div>
            
            @Html.HiddenFor(m => m.Phone, new { @class = "inputNormal" })
        }
        else
        {
            <span class="req">*</span>
            @Html.TextBoxFor(m => m.Phone, new { @class = "inputNormal", @type="tel", style="font-size:1.05em;" })
        }
    </div>
    <div class="divRow">
    </div>
    <div id="divPONumber">
        <label class="lightText" style="float:left; width:auto;">@ResStrings.CUSTOMER_PO_NUMBER:</label>
    </div>
    <div class="divRow">
        @if (Model.RequirePONum)
        {
            <span class="req">*;</span>
        }
        else
        {
            <span class="notreq">&nbsp;</span>
        }
        @Html.TextBoxFor(m => m.PONumber, new { @class = "inputNormal" })
    </div>
</div>

<div class="dlgPanel ezColorT1">
    <div class="dlgHeadingSub">@ResStrings.ENTER_A_DESCRIPTION_OF_THE_PROBLEM_YOU_ARE_EXPERIENCING_WITH_THE_EQUIPMENT</div>
    <div id="divDescription" class="divRow">
        <label class="alignRight" style="float:left; width:auto;">@ResStrings.DESCRIPTION:</label>
        <span class="req">*</span><div style="clear:left;"></div>
        @Html.TextAreaFor(m => m.Description)
    </div>
</div>

<div class="warningDiv" style="margin-right:8px; display:none;"></div>

<div class="buttonBar ezColorT2">
    <div class="btnBarItem btnBarPink">
        <a href='@Url.Action("Equipment", "Mobile", new {id=eqID})?key=@ViewBag.MobileAccessToken'>
            <img id="btnCancel2" src="~/Content/Images/cancel.png" alt="@ResStrings.CANCEL" title="@ResStrings.CANCEL" />
            <div>@ResStrings.CANCEL</div>
        </a>
    </div>
    <div class="btnBarItem btnBarGreen">
        <a href='javascript:SaveServiceCall();'>
            <img id="btnNext2" src="~/Content/Images/save.png" alt="@ResStrings.SAVE" title="@ResStrings.SAVE" />
            <div>@ResStrings.SAVE</div>
        </a>
    </div>
</div>


@Html.HiddenFor(m => m.EquipmentID)
@Html.HiddenFor(m => m.EquipModeType)
</form>






