﻿@********************
Mobile Implementation
********************@
@using System.Globalization;
@using DealerGateway.CustomerUI.Domain;
@using DealerGateway.CustomerUI.Resources;
@using einfo;

@model DealerGateway.CustomerUI.Models.SalesOrder
@{
    ViewBag.Title = ResStrings.NEW_SALES_ORDER;
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";

    int eqID = ViewBag.EquipmentID;

    bool EnforceContactIdentity = !Globals.Configuration.Settings.DoNotEnforceContactIdentity;

    string key = Request.QueryString["key"];

}

<script type="text/javascript">

    $(document).ready(function () {
        ButtonBarUISetup();

        //Set the textareas to grow
        //
        $("textarea").elastic();

        GetEquipmentItems("@eqID");

    });

    function GetEquipmentItems(id) {
        $.ajax({
            url: '@Url.Action("SalesOrderItems", "Mobile")' + '?equipmentID=' + id,
            type: "POST",
            dataType: 'json',
            contentType: "application/json;charset=utf-8",
            success: function (list) {
                PopulateItemList(list);
            },
            complete: function () {
            },
            error: function () {
                alert("There was an error getting the sales order items based on the equipment!");
            }
        });
    }

    function PopulateItemList(list) {
        var str = "";
        if (list.length == 0) {
            str = "<div class='infoDiv'>";
            str += "@ResStrings.THERE_ARE_NO_ITEMS_TO_DISPLAY";
            str += "</div>";
        }
        else {
            str += "<table class='tblResults stripeMe'>";
            str += "<thead>";
            str += "<tr>";
            str += "<th>@DGUtils.ToTitleCase(ResStrings.NUMBER)</th>";
            str += "<th>@DGUtils.ToTitleCase(ResStrings.DESCRIPTION)</th>";
            str += "<th>@DGUtils.ToTitleCase(ResStrings.QTY)</th>";
            str += "<th>@DGUtils.ToTitleCase(ResStrings.UNIT)</th>";
            str += "<th style='text-align:center;'>@DGUtils.ToTitleCase(ResStrings.UNIT_PRICE)</th>";
            str += "</tr>";
            str += "</thead>";
            str += "<tbody>";


            for (var i = 0; i < list.length; i++) {
                var itemID = list[i]["ItemID"];
                str += "<tr id='row_" + itemID + "'>";
                str += "<td id='rowItem_" + itemID + "'>" + list[i]["ItemNumber"] + "</td>";
                str += "<td id='rowDesc_" + itemID + "'>" + list[i]["ItemDescription"] + "</td>";
                str += "<td><input type='tel' style='width:30px;' id='txtQty_" + itemID + "' class='Qty'>";
                str += "<input type='hidden' id='EquipmentID_" + itemID + "' value='" + list[i]["EquipmentID"] + "' />";
                str += "<input type='hidden' id='ContractID_" + itemID + "' value='" + list[i]["ContractID"] + "' />";
                str += "</td>";
                str += "<td>" + list[i]["Unit"] + "</td>";
                str += "<td id='rowPrice_" + itemID + "' class='alignRight'>" + Globalize.format(list[i]["Price"], "C2") + "</td>";
                str += "</tr>";
            }

            str += "</tbody>";
            str += "</table>";
        }

        //Format table
        //Put it in the dialog
        //Open the dialog
        $("#divItemsListContent").html(str);
        $("#dlgItemsList").dialog("open");

        $('.Qty').keyup(function (event) {
            setTimeout(function () { UpdateSubTotal(); }, 0);
        });

        $(".Qty").numeric({ negative: false, decimal: false });
    }

    var aryWarning = new Array();
    var isValid = true;

    function SaveServiceCall() {
        aryWarning.length = 0;

        //1. validate controls
        ValidateControls();

        if (isValid) {
            //2. save sales order
            SaveOrder();
        }
        else {
            DisplayWarningMsg();
            $("div").removeClass("btnBarGreen");
        }
    }

    function ValidateControls() {
        isValid = true;

        // Validate PO Number
        var po = $('#PONumber').val();
        if (po.length <= 0) {
            isValid = false;
            aryWarning.push("@ResErrors.ENTER_PO_NUMBER");
        }

        var tempVal = 0;
        $(".Qty").each(function () {
            tempVal += $(this).val() * 1;
        });
        if (tempVal == 0) {
            isValid = false;
            aryWarning.push("@ResErrors.ENTER_QTY_FOR_ONE_ITEM");
        }

        return isValid;
    }

    function DisplayWarningMsg() {
        if (aryWarning.length > 0) {
            var str = "";
            for (var i = 0; i < aryWarning.length; i++) {
                str += "- ";
                str += aryWarning[i];
                str += "\n";
            }
            alert(str);
        }
    }

    function UpdateSubTotal() {
        var subTotal = 0;
        $('.Qty').each(function () {
            var rowID = $(this).prop("id").split("_")[1];
            var qty = $(this).val();
            var price = Globalize.parseFloat($("#rowPrice_" + rowID).html());

            subTotal += (qty * price);
            if (subTotal == 0)
                $('#spanSubTotalTop').html("---");
            else
                $('#spanSubTotalTop').html(Globalize.format(subTotal, "C2"));
        });
    }


    function SaveOrder() {
        var items = new Array();

        $('.Qty').each(function () {
            var rowID = $(this).prop("id").split("_")[1];
            var itemID = rowID;
            var itemNumber = $('#rowItem_' + rowID).html();
            var itemDescription = $('#rowDesc_' + rowID).html();
            var itemPrice = Globalize.parseFloat($('#rowPrice_' + rowID).html());
            var equipmentID = $('#EquipmentID_' + rowID).val();
            var contractID = $('#ContractID_' + rowID).val();

            var itemPrice = { ItemID: itemID, ItemNumber: itemNumber, ItemDescription: itemDescription, Quantity: $(this).val(), DisplayPrice: itemPrice, EquipmentID: equipmentID, ContractID: contractID };
            if ($(this).val() > 0) {
                items.push(itemPrice);
            }
        });

        if ("@EnforceContactIdentity" == "True") {
            var salesOrder = {
                ShipToID: $('#hiddenShipToID').val(),
                PONumber: $('#PONumber').val(),
                Description: $('#txtComments').val(),
                ShipToAttn: $('#lblOrderedBy').html(),
                OrderedByEmail: $('#lblOrderedByEmail').html(),
                Items: items
            };
        }
        else {
            var salesOrder = {
                ShipToID: $('#hiddenShipToID').val(),
                PONumber: $('#PONumber').val(),
                Description: $('#txtComments').val(),
                ShipToAttn: $('#ShipToAttn').val(),
                OrderedByEmail: $('#OrderedByEmail').val(),
                Items: items
            };
        }

        $.ajax({
            type: "POST",
            url: '@Url.Action("SalesOrderSave", "Mobile")',
            data: JSON.stringify(salesOrder),
            dataType: "text",
            contentType: "application/json;charset=utf-8",
            success: function (msg) {
                window.location.href = '@Html.Raw(@Url.Action("Error", "Mobile", new { errorCode = @DealerGateway.CustomerUI.Models.ErrorCodes.SalesOrderEntrySuccessful, severityCode = @DealerGateway.CustomerUI.Models.SeverityCodes.OK, id = @eqID, key = @key }))';
            },
            error: function (msg) {
                alert("The system encountered an error. The sales order was not saved. Please try the action again.");
            }
        });

    }

</script>

<style type="text/css">
    #Description {
        width:600px;
        height:75px;
    }
    .warningDiv ul {
        margin:0px;
        padding-left:20px;
    }
</style>

<div class="buttonBar ezColorT2">
    <div class="btnBarItem btnBarPink">
        <a href='@Url.Action("Equipment", "Mobile", new {id=eqID})?key=@ViewBag.MobileAccessToken'>
            <img id="btnCancel" src="~/Content/Images/cancel.png" alt="@ResStrings.CANCEL" title="@ResStrings.CANCEL" />
            <div>@ResStrings.CANCEL</div>
        </a>
    </div>
    <div class="btnBarItem btnBarGreen">
        <a href='javascript:SaveServiceCall();'>
            <img id="btnNext" src="~/Content/Images/save.png" alt="@ResStrings.SAVE" title="@ResStrings.SAVE" />
            <div>@ResStrings.SAVE</div>
        </a>
    </div>
</div>

<div class="warningDiv" style="margin-right:8px; display:none;"></div>

<div class="dlgPanel ezColorT7 dlgTitleBar">
    <div>@Html.Raw(DGUtils.FormatTitle(ResStrings.NEW_SALES_ORDER))</div>
</div>

<div class="dlgPanel ezColorT1 minHeight100">
    <div class="divInfoHolder minHeight100">
        <div class="dlgHeadingSub">@ResStrings.ORDER_INFORMATION</div>
        <input id="hiddenShipToID" value="@Model.ShipToID" type="hidden" />

        <div class="divRow">
            <label>@ResStrings.ORDERED_BY:</label>
            <div>
            @if (EnforceContactIdentity && Model.ShipToAttn.Trim().Length > 0)
            {
                <span class="notreq">&nbsp;</span>
                <span id="lblOrderedBy">@Model.ShipToAttn</span>
                @Html.HiddenFor(m => m.ShipToAttn, new { @class = "inputNormal" })
            }
            else
            {
                <span class="req">*</span>
                @Html.TextBoxFor(m => m.ShipToAttn, new { @class = "inputNormal", style="width:150px;" })
            }
            </div>
        </div>
        <div class="divRow">
            <label>@ResStrings.ORDERED_BY_EMAIL:</label>
            <div>
            @if (EnforceContactIdentity && Model.OrderedByEmail.Trim().Length > 0)
            {
                <span class="notreq">&nbsp;</span>
                <span id="lblOrderedByEmail">@Model.OrderedByEmail</span>
                @Html.HiddenFor(m => m.OrderedByEmail, new { @class = "inputNormal" })
            }
            else
            {
                <span class="req">*</span>
                @Html.TextBoxFor(m => m.OrderedByEmail, new { @class = "inputNormal", style="width:250px;" })
            }
            </div>
        </div>
        <div class="divRow">
            <label>@ResStrings.PO_NUMBER:</label>
            <div>
                <span class="req">*</span>
                <span>@Html.TextBoxFor(m=>m.PONumber)</span>
            </div>
        </div>
    </div>
    <div class="divInfoHolder minHeight100">
        <div class="dlgHeadingSub">@ResStrings.ORDER_TOTAL</div>
        <div class="divRow">
            <label>@ResStrings.SUB_TOTAL:</label>
            <div>
                <span class="notreq">&nbsp;</span>
                <span id="spanSubTotalTop">@DGUtils.FormatValue(Model.SubTotal, "C2")</span>
            </div>
        </div>
        <div class="divRow">
            <label>&nbsp;</label>
            <div>
                <span style="font-weight:normal;">(@ResStrings.APPLICABLE_FREIGHT_AND_TAX_WILL_BE_ADDED)</span>
            </div>
        </div>
        <div class="divRow">
            <label>@ResStrings.ORDER_COMMENTS:</label>
            <div>
                <span class="notreq">&nbsp;</span>
                <textarea id="txtComments" style="width:100%;" maxlength="255"></textarea>
            </div>
        </div>
    </div>
</div>

<div class="dlgPanel ezColorT1 minHeight100">
    <div class="dlgHeadingSub">@ResStrings.EQUIPMENT_ITEMS</div>
    <!----------------------------- Items List ----------------------------->
    <div id="dlgItemsList" title="@DGUtils.ToTitleCase(ResStrings.ENTER_ITEM_QUANTITY)">
        <div id="divItemsListContent" class="ddList"></div>
    </div>

</div>

<div class="buttonBar ezColorT2">
    <div class="btnBarItem btnBarPink">
        <a href='@Url.Action("Equipment", "Mobile", new {id=eqID})?key=@ViewBag.MobileAccessToken'>
            <img id="btnCancel2" src="~/Content/Images/cancel.png" alt="@ResStrings.CANCEL" title="@ResStrings.CANCEL" />
            <div>@ResStrings.CANCEL</div>
        </a>
    </div>
    <div class="btnBarItem btnBarGreen">
        <a href='javascript:SaveServiceCall();'>
            <img id="btnNext2" src="~/Content/Images/save.png" alt="@ResStrings.SAVE" title="@ResStrings.SAVE" />
            <div>@ResStrings.SAVE</div>
        </a>
    </div>
</div>

