@using DealerGateway.CustomerUI.Domain;
@using DealerGateway.CustomerUI.Resources;

@model DealerGateway.CustomerUI.Models.SalesOrder
@{
    ViewBag.Title = @ResStrings.SALES_ORDER;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {

        ButtonBarUISetup();

        //Alternating row colors
        //
        $(".stripeMe tr:even").addClass("alt");

        //Removes the pointing finger cursor from the list
        //
        $(".itemsList tr td").addClass("NoPointer");

        //Set the width and alignment of the total fields
        //
        var maxWidth = 0;
        var elemWidth = 0;
        $('.otAlign').css("text-align", "right");
        $('.otAlign').css("float", "left");

        $('.otAlign').each(function () {
            elemWidth = parseInt($(this).css('width'));
            if (parseInt($(this).css('width')) > maxWidth) {
                maxWidth = elemWidth;
            }
    });
        $('.otAlign').each(function () {
            $(this).css('width', maxWidth + 10 + "px");
        });

    });

</script>

<style type="text/css">
    .itemsList tr td input {
        width:3em;
    }
</style>

<div class="buttonBar ezColorT2">
    <div class="btnBarItem">
        <a href="javascript:GoBack();">
            <img id="btnBack" src="~/Content/Images/Arrow-Left.png" alt="@ResStrings.BACK" title="@ResStrings.BACK" />
            <div>@ResStrings.BACK</div>
        </a>
    </div>
    <div class="btnBarItem">
        <a href="javascript:Print();">
            <img id="btnPrint" src="~/Content/Images/Print.png" alt="@ResStrings.PRINT" title="@ResStrings.PRINT" />
            <div>@ResStrings.PRINT</div>
        </a>
    </div>

    <div class="btnBarItemRight">
        <a href='@Url.Action("Index", "Gateway")'>
            <img id="btnHome" src="~/Content/Images/home.png" alt="@ResStrings.HOME" title="@ResStrings.HOME" />
            <div>@ResStrings.HOME</div>
        </a>
    </div>
</div>

<div class="dlgPanel ezColorT7 dlgTitleBar">
    <div>@Html.Raw(DGUtils.FormatTitle(ResStrings.SALES_ORDER))</div>
</div>

<div class="dlgPanel ezColorT1">
    <div class="dlgHeadingSub">@ResStrings.DETAILS</div>
    <div class="divInfoHolder minHeight100">
        <div class="divRow">
            <label class="alignRight">@ResStrings.SALES_PERSON:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(@Model.SalesPerson)</div>
        </div>
    </div>
    <div class="divInfoHolder minHeight100">
        <div class="divRow">
            <label class="alignRight">@ResStrings.NUMBER:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(@Model.SalesOrderNumber)</div>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.DATE:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(@Model.SalesOrderDate)</div>
        </div>
    </div>
</div>

<div class="dlgPanel ezColorT1 minHeight100">
    <div class="divInfoHolder minHeight100">
        <div class="dlgHeadingSub">@ResStrings.BILL_TO</div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.LOCATION:</label>
            <span class="notreq">&nbsp;</span>
            <span>@Model.MailToName (@Model.CustomerNumber)<br />@Model.MailToAddress<br />@Model.MailToCity, @Model.MailToState @Model.MailToZip</span>
        </div>
    </div>
    <div class="divInfoHolder minHeight100">
        <div class="dlgHeadingSub">@ResStrings.SHIP_TO</div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.LOCATION:</label>
            <span class="notreq">&nbsp;</span>
            <span>@Model.ShipToName (@Model.ShipToCustomerNumber)<br />@Model.ShipToAddress<br />@Model.ShipToCity, @Model.ShipToState @Model.ShipToZip</span>
        </div>
    </div>
</div>

<div class="dlgPanel ezColorT1 minHeight100">
    <div class="divInfoHolder minHeight100">
        <div class="dlgHeadingSub">@ResStrings.ORDER_INFORMATION</div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.PO_NUMBER:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(@Model.PONumber)</div>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.TERMS:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(@Model.Terms)</div>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.DUE_DATE:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(@Model.DueDate)</div>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.SHIP_METHOD:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(@Model.ShipMethod)</div>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.ATTENTION:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(@Model.ShipToAttn)</div>
        </div>
    </div>
    <div class="divInfoHolder minHeight100">
        <div class="dlgHeadingSub">@ResStrings.ORDER_TOTAL</div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.SUB_TOTAL:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val otAlign">@DGUtils.FormatValue(@Model.SubTotal, "C2")</div>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.TAX:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val otAlign">@DGUtils.FormatValue(@Model.Tax, "C2")</div>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.SHIPPING:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val otAlign">@DGUtils.FormatValue(@Model.Frieght, "C2")</div>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.TOTAL:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val otAlign">@DGUtils.FormatValue(@Model.SalesOrderTotal, "C2")</div>
        </div>
    </div>
</div>

<div class="dlgPanel ezColorT1">
    <div class="dlgHeadingSub">@ResStrings.ITEMS</div>
    @if (@Model.Items.Count == 0)
    {
        <div class="infoDiv">
            @ResStrings.NO_ITEMS_FOR_SALES_ORDER
        </div>
    }
    else
    {
        <div class="ddList">
            <table class="tblResults stripeMe">
                <thead>
                    <tr>
                        <th>@ResStrings.LINE</th>
                        <th>@ResStrings.ITEM</th>
                        <th>@ResStrings.DESCRIPTION</th>
                        <th>@DGUtils.ToTitleCase(ResStrings.EQUIPMENT_NUMBER)</th>
                        <th style="text-align:center;">@ResStrings.ORDERED</th>
                       <!-- <th style="text-align:center;">@ResStrings.B_FOR_BACKORDERED</th>-->
                        <th style="text-align:center;">@ResStrings.C_FOR_CANCELED</th>
                        <th style="text-align:center;">@ResStrings.P_FOR_PICKED</th>
                        <th style="text-align:center;">@ResStrings.S_FOR_SHIPPED</th>
                        <th style="text-align:center;">@ResStrings.PRICE</th>
                      <th style="text-align:center;">
                          //@ResStrings.TOTAL</th>
                    </tr>
                </thead>
                <tbody class="itemsList">
                    @for (int i = 0; i < Model.Items.Count; i++)
                    {
                        <tr>
                            <td>@DGUtils.FormatValue(@Model.Items[i].LineNumber)</td>
                            <td>@DGUtils.FormatValue(@Model.Items[i].ItemNumber)</td>
                            <td>@DGUtils.FormatValue(@Model.Items[i].ItemDescription)</td>
                            <td>@DGUtils.FormatValue(@Model.Items[i].EquipmentNumber)</td>
                            <td class="alignRight">@DGUtils.FormatValue(@Model.Items[i].Quantity, "N0")</td>
                           <!-- <td class="alignRight">@DGUtils.FormatValue(@Model.Items[i].BackOrdered, "N0")</td>-->
                            <td class="alignRight">@DGUtils.FormatValue(@Model.Items[i].Canceled, "N0")</td>
                            <td class="alignRight">@DGUtils.FormatValue(@Model.Items[i].Picked, "N0")</td>
                            <td class="alignRight">@DGUtils.FormatValue(@Model.Items[i].Shipped, "N0")</td>
                            <td class="alignRight">@if (Model.Items[i].DisplayAmount != 0) { @DGUtils.FormatValue(@Model.Items[i].DisplayPrice, "C2") } else { @DGUtils.FormatValue(0, "C2") }</td>
                        <td class="alignRight">
                              //@DGUtils.FormatValue(@Model.Items[i].DisplayAmount, "C2")</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <div style="float:right; color:white">@ResStrings.ORDER_ITEM_STATUS_HELP</div> 
        <div class="ListItemCount">
        <span class="bold">@Model.Items.Count.ToString("n0")</span> @if (@Model.Items.Count == 1)
                                                                    { @ResStrings.LIST_ITEM }
                                                                    else
                                                                    { @ResStrings.LIST_ITEMS }
        </div>
    }
</div>

<div class="dlgPanel ezColorT1">
    <div class="dlgHeadingSub">@ResStrings.SHIPMENTS</div>
    @if (@Model.Shipments.Count == 0)
    {
        <div class="infoDiv">
            @ResStrings.NO_SHIPMENTS_FOR_SALES_ORDER
        </div>
    }
    else
    {
        <div class="ddList">
            <table class="tblResults stripeMe">
                <thead>
                    <tr>
                        <th>@ResStrings.NUMBER</th>
                        <th>@ResStrings.DATE</th>
                        <th>@ResStrings.DELIVERY</th>
                        <th>@DGUtils.ToTitleCase(ResStrings.TRACKING_NUMBERS)</th>
                        <th style="text-align:center;">@ResStrings.TOTAL</th>
                    </tr>
                </thead>
                <tbody class="itemsList">
                    @for (int i = 0; i < Model.Shipments.Count; i++)
                    {
                        <tr>
                            <td>@Html.ActionLink(@DGUtils.FormatValue(@Model.Shipments[i].ShipmentNumber), "Shipment", "Sales", new { id = @Model.Shipments[i].ShipmentID }, new { @class = "bold" })</td>
                            <td>@DGUtils.FormatValue(@Model.Shipments[i].ShipDate)</td>
                            <td>@DGUtils.FormatValue(@Model.Shipments[i].DeliveryDate)</td>
                            <td >@DGUtils.FormatValue(@Model.Shipments[i].TrackingNumbers)</td>
                            <td class="alignRight">@DGUtils.FormatValue(@Model.Shipments[i].Total, "C2")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="ListItemCount">
        <span class="bold">@Model.Shipments.Count.ToString("n0")</span> @if (@Model.Shipments.Count == 1)
                                                                       { @ResStrings.LIST_ITEM }
                                                                       else
                                                                       { @ResStrings.LIST_ITEMS }
        </div>
    }
</div>

<div class="dlgPanel ezColorT1">
    <div class="dlgHeadingSub">@ResStrings.INVOICES</div>
    @if (@Model.Invoices.Count == 0)
    {
        <div class="infoDiv">
            @ResStrings.NO_INVOICES_FOR_SALES_ORDER
        </div>
    }
    else
    {
        <div class="ddList">
            <table class="tblResults stripeMe">
                <thead>
                    <tr>
                        <th>@DGUtils.ToTitleCase(ResStrings.NUMBER)</th>
                        <th>@DGUtils.ToTitleCase(ResStrings.DATE)</th>
                        <th>@DGUtils.ToTitleCase(ResStrings.DUE_DATE)</th>
                        <th>@DGUtils.ToTitleCase(ResStrings.PO_NUMBER, false)</th>
                        <th style="text-align:center;">@DGUtils.ToTitleCase(ResStrings.TOTAL)</th>
                    </tr>
                </thead>
                <tbody class="itemsList">
                    @for (int i = 0; i < Model.Invoices.Count; i++)
                    {
                        <tr>
                            <td>@DGUtils.FormatValue(Model.Invoices[i].InvoiceNumber)</td>
                            <td>@DGUtils.FormatValue(Model.Invoices[i].InvoiceDate)</td>
                            <td>@DGUtils.FormatValue(Model.Invoices[i].DueDate)</td>
                            <td class="alignRight">@DGUtils.FormatValue(Model.Invoices[i].PONumber)</td>
                            <td class="alignRight">@DGUtils.FormatValue(Model.Invoices[i].Total, "C2")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="ListItemCount">
        <span class="bold">@Model.Invoices.Count.ToString("n0")</span> @if (@Model.Invoices.Count == 1)
                                                                       { @ResStrings.LIST_ITEM }
                                                                       else
                                                                       { @ResStrings.LIST_ITEMS }
        </div>
    }
</div>
