﻿@using DealerGateway.CustomerUI.Domain;
@using DealerGateway.CustomerUI.Resources;

@model DealerGateway.CustomerUI.Models.SalesOrderItemList
@{
    ViewBag.Title = @ResStrings.SALES_ORDERS;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {

        ButtonBarUISetup();

        //Alternating row colors
        //
        $(".stripeMe tr:even").addClass("alt");

        $(".itemsList tr td").addClass("NoPointer");

    });
</script>

<div class="buttonBar ezColorT2">
    <div class="btnBarItem">
        <a href="javascript:GoBack();">
            <img id="btnBack" src="~/Content/Images/Arrow-Left.png" alt="@ResStrings.BACK" title="@ResStrings.BACK" />
            <div>@ResStrings.BACK</div>
        </a>
    </div>
    <div class="btnBarItem">
        <a href="javascript:Print();">
            <img id="btnPrint" src="~/Content/Images/Print.png" alt="@ResStrings.PRINT_LIST" title="@ResStrings.PRINT_LIST" />
            <div>@ResStrings.PRINT</div>
        </a>
    </div>

    <div class="btnBarItemRight">
        <a href='@Url.Action("Index", "Gateway")'>
            <img id="btnHome" src="~/Content/Images/home.png" alt="@ResStrings.HOME" title="@ResStrings.HOME" />
            <div>@ResStrings.HOME</div>
        </a>
    </div>
</div>

<div class="dlgPanel ezColorT7 dlgTitleBar">
    <div>@Html.Raw(DGUtils.FormatTitle(ResStrings.SALES_ORDERS))</div>
</div>

<div id="divTileContainer" class="dlgPanel ezColorT1">
<div class="dlgHeadingSub">
    @Model.ListTitle 
</div>

    @if (@Model.Items.Count == 0)
    {
        <div class="infoDiv">
            @ResStrings.NO_RESULTS_ORDER_ITEMS_SEARCH
        </div>
    }
    else
    {
        <div  class="ddList">
            <table class="tblResults stripeMe">
                <thead>
                    <tr>
                        <th>@DGUtils.ToTitleCase(ResStrings.SALES_ORDER_NUMBER)</th>
                        <th style="text-align:center;">@DGUtils.ToTitleCase(ResStrings.DATE)</th>
                        <th>@DGUtils.ToTitleCase(ResStrings.ITEM_DESCRIPTION)</th>
                        <th style="text-align:center;">
                            @if (@Model.Mode == DealerGateway.CustomerUI.Models.SalesOrderItemListMode.New)
                            {
                                @DGUtils.ToTitleCase(ResStrings.QUANTITY)
                            }
                            else
                            {
                                @DGUtils.ToTitleCase(ResStrings.ORDERED)
                            }
                        </th>
                        <th style="text-align:center;">
                            @if (@Model.Mode == DealerGateway.CustomerUI.Models.SalesOrderItemListMode.New)
                            {
                                @DGUtils.ToTitleCase(ResStrings.PRICE)
                            }
                            else if (@Model.Mode == DealerGateway.CustomerUI.Models.SalesOrderItemListMode.Picked)
                            {
                                @DGUtils.ToTitleCase(ResStrings.PICKED)
                            }
                            else if (@Model.Mode == DealerGateway.CustomerUI.Models.SalesOrderItemListMode.Shipped30)
                            {
                                @DGUtils.ToTitleCase(ResStrings.SHIPPED)
                            }
                            else if (@Model.Mode == DealerGateway.CustomerUI.Models.SalesOrderItemListMode.BackOrdered)
                            {
                                @DGUtils.ToTitleCase(ResStrings.BACK_ORDERED)
                            }
                            else if (@Model.Mode == DealerGateway.CustomerUI.Models.SalesOrderItemListMode.Canceled)
                            {
                                @DGUtils.ToTitleCase(ResStrings.CANCELED)
                            }
                        </th>
                        @if (@Model.Mode == DealerGateway.CustomerUI.Models.SalesOrderItemListMode.New)
                        {
                            <th style="text-align:center;">@DGUtils.ToTitleCase(ResStrings.AMOUNT)</th>
                        }
                        <th style="width:25%;">&nbsp;</th>
                    </tr>
                </thead>
                <tbody id="tbInvoiceList" class="itemsList">
                    @for (int i = 0; i < Model.Items.Count; i++)
                    {
                        <tr>
                            <td>@Html.ActionLink(@DGUtils.FormatValue(@Model.Items[i].SalesOrderNumber), "SalesOrder", "Sales", new { id = @Model.Items[i].SalesOrderID }, new { @class = "bold" })</td>
                            <td class="alignRight">@DGUtils.FormatValue(@Model.Items[i].SalesOrderDate)</td>
                            <td>@DGUtils.FormatValue(@Model.Items[i].ItemDescription)</td>
                            <td class="alignRight">
                                @DGUtils.FormatValue(@Model.Items[i].Quantity, "N0")
                            </td>
                            <td class="alignRight">
                                @if (@Model.Mode == DealerGateway.CustomerUI.Models.SalesOrderItemListMode.New)
                                {
                                    @DGUtils.FormatValue(@Model.Items[i].DisplayPrice, "C2")
                                }
                                else if (@Model.Mode == DealerGateway.CustomerUI.Models.SalesOrderItemListMode.Canceled)
                                {
                                    @DGUtils.FormatValue(@Model.Items[i].Canceled, "N0")
                                }
                                else if (@Model.Mode == DealerGateway.CustomerUI.Models.SalesOrderItemListMode.BackOrdered)
                                {
                                    @DGUtils.FormatValue(@Model.Items[i].BackOrdered, "N0")
                                }
                                else if (@Model.Mode == DealerGateway.CustomerUI.Models.SalesOrderItemListMode.Shipped30)
                                {
                                    @DGUtils.FormatValue(@Model.Items[i].Shipped, "N0")
                                }
                                else if (@Model.Mode == DealerGateway.CustomerUI.Models.SalesOrderItemListMode.Picked)
                                {
                                    @DGUtils.FormatValue(@Model.Items[i].Picked, "N0")
                                }
                            </td>
                            @if (@Model.Mode == DealerGateway.CustomerUI.Models.SalesOrderItemListMode.New)
                            {
                                <td class="alignRight">
                                   @DGUtils.FormatValue(@Model.Items[i].DisplayAmount, "C2")
                                </td>
                            }
                            <td>&nbsp;</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="ListItemCount">
            <span class="bold">@Model.Items.Count.ToString("n0")</span> @if (@Model.Items.Count == 1)
                                                                           { @ResStrings.LIST_ITEM }
                                                                           else
                                                                           { @ResStrings.LIST_ITEMS }
        </div>
    }
</div>

