﻿@using DealerGateway.CustomerUI.Domain;
@using DealerGateway.CustomerUI.Resources;

@model DealerGateway.CustomerUI.Models.SalesOrderList
@{
    ViewBag.Title = @ResStrings.SALES_ORDERS;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {

        ButtonBarUISetup();

        //Alternating row colors
        //
        $(".stripeMe tr:even").addClass("alt");

        $(".itemsList tr td").addClass("NoPointer");

    });
</script>

<div class="buttonBar ezColorT2">
    <div class="btnBarItem">
        <a href="javascript:GoBack();">
            <img id="btnBack" src="~/Content/Images/Arrow-Left.png" alt="@ResStrings.BACK" title="@ResStrings.BACK" />
            <div>@ResStrings.BACK</div>
        </a>
    </div>
    <div class="btnBarItem">
        <a href="javascript:Print();">
            <img id="btnPrint" src="~/Content/Images/Print.png" alt="@ResStrings.PRINT_LIST" title="@ResStrings.PRINT_LIST" />
            <div>@ResStrings.PRINT</div>
        </a>
    </div>

    <div class="btnBarItemRight">
        <a href='@Url.Action("Index", "Gateway")'>
            <img id="btnHome" src="~/Content/Images/home.png" alt="@ResStrings.HOME" title="@ResStrings.HOME" />
            <div>@ResStrings.HOME</div>
        </a>
    </div>
</div>

<div class="dlgPanel ezColorT7 dlgTitleBar">
    <div>@Html.Raw(DGUtils.FormatTitle(ResStrings.SALES_ORDERS))</div>
</div>

<div id="divTileContainer" class="dlgPanel ezColorT1">
<div class="dlgHeadingSub">
    @Model.ListTitle
    @if (@Model.SearchText.Length > 0)
    {
        <span class="searchResultsLabel">@ResStrings.SEARCH_RESULTS_FOR <span class="bold">@Model.SearchText</span></span>
    }
</div>

    @if (@Model.SalesOrders.Count == 0)
    {
        <div class="infoDiv">
            @ResStrings.NO_RESULTS_ORDER_SEARCH
        </div>
    }
    else
    {
        <div  class="ddList">
            <table class="tblResults stripeMe">
                <thead>
                    <tr>
                        <th>@DGUtils.ToTitleCase(ResStrings.SALES_ORDER_NUMBER)</th>
                        <th style="text-align:center;">@DGUtils.ToTitleCase(ResStrings.DATE)</th>
                        <th>@DGUtils.ToTitleCase(ResStrings.PO_NUMBER, false)</th>
                        <th style="text-align:center;">@DGUtils.ToTitleCase(ResStrings.SALES_ORDER_TOTAL)</th>
                        <th style="width:50%;">&nbsp;</th>
                    </tr>
                </thead>
                <tbody id="tbInvoiceList" class="itemsList">
                    @for (int i = 0; i < Model.SalesOrders.Count; i++)
                    {
                        <tr>
                            <td>
                                @if (ViewBag.IsQuote)
                                {
                                    @Html.ActionLink(@DGUtils.FormatValue(@Model.SalesOrders[i].SalesOrderNumber), "SalesQuote", "Sales", new { id = @Model.SalesOrders[i].SalesOrderID }, new { @class = "bold" })
                                }
                                else
                                {
                                    @Html.ActionLink(@DGUtils.FormatValue(@Model.SalesOrders[i].SalesOrderNumber), "SalesOrder", "Sales", new { id = @Model.SalesOrders[i].SalesOrderID }, new { @class = "bold" })
                                }
                            </td>
                            <td class="alignRight">@DGUtils.FormatValue(@Model.SalesOrders[i].SalesOrderDate)</td>
                            <td>@DGUtils.FormatValue(@Model.SalesOrders[i].PONumber)</td>
                            <td class="alignRight">
                                @DGUtils.FormatValue(@Model.SalesOrders[i].SalesOrderTotal, "C2")
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="ListItemCount">
            <span class="bold">@Model.SalesOrders.Count.ToString("n0")</span> @if (@Model.SalesOrders.Count == 1)
                                                                              { @ResStrings.LIST_ITEM }
                                                                              else
                                                                              { @ResStrings.LIST_ITEMS }
        </div>
    }
</div>

