﻿@using DealerGateway.CustomerUI.Domain;
@using DealerGateway.CustomerUI.Resources;

@model DealerGateway.CustomerUI.Models.SalesOrderShipment
@{
    ViewBag.Title = DGUtils.ToTitleCase(ResStrings.SALES_ORDER_SHIPMENT);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {

        ButtonBarUISetup();

        //Alternating row colors
        //
        $(".stripeMe tr:even").addClass("alt");

        //Removes the pointing finger cursor from the list
        //
        $(".itemsList tr td").addClass("NoPointer");
    });

</script>

<style type="text/css">
    .itemsList tr td input {
        width:3em;
    }
</style>

<div class="buttonBar ezColorT2">
    <div class="btnBarItem">
        <a href="javascript:GoBack();">
            <img id="btnBack" src="~/Content/Images/Arrow-Left.png" alt="@ResStrings.BACK" title="@ResStrings.BACK" />
            <div>@ResStrings.BACK</div>
        </a>
    </div>
    <div class="btnBarItem">
        <a href="javascript:Print();">
            <img id="btnPrint" src="~/Content/Images/Print.png" alt="@ResStrings.PRINT" title="@ResStrings.PRINT" />
            <div>@ResStrings.PRINT</div>
        </a>
    </div>

    <div class="btnBarItemRight">
        <a href='@Url.Action("Index", "Gateway")'>
            <img id="btnHome" src="~/Content/Images/home.png" alt="@ResStrings.HOME" title="@ResStrings.HOME" />
            <div>@ResStrings.HOME</div>
        </a>
    </div>
</div>

<div class="dlgPanel ezColorT7 dlgTitleBar">
    <div>@Html.Raw(DGUtils.FormatTitle(ResStrings.SALES_ORDER_SHIPMENT))</div>
</div>

<div class="dlgPanel ezColorT1">
    <div class="dlgHeadingSub">@ResStrings.DETAILS</div>
    <div class="divInfoHolder minHeight100">
        <div class="divRow">
            <label class="alignRight">@ResStrings.SALES_ORDER_NUMBER:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(@Model.SalesOrderNumber)</div>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.CUSTOMER:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(@Model.Customer)</div>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.SHIP_TO:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(@Model.ShipTo)</div>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.DESCRIPTION:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(@Model.Description)</div>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.SHIP_METHOD:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(@Model.ShipMethod)</div>
        </div>
    </div>
    <div class="divInfoHolder minHeight100">
        <div class="divRow">
            <label class="alignRight">@ResStrings.SHIPPING:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(@Model.Shipping, "C2")</div>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.WEIGHT:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(@Model.Weight, "N6")</div>
        </div>
    </div>
    <div class="divInfoHolder minHeight100">
        <div class="divRow">
            <label class="alignRight">@ResStrings.SHIPMENT_NUMBER:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(@Model.ShipmentNumber)</div>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.SHIPPED_DATE:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(@Model.ShipDate)</div>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.EST_DELIVERY_DATE:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(@Model.EstDeliveryDate)</div>
        </div>
        <div class="divRow">
            <label class="alignRight">@ResStrings.DELIVERY_DATE:</label>
            <span class="notreq">&nbsp;</span>
            <div class="val">@DGUtils.FormatValue(@Model.DeliveryDate)</div>
        </div>
    </div>
</div>

<div class="dlgPanel ezColorT1">
    <div class="dlgHeadingSub">@ResStrings.ITEMS_IN_SHIPMENT</div>
    @if (@Model.Items.Count == 0)
    {
        <div class="infoDiv">
            @ResStrings.NO_ITEMS_FOR_SHIPMENT
        </div>
    }
    else
    {
        <div class="ddList">
            <table class="tblResults stripeMe">
                <thead>
                    <tr>
                        <th>@DGUtils.ToTitleCase(ResStrings.ITEM)</th>
                        <th>@DGUtils.ToTitleCase(ResStrings.DESCRIPTION)</th>
                        <th style="text-align:center;">@DGUtils.ToTitleCase(@ResStrings.STOCKED)</th>
                        <th>@DGUtils.ToTitleCase(ResStrings.SERIAL_NUMBER)</th>
                        <th style="text-align:center;">@DGUtils.ToTitleCase(ResStrings.SHIPPED)</th>
                        <th style="text-align:center;">@DGUtils.ToTitleCase(ResStrings.FULFILLED)</th>
                        <th style="text-align:center;">@DGUtils.ToTitleCase(ResStrings.REVERSED)</th>
                    </tr>
                </thead>
                <tbody class="itemsList">
                    @for (int i = 0; i < Model.Items.Count; i++)
                    {
                        <tr>
                            <td>@DGUtils.FormatValue(@Model.Items[i].ItemNumber)</td>
                            <td>@DGUtils.FormatValue(@Model.Items[i].ItemDescription)</td>
                            <td class="alignCenter">@DGUtils.FormatValue(@Model.Items[i].IsStocked)</td>
                            <td>@DGUtils.FormatValue(@Model.Items[i].SerialNumber)</td>
                            <td class="alignRight">@DGUtils.FormatValue(@Model.Items[i].Shipped, "N0")</td>
                            <td class="alignRight">@DGUtils.FormatValue(@Model.Items[i].Fulfilled, "N0")</td>
                            <td class="alignRight">@DGUtils.FormatValue(@Model.Items[i].Reversed, "N0")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="ListItemCount">
        <span class="bold">@Model.Items.Count.ToString("n0")</span> @if (@Model.Items.Count == 1)
                                                                    { @ResStrings.LIST_ITEM }
                                                                    else
                                                                    { @ResStrings.LIST_ITEMS }
        </div>
    }
</div>

<div class="dlgPanel ezColorT1">
    <div class="dlgHeadingSub">@ResStrings.PACKAGES</div>
    @if (@Model.Packages.Count == 0)
    {
        <div class="infoDiv">
            @ResStrings.NO_PACKAGES_FOR_SHIPMENT
        </div>
     }
    else
    {
        <div class="ddList">
            <table class="tblResults stripeMe">
                <thead>
                    <tr>
                        <th>@DGUtils.ToTitleCase(ResStrings.PACKAGE_NUMBER)</th>
                        <th style="text-align:center;">@DGUtils.ToTitleCase(ResStrings.PACKAGED)</th>
                        <th style="text-align:center;">@DGUtils.ToTitleCase(@ResStrings.DELIVERY_DATE)</th>
                        <th style="text-align:center;">@DGUtils.ToTitleCase(ResStrings.WEIGHT)</th>
                    </tr>
                </thead>
                <tbody class="itemsList">
                    @for (int i = 0; i < Model.Packages.Count; i++)
                    {
                        <tr>
                            <td>
                                @if (@Model.Packages[i].ShipmentURL.Length > 0 && @Model.Packages[i].TrackingNumber.Length > 0)
                                {
                                    <a href="@Model.Packages[i].ShipmentURL" target="_blank" title="@ResStrings.CLICK_TO_TRACK_PACKAGE">@Model.Packages[i].TrackingNumber</a>
                                }
                                else if (Model.Packages[i].TrackingNumber.Length == 0)
                                {
                                    @DGUtils.FormatValue(@Model.Packages[i].Number)
                                }
                                else
                                {
                                    @DGUtils.FormatValue(@Model.Packages[i].TrackingNumber)
                                }
                            </td>
                            <td class="alignRight">@DGUtils.FormatValue(@Model.Packages[i].Date)</td>
                            <td class="alignRight">@DGUtils.FormatValue(@Model.Packages[i].DeliveryDate)</td>
                            <td class="alignRight">@DGUtils.FormatValue(@Model.Packages[i].Weight, "N6")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="ListItemCount">
        <span class="bold">@Model.Items.Count.ToString("n0")</span> @if (@Model.Items.Count == 1)
                                                                    { @ResStrings.LIST_ITEM }
                                                                    else
                                                                    { @ResStrings.LIST_ITEMS }
    </div>
    }
</div>
