﻿/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background-color: #fff;
	background-image: url(/einfo/Content/Images/bkg-4.png);

}

li a:link, li a:visited, li a:active
{
    color: #015581;
    text-decoration: none;
}

li a:hover
{
    color: #015581;
    text-decoration: none;
}

li a:focus
{
    outline: 1px dotted #80AAC0 ;
}

a:link, a:visited, a:active
{
    color: #015581;
    text-decoration: none;
}

a:hover
{
    color: #015581;
    text-decoration: none;
}

a.white:link, a.white:visited, a.white:active
{
    color: #AEC8D6;
    text-decoration: none;
}

a.white:hover
{
    color: #fff;
    text-decoration: none;
}

a.whiteText:link, a.whiteText:visited, a.whiteText:active
{
    color: #fff;
    text-decoration: none;
}

a.whiteText:hover
{
    color: #fff;
    text-decoration: none;
}

a.HelpLink:link, a.HelpLink:visited, a.HelpLink:active
{
    color: #015581;
    text-decoration: none;
    font-size:.9em;
    border:1px none;
    padding:2px 10px;
}

a.HelpLink:hover
{
    color: #fff;
    text-decoration: none;
    border:1px solid #fff;
    background-color:#758793;
}

p
{
    line-height: 1.6em;
    margin-bottom: 10px;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    color: #666666;
    /*font-size: 1.5em;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;*/
}

/*h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}*/

/*h2
{
    font-size: 1.5em;
    font-weight: 600;
}*/

/*h3
{
    font-size: 1.2em;
}*/

/*h4
{
    font-size: 1.1em;
}*/

/*h5, h6
{
    font-size: 1em;
}*/

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
/*.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}*/


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/







/* TAB MENU   
----------------------------------------------------------*/







/* FORM ELEMENTS   
----------------------------------------------------------*/







/* MISC  
----------------------------------------------------------*/
/*.clear
{
    clear: both;
}*/
/*.bold
{
    font-weight: bold;
}*/

/*.submitButton
{
    text-align: right;
    padding-right: 10px;
}*/






/* Tile Classes  
----------------------------------------------------------*/
.TileTitle
{
    clear:left;
    color:#fff;
    font-size:1.5em;
    line-height:1.0em;
    margin:0 0 12px 0;
}

span.TileSubTitle
{
    clear:left;
    color:#fff;
    font-size:.7em;
    line-height:1.0em;
    margin:0 0 12px 0;
}

.TileRow
{
    clear:left;
    color:#fff;
}

.TileRow .colLeft
{
    float:left;
    font-size:1.4em;
    font-weight:bold;
    padding:0 2px 0 0;
    text-align:right;
    width:40%;
}

.TileRow .colLeft span
{
    cursor:pointer;
}

.TileRow .colRight
{
    float:left;
    font-size:1.0em;
    font-weight:normal;
    padding:6px 0 0 2px;
}

.TileRow .colFullSelected
{
    font-size:1.4em;
    font-weight:bold;
    padding:0 0 0 0;
}

.TileRow .colFull
{
    font-size:1.4em;
    font-weight:normal;
    padding:0 0 0 0;
}

.TileRow .colFullSelected span
{
    cursor:pointer;
}






/* .ez Classes  
----------------------------------------------------------*/
.ezSideBar
{
    background-color:#758793;
}


.ezContent
{
    float:left;
    padding:0 0 0 8px;
    width:256px;
    height:100%;
    position:relative;
}

.ezT1 table,
.ezT2 table,
.ezT4 table,
.ezT8 table
{
    color:#fff;
    width:100%;
}

.ezT1 table tr td span,
.ezT2 table tr td span,
.ezT4 table tr td span,
.ezT8 table tr td span
{
    cursor:pointer;
}

.ezT1 table tr td.val,
.ezT2 table tr td.val,
.ezT4 table tr td.val,
.ezT8 table tr td.val
{
    color:#fff;
    font-size:1.3em;
    font-weight:bold;
    line-height:1em;
    padding-right:13px;
    padding-bottom:4px;
    text-align:right;
    width:50%;
}

.ezT1 table tr td.lbl,
.ezT2 table tr td.lbl,
.ezT4 table tr td.lbl,
.ezT8 table tr td.lbl
{
    color:#fff;
    font-size:1.0em;
    font-weight:normal;
    line-height:1em;
    text-align:left;
    white-space:nowrap;
}

.ezT1 table tr td.lblRight,
.ezT2 table tr td.lblRight,
.ezT4 table tr td.lblRight,
.ezT8 table tr td.lblRight
{
    color:#fff;
    font-size:1.0em;
    font-weight:normal;
    line-height:1em;
    text-align:right;
    white-space:nowrap;
}

.ezT1 table tr td.valSingle,
.ezT2 table tr td.valSingle,
.ezT4 table tr td.valSingle,
.ezT8 table tr td.valSingle
{
    color:#fff;
    font-size:5em;
    font-weight:bold;
    line-height:1em;
    text-align:center;
    width:100%;
}


.ezT1 div.lbl,
.ezT2 div.lbl,
.ezT4 div.lbl,
.ezT8 div.lbl
{
    color:#fff;
    font-size:1.0em;
    font-weight:normal;
    line-height:1em;
    text-align:left;
    white-space:nowrap;
}


.ezT1 label.lbl,
.ezT2 label.lbl,
.ezT4 label.lbl,
.ezT8 label.lbl
{
    color:#fff;
    font-size:1.0em;
    font-weight:normal;
    line-height:1em;
    text-align:left;
    white-space:nowrap;
}


.ezTab {
	background-color:#B9C4CA;
	border-color:#758793;
	border-right: 1px solid #758793;
	border-bottom-width: 1px !important;
	border-radius: 4px 0px 0px 4px;
	-moz-border-radius: 4px 0px 0px 4px;
	-webkit-border-radius: 4px 0px 0px 4px;
	cursor:pointer;
	margin:0 0 2px 5px;
	overflow: hidden;
	padding:5px;
	position:relative;
	right: 0px;
}

.ezTab {
	background-color:#B9C4CA;
	border-color:#758793;
	border-right: 1px solid #758793;
	border-bottom-width: 1px !important;
	border-radius: 4px 0px 0px 4px;
	-moz-border-radius: 4px 0px 0px 4px;
	-webkit-border-radius: 4px 0px 0px 4px;
	cursor:pointer;
	margin:0 0 2px 5px;
	overflow: hidden;
	padding:5px;
	position:relative;
	right: 0px;
}

.ezTabSelected {
	background-color:#DCE1E4;
	border-right: none;
}

.ezTab a img
{
    border:none;
}

.ezTab a:active, .ezTab a:visited, .ezTab a:link, .ezTab a:hover
{
    color:#fff;
    text-decoration:none;
}

.ezBadge
{
	background-color:#d10000;
	border-bottom-width: 1px !important;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	color:#fff;
	cursor:pointer;
	font-size:smaller;
	padding:0 4px 2px 4px;
	position:absolute;
	right: 1px;
	top: 1px;
}

.ezHeader {
	background-color:#D6DDE0;
	border: 1px solid #758793;
	border-bottom: none;
	border-radius: 8px 8px 0px 0px;
	-moz-border-radius: 8px 8px 0px 0px;
	-webkit-border-radius: 8px 8px 0px 0px;
	cursor:pointer;
	margin:10px 5px 0px 5px;
	padding:5px;
}

.ezHeader span
{
	color:#3F4950;
	padding:0 0 0 20px;
	font-weight:bold;
	font-size:1.4em;
}

.ezHeaderDGI {
	background-color:#D6DDE0;
	border: 1px solid #758793;
	border-bottom: none;
	border-radius: 8px 8px 0px 0px;
	-moz-border-radius: 8px 8px 0px 0px;
	-webkit-border-radius: 8px 8px 0px 0px;
	cursor:pointer;
	margin:10px 5px 0px 5px;
	padding:5px;
}

.ezHeaderDGI span
{
	color:#3F4950;
	font-weight:bold;
	font-size:1.4em;
	padding:0 0 0 20px;
}

/* Colors New*/
.ezColorT1
{
    background-color:#015581;
    border:1px solid #015581;
}
.ezColorT2
{
    background-color:#80AAC0;
    border:1px solid #80AAC0;
}
.ezColorT3
{
    background-color:#C0D4DF;
    border:1px solid #C0D4DF;
    background-color:#AEC8D6;
    border:1px solid #AEC8D6;

}
.ezColorT4
{
    background-color:#758793;
    border:1px solid #758793;
}
.ezColorT5
{
    background-color:#B9C4CA;
    border:1px solid #B9C4CA;
    background-color:#ABB8BF;
    border:1px solid #ABB8BF;
}
.ezColorT6
{
    background-color:#DCE1E4;
    border:1px solid #DCE1E4;
}
.ezColorT7
{
    background-color:#01314C;
    border:1px solid #01314C;
}
.ezColorT8
{
    background-color:#FFFFFF;
    border:1px solid #FFFFFF;
}
 

/*Hover border colors*/
.ezColorT1-hover
{
    border:1px solid #35B7FD;
}
.ezColorT2-hover
{
    border:1px solid #F5F8FA;
}
.ezColorT3-hover
{
    border:1px solid #FFFFFF;
}
.ezColorT4-hover
{
    border:1px solid #D7DCE0;
}
.ezColorT5-hover
{
    border:1px solid #FFFFFF;
}
.ezColorT6-hover
{
    border:1px solid #FFFFFF;
}
.ezColorT7-hover
{
    border:1px solid #04A0FB;
}
.ezColorT8-hover
{
    border:1px solid #0085C7;
}





/* Table Classes  
----------------------------------------------------------*/
td.val a
{
    color:#fff;
    text-decoration:none;
}

td.valSingle a
{
    color:#fff;
    text-decoration:none;
}

td.lbl a
{
    color:#fff;
    text-decoration:none;
}

td label {
    color:#fff;
}

td label.darkText {
    color:#015581;
}

span.darkText {
    color:#015581;
}




/* Very Specific Classes  
----------------------------------------------------------*/
.TabsAndTiles
{
    border-collapse:collapse;
}
.TabsAndTiles input
{
    cursor:pointer;
    position:relative;
    top:2px;
}
.TabsAndTiles label
{
    cursor:pointer;
}
.TabsAndTiles td
{
    border-bottom: 1px solid #DCE1E4;
    padding:0 0 4px 0;
}

.bdgbk, .bdgup
{
    width:10px;
}
.bdgup
{
    background:url('../Images/bdgArrowUp2.png') no-repeat right;
}
.bdgdn
{
    background:url('../Images/bdgArrowDn2.png') no-repeat right;
}

.noteField {
    color:#fff;
    /*text-shadow: .1em .1em .05em #999;*/
    width:60%;
    float:left;
    font-weight:bold;
}

.dlgHeading {
    color:#fff;
    font-weight:bold;
    margin:0 0 5px 0;
}

.dlgHeadingSub {
    border-bottom:1px solid #AEC8D6;
    color:#AEC8D6;
    font-size:1.2em;
    font-weight:normal;
    letter-spacing:.3em;
    margin:0 0 10px 0;
    padding:0 0 5px 0;
}

.dlgTitleBar {
    color:#ABB8BF;
    color:#FFF;
    font-size:1.5em;
    font-weight:normal;
    letter-spacing:.3em;
    padding:0px 8px 2px 8px;
    text-align:center;
}

.divSubTotal {
    color:#fff;
    text-align:right;
}
.divSubTotal .spnValue{
    font-weight:bold;
    padding:0 4px;
}

.findFieldControlHolder #btnShowAll,
.findFieldControlHolder #btnGo {
    border:1px dotted #015581;
}
.findFieldControlHolder button span{
    color:#015581;
}

div span.SubTitle {
    color:#AEC8D6;
    font-weight:bold;
    font-size:1.2em;
    letter-spacing:.15em;
    margin-top:20px;
}

.SmallDarkColorText {
    font-size:.8em;
    color:#015581;
}
.SmallMediumColorText {
    font-size:.8em;
    color:#758793;
}
.shadowTextBig {
    color:#000;
}
.shadowTextSmall {
    color:#000;
}

div.lightLink a:active,
div.lightLink a:visited,
div.lightLink a:link,
div.lightLink a:hover {
    color:#fff;
}




div.ddList table tbody tr.alt td.meterValidationGood,
div.ddList table tbody tr td.meterValidationGood {
    background-color:#F0FFF0;
    background-image:url("../Images/ValidOK.png");
    background-repeat:no-repeat;
    background-position-y:50%;
    background-position-x:5px;
    padding:0 0 0 24px;
    vertical-align:middle;
}
div.ddList table tbody tr.alt td.meterValidationWarning,
div.ddList table tbody tr td.meterValidationWarning {
    background-color:#FFC285;
    background-image:url("../Images/ValidWarn.png");
    background-repeat:no-repeat;
    background-position-y:50%;
    background-position-x:5px;
    font-weight:bold;
    padding:0 0 0 24px;
    vertical-align:middle;
}
div.ddList table tbody tr.alt td.meterValidationCritical,
div.ddList table tbody tr td.meterValidationCritical {
    background-color:#FFADAD;
    background-image:url("../Images/ValidCritical.png");
    background-repeat:no-repeat;
    background-position-y:50%;
    background-position-x:5px;
    color:#d10000;
    font-weight:bold;
    padding:0 0 0 24px;
    vertical-align:middle;
}




div.ddList table {
    background-color:#fff;
    border:1px solid #000;
    border-collapse:collapse;
}
div.ddList table tbody tr.alt td{
    background-color:#DCE1E4;
    border:1px dotted #015581;
}
div.ddList table tbody tr.hover td {
    /*background-color:#AEC8D6;
    border:1px dotted #015581;*/
    color: #000;
    text-decoration: none;
}
div.ddList table tbody tr.over td {
    background-color:#BCD4EC;
    border:1px dotted #015581;
    color: #000;
    text-decoration: none;
}
div.ddList table tr th{
 	background: #758793;
	border: 1px solid #000;
    color:#fff;
    cursor:default;
	font-weight: normal;
	padding: 4px 4px;
	text-align: left;
    vertical-align:top;
    white-space:nowrap;
}
div.ddList table tr td{
    border:1px dotted transparent;
    border-bottom:1px dotted #015581;
    border:1px dotted #015581;
    cursor:pointer;
	padding: 3px 4px;
}
div.ddList table tr td.NoPointer{
    cursor:default;
}
div.ddList table tr td a:link{
    text-decoration:none;
}
div.ddList table tr td a:hover{
    color:#d10000;
    text-decoration:none;
}
div.ddList ul li.hover
{
    background-color:#AEC8D6;
    border:1px dotted #015581;
    color: #000;
    text-decoration: none;
}
    div.ddList ul li.hover a {
        color:#000;
    }

div.ddList ul li
{
    border-bottom:1px dotted #015581;
    color: #111;
}


.criticalDiv {
    margin-top:10px;
    padding:10px 10px 10px 40px;
    background-color:#fee;
    border:1px solid #d10000;
    border-left:20px solid #d10000;
    background-image:url("../Images/error.png");
    background-repeat:no-repeat;
    background-position-x:4px;
    background-position-y:2px;
}

.warningDiv {
    margin-top:10px;
    padding:10px 10px 10px 40px;
    background-color:#FFD9AD;
    border:1px solid #E67C00;
    border-left:20px solid #E67C00;
    background-image:url("../Images/warning.png");
    background-repeat:no-repeat;
    background-position-x:4px;
    background-position-y:2px;
}

.infoDiv {
    margin-top:10px;
    padding:10px 10px 10px 40px;
    background-color:#C7EBFF;
    border:1px solid #45BFFF;
    border-left:20px solid #45BFFF;
    background-image:url("../Images/info.png");
    background-repeat:no-repeat;
    background-position-x:4px;
    background-position-y:4px;
}

.successDiv {
    margin-top:10px;
    margin-bottom:10px;
    padding:4px 10px 10px 40px;
    background-color:#CFFFC7;
    border:1px solid #63FF47;
    border-left:20px solid #63FF47;
    background-image:url("../Images/checkMark.png");
    background-repeat:no-repeat;
    background-position-x:4px;
    background-position-y:4px;
}

.validatedDiv {
    margin-top:10px;
    padding:10px 10px 10px 40px;
    background-color:#efe;
    border:1px solid #00d100;
    border-left:20px solid #00d100;
    background-image:url("../Images/checkMark.png");
    background-repeat:no-repeat;
    background-position-x:4px;
    background-position-y:7px;
}

.ListItemCount {
    float: left;
    color: white;
    margin-top: 10px;
}

.white {
    color:#fff;
}

    .tblResults tr.over td {
        background-color:#bcd4ec;
    }


.chartBar {
    float:left;
    background-color:#80AAC0;
    border:1px outset #758793;
    height:14px;
    -webkit-box-shadow: 0 2px 4px -1px #666;
	   -moz-box-shadow: 0 2px 4px -1px #666;
	        box-shadow: 0 2px 4px -1px #666;

}

#hostFooter {
    text-align:center;
    padding-top:8px;
}

.footerContactInfo {
    font-size:.9em;
    text-align:center;
    border-top:1px dotted #015581;
    margin-top:10px;
    margin-right:8px;
    padding-top:10px;
    padding-bottom:40px;
}

.HelpLinkHolder {
    clear:left;
    border-bottom:1px dotted #015581;
    padding-bottom:8px;
    text-align:center;
}

.lblFindEquipment {
    color:#015581;
    margin-right:5px;
    position:relative;
    top:6px;
    float:left;
}

.masterLocation {
    clear:left;
    text-align:center;
    background-color:#AE1B13;
    color:#fff;
    padding:3px;
    padding-bottom:5px;
    letter-spacing:.5em;
    margin:8px 8px 0 0;
}

/* Element ID's  
----------------------------------------------------------*/
#divScrollingInventoryTasks
{
	color:#fff;
}

#divScrollingInventoryTasks span
{
	color:#fff;
	font-size:1.2em;
	font-weight:bold;
}


#divLoginContainer label {
    color:#fff;
    float:left; 
    position:relative;
    top:4px; 
    width:70px; 
}


.divRow input[type=text].inputAsLabel {
    color:#fff;
}
.divRow input[type=text].inputAsLabelWide {
    color:#fff;
}



/****************************/
/* jquery css modifications */
/*                          */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px dotted #fff; background: url(images/ui-bg_highlight-soft_35_222222_1x100.png) 50% 50% repeat-x; font-weight: normal; color: #fff; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #fff; background: url(images/ui-bg_highlight-soft_33_003147_1x100.png) 50% 50% repeat-x; font-weight: normal; color: #ffffff; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #fff; font-weight: normal; color: #ffffff; }

.ui-dialog .ui-dialog-buttonpane { background-color: #80AAC0; border-top:1px solid #80AAC0; padding: .1em; }

.ui-widget-header { border: 1px solid #015581; background-color: #015581; background-image:none; color: #ffffff; font-weight: bold; }

.ui-widget-content { color: #015581; }

.ui-datepicker td a.ui-state-default { color:#000; font-weight:normal;}
.ui-datepicker td a.ui-state-active { border:1px solid #015581; color:#015581; font-weight:bold;}



/*/*Testing for the Print css file
    ****************************
    *****************************/
/*body {
    background-color:#fff;
    color:#000;
    font-size:12pt;
}
a:link, a:visited, a:active {
    color:#000;
}

.buttonBar {
    display:none;
}

.dlgHeadingSub {
    color:#000;
}

.ezColorT1 {
    background-color:#fff;
    border:1px solid #fff;
}
#hostContainer {
	width: auto;
    background-color: transparent;
	border: 0;
	margin: 0 5%;
	padding: 0;
	float: none !important;
}
.tblResults tr.alt td {

    background-color:#F9FAFB;
}*/
    /****************************
    ***************************
    */*/