﻿body { width: 100% !important; -webkit-text-size-adjust: none; -webkit-tap-highlight-color: rgba(0,0,0,0); }

#hostContainer {
    min-width:300px;
    float:left;
    margin-right:10px;
}

#hostHeader {
    margin: 10px 0px;
}
#bannerHolder {
    margin: 10px 10px 10px 0px;
}
#imgBanner {
    width: 100%;
}
.dlgTitleBar {
    font-size:1em;
}
.divInfoHolder {
    float: left;
    padding: 0px 10px 0px 0px;
    margin: 0px 10px 0px 0px;
    min-height: 150px;
    width: 100%;
}
.divRow {
    color:#fff;
}
.divRow label {
    float:none;
    font-size:.9em;
    color:#80AAC0;
}
.divRow span {
    float:none;
}
.divRow span.notreq {
    float:none;
}
.lightText {
    color:#80AAC0;
}
.val a
{
	color:#fff;
}